<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form *ngIf="!isProfileEdit && getMode != 'SAPatientList'" [backBtnLink]="'#/patient-role-home/0'"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]= "userData.firstName +' '+userData.lastName"  [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="isProfileEdit && getMode != 'SAPatientList'" [isSamePage]="true" [backBtnLink]="'#/patient-role-profile/view/0'"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_PROFILE'" [showBackButton]="true"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf=" getMode == 'SAPatientList'" [isSamePage]="false" [backBtnLink]="'#/system-admin-manage-patients'"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]= "userData.firstName +' '+userData.lastName" [showBackButton]="true"></header-for-role-creation-form>
	<!--put below code in above header if header title should be patient name  -->
	<!-- [firstName]="patientData?.firstName" [lastName]="patientData?.lastName" [pageTitle]= "patientData.firstName +' '+patientData.lastName" -->
	
	
	
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title *ngIf="!isProfileEdit"  class="page-sub-title" >{{ 'MY_PROFILE_TITLE' | translate }}</ion-title>
		<ion-title *ngIf="isProfileEdit"  class="page-sub-title" >{{ 'EDIT_PROFILE' | translate }}</ion-title>
		<a (click)="editProfile()" *ngIf="!isProfileEdit" ion-button class="common-blue-btn">{{ 'EDIT_PROFILE' | translate }}</a>
	</div>
	<div class="search-container blank-search-container" *ngIf="commonService.checkIsWeb()"></div>
</ion-header>
<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form *ngIf="!isProfileEdit" [backBtnLink]="'#/patient-role-home/0'"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'MY_PROFILE_TITLE'" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
		<header-for-role-creation-form *ngIf="isProfileEdit" [isSamePage]="true" [backBtnLink]="'#/patient-role-profile/view/0'"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_PROFILE'" [showBackButton]="true"></header-for-role-creation-form>
		
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title *ngIf="!isProfileEdit"  class="page-sub-title" >{{ 'MY_PROFILE_TITLE' | translate }}</ion-title>
			<ion-title *ngIf="isProfileEdit"  class="page-sub-title" >{{ 'EDIT_PROFILE' | translate }}</ion-title>
			<a (click)="editProfile()" *ngIf="!isProfileEdit" ion-button class="common-blue-btn">{{ 'EDIT_PROFILE' | translate }}</a>
		</div>
		<div class="search-container blank-search-container" *ngIf="commonService.checkIsWeb()"></div>
	</ion-header>
	
	<div class="main-content">
		<form class="common-page-container common-form" #createPatientForm="ngForm" name="createPatientForm" novalidate>
			<!-- condition to use img upload in mobile app -->
			<ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkPlatform() && !commonService.checkMobileweb()">
				<ion-row class="list-container">
					<ion-col col-12 class="doctor-img upload-img">
						<!-- <img *ngIf="!isProfileEdit" src="assets/imgs/default_profile.png" />
						<img *ngIf="isProfileEdit" src="assets/imgs/pic.png" (click)="onCamera()" /> -->
						<label for="image-upload-input" *ngIf="!isProfileEdit" class="upload-img">  
							<div>
								<img *ngIf="viewFlag && patientData.imageBase64" src="{{patientData.imageBase64}}" />
								<img *ngIf="viewFlag && !patientData.imageBase64" src="assets/imgs/default_profile.png" />
							</div>
						</label>
						<label for="image-upload-input" *ngIf="isProfileEdit" [ngClass]="{'hand-pointer': isProfileEdit}" class="upload-img" (click)="onCamera()">  
							  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div>
						 </label>  
					</ion-col>
				</ion-row>
			</ion-grid>
			
			<!-- condition to use img upload in mobile web browser -->
			<ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkMobileweb()">
			<ion-row >
					<ion-col col-12 class="doctor-img upload-img">
						  <img *ngIf="!isProfileEdit && viewFlag && patientData.imageBase64" src="{{patientData.imageBase64}}" />
							<img *ngIf="viewFlag && !isProfileEdit && !patientData.imageBase64" src="assets/imgs/default_profile.png" />
						  <label for="image-upload-input"  *ngIf="isProfileEdit && !viewFlag" [ngClass]="{'hand-pointer': isProfileEdit}" class="upload-img">  
							 <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							 </div>
						  	<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						  </label>
					</ion-col>
				</ion-row>
			</ion-grid>
			
			<!-- condition to use img upload in web App browser -->
			<ion-grid class="formFieldsContainer">
				<ion-row *ngIf="commonService.checkIsWeb()">
					<ion-col col-2 class="doctor-img">
						  <img *ngIf="!isProfileEdit && viewFlag && patientData.imageBase64" src="{{patientData.imageBase64}}" />
							<img *ngIf="viewFlag && !isProfileEdit && !patientData.imageBase64" src="assets/imgs/default_profile.png" />
						  <label for="image-upload-input"  *ngIf="isProfileEdit && !viewFlag && commonService.checkIsWeb()" [ngClass]="{'hand-pointer': isProfileEdit}" class="upload-img">  
							 <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							 </div>
						  	<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						  </label>
					</ion-col>
					<ion-col col-8>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  					 	<ion-label floating>{{ 'FN_LABEL' | translate }}</ion-label>
	   						<ion-input name="patientFirstName" [(ngModel)] = "patientData.firstName" #patientFirstName = "ngModel" autocomplete="off" autocorrect="off" pattern="^[a-zA-Z0-9_@^#$%&*()-]{1,20}$" [disabled] = "!isProfileEdit" maxlength="50" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="patientFirstName.errors && (patientFirstName.dirty || patientFirstName.touched || formSubmitted)">
		                    <small [hidden]="!patientFirstName.errors.required" class="text-danger">{{ 'ERROR_MSG_PATIENT_FIRST_NAME' | translate }}</small>
		                    <small [hidden]="!patientFirstName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>	
		                </div>
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="patientLastName" [(ngModel)]  = "patientData.lastName" #patientLastName = "ngModel" autocomplete="off" autocorrect="off" pattern="^[a-zA-Z 0-9_@^#$%&*()-]{1,20}$" [disabled] = "!isProfileEdit" maxlength="50"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="patientLastName.errors && (patientLastName.dirty || patientLastName.touched || formSubmitted)">
		                    <small [hidden]="!patientLastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
		                </div>
			        </ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="username-wrapper">
						<ion-row class="no-padding">
							<ion-col col-lg-6 col-12>
			  					<ion-item detail-none>
			  						<ion-label floating>{{ 'USERNAME_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
			   						<ion-input name="patientUserName" [(ngModel)]  = "patientData.userName" #patientUserName = "ngModel" autocomplete="off" autocorrect="off" pattern="^[a-zA-Z0-9_@^#$%&*()-.]{1,20}$" [disabled] = "!isProfileEdit" maxlength="20" ></ion-input>
			  					</ion-item>
			  					<div class="error-msg-block text-left" *ngIf="patientUserName.errors && (patientUserName.dirty || patientUserName.touched || formSubmitted)">
				                    <small [hidden]="!patientUserName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_USERNAME' | translate }}</small>
				                </div>
			                </ion-col>
			                <ion-col col-lg-6 col-12 class="padding-top15 contact-wrapper">
			                	<ion-item detail-none>
			  						<ion-label floating>{{ 'CONTACT_NUMBER' | translate}}</ion-label> 
			   						<ion-input name="patientContactNumber" [(ngModel)]  = "patientData.contactNumber" #patientContactNumber = "ngModel" pattern="[1-9][0-9]{9}" [disabled] = "!isProfileEdit" [type]="inputType" autocomplete="off" autocorrect="off" required></ion-input>
			  					</ion-item>
			  					<div class="error-msg-block text-left" *ngIf="patientContactNumber.errors && (patientContactNumber.dirty || patientContactNumber.touched || formSubmitted)">
			  						<small [hidden]="!patientContactNumber.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
				                    <small [hidden]="!patientContactNumber.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>	
				                </div>
			                </ion-col>
		                </ion-row>
			        </ion-col> 
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
			        	<ion-item detail-none>
		                	<ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="patientEmail" [(ngModel)] = "patientData.email" #patientEmail = "ngModel" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})" [type]="inputType" [disabled] = "!isProfileEdit" autocomplete="off" autocorrect="off" ></ion-input>
	  					 </ion-item>
	  					 <div class="error-msg-block text-left" *ngIf="patientEmail.errors && (patientEmail.dirty || patientEmail.touched || formSubmitted)">
		                 	<small [hidden]="!patientEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate }}</small>
		                 </div>
			        </ion-col>  
			     </ion-row>
			     <ion-row>
			       <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="cityWrapper">
				        <ion-item>
		 					<ion-label floating>{{ 'CITY_LABEL' | translate }} </ion-label>
							    <ion-input name="patientCity" [(ngModel)]="address.cityName"  #patientCity="ngModel"  [disabled] = "!isProfileEdit" autocomplete="off" autocorrect="off" required></ion-input>
							    <!-- <ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option> -->
							    <!-- <ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option> -->
		     			</ion-item>
		     			<div class="error-msg-block text-left" *ngIf="patientCity.errors && (patientCity.dirty || patientCity.touched || formSubmitted)">
			                    <small [hidden]="!patientCity.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' | translate }}</small>	
		                </div>
	     			</ion-col>
				<!-- 	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  					 	<ion-label floating>{{ 'STREET' | translate }}</ion-label>
	   						<ion-input name="patientStreet" [(ngModel)]  = "patientData.street" #patientStreet = "ngModel" autocomplete="off" autocorrect="off" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="patientStreet.errors && (patientStreet.dirty || patientStreet.touched || formSubmitted)">
			                    <small [hidden]="!patientStreet.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STREET' | translate }}</small>	
		                </div>
			        </ion-col> -->
				</ion-row>
<!-- 				<ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  					 	<ion-label floating>{{ 'STATE' | translate }}</ion-label>
	   						<ion-input name="patientState" [(ngModel)]="patientData.state" #patientState="ngModel"  autocomplete="off" autocorrect="off" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="patientState.errors && (patientState.dirty || patientState.touched || formSubmitted)">
			                    <small [hidden]="!patientState.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STATE' | translate }}</small>	
		                </div>
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'ZIP' | translate }}</ion-label>
	   						<ion-input name="patientzip" [(ngModel)]="patientData.zipCode" #patientzip = "ngModel" pattern="^[0-9]{6,6}$" [type]="inputType" autocomplete="off" autocorrect="off" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="patientzip.errors && (patientzip.dirty || patientzip.touched || formSubmitted)">
		                    <small [hidden]="!patientzip.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ZIPCODE' | translate }}</small>	
		                 	<small [hidden]="!patientzip.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_ZIPCODE' | translate }}</small>
		                 </div>
			        </ion-col>
				</ion-row> -->
		<!-- 		
				<ion-row>
				<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
				<ion-item detail-none class="password-item">
				<ion-icon item-left class="key-icon"></ion-icon>
				<ion-label floating>{{ 'PASSWORD_LABEL' | translate }}</ion-label> 
				<ion-input name="patientpassword" [(ngModel)]="patientData.password" #patientpassword = "ngModel"  [type]="inputType" autocomplete="off" autocorrect="off"></ion-input>
				<ion-icon [ngClass]="{'icon-class': true, 'eye-off-icon': (passwordEyeIcon == 'eye-icon'), 'eye-icon': (passwordEyeIcon == 'eye-off-icon')}" item-end (click)="showPasswordToggle()"></ion-icon>
				</ion-item>
				</ion-col>
				</ion-row> -->
				
			<div class="btn-container" text-right *ngIf = "commonService.checkIsWeb() && isProfileEdit">
					<a (click)="cancel()" block ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a block ion-button class="common-blue-btn" (click)="updatePatientProfile(createPatientForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
				</div>
			</ion-grid>
		</form>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>
<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb() && !isProfileEdit">
		<a block (click)="editProfile()" ion-button class="common-blue-btn">{{ 'EDIT_PROFILE' | translate }}</a>
	</div>
	<div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb() && isProfileEdit">
		<a (click)="cancel()" ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
		<a ion-button class="common-blue-btn" (click)="updatePatientProfile(createPatientForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
	</div>