page-patient-role-profile {
	.cityWrapper{
		padding-left:0;
	}
	
	.centered-content .main-content{
		@include screenMax576{
			padding-top:0px;
		}
	}
	.scroll-content{
		padding: 0;
		background: rgb(246, 247, 251);	
	}
	.formFieldsContainer{
		background: white;
		.doctor-img{
			padding: 0 !important;
		}	
	}
	.doctor-input{
		input{
			margin-bottom: 0px;
		}	
	}
	ion-select{
		max-width: 100%;
		width: 100%;	
	}
	.text-area-cls{
		border-radius: 5px;
		border: 1px solid rgb(18, 142, 232);
		height: 70px;
		padding: 10px;
	}
	.itemSelect {
		    padding: 0;
// 		    border-color: #cecece;
		    overflow: hidden;
		    margin-left: 10px;
		    /* For I.E */
		    select::-ms-expand {
    			display: none;
			}
		    /* -------- */
		    select {
		    	max-width: 100%;
			    width: 100%;
			    direction: ltr;
			    padding: 20px 0px 0px 6px;
			    border-color: transparent;
			    -moz-appearance:none; /* Firefox */
    			-webkit-appearance:none; /* Safari and Chrome */
    			appearance:none;
    			@include backgroundImage('../../assets/imgs/dropdown01.png', 95% 85%, auto);
    			border: none;
    			border-bottom: 1px solid rgb(213, 217, 228);
    			color: rgb(173, 174, 176);
		    }
		    .selectStatusLabel{
		    	z-index: 1;
			    right: 16px;
			    position: absolute;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
	    		border-top: 9px solid #953337;
			    border-left: 9px solid transparent;
			    border-right: 9px solid transparent;
		    }
		    &:after {
		    	display: none;
		    }
		}
}

page-patient-role-profile .common-form .formFieldsContainer ion-row ion-col.cityWrapper{
	@include screenMax576{
		padding-top:0px;
		padding-right:20px;
	}
}

page-patient-role-profile .common-form .formFieldsContainer ion-row ion-col.contact-wrapper{
	@include screenMax576{
		padding-right:20px;
	}
}

page-patient-role-profile .common-form .formFieldsContainer ion-row ion-col.username-wrapper{
	@include screenMax576{
		padding-right:0px;
	}
}
