<ion-content class="hospital-list-content centered-content" padding>
  <ion-header>
    <header-for-role-creation-form class="common-header-component" [linkLabel]="'ADD_PATIENT_TITLE'" [link]="'#/system-admin-create-patients'"
      [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="true" [pageTitle]="'ONBOARD_PATIENT_TITLE'"></header-for-role-creation-form>
    <div menuClose ion-item class="common-page-title">
      <ion-title class="page-sub-title">{{ 'ONBOARD_PATIENT_TITLE' | translate }}</ion-title>
      <!-- <a href="#/system-admin-create-patients" ion-button class="common-blue-btn">{{ 'ADD_PATIENT_TITLE' | translate }}</a> -->
    </div>
    <ion-grid class="search-container" *ngIf="!isPatientAdmin">
      <ion-row>
        <!-- <ion-col col-12 col-sm-2 col-md-2 col-lg-2>
				<div  class="city-ion-dropdown">
					<ion-item class="common-select-dropdown city-dropdown-item">
						<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
							<ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
						</ion-select>
					</ion-item>
				</div>
				</ion-col> -->
        <!-- <ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="search-textBox"><input readOnly type="text" placeholder="{{ 'SEARCH_PATIENTS_LABEL' | translate}}"></ion-col> -->
        <ion-col col-8 col-sm-8 col-md-5 col-lg-5 class="search-textBox">
          <input type="text" [(ngModel)]="searchText" placeholder="{{ 'SEARCH_PATIENT_BY_MOBILE_EMAIL_LABEL' | translate}}">
          <!-- <div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
					<search-result-component class="searchPatientsComponent" [from]="fromString"></search-result-component>
				</div> -->
        </ion-col>
        <ion-col col-4 col-sm-4 col-md-5 col-lg-5>
          <a ion-button (click)="searchPatient()" class="common-blue-btn search-btn">{{ 'SEARCH_PATIENTS_LABEL' | translate }}</a>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-header>
  <div class="main-content">
    <!-- <ion-grid class="formFieldsContainer">
          <ion-row>
              <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
                  <ion-label [style.padding-top.px]="0" class="common-form-label">{{ 'CITY_LABEL' | translate }}</ion-label>
                     <ion-item [style.padding-top.px]="0" class="common-select-dropdown city">
                         <ion-label>{{ 'SELECT_PATIENT_LABEL' | translate }}</ion-label>
                         
                      <ion-select class="citySelect" [(ngModel)]="hospitalData.address.cityId" name="city" (ionChange) = "cityChange()">
                          <ion-option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</ion-option>
                      </ion-select>
                  </ion-item>
              </ion-col>   
           </ion-row>   
      </ion-grid> -->

      <div class="manage-space-header" *ngIf="!commonService.checkIsWeb() && !isPatientAdmin"></div>
      <div class="manage-space" *ngIf="!commonService.checkIsWeb() && isPatientAdmin"></div>

    <ion-grid class="onboard-search-container" *ngIf="patient && patientDependents">
      <ion-row>
        <ion-col col-12 col-sm-5 col-md-5 col-lg-5>
          <div >


            <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
                <ionic-selectable 
                  item-content  
                  [(ngModel)]="patient"
                  [items]="patientDependents"
                  [canSearch]="true"
                  [focusSearchbar]="false"
                  itemValueField="userProfileId"
                  itemTextField="firstName"
                  (onChange)="onDependentSelect($event.value) "
                  name="firstName"
                  okButtonText="Ok">
                </ionic-selectable>
          
                </ion-item>

            <p-dropdown *ngIf="commonService.checkIsWeb()" [options]="patientDependents" [(ngModel)]="patient"
              optionLabel="firstName" [filter]="true" (onChange)="onDependentSelect(patient)"></p-dropdown>

          </div>

        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-grid class="onboard-patient" > 
      <ion-row align-items-center *ngIf="patient">
        <ion-col col-3 col-xs-12 col-sm-3 col-md-3 col-lg-2 class="profile-img">
          <a class="profile-img-responsive with-border" [style.backgroundImage]="'url('+patient.imageBase64+')'" *ngIf="patient.imageBase64"
            >
          </a>
          <a class="profile-img-responsive with-border" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'"
            *ngIf="!patient.imageBase64"></a>
        </ion-col>
        <ion-col col-9 col-xs-12 col-sm-6 col-md-9 col-lg-4 class="list-content">
          <ul class="list-content">
            <li>
              <p class="name-container" style="display: inline-block;">
                <a >
                  {{patient?.firstName}} {{patient?.lastName}}
                </a>
              </p>
            </li>
            <li>
              <span>{{ 'RELATION_LABEL' | translate }} -&nbsp;</span>
              <span>{{patient?.relation}}</span>
            </li>

            <li>
              <span>{{ 'MOBILE_LABEL' | translate }} -&nbsp;</span>
              <span>{{patient?.contactNo}}</span>
            </li>
            <li>
              <span>{{ 'EMAIL_LABEL' | translate }} -&nbsp;</span>
              <span>{{patient?.email}}</span>
            </li>
          </ul>
        </ion-col>

        <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6>
          <ion-row class="edit-btn pull-right align-items-center">
            <ul class="list-inline">
              <li>
                  <div class="add-dependent-btn">
                      <a (click)="onClickAddPatient()" ion-button class="common-blue-btn manage-btn">{{
                        'ADD_DEPENDENT_LABEL' | translate }}</a>
                  </div>
              </li>
              <li>
                  <div class="add-dependent-btn">
                      <a (click)="onClickEditPatient()" ion-button class="common-blue-btn manage-btn">{{
                        'EDIT_DEPENDENT_LABEL' | translate }}</a>
                  </div>
              </li>
              <li *ngIf="patient?.relation != 'SELF'">
                  <div class="add-dependent-btn">
                      <a (click)="onClickDelete()" ion-button class="common-blue-btn manage-btn">{{
                        'DELETE_DEPENDENT_LABEL' | translate }}</a>
                  </div>
              </li>
            </ul>
          </ion-row>
        </ion-col>
      </ion-row>
     

      <ion-row *ngIf="!patient && isSearched">
          <ion-col col-12 col-xs-12 col-sm-3 col-md-9 col-lg-12>
              <div text-right>
                  <a (click)="onClickAddPatient()" ion-button class="common-blue-btn manage-btn">{{
                    'ADD_PATIENT_LABEL' | translate }}</a>
              </div>
          </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-row *ngIf="patient">
      <ion-col>
        <div text-end>
            <a ion-button  (click)="onClickSelectDoctor()" class="common-blue-btn">{{ selectButtonTitle | translate }}</a>
        </div>
      </ion-col>
    </ion-row>
    <!-- <patient-list [patientList]="patientList"></patient-list>-->
  		<div *ngIf="!patient  && isSearched" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
		<!--<div class="load-more-container" text-center *ngIf="!loadFinished && patientList && (patientList.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div> -->
  </div>
  <footer class="mobile-view-footer"></footer>
</ion-content>
<!-- <div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
		<search-result-component class="searchPatientsComponent" [from]="fromString"></search-result-component>
	</div> -->