page-onboard-patient {
    .sys-admin-patient-list-view{
        @extend .sys-admin-list-view;
    }
   .searchPatientsComponent{
 //   	.search-result-container{
 // 		z-index: 9999;
 // 		max-width: 366px;
 // 		left: 16px;
 // 	@include screenMax576{
 // 			width: 100%;
 // 		    left: 50%;
 // 		    top: 40px;
 // 		    transform: translate(-50%);
 // 	    }
 // 	}
           
   }

   .onboard-search-container
    { 
        p-dropdown .ui-dropdown
        {
            border-radius:0;
            border-top:0 none;
            border-left:0 none;
            border-right:0 none;
            border-bottom: 1px solid #e3e3e3;
            background: none !important;
        }

        p-dropdown .ui-dropdown .ui-dropdown-panel
        {
            min-width: 300px;
        }
    }

.onboard-patient
    {
        ion-row
        {
            background-color: #fff;
            border: 1px solid #cadce8;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
            margin-bottom: 5px;
        }

        ion-row.edit-btn
        {
            border:0 none;
            box-shadow: none;
            background: none;
            margin:0;
        }
        ion-row.edit-btn ul 
        {
            padding:0;
            margin:0;
            list-style: none;
            
        }

        ion-row.edit-btn ul li
        {
            display: inline-block;
            padding-right: 5px;
            padding-left:5px;
            margin-bottom: 0 !important;
        }

        ion-row.edit-btn ul li .add-dependent-btn a span
        {
            color:#fff;
        }
        .profile-img
        {
            padding: 15px 20px 15px 15px !important;
        }
        .profile-img a
        {
            display: block;
            border-radius: 6px;
        }

        ul.list-content
        {
            margin:0;
            padding:0;
        }

        ul.list-content li
        {
            list-style: none;
            vertical-align: middle;
            margin-bottom: 5px;
            /* display: -webkit-box; */
            /* display: -webkit-flex; */
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -webkit-align-items: end;
            -ms-flex-align: end;
            align-items: end;
        }

        ul li
        {
            margin-bottom: 8px !important;
        }

        ul li span
        {
            color: #323b40;
        }

        ul.list-content li:first-child
        {
            margin-bottom: 0 !important;
        }

        ul.list-content li p.name-container a
        {
            text-decoration: none;
            color:#000;
        }

        ul.list-content li p:first-child
        {
            margin-left: 0px;
            margin-bottom: 7px;
            font-size: 1.8rem !important;
        }

        .add-dependent-btn
        {
            text-align: center;
        }


    }

    .common-select-dropdown
    {
       
        .item-inner .input-wrapper ion-label {
            flex: 1;
            max-width: initial;
        }

        .ionic-selectable
        {
            width:100%;
            max-width: none;
        }

        .ionic-selectable-md .ionic-selectable-icon-inner
        {
            top:50%;
        }

        .ionic-selectable-md .ionic-selectable-value  {
            padding-left: 0 !important;
        }
    }

    @media (min-width:240px) and (max-width:768px)
    {
        .common-page-container .select-relation
        {
            padding:0 !important;
        }
        // .main-content
        // {
        //     padding-top:147px !important;
        // }
        .manage-space-header
        {
            height:147px !important;
        }

        .manage-space
        {
            height: 102px !important;
        }
        .item-md
        {
            background: none;
            padding-left: 0 !important;
        }
        .item-md.item-block .item-inner
        {
            padding-right: 0 !important;
        }
        .ionic-selectable-value-item
        {
            padding-left: 10px !important;
        }
        .add-dependent-btn
        {
            text-align: right !important;
        }

        a.search-btn
        {
            width:110px;
        }

    }
}
