page-confirm-booking-step2{
	@include screenMax576{
		.main-content {
		    padding-top: 0px !important;
		}
	}
	.appointmentBookingContainer {
	    .confrimBookingForm {
	        background-color: #fff;
	        border: 1px solid #cadce8;
	        -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .05);
	        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .04);
	        padding: 16px;
	        margin-top: 16px;
	        clear: right;
        	@include screenMax576{
        		 margin-top: 25px;
			}
	    }
	    .appointmentConfirm {
	        .bookingFormItem {
	            .label {
	                color: #000;
	            }
	            .dateTime {
	                color: #616161;
	                .dateTimePicker {
	                    display: none;
	                }
	              
	            }
	             
	            .input {
	                border: 0;
	                -webkit-box-shadow: none;
	                box-shadow: none;
	                border-radius: 0;
	                background-color: transparent;
	                .text-input {
	                    color: #616161;
	                    opacity: 1;
	                    padding: 0;
	                }                
	            }
	        }
	        .confirmAppointmentBtns {
	            display: inline-block;
	            margin: 17px auto 16px auto;
	            min-width: 142px;
	        }
	        .editAppointment {
	            background-color: transparent;
	            color: #2090e5;
	            border: 1px solid #2090e5;
	            margin-right: 15px;
	            &:hover {
	                background-color: #2090e5;
	                color: #fff;
	            }
	        }        
	    } 
	    .paymentTerms {
	        font-size: 15px;
	        color: #0000ff;
	        display: block;
	        text-decoration: underline;
	    }    
	    .noHeight{
	    	height:unset !important;
	    }
	    .paidAmount {
	        font-size: 15px;
	        color: #000;
	        margin: 14px 0 0 0;
	        display: inline-block;
	    }
	    .paymentNote {
	        font-size: 15px;
	        color: #616161;
	        margin: 16px 0 0 16px;
	    }
	    .patientColumn {
	        padding: 0 24px 0 0!important;
	        border-right: 1px solid #cdcdcd;
	        @include screen1024 {
	            padding: 0 0 15px 0 !important;
	            border-right: 0;
	            border-bottom: 1px solid #cdcdcd;
	        }
	        ul{
	        	list-style: none;
	        	padding:0px;
	        	@include screenMax576{
	        		margin:0px;
	        	}
	        	.error-msg-block{
	        	   padding:0px;
	        		small{
	        			padding-left: 16px;
	        		}
	        	}
	        	.bookingFormItem {
		            padding-left: 0;
		            background: transparent;
		            margin-bottom: 4px;   
		            width:100%;
		            display:inline-flex;
		            margin-top:5px;
		            &:first-child{
		            	margin-top:0px;
		            }
		            
		            &:last-child {
		                border-bottom: 0!important;
		                box-shadow: none!important;
		                margin-bottom: 0;
		            }
		            span {
		                min-width: 125px;
		                font-size: 15px;
		                color: #616161;
		                display:inline-flex;
		                align-self: center;
		                width:30%;
		                @include screenMax576{
			        		overflow:hidden;
			        		text-overflow:ellipsis;
			        		white-space:nowrap;
			        		max-width:140px;
			        		width:unset;
			        		display:inline-block;
			        	}
		            }         
		            .iconBg{
					    border: 1px solid #c8e1ff;
					    border-radius: 5px;
					    padding:5px 5px 0px 5px;
					    background-color: #f5fafe;
					    position:absolute;
					    right:0;
					    top:0;
		            }   
		            ion-input {
		            	width:65%;
		            	display:inline-flex;
		                color: #000;
		                font-size: 15px;
		                border: 1px solid #c8e1ff;
		                box-shadow: inset 3px 3px 3px -2px rgba(0,0,0,0.3);
		                border-radius: 5px;
		                background-color: #f5fafe;
		                .text-input {
		                    margin: 9px 0;
		                    padding-left: 15px;
		                    width: 100%;
		                    padding-right: 15px;
		                }
		            }   
		        } //end of bookingFormItem
		    
		        
		        .bookingFormDateTimeItem {
		        	position: relative;
		     		height:3.6rem;
		           span{
		             &:nth-child(2){
		             	width:unset;
		             }
		           }
		           .dateTime .visitType{
	                	text-transform:lowercase !important;
	    				vertical-align:text-top;
	    				font-size:1.4rem;
	    				position:absolute;
					    top: 9px;
					    left: 182px;
					     @include screenMobileMax576{
					     	    position: initial;
					     }
					    
					   @media (max-width: 380px) {
					  		top: 25px;
					    	left: 115px;
					  }
					  
					  @media (max-width: 1024px) and (min-width: 991px) {
					  		top: 9px;
					    	left: 248px;
					  }
					  
					  @media (max-width: 991px) and (min-width: 800px) {
					  		top: 9px;
					    	left: 245px;
					  }
	                }
		           
		        } //end of bookingFormDateTimeItem
		       .viewTimeType .dateTime .visitType{
				 	top:0;
	        		@include screenMax576{
	    				max-width:unset;
	        		}
	        	}
	        } // end of ul
	        
	        .dateTimePicker, .timeIcon {
	                background-repeat: no-repeat;
	                display: inline-block;
	                width: 25px;
	                height: 25px;
	                vertical-align: top;
	                position: relative;
	                top: -1px;
	                left: 64px;           
	            }    
	            .dateTimePicker{
	                background: url('../../../assets/imgs/contract_calander_icon.png');
	            } 
	    }
	    .paymentColumn {
	        padding: 0 0 0 24px!important;
	        @include screen1024 {
	            padding: 15px 0 0 0 !important;
	        }
	    }
	    .column {
	        @include screen1024 {
	            -webkit-box-flex: 0;
	            -webkit-flex: 0 0 100%;
	            -ms-flex: 0 0 100%;
	            flex: 0 0 100%;
	            width: 100%;
	            max-width: 100%;
	        }
	    }
	    .bookingDetails {
	        padding-top: 30px;
	        padding-bottom: 2px;
	        border-top: 1px solid #cadce8;
	        margin-top: 20px;
	        h3 {
	            font-size: 1.8rem;
	            color: #000;
	            margin-bottom: 20px;
	            position: relative;
	            padding-right: 61px;
	            .rating,
	            .likes {
	                display: inline-block;
	                font-size: 15px;
	                color: #616161;
	                font-weight: normal;
	                position: absolute;
	                right: 0;
	                top: 0;
	                bottom: 0;            
	                img{
	                	margin-right:5px;    
	                	vertical-align: text-top;
	                }
	            } //end of likes
	             
	        } //end of h3
	        
	        @include screenMax576{
	        	padding-top: 20px;	
	        	margin-top: 17px;
	        	
	        	h3{
	        		font-size:1.5rem;
	        		margin-bottom:15px;
	        	}
	        }
	        
	        ul {
	            padding: 0;
	            li {
	                list-style-type: none;
	                ul {
	                    display: flex;
	                    margin-bottom: 12px;
	                    &:last-child {
	                        margin-bottom: 0;
	                    }
	                    li {
	                        display: flex;
	                        min-width: 115px;
	                        font-size: 15px;
	                        color: #616161;
	                    }
	                    .specialization{
	                    	display:inline-block;
	                    }
	                    .bookingTitle {
	                        color: #000;
	                    }
	                    .hos-address {
	                    	width:100%;
	                    	@include screenMax576{
	                            	width:75%;
	                            }
	                    	.address{
	                    		 @include screenMax576{
	                            	width:75%;
	                            }
	                    	}
	                        .mapIcon {
	                            display: flex;
	                            align-items: center;
	                            margin-left: 15px;
	                    		border-left: 1px solid #cdcdcd;
		                        @include screenMax576{
	                            	width:25%;
		                        	border-left: 0px;
	                            }
	                            img{
	                            	margin-left: 15px;
		                            @include screenMax576{
		                        		border-left: 1px solid #cdcdcd;
		                        		justify-content:flex-end;
		                            	padding-left: 15px;
		                            	margin-left:0px;
		                            }
		                       }
	                        }
	                    } //end of bookingDescription                   
	                } //end of ul
	            } //end of li
	        } //end of ul
	        .list {
	            margin: 14px 0 0 0;
	        }
	        	
			.upload-sub-images{
				display:inline-flex;
				background-color: #dededf;
				margin-right:20px;
				width:60px;
				height:60px;
				border:1px dashed #adadad;
				border-radius:6px;
				cursor: pointer;
				position: relative;
				@include screenMax576{
					margin-top:15px;
					img{
						border-radius:6px;
					}
				}
				//margin-top:20px;
				.uploaded-sub-img{
					background-color: #dededf;
					padding-top: calc(100% - 2px);
				}
				ion-spinner{
					position: absolute;
					.spinner-crescent svg .spinner-md-crescent circle{
						stroke: #fff !important;
					}
				}
				&:last-child{
					margin:0px;
				}
			} //end of sub-images
			.default-upload-sub-image{
				@extend .upload-sub-images;
				cursor: pointer;
			}
	    } //end of bookingDetails
	    .userAgreementSection {
	        padding: 0;        
	        text-align: center;
	        ion-list ion-item{
	        	padding-left:0px;
	        	width:100%;
		        .agreeText{
				    display: flex;
					align-items: flex-start;
					p{
						padding-left:10px;
						@include screenMax576{
							white-space:normal;
						}
						a{
							display:inline-block;
						}
					}
		        }
	        	@include screenMax576{
	        		padding-left:0px;
	        		
	        		.checkbox{
	        			margin-left:0px;
	        		}
	        		.agreeText{
	        			line-height:22px;
	        			a{
	        				text-decoration:underline;
	        			}
	        		}
	        	}
	        }
	        .item-checkbox {
	            .checkbox {
	                position: relative;
	                margin-right: 19px;
	                .checkbox-icon {
	                    width: 20px;
	                    height: 20px;
	                }
	                .checkbox-inner {
	                    left: 5px;
	                    top: -1px;
	                    width: 7px;
	                    height: 14px;
	                }
	                .item-cover {
	                    &:after {
	                        content: '';
	                        position: absolute;
	                        left: -10px;
	                        right: -10px;
	                        bottom: -10px;
	                        top: -10px;
	                    }
	                    
	                }                               
	            }
	            .item-inner {
	                padding: 0;
	                .input-wrapper {
	                    font-size: 15px;
	                    color: #333;
	                    letter-spacing: .3px;
	                    .label {
	                        white-space: normal;
	                        a {
	                            color: #172bfe;
	                        }
	                    }                    
	                }
	            }
	        }
	        .list {
	            margin-top: 0;
	            display: inline-flex;
	        }
	        .confirmBookingBtn {
	            display: block;
	            margin: 15px auto 16px auto
	        }
	    }
	    .cancelBtn {
	        margin: 15px 0;
	        background-color: transparent;
	        color: #fa3234;
	        border: 1px solid #fa3234;
	        &:hover {
	            background-color: #fa3234;
	            color: #fff;
	        }
	    }
	    .updateBtn, .okBtn{
	    	margin-left:10px !important;
	    }
	}
.footer-btn-container{
	@include screenMax576{
		width: 100%;
	}
	.update-btn{
		@include screenMax576{
			    margin-left: 16px;
		        background-color: transparent;
    			color: #2090e5;
    			border: 1px solid #2090e5;
		}
	}
	.book-again-btn{
		@include screenMax576{
			margin-right: 16px;
		}
	}
}

.onboard-patient
    {
        ion-row
        {
            background-color: #fff;
            border: 1px solid #cadce8;
            -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
            margin-bottom: 5px;
        }
        .profile-img
        {
            padding: 15px 20px 15px 15px !important;
        }
        .profile-img a
        {
            display: block;
            border-radius: 6px;
        }

        ul.list-content
        {
            margin:0;
            padding:0;
        }

        ul.list-content li
        {
            list-style: none;
            vertical-align: middle;
            margin-bottom: 5px;
            /* display: -webkit-box; */
            /* display: -webkit-flex; */
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -webkit-align-items: end;
            -ms-flex-align: end;
            align-items: end;
        }

        ul li
        {
            margin-bottom: 8px !important;
        }

        ul li span
        {
            color: #323b40;
        }

        ul.list-content li:first-child
        {
            margin-bottom: 0 !important;
        }

        ul.list-content li p.name-container a
        {
            text-decoration: none;
            color:#000;
        }

        ul.list-content li p:first-child
        {
            margin-left: 0px;
            margin-bottom: 7px;
            font-size: 1.8rem !important;
        }


	}
	
	.onboard-search-container
    { 
        p-dropdown .ui-dropdown
        {
            border-radius:0;
            border-top:0 none;
            border-left:0 none;
            border-right:0 none;
            border-bottom: 1px solid #e3e3e3;
            background: none !important;
        }

        p-dropdown .ui-dropdown .ui-dropdown-panel
        {
            min-width: 280px;
        }
	}
	
	.common-select-dropdown
    {
       
        .item-inner .input-wrapper ion-label {
            flex: 1;
            max-width: initial;
        }

        .ionic-selectable
        {
            width:100%;
            max-width: none;
        }

        .ionic-selectable-md .ionic-selectable-icon-inner
        {
            top:50%;
        }

        .ionic-selectable-md .ionic-selectable-value  {
            padding-left: 0 !important;
        }
	}
	
	@media (min-width:240px) and (max-width:768px)
	{
		.item-md
        {
            background: none;
            padding-left: 0 !important;
        }
		.item-md.item-block .item-inner
        {
            padding-right: 0 !important;
        }
        .ionic-selectable-value-item
        {
            padding-left: 10px !important;
		}
		.add-dependent-btn
        {
            text-align: right !important;
        }
	}

}