<ion-header *ngIf="!commonService.checkIsWeb()">
  <header-for-role-creation-form *ngIf="redirectParam == 'bookFlow' && !isConfirm" class="common-header-component"
    [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CONFIRM_BOOKING'"
    [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
  <header-for-role-creation-form *ngIf="fromPage != 'patientUpcomingAppointmentViewDetails' && isConfirm && redirectParam == 'bookFlow'"
    class="common-header-component" [backBtnLink]="'#/confirm-booking-step2/0/0'" [isSamePage]="true" [firstName]="userData.firstName"
    [lastName]="userData.lastName" [pageTitle]="'APPOINTMENT_CONFIRMATION'" [showButton]="false" [showBackButton]="true"
    [isBookingConfirmed]="true"></header-for-role-creation-form>
  <header-for-role-creation-form *ngIf="fromPage == 'patientUpcomingAppointmentViewDetails' && isConfirm && !isUpdateOnView"
    class="common-header-component" [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName"
    [pageTitle]="'APPOINTMENT_DETAILS'" [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
  <header-for-role-creation-form *ngIf="fromPage == 'patientUpcomingAppointmentViewDetails' && !isConfirm && isUpdateOnView"
    class="common-header-component" [firstName]="userData.firstName" (click)="editUAViewDetails()" [isSamePage]="true"
    [lastName]="userData.lastName" [pageTitle]="'UPDATE_DETAILS_LABEL'" [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
  <header-for-role-creation-form *ngIf="(fromPage == 'patientUpcomingAppointment' || 
    										   fromPage == 'DoctorRoleUpdateVisitDetails' || 
    										   fromPage == 'HAUpdateVisitDetails') || 
    										   ( (fromPage == 'patientUpcomingAppointment' || 
    										      fromPage == 'DoctorRoleUpdateVisitDetails') && 
    										      redirectParam == 'updatedAppointmentSlot') && redirectParam != 'bookFlow'"
    [backBtnLink]="backBtnUrl" class="common-header-component" [firstName]="userData.firstName" [lastName]="userData.lastName"
    [pageTitle]="'UPDATE_DETAILS_LABEL'" [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
  <!--  <div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
      <ion-title class="page-sub-title">
        <span *ngIf="redirectParam == 'bookFlow' && !isConfirm">{{ 'CONFIRM_BOOKING' | translate }}</span>
        <span *ngIf="fromPage != 'patientUpcomingAppointmentViewDetails' && isConfirm && redirectParam == 'bookFlow'">{{ 'APPOINTMENT_CONFIRMATION' | translate }}</span>
        <span *ngIf="fromPage == 'patientUpcomingAppointmentViewDetails' && isConfirm">{{ 'APPOINTMENT_DETAILS' | translate }}</span>
        <span *ngIf="(fromPage == 'patientUpcomingAppointment' || fromPage == 'DoctorRoleUpdateVisitDetails' || fromPage == 'HAUpdateVisitDetails') || ( (fromPage == 'patientUpcomingAppointment' || fromPage == 'DoctorRoleUpdateVisitDetails') && redirectParam == 'updatedAppointmentSlot') || isUpdateOnView && redirectParam != 'bookFlow'">{{ 'UPDATE_DETAILS_LABEL' | translate }}</span>
      </ion-title>
    </div> -->
</ion-header>
<ion-content padding class="centered-content appointmentBookingContainer" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
  <ion-header *ngIf="commonService.checkIsWeb()">
    <header-for-role-creation-form *ngIf="redirectParam == 'bookFlow' && !isConfirm" class="common-header-component"
      [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CONFIRM_BOOKING'"
      [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
    <header-for-role-creation-form *ngIf="fromPage != 'patientUpcomingAppointmentViewDetails' && isConfirm && redirectParam == 'bookFlow'"
      class="common-header-component" [backBtnLink]="'#/confirm-booking-step2/0/0'" [isSamePage]="true" [firstName]="userData.firstName"
      [lastName]="userData.lastName" [pageTitle]="'APPOINTMENT_CONFIRMATION'" [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
    <header-for-role-creation-form *ngIf="fromPage == 'patientUpcomingAppointmentViewDetails' && isConfirm && !isUpdateOnView"
      class="common-header-component" [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName"
      [pageTitle]="'APPOINTMENT_DETAILS'" [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
    <header-for-role-creation-form *ngIf="fromPage == 'patientUpcomingAppointmentViewDetails' && !isConfirm && isUpdateOnView"
      class="common-header-component" [firstName]="userData.firstName" (click)="editUAViewDetails()" [isSamePage]="true"
      [lastName]="userData.lastName" [pageTitle]="'UPDATE_DETAILS_LABEL'" [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
    <header-for-role-creation-form *ngIf="(fromPage == 'patientUpcomingAppointment' || 
    										   fromPage == 'DoctorRoleUpdateVisitDetails' || 
    										   fromPage == 'HAUpdateVisitDetails') || 
    										   ( (fromPage == 'patientUpcomingAppointment' || 
    										      fromPage == 'DoctorRoleUpdateVisitDetails') && 
    										      redirectParam == 'updatedAppointmentSlot') && redirectParam != 'bookFlow'"
      [backBtnLink]="backBtnUrl" class="common-header-component" [firstName]="userData.firstName" [lastName]="userData.lastName"
      [pageTitle]="'UPDATE_DETAILS_LABEL'" [showButton]="false" [showBackButton]="true"></header-for-role-creation-form>
    <div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
      <ion-title class="page-sub-title">
        <span *ngIf="redirectParam == 'bookFlow' && !isConfirm">{{ 'CONFIRM_BOOKING' | translate }}</span>
        <span *ngIf="fromPage != 'patientUpcomingAppointmentViewDetails' && isConfirm && redirectParam == 'bookFlow'">{{
          'APPOINTMENT_CONFIRMATION' | translate }}</span>
        <span *ngIf="fromPage == 'patientUpcomingAppointmentViewDetails' && isConfirm">{{ 'APPOINTMENT_DETAILS' |
          translate }}</span>
        <span *ngIf="(fromPage == 'patientUpcomingAppointment' || fromPage == 'DoctorRoleUpdateVisitDetails' || fromPage == 'HAUpdateVisitDetails') || ( (fromPage == 'patientUpcomingAppointment' || fromPage == 'DoctorRoleUpdateVisitDetails') && redirectParam == 'updatedAppointmentSlot') || isUpdateOnView && redirectParam != 'bookFlow'">{{
          'UPDATE_DETAILS_LABEL' | translate }}</span>
      </ion-title>
    </div>
  </ion-header>
  <div class="main-content">
    <div class="confrimBookingForm" [class.appointmentConfirm]="isConfirm">
      <form #createAppointmentForm="ngForm" name="createAppointmentForm" novalidate>
        <ion-grid class="onboard-search-container" *ngIf="fromPage != 'patientUpcomingAppointmentViewDetails' && !isUpdateOnView">
          <ion-row>
            <ion-col col-12 col-sm-5 col-md-5 col-lg-5>
              <div>


                <ion-item name="ff" *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
                        <ionic-selectable 
                          item-content  
                          [(ngModel)]="patient"
                          [items]="patientDependents"
                          [canSearch]="true"
                          [focusSearchbar]="false"
                          itemValueField="userProfileId"
                          itemTextField="firstName"
                          (onChange)="onDependentSelect($event.value)"
                          name="patientDependent"
                          okButtonText="Ok">
                        </ionic-selectable>
                  
                  </ion-item>

                <p-dropdown *ngIf="commonService.checkIsWeb()" [options]="patientDependents" [(ngModel)]="patient"
                  optionLabel="firstName" name="patientDependent" [filter]="true" (onChange)="onDependentSelect(patient)"></p-dropdown>
                <!-- <p-dropdown  *ngIf="commonService.checkIsWeb()" [options]="testList" [(ngModel)]="test" optionLabel="name" [filter]="true"  ></p-dropdown> -->

              </div>

            </ion-col>

          </ion-row>
        </ion-grid>

        <ion-grid class="onboard-patient" *ngIf="fromPage != 'patientUpcomingAppointmentViewDetails' && !isUpdateOnView">
          <ion-row align-items-center>
            <ion-col col-3 col-xs-12 col-sm-3 col-md-3 col-lg-2 class="profile-img">
              <a class="profile-img-responsive with-border" [style.backgroundImage]="'url('+patient?.imageBase64+')'"
                *ngIf="patient?.imageBase64">
              </a>
              <a class="profile-img-responsive with-border" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'"
                *ngIf="!patient?.imageBase64"></a>
            </ion-col>
            <ion-col col-9 col-xs-12 col-sm-6 col-md-9 col-lg-5 class="list-content">
              <ul class="list-content">
                <li>
                  <p class="name-container" style="display: inline-block;">
                    <a href="#/patient-role-profile/SAPatientList/{{patient?.userId}}">
                      {{patient?.firstName}} {{patient?.lastName}}
                    </a>
                  </p>
                </li>
                <li>  
                  <span>{{ 'RELATION_LABEL' | translate }} -&nbsp;</span>
                  <span>{{patient?.relation}}</span>
                </li>

                <li>
                  <span>{{ 'MOBILE_LABEL' | translate }} -&nbsp;</span>
                  <span>{{patient?.contactNo}}</span>
                </li>
                <li >
                  <span>{{ 'EMAIL_LABEL' | translate }} -&nbsp;</span>
                  <span>{{patient?.email}}</span>
                </li>
              </ul>
            </ion-col>

            <ion-col col-12 col-xs-12 col-sm-3 col-md-12 col-lg-5>
              <div class="add-dependent-btn">
                <a href="#/add-patient/bookStep2/{{fromPage}}/bookStep2/{{redirectParam}}/0/create" ion-button class="common-blue-btn manage-btn">{{
                  'ADD_DEPENDENT_LABEL' | translate }}</a>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid no-padding>
          <ion-row class="card-container">
            <ion-col col-sm-12 col-md-12 col-lg-6 class="card-title column patientColumn">
              <ul *ngIf="!isConfirm">
                <li class="bookingFormItem">
                  <span>{{ 'PATIENT_NAME_LABEL' | translate }}:</span>
                  <ion-input type="text" name="patientName" [(ngModel)]="bookingUserName" #patientName="ngModel"
                    autocomplete="off" autocorrect="off" required maxlength="50" pattern="^[a-zA-Z ]{1,50}$"></ion-input><!--  pattern="^[a-zA-Z]{1,50}$" -->
                </li>
                <li class="error-msg-block text-center bookingFormItem" *ngIf="patientName.errors && (patientName.dirty || patientName.touched || formSubmitted)">
                  <span>&nbsp;</span>
                  <small [hidden]="!patientName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_PATIENT_NAME' |
                    translate }}</small>
                  <small [hidden]="!patientName.errors.required" class="text-danger">{{ 'ERROR_MSG_PATIENT_NAME' |
                    translate }}</small>
                </li>
                <li class="bookingFormItem">
                  <span>{{ 'MOBILE_NUMBER' | translate }}:</span>
                  <ion-input type="tel" name="mobileNumber" [(ngModel)]="bookingUserContactNo" #mobileNumber="ngModel"
                    [type]="commonService.checkIsWeb()?inputType:'tel'" pattern="[1-9][0-9]{9}" autocomplete="off"
                    autocorrect="off" required maxlength="10"></ion-input>
                </li>
                <li class="error-msg-block text-center bookingFormItem" *ngIf="mobileNumber.errors && (mobileNumber.dirty || mobileNumber.touched || formSubmitted)">
                  <span>&nbsp;</span>
                  <small [hidden]="!mobileNumber.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' |
                    translate }}</small>
                  <small [hidden]="!mobileNumber.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO'
                    | translate }}</small>
                </li>
                <li class="item-input bookingFormItem bookingFormDateTimeItem">
                  <span>{{ 'DATE_LABEL' | translate }}:</span>
                  <span class="dateTime">{{formattedDate | date: 'mediumDate'}}</span>
                  <a class="iconBg" [hidden]="isConfirm" *ngIf="(fromPage == 'patientUpcomingAppointment' || fromPage == 'HAUpdateVisitDetails' || fromPage == 'DoctorRoleUpdateVisitDetails') || redirectParam == 'updatedAppointmentSlot' || isUpdateOnView"
                    href="#/booking-step1/{{doctorDetails?.doctorId}}/updateAppointment/{{changeDetailsWithConfirm}}"><img
                      src="assets/imgs/confirm_booking_change_date.svg" /></a>
                  <a class="iconBg" [hidden]="isConfirm" *ngIf="fromPage != 'patientUpcomingAppointment' && redirectParam != 'updatedAppointmentSlot' && !isUpdateOnView && fromPage != 'HAUpdateVisitDetails' && fromPage != 'DoctorRoleUpdateVisitDetails'"
                    href="#/booking-step1/{{doctorDetails?.doctorId}}/{{changeDetailswithoutConfirm}}/0"><img src="assets/imgs/confirm_booking_change_date.svg" /></a>
                </li>
                <li class="item-input bookingFormItem bookingFormDateTimeItem">
                  <span>{{ 'TIME_LABEL' | translate }}:</span>
                  <span class="dateTime" *ngIf="fromPage != 'patientUpcomingAppointment' && redirectParam != 'updatedAppointmentSlot' && fromPage != 'patientUpcomingAppointmentViewDetails' && fromPage != 'HAUpdateVisitDetails' && fromPage != 'DoctorRoleUpdateVisitDetails'">{{selectedTimeSlot?.startTime}}
                    <span class="visitType">&nbsp; ({{appointmentType}})</span></span>
                  <span class="dateTime" *ngIf="fromPage == 'patientUpcomingAppointment' || redirectParam == 'updatedAppointmentSlot' || fromPage == 'patientUpcomingAppointmentViewDetails' || fromPage == 'HAUpdateVisitDetails' || fromPage == 'DoctorRoleUpdateVisitDetails'">{{appointmentStartTime}}
                    <span class="visitType">&nbsp;({{appointmentType}})</span></span>
                  <a class="iconBg" [hidden]="isConfirm" *ngIf="(fromPage == 'patientUpcomingAppointment' || fromPage == 'HAUpdateVisitDetails' || fromPage == 'DoctorRoleUpdateVisitDetails') || redirectParam == 'updatedAppointmentSlot' || isUpdateOnView "
                    href="#/booking-step1/{{doctorDetails?.doctorId}}/updateAppointment/{{changeDetailsWithConfirm}}"><img
                      src="assets/imgs/confirm_booking_change_time.svg" /></a>
                  <a class="iconBg" [hidden]="isConfirm" *ngIf="fromPage != 'patientUpcomingAppointment' && redirectParam != 'updatedAppointmentSlot' && !isUpdateOnView && fromPage != 'HAUpdateVisitDetails' && fromPage != 'DoctorRoleUpdateVisitDetails'"
                    href="#/booking-step1/{{doctorDetails?.doctorId}}/{{changeDetailswithoutConfirm}}/0"><img src="assets/imgs/confirm_booking_change_time.svg" /></a>
                </li>
                <li class="item-input bookingFormItem bookingFormDateTimeItem" *ngIf="appointmentType == 'TOKEN'">
                  <span>{{ 'TOKEN_NUMBER_LABEL' | translate }}:</span>
                  <span>{{tokenNumber}}</span>
                </li>
              </ul>

              <!--------- for view details page ------->
              <ul *ngIf="isConfirm" class="viewAppointment">
                <li class="bookingFormItem">
                  <span>{{ 'PATIENT_NAME_LABEL' | translate }}:</span>
                  <span>{{bookingUserName}}</span>
                </li>

                <li class="bookingFormItem">
                  <span>{{ 'MOBILE_NUMBER' | translate }}:</span>
                  <span>{{bookingUserContactNo}}</span>
                </li>
                <li class="item-input bookingFormItem bookingFormDateTimeItem" [ngClass]="{noHeight: isConfirm}">
                  <span>{{ 'DATE_LABEL' | translate }}:</span>
                  <span class="dateTime">{{formattedDate | date: 'mediumDate'}}</span>
                </li>

                <li class="item-input bookingFormItem bookingFormDateTimeItem viewTimeType" [ngClass]="{noHeight: isConfirm}">
                  <span>{{ 'TIME_LABEL' | translate }}:</span>
                  <span class="dateTime" *ngIf="fromPage != 'patientUpcomingAppointment' && redirectParam != 'updatedAppointmentSlot' && fromPage != 'patientUpcomingAppointmentViewDetails' && fromPage != 'HAUpdateVisitDetails' && fromPage != 'DoctorRoleUpdateVisitDetails'">{{selectedTimeSlot?.startTime}}
                    <span class="visitType">&nbsp; ({{appointmentType}})</span></span>
                  <span class="dateTime" *ngIf="fromPage == 'patientUpcomingAppointment' || redirectParam == 'updatedAppointmentSlot' || fromPage == 'patientUpcomingAppointmentViewDetails' || fromPage == 'HAUpdateVisitDetails' || fromPage == 'DoctorRoleUpdateVisitDetails'">{{appointmentStartTime}}
                    <span class="visitType">&nbsp; ({{appointmentType}})</span></span>
                </li>

                <li class="bookingFormItem" *ngIf="appointmentType == 'TOKEN'">
                  <span>{{ 'TOKEN_NUMBER_LABEL' | translate }}:</span>
                  <span>{{tokenNumber}}</span>
                </li>
              </ul>
            </ion-col>
            <ion-col col-sm-12 col-md-12 col-lg-6 class="card-title column paymentColumn">
              <a class="paymentTerms" (click)="openPrivacyPolicy('Payment Terms')" no-margin>{{ 'PAYMENT_TERMS_LABEL' |
                translate }} -</a>
              <span class="paidAmount" *ngIf="fees && !isConfirm"> {{fees | currency:"INR":true:'1.0-0'}} /- {{
                'PAID_ONLINE_LABEL' | translate }}</span>
              <span class="paidAmount" *ngIf="fees && isConfirm"> {{fees | currency:"INR":true:'1.0-0'}} /- {{
                'PAID_ONLINE_COMPLETE_LABEL' | translate }}</span>
              <p class="paymentNote">* {{ 'APPOINTMENT_CHARGE_NOTE' | translate }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <section class="bookingDetails">
          <h3><span *ngIf="hospitalDetails?.name">{{hospitalDetails?.name}}</span> <span class="rating" *ngIf="hospitalDetails?.avgRating"><img
                src="assets/imgs/star.svg">{{hospitalDetails?.avgRating}}</span></h3>
          <ul class="list">
            <li>
              <ul>
                <li class="bookingTitle">{{ 'ADDRESS' | translate }}:</li>
                <li class="bookingDescription hos-address" *ngIf="address">
                  <span class="address">{{ address.street }}, {{ address.cityName }}, {{ address.state }}, {{
                    address.zipCode }}</span>
                  <span class="hand-pointer mapIcon" (click)="plotAddressOnMap(hospitalDetails?.name, address)"><img
                      src="assets/imgs/map_icon.png"></span>
                </li>
              </ul>
            </li>
          </ul>
        </section>
        <section class="bookingDetails">
          <h3><span *ngIf="doctorDetails?.firstName">{{doctorDetails?.firstName}}</span> <span *ngIf="doctorDetails?.lastName">{{doctorDetails?.lastName}}</span><span
              class="rating likes" *ngIf="doctorDetails?.avgRating"><img src="assets/imgs/doctors_rating.svg">{{doctorDetails?.avgRating}}%</span></h3>
          <ul class="list">
            <li>
              <ul *ngIf="doctorDetails?.educationList && doctorDetails?.educationList.length > 0">
                <li class="bookingTitle">{{ 'EDUCATION' | translate }}:</li>
                <li class="bookingDescription" *ngIf="doctorDetails?.educationList"><span *ngFor="let edu of doctorDetails?.educationList; last as isLast">{{edu.name}}<span
                      *ngIf="!isLast" style="margin-right: 5px;">,</span></span></li>
              </ul>
              <ul *ngIf="doctorDetails?.specializationList && doctorDetails?.specializationList.length > 0">
                <li class="bookingTitle">{{ 'SPECIALIZATION' | translate }}:</li>
                <li class="specialization"><span *ngFor="let spec of doctorDetails?.specializationList; last as isLast">{{spec.name}}<span
                      *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></li>
              </ul>
              <ul *ngIf="doctorDetails?.yearsOfExp">
                <li class="bookingTitle">{{ 'EXPERIENCE' | translate }}:</li>
                <li class="bookingDescription">{{doctorDetails?.yearsOfExp}} {{ 'YEAR_LABEL' | translate }}</li>
              </ul>
            </li>
          </ul>
        </section>
        <!------------- Upload Images Section (web) -------------------->
        <section class="bookingDetails" *ngIf="commonService.checkIsWeb() && (redirectParam == 'bookFlow' || fromPage == 'patientUpcomingAppointment' || this.fromPage == 'patientUpcomingAppointmentViewDetails' ||
                    this.fromPage == 'HAUpdateVisitDetails' ||
                    this.fromPage == 'DoctorRoleUpdateVisitDetails') && !isConfirm">
          <h3>{{ 'UPLOAD_IMAGES_LABEL' | translate }}</h3>
          <div class="upload-sub-images" *ngFor="let secimg of imgUrl; let i = index;" [hidden]="!secimg?.file">
            <div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url('+ secimg?.file +')'"
              (click)="presentPopover(i)"></div>
            <span class="cross-icon" (click)="cancelImage(secimg)"></span>
          </div>
          <div class="default-upload-sub-image" *ngIf="imgUrl.length < 6">
            <label for="hos-image-upload-input" class="hospital-profile-img">
              <img src="assets/imgs/camera_icon.png" />
              <input id="hos-image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, false, true, 'img')">
            </label>
          </div>
        </section>
        <!------------ Upload Images Section (Mobile) ---------------->
        <section class="bookingDetails" *ngIf="!commonService.checkIsWeb() && commonService.checkPlatform() && !commonService.checkMobileweb() && (redirectParam == 'bookFlow' || 
        			fromPage == 'patientUpcomingAppointment' || 
        			this.fromPage == 'patientUpcomingAppointmentViewDetails' ||
                    this.fromPage == 'HAUpdateVisitDetails' ||
                    this.fromPage == 'DoctorRoleUpdateVisitDetails') && !isConfirm">
          <h3>{{ 'UPLOAD_IMAGES_LABEL' | translate }}</h3>
          <div class="upload-sub-images" *ngFor="let secimg of imgUrl; let i = index;" [hidden]="!secimg?.file">
            <div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url('+ secimg?.file +')'"
              (click)="presentPopover(i)"></div>
            <span class="cross-icon" (click)="cancelImage(secimg)"></span>
          </div>
          <div class="default-upload-sub-image" *ngIf="imgUrl.length < 6">
            <label for="hos-image-upload-input" class="hospital-profile-img" (click)="onCamera( false, true, 'img')">
              <img src="assets/imgs/camera_icon.png" />
            </label>
          </div>
        </section>

        <!------------ Upload Images Section (MobileWeb) ---------------->
        <section class="bookingDetails" *ngIf="!commonService.checkIsWeb() &&  commonService.checkMobileweb() && (redirectParam == 'bookFlow' || 
                     fromPage == 'patientUpcomingAppointment' || 
        			this.fromPage == 'patientUpcomingAppointmentViewDetails' ||
                    this.fromPage == 'HAUpdateVisitDetails' ||
                    this.fromPage == 'DoctorRoleUpdateVisitDetails') && !isConfirm">
          <h3>{{ 'UPLOAD_IMAGES_LABEL' | translate }}</h3>
          <div class="upload-sub-images" *ngFor="let secimg of imgUrl; let i = index;" [hidden]="!secimg?.file">
            <div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url('+ secimg?.file +')'"
              (click)="presentPopover(i)"></div>
            <span class="cross-icon" (click)="cancelImage(secimg)"></span>
          </div>
          <div class="default-upload-sub-image" *ngIf="imgUrl.length < 6">
            <label for="hos-image-upload-input" class="hospital-profile-img">
              <img src="assets/imgs/camera_icon.png" />
              <input id="hos-image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, false, true, 'img')">
            </label>
          </div>
        </section>


        <!------- Uploaded imgaes ------>
        <section class="bookingDetails" *ngIf="isConfirm && (fromPage == 'patientHome' || 
		            fromPage == 'HAAssociatedDoctorList' || 
		          fromPage == 'HAManageAppointment' || 
		          fromPage == 'HAManageAppointmentVDBook' ||
		          fromPage == 'doctorRoleUpcomingAppointment' || 
		          fromPage == 'doctorRoleAppointmentHistory' ||
		          fromPage == 'doctorRoleUpcomingAppointmentVDBook' ||
		          fromPage == 'patientUpcomingAppointmentBookAgain' || 
		          fromPage == 'patientAppointmentHistory' ||
		          fromPage == 'patientUpcomingAppointmentViewDetailsBookAgain' ||
		          fromPage == 'doctorRoleAppointmentHistoryVisitDetailsBookAgain' ||
		          fromPage == 'patientDoctorProfile' ||
		          fromPage == 'patientHospitalProfile') && imgUrl.length > 0">
          <h3>{{ 'UPLOADED_IMAGES_LABEL' | translate }}</h3>
          <div class="upload-sub-images" *ngFor="let secimg of imgUrl; let i = index;" [hidden]="!secimg?.file">
            <div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url('+ secimg?.file +')'"
              (click)="presentPopover(i)"></div>
          </div>
        </section>

        <!------------------- Upload Documents Section (Web) -------------------->
        <section class="bookingDetails" *ngIf="commonService.checkIsWeb() && (redirectParam == 'bookFlow' ||
         				 fromPage == 'patientUpcomingAppointment' || 
         				fromPage == 'patientUpcomingAppointmentViewDetails' ||
                    	fromPage == 'HAUpdateVisitDetails' ||
                    	fromPage == 'DoctorRoleUpdateVisitDetails') && !isConfirm">
          <h3>{{ 'UPLOAD_DOC_LABEL' | translate }}</h3>
          <div class="upload-sub-images" *ngFor="let doc of docArr; let i = index;" [hidden]="!doc?.file">
            <div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/document_pdf_1.png)'"></div>
            <span class="cross-icon" (click)="cancelImage(doc)"></span>
          </div>
          <div class="default-upload-sub-image" *ngIf="docArr.length < 2">
            <label for="doc-input" class="hospital-profile-img">
              <img src="assets/imgs/document_attach_1.png" />
              <input id="doc-input" accept=".xlsx,.xls,.doc, .docx,.txt,.pdf,.odt" type="file" (change)="fileChangeListener($event, false, true, 'doc')">
            </label>
          </div>
        </section>

        <!------------------- Upload Documents Section (mobile) -------------------->
        <section class="bookingDetails" *ngIf="!commonService.checkIsWeb() && (redirectParam == 'bookFlow' || fromPage == 'patientUpcomingAppointment' || this.fromPage == 'patientUpcomingAppointmentViewDetails' ||
                    this.fromPage == 'HAUpdateVisitDetails' ||
                    this.fromPage == 'DoctorRoleUpdateVisitDetails') && !isConfirm">
          <h3>{{ 'UPLOAD_DOC_LABEL' | translate }}</h3>
          <div class="upload-sub-images" *ngFor="let doc of docArr; let i = index;" [hidden]="!doc?.file">
            <div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/document_pdf_1.png)'"></div>
            <span class="cross-icon" (click)="cancelImage(doc)"></span>
          </div>
          <div class="default-upload-sub-image" *ngIf="docArr.length < 2">
            <label for="doc-input" class="hospital-profile-img">
              <!-- (click)="onCamera(false, true, 'doc')" -->
              <img src="assets/imgs/document_attach_1.png" />
              <input id="doc-input" accept=".xlsx,.xls,.doc, .docx,.txt,.pdf,.odt" type="file" (click)="comingSoonPopup()">
            </label>
          </div>
        </section>

        <!------ Uploaded Documents Section ------>
        <section class="bookingDetails" *ngIf="isConfirm && (fromPage == 'patientHome' || 
		            fromPage == 'HAAssociatedDoctorList' || 
		          fromPage == 'HAManageAppointment' || 
		          fromPage == 'HAManageAppointmentVDBook' ||
		          fromPage == 'doctorRoleUpcomingAppointment' || 
		          fromPage == 'doctorRoleAppointmentHistory' ||
		          fromPage == 'doctorRoleUpcomingAppointmentVDBook' ||
		          fromPage == 'patientUpcomingAppointmentBookAgain' || 
		          fromPage == 'patientAppointmentHistory' ||
		          fromPage == 'patientUpcomingAppointmentViewDetailsBookAgain' ||
		          fromPage == 'doctorRoleAppointmentHistoryVisitDetailsBookAgain' ||
		          fromPage == 'patientDoctorProfile' ||
		          fromPage == 'patientHospitalProfile') && docArr.length > 0">
          <h3>{{ 'UPLOADED_DOC_LABEL' | translate }}</h3>
          <div class="upload-sub-images" *ngFor="let doc of docArr; let i = index;" [hidden]="!doc?.file">
            <img src="assets/imgs/document_pdf.png" />
          </div>
        </section>
        <section class="bookingDetails userAgreementSection" no-padding>
          <ion-list no-margin *ngIf="!isConfirm && ((fromPage != 'patientUpcomingAppointment' && redirectParam != 'updatedAppointmentSlot' && !isUpdateOnView) && fromPage != 'HAUpdateVisitDetails' && fromPage != 'DoctorRoleUpdateVisitDetails')">
            <ion-item>
              <ion-label class="agreeText">
                <img class="check-cls" [src]="agreeTermsTickImgUrl" (click)="OnPrivacyCheckboxClick()" />
                <p>{{ 'AGREE_TEXT' | translate }}
                  <a (click)="openPrivacyPolicy('Terms of Use')" target="_blank">{{ 'TOU_LABEL' | translate }}</a>
                  {{ 'AND_LABEL' | translate }}
                  <a (click)="openPrivacyPolicy('Privacy Policy')" target="_blank">{{ 'PP_LABEL' | translate }}</a>
                </p>
              </ion-label>
              <!-- <ion-checkbox name="agreeCheckbox" [(ngModel)]="agree"></ion-checkbox> -->
            </ion-item>
          </ion-list>
          <div class="buttonContainer" *ngIf="commonService.checkIsWeb() && (fromPage == 'patientHome' || 
		          fromPage == 'HAAssociatedDoctorList' || 
		          fromPage == 'HAManageAppointment' || 
		          fromPage == 'HAManageAppointmentVDBook' ||
		          fromPage == 'doctorRoleUpcomingAppointment' || 
		          fromPage == 'doctorRoleAppointmentHistory' ||
		          fromPage == 'doctorRoleUpcomingAppointmentVDBook' ||
		          fromPage == 'patientUpcomingAppointmentBookAgain' || 
		          fromPage == 'patientAppointmentHistory' ||
		          fromPage == 'patientUpcomingAppointmentViewDetailsBookAgain' ||
		          fromPage == 'doctorRoleAppointmentHistoryVisitDetailsBookAgain' ||
		          fromPage == 'patientDoctorProfile' ||
              fromPage == 'patientHospitalProfile'||
              fromPage == 'HSRoleAssociatedDoctorList' ||
              fromPage == 'HSRoleOnboardPatient')">
            <button *ngIf="redirectParam == 'bookFlow' && !isConfirm" ion-button class="confirmBookingBtn common-blue-btn"
              (click)="createAppointment(createAppointmentForm)" [disabled]="!agree">
              {{ 'CONFIRM_BOOKING' | translate }}
            </button>
            <!-- <a href="#/booking-step1/{{doctorDetails?.doctorId}}/updateAppointment/{{editBtnUrlParam}}" *ngIf="isConfirm" ion-button class="confirmAppointmentBtns editAppointment common-blue-btn">
             	{{ 'EDIT_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
            </a> -->
            <a *ngIf="isConfirm" (click)="openCancelAppointmentConfirmPopup()" ion-button class="common-blue-btn cancelBtn">
              {{ 'CANCEL_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
            </a>
            <a *ngIf="isConfirm" href="{{okBtnUrl}}" ion-button class="okBtn confirmAppointmentBtns common-blue-btn">{{
              'OK_BUTTON_LABLE' | translate }}</a>
          </div>
          <div class="buttonContainer" *ngIf="commonService.checkIsWeb() && (fromPage == 'patientUpcomingAppointment' ||
									           redirectParam == 'updatedAppointmentSlot' || 
									           isUpdateOnView ||
									          fromPage == 'HAUpdateVisitDetails' ||
									          fromPage == 'DoctorRoleUpdateVisitDetails')">
            <a ion-button class="cancelBtn common-blue-btn" (click)="openCancelAppointmentConfirmPopup()">
              {{ 'CANCEL_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
            </a>
            <a (click)="editAppointment(createAppointmentForm)" ion-button class="confirmAppointmentBtns updateBtn common-blue-btn">
              {{ 'UPDATE_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
            </a>
          </div>

          <div class="buttonContainer" *ngIf="commonService.checkIsWeb() && fromPage == 'patientUpcomingAppointmentViewDetails' && !isUpdateOnView">
            <a ion-button class="confirmAppointmentBtns editAppointment common-blue-btn" (click)="updateDetailsOnView()">
              {{ 'UPDATE_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
            </a>
            <a href="#/booking-step1/{{doctorDetails?.doctorId}}/patientUpcomingAppointmentViewDetailsBookAgain/bookFlow"
              ion-button class="confirmAppointmentBtns updateBtn common-blue-btn">
              {{ 'BOOK_AGAIN_LABEL' | translate }}
            </a>
          </div>
        </section>
      </form>
    </div>
  </div>
  <footer class="mobile-view-footer"></footer>
</ion-content>

<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb() && (fromPage == 'patientHome' || 
		          fromPage == 'HAAssociatedDoctorList' || 
		          fromPage == 'HAManageAppointment' || 
		          fromPage == 'HAManageAppointmentVDBook' ||
		          fromPage == 'doctorRoleUpcomingAppointment' || 
		          fromPage == 'doctorRoleAppointmentHistory' ||
		          fromPage == 'doctorRoleUpcomingAppointmentVDBook' ||
		          fromPage == 'patientUpcomingAppointmentBookAgain' || 
		          fromPage == 'patientAppointmentHistory' ||
		          fromPage == 'patientUpcomingAppointmentViewDetailsBookAgain' ||
		          fromPage == 'doctorRoleAppointmentHistoryVisitDetailsBookAgain' ||
		          fromPage == 'patientDoctorProfile' ||
		          fromPage == 'patientHospitalProfile')||
              fromPage == 'HSRoleAssociatedDoctorList' ||
              fromPage == 'HSRoleOnboardPatient' && redirectParam == 'bookFlow' && !isConfirm">
  <a block ion-button class="confirmBookingBtn common-blue-btn" (click)="createAppointment(createAppointmentForm)"
    [ngClass]="{'a-disabled':!agree}">
    {{ 'CONFIRM_BOOKING' | translate }}
  </a>
</div>

<div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb() && (fromPage == 'patientHome' || 
		            fromPage == 'HAAssociatedDoctorList' || 
		            fromPage == 'HAManageAppointment' || 
		            fromPage == 'HAManageAppointmentVDBook' ||
		            fromPage == 'doctorRoleUpcomingAppointment' || 
		            fromPage == 'doctorRoleAppointmentHistory' ||
		            fromPage == 'doctorRoleUpcomingAppointmentVDBook' ||
		            fromPage == 'patientUpcomingAppointmentBookAgain' || 
		            fromPage == 'patientAppointmentHistory' ||
		            fromPage == 'patientUpcomingAppointmentViewDetailsBookAgain' ||
		            fromPage == 'doctorRoleAppointmentHistoryVisitDetailsBookAgain' ||
		            fromPage == 'patientDoctorProfile' ||
		            fromPage == 'patientHospitalProfile') && isConfirm">
  <a *ngIf="isConfirm" (click)="openCancelAppointmentConfirmPopup()" ion-button class="common-blue-btn cancelBtn">
    {{ 'CANCEL_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
  </a>
  <a href="{{okBtnUrl}}" *ngIf="isConfirm" ion-button class="okBtn confirmAppointmentBtns common-blue-btn">{{
    'OK_BUTTON_LABLE' | translate }}</a>
</div>

<div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb() && (fromPage == 'patientUpcomingAppointment' ||
									           redirectParam == 'updatedAppointmentSlot' || 
									           isUpdateOnView ||
									          fromPage == 'HAUpdateVisitDetails' ||
									          fromPage == 'DoctorRoleUpdateVisitDetails')">
  <a ion-button class="cancelBtn common-blue-btn" (click)="openCancelAppointmentConfirmPopup()">
    {{ 'CANCEL_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
  </a>
  <a (click)="editAppointment(createAppointmentForm)" ion-button class="confirmAppointmentBtns updateBtn common-blue-btn">
    {{ 'UPDATE_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
  </a>
</div>

<div class="footer-mobile-btn-container two-buttons footer-btn-container" *ngIf="!commonService.checkIsWeb() && (fromPage == 'patientUpcomingAppointmentViewDetails' && !isUpdateOnView)">
  <a ion-button class="confirmAppointmentBtns editAppointment common-blue-btn update-btn" (click)="updateDetailsOnView()">
    {{ 'UPDATE_BTN_LABEL' | translate }} {{ 'APPOINTMENT_TXT' | translate }}
  </a>
  <a href="#/booking-step1/{{doctorDetails?.doctorId}}/patientUpcomingAppointmentViewDetailsBookAgain/bookFlow"
    ion-button class="confirmAppointmentBtns updateBtn common-blue-btn book-again-btn">
    {{ 'BOOK_AGAIN_LABEL' | translate }}
  </a>
</div>
