page-hospital-admin-holiday-calendar {
    .main-content {
        @include screenMax576{
            padding-top: 0px !important;
        }
        
    }
    .mobile-input-border {
        border: 1px solid #2090e4;
        border-radius: 5px;
    }
    
    .doctor-list-view{
        @extend .list-view;
        .list-container ul li img{
            margin-top:0px;
        }
        .pull-right {
            float: right;
        }
       .list-btn-col{
            padding-left:0px !important;
            padding-right:0px !important;
            background-color: transparent !important;
            .list-btns{
                display: flex;
                align-items: center;
                justify-content:center;
                padding-right:13px !important;
                height:100%;
                border-left:1px solid $borderColor;
                .deactivate-btn{
                    color: rgb(252, 50, 50);
                    border: 1px solid rgb(252, 50, 50);
                    background: transparent;
                }
            }
        }
    .list-btn-container{
        .time{
                img{
                    margin-top:2px;
                }
            }
        }
    }
    .bookingBtnLi{
        padding-top: 5px;
        .booking-btn{
            background-color: #2090e5;
            color: #fff;
            height: 3.5rem;
            min-height: 3.3rem;
            font-size: 1.4rem;
            border-radius: 3px;
            text-transform: capitalize;
            max-width: 200px;
            -webkit-box-shadow: unset;
            box-shadow: unset;
            min-width: 100px;
        }
    }
   
   .list-content{
        padding-right:0px;
        ul{
            li{
                display: flex;
                align-items: start;
                @include screenMax576{
                    padding-top:8px;
                    align-items: center;
                    &:first-child{
                        padding-top:0px;
                    }
                }
                p.hospital-address{
                    @extend .text-ellipsis;
                }
                p.name-container a{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            .location{
                width:100%;
                p{
                    width:88%;
                    padding-right:13px;
                }
                span{
                    padding-left:13px;
                    border-left:1px solid $borderColor;
                    display: inline-grid;
                    @extend .hand-pointer;
                    img{
                        margin:0px;
                    }
                }
            }
        }
    }
    .rating{
        border-top:1px solid $timeLinkBlueColor;
    }
    .infoBlock{
        @include screenMax767{
            padding:8px 0px !important;
            p span{
                font-size:1.6rem;
            }
        }
        
        > p{
            @include screenMax767{
                padding-left:20px !important;
            }
        }
        .view-more-label{
            color: $timeLinkBlueColor;
            font-size: 1.5rem;
            cursor: pointer;
            width: 100%;
            text-align: right;
        }
        p{
            margin:0px;
            display:flex;
            align-items:center;
            color: $blockHeadingColor;
            font-size:1.7rem;
            span{
                padding-left:20px;
            }
        }
        .infoContent{
            background-color:$whiteColor;
            margin-top:12px;
            padding:10px 5px;
            color: $listItemContentColor;
            font-size:1.5rem;
            border:1px solid $borderColor;
            p{
                margin-bottom:10px;
                color: $listItemContentColor;
                font-size:1.5rem;
                &:last-child{
                    margin:0px;
                }
            }
            
            @include screenMax576{
                margin-top:5px;
                p{
                    font-size:1.4rem;
                }
            }
        }
        
        &:first-child{
            .infoContent{
                padding-left:20px;
            }
        }
        .odd{
            border-left: 1px solid rgb(213, 213, 213);
            padding-left: 20px !important;
            margin-top: 0px !important;
            @include screenMax767{
                //border-left: 0px solid rgb(213, 213, 213);
                //padding-left: 0px !important;
            }
        }
        .sp-cls{
            margin-bottom: 0px;
            padding: 5px 0 5px 0px;
        }
        .right-content{
            float: right;	
        }
        .feedback-name{
            font-weight: bold;
            color: black;	
        }
        .ratingCls{
            padding-left: 13px;
            border-left: 1px solid #e3e3e3;	
        }
        .timeCls{
            padding-right: 13px;
        }
    }
    
 .doctor-list-view .list-container >ion-col:first-child{
     @include screenMax576{
         padding-right:0px !important;
     }
 }
 
 .doctor-list-view .list-container > ion-col:last-child{
     @include screenMax576{
         padding-top:0px;
         padding-bottom:10px;
         
         ion-row, ion-col{
             padding:0px;
         }
     }
 }
 
 .doctor-list-view .mobile-profile-img{
     @include screenMax576{
         background-color: #2090e4;
        margin-top: -2px;
        border:0px;
        padding-top:5px;
        .mobile-doc-image{
            border:0px;
             a{
                border: 1px solid $whiteColor;
                border-radius:6px;
             }
             
             .rating{
                margin-top: -10px;
                background-color: #fff;
                border-radius: 6px;
                margin-right: 10px;
                margin-left: 10px;
                border: 1px solid $whiteColor;			    	
                padding: 3px 0px 3px 0px;
            }
            
        }
        ul li{
            p{
                color:$whiteColor !important;
            }
        }
       }
   
       
 }
 
 .doctor-list-view .mobile-profile-img .list-img-container{
     @include screenMax576{
         padding-top:0px !important;
    }
 } 
 .doctor-list-view .list-container .mobile-hospital-item ion-row ion-col ul .time{ 
     align-items:center;
     .time-txt{
         line-height:unset;
         span {
             color: #148de9;
            margin: 0 5px;
            text-decoration: underline;
            text-underline-position: under;
            cursor: pointer;
         }
     }
 }
 
     .no-data-found{
        margin: 0px auto;
        padding: 10px;
        text-align:center;
      }

 .doctor-list-view .list-container .list-content{
     padding-top:0px;
      .list-item .education{
         p{
             font-size:1.4rem;
         }
     }
   }
   .doctor-inner-view-leave .list-container
   {
       margin-top:5px;

       .item-inner
       {
           border-bottom: 0 none;
       }

    //    .checkbox-label.checkbox-position {
    //     position: absolute;
    //     left: -5px;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     .item-inner{
    //         padding: 0;
    //         border: transparent;
    //     }
    //  }
   }

    .doctor-inner 
    {
        margin-top:5px;

        ion-item {
            padding-left: 0;
        }
    }
  
  
    .todayTime{
        color: #148de9;
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
    }

//  .doctor-list-view .list-container .hospital-list-content{
//     padding-bottom:15px !important;
    
//     ul li{
//         align-items:center;
//     }
// }

.search-container.upcoming-appointment-search{
    padding: 0;
    background: #fff;
    // padding-bottom: 0px;

    .view-leave-custom-btn
    {
        padding:5px 5px 0;
    }

    .leave-desc ion-item ion-textarea{
        border-radius: 6px;
        border: 1px solid #2090e5;
        padding: 10px 0 10px 15px;
    }

    .leave-desc ion-item ion-textarea textarea {
        margin: 0!important;
        resize: none;
        height: 49px;
    }

    .leave-desc ion-item .item-inner {
        border-bottom: 0!important;
        -webkit-box-shadow: unset!important;
        box-shadow: unset!important;
        padding: 0!important;
    }

    .leave-desc .item-md
    {
        padding-left: 0;
    }

    .leave-desc ion-item ion-label {
        padding-left: 15px!important;
    }

    .city-dropdown-item{
        -webkit-box-shadow:none !important;
        box-shadow:none !important;
    }
    .calendar-container{
        padding: 5px 15px 5px 15px;
        align-items: center;
        
        @include screenMax576{
            padding:10px 15px;
        }
        
        @include screenMobileMax576{
            padding:10px 16px 10px 10px;
        }

    }
    .calendar-container-web{
        ion-label{
            padding: 10px 0 10px 5px;
        }
    }
    .calander-container-mobile{
            -webkit-box-align: start;
            align-items: flex-start;
            padding: 16px 20px 0px;
            align-items: center;
            .calendar-col-9{
                padding: 0 !important;
                >ion-row{
                align-items: center;                        
                }
            }
            .mobileCalendar{
                >button{
                    padding: 0 !important;
                    border: 1px solid #2090e4;
                    border-radius: 5px;
                    .button-inner{
                        border: transparent;
                    }
                }
            }
            ion-col[col-2]{
                align-items: center;
            }

            @media(min-width:576px)
                {
                    [col-sm-4] {
                        -webkit-box-flex: 0;
                        -webkit-flex: 0 0 33.33333%;
                        -ms-flex: 0 0 33.33333%;
                        flex: 0 0 41.33333%;
                        width: 41.33333%;
                        max-width: 41.33333%;
                    }
                }

                @media (min-width:576px) and (max-width:768px)
                {
                        padding: 16px 16px 0 !important;
                    
                }
    }
    
    .calendarCls{
        padding:0px; //affects in DR upcoming appointment
    }
    
    ion-col{
        padding: 0px;
        
        &:last-child.goBtn{
            margin:0px;
            a{
                margin:auto 0 auto auto;
                
                @include screenMin576{
                    margin:unset;
                }
            }
            
            @include screenMin576{
                padding-left:20px;
            }
        }
        
        p.ToText{
            text-align:center;
        }

       
        
    }
    .hospital-view-cancel{
        align-items: center;
        display: flex;
    }

    p-calendar.time-icon.time-input.close-time, p-calendar.time-icon.time-input.close-time{
        width: 100%;
        padding: 18px 40px 6px 0!important;
        border-bottom: 1px solid #dedede;
    }
    
    .time-icon.close-time {
        background-position: 97% 50%;
    }
    
    p-calendar.close-time .ui-calendar {
        display: block;
    }
    ion-col.holidya-item-center.holiday-center.col{
        justify-content: center;
        align-items: center;
    }
    
    


    .set-rows-mobile{
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding:15px 20px 10px;
        border-bottom: 1px solid #2090e4;
        >div {
            padding: 0!important;
        }
        ion-row ion-col ion-item {
            padding: 0;
            margin-top: 0;
            min-height: 38px;
        }
        .time-input{
            padding: 0 30px 0 0!important;
            border-bottom-width: 0;
            width: 100%;
        }
        .item-inner {
            padding: 0 0 0 5px!important;
        }
        
        .goBtn a:hover:not(.disable-hover){
                color: $whiteColor;
                background-color: $headerBgColor;
        }
        .formFieldsContainer .time-container ion-row{
            padding: 0;
        }

        .div-col-9{
            padding: 0 !important;
        }
    }
    // .set-rows-web{
    //     padding-bottom: 8px;
    //     border-bottom: 1px solid #2090e5;
    //     >.common-form-label {
    //         padding: 5px 0px 0px 15px;
    //     }
    // }

    .set-rows-web{
        padding: 0px 15px 8px 15px;
        border-bottom: 1px solid #2090e5;
        >.common-form-label {
            padding: 5px 0px 0px 5px;
        }
        
    }

    
   
}

.goBtn{
    display:flex;
    align-items:center;
    justify-content:end;
    margin-left: 20px;
     @include screenMax576{
         margin-left: 0px;	
         padding-right:0px;	
    }
    
    a{
        margin:unset;
        min-width:65px;
        border: 1px solid $blueBtnColor;
        background-color: transparent;
        color: $blueBtnColor;
         min-height:3.3rem;
         height:3.3rem;		
    }

    img{
        margin-left:10px;
    }
    @include screen360{
        min-width: 60px;
}



}  

    .error-msg-block {
    padding: 5px 0px 0px 15px;
    }

    .common-btn{

        background-color: #fff;
        color: #2090e5;
        text-align: center;
        height: 3.5rem;
        min-height: 3.3rem;
        font-size: 1.4rem;
        border-radius: 3px;
        text-transform: capitalize;
        max-width: 310px;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        margin: 0 auto;
        min-width: 70px;

    }
}
