page-hospital-admin-doctor-holiday-calendar {
    .scroll-content{
		@include screenMax767{
			padding-left:0px !important;
			padding-right:0px !important;
		}
	}
	.centered-content{
		padding:0px !important;
	}
	.common-page-container{
		@include screenMax480{
			padding:15px 0px;
			background-color:transparent;
			box-shadow:unset;
		}
	}
	.main-content{
		.doctor-list-view{
			li:first-child{
				margin-bottom:0px !important;
			}
		}
	}	
	
	.list-btn-container{
		ion-col:first-child{
			@include screenMax576{
				padding:0px !important;
			}
		}
    }
    .has-mobile-btn-footer.centered-content {
        .scroll-content{
            margin-bottom: 0;
        }
    }
}
