<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form  class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showBackButton]="fromPage == 'HSRoleOnboardPatient'" [backBtnLink]="backButtonUrl" [pageTitle]="'ASSOCIATED_DOCTORS'"></header-for-role-creation-form>
	<div class="search-container blank-search-container"></div>
</ion-header>

<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form  class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'ASSOCIATED_DOCTORS'"></header-for-role-creation-form>
		<div ion-item class="common-page-title">
			<ion-title class="page-sub-title">{{ 'ASSOCIATED_LABEL' | translate }}{{ 'DOCTORS_LIST_LABEL' | translate }}</ion-title>
			<!-- <a href="#/hospital-admin-doctor-list/hospital-admin" ion-button class="common-blue-btn">{{ 'ASSOCIATE_DOCTOR_LABEL' | translate }}</a> -->
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>

	<div class="main-content">
		<doctor-list-component [doctorList]="listOfDoctors" [isPatientSelected]="isPatientSelected" [isHospitalStaffAssociatedDoctors]="true" [hospitalId]=""></doctor-list-component>
		<div *ngIf="noDataFound" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && listOfDoctors && (listOfDoctors.length > 0)">
			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
		</div>
	</div>
	
	<footer class="mobile-view-footer"></footer>
</ion-content>

<!-- <div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb()">
	<a block href="#/hospital-admin-doctor-list/hospital-admin" ion-button class="common-blue-btn">{{ 'ASSOCIATE_DOCTOR_LABEL' | translate }}</a>
</div> -->