<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'MANAGE_ADMINS'" [showButton]="false" [showBackButton]="false"></header-for-role-creation-form>
</ion-header>

<ion-content class="hospital-list-content centered-content" padding [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'MANAGE_ADMINS'" [showButton]="false" [showBackButton]="false"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'MANAGE_ADMINS' | translate }}</ion-title>
			<a href="#/hospital-admin-create-admin/create/0" ion-button class="common-blue-btn">{{ 'CREATE_ADMIN' | translate }}</a>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content">
		<system-admin-list-component [systemAdmins]="systemAdmins" [from]="fromHospitalAdmin"></system-admin-list-component>
		<div *ngIf="systemAdmins && (!systemAdmins.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && systemAdmins && (systemAdmins.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div>
	</div>

	<footer class="mobile-view-footer"></footer>
</ion-content>

	<div ion-item class="footer-mobile-btn-container one-btn" *ngIf="!commonService.checkIsWeb()">
		<a block href="#/hospital-admin-create-admin/create/0" ion-button class="common-blue-btn">{{ 'CREATE_ADMIN' | translate }}</a>
	</div>