<ion-grid class="appointment-details-container">
  <ion-row>
    <ion-col col-12 col-sm-12 col-md-12 col-lg-6 class="appointment-hospital-info-container">
      <ion-title class="hospital-info-title dateTitle">{{date | date : 'd MMM yyyy'}}</ion-title>
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="appointment-hospital-info">
          <ion-row *ngIf="!fromHospitalAdminAppointmentVisitDetails">
            <ion-col col-3 col-sm-2 col-md-4 col-lg-4 class="profile-img">
              <!--  <img src="assets/imgs/hospital_default_image.png"> -->
              <a class="profile-img-responsive" *ngIf="details?.hospitalDetails?.imageBase64" [style.backgroundImage]="'url('+details?.hospitalDetails?.imageBase64+')'">
              </a>

              <a class="profile-img-responsive" *ngIf="!details?.hospitalDetails?.imageBase64" [style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'">
              </a>
            </ion-col>
            <ion-col col-9 col-sm-10 col-md-8 col-lg-8 class="appointments-info">
              <ul>
                <li class="hospital-name">{{details?.hospitalDetails?.name}}</li>
                <li class="ellipsesCls">{{ details?.visitType }}</li>
                <li *ngIf="commonService.checkIsWeb()">{{details?.noOfPatients}} Patients</li>
                <li *ngIf="commonService.checkIsWeb()">{{ details?.availabilityString }}</li>
                <li class="address" *ngIf="!commonService.checkIsWeb()">
                  <p>{{ details?.hospitalDetails?.address?.street }},
                    {{ details?.hospitalDetails?.address?.cityName }},
                    {{ details?.hospitalDetails?.address?.state }},
                    {{ details?.hospitalDetails?.address?.zipCode }}</p>
                  <span>
                    <img class="map" src="assets/imgs/map_icon.png" (click)="plotAddressOnMap(details?.hospitalDetails?.name,details?.hospitalDetails?.address)" />
                  </span>
                </li>
                <li *ngIf="!commonService.checkIsWeb()">
                  <span *ngIf="details?.noOfPatients">{{ details?.noOfPatients }} Patients |</span>
                  <span>{{ details?.availabilityString }}</span>
                </li>
              </ul>
            </ion-col>
          </ion-row>

          <ion-row class="web-view-dR-appointments-info" *ngIf="!fromHospitalAdminAppointmentVisitDetails">
            <ion-col col-12 class="appointments-info" *ngIf="commonService.checkIsWeb()">
              <ul>
                <li class="address web-address-section">
                  <p>{{ details?.hospitalDetails?.address?.street }},
                    {{ details?.hospitalDetails?.address?.cityName }},
                    {{ details?.hospitalDetails?.address?.state }},
                    {{ details?.hospitalDetails?.address?.zipCode }}</p>
                  <span>
                    <img class="map" src="assets/imgs/map_icon.png" (click)="plotAddressOnMap(details?.hospitalDetails?.name,details?.hospitalDetails?.address)" />
                  </span>
                </li>
                <li *ngIf="!commonService.checkIsWeb()">
                  <span *ngIf="details?.noOfPatients">{{ details?.noOfPatients }} Patients |</span>
                  <span>{{ details?.availabilityString }}</span>
                </li>
              </ul>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="fromHospitalAdminAppointmentVisitDetails">
            <ion-col col-3 col-sm-2 col-md-4 col-lg-4 class="profile-img">
              <!--  <img src="assets/imgs/hospital_default_image.png"> -->
              <a class="profile-img-responsive" *ngIf="details?.doctorsDetails?.imageBase64" [style.backgroundImage]="'url('+details?.doctorsDetails?.imageBase64+')'">
              </a>

              <a class="profile-img-responsive" *ngIf="!details?.doctorsDetails?.imageBase64" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'">
              </a>
            </ion-col>
            <ion-col col-9 col-sm-10 col-md-8 col-lg-8 class="appointments-info">
              <ul>
                <li>{{details?.doctorsDetails?.firstName}} {{details?.doctorsDetails?.lastName}}</li>
                <li><span *ngFor="let edu of details?.doctorsDetails?.educationList; last as isLast">{{edu.name}}<span
                      *ngIf="!isLast" style="margin-right: 5px;">,</span></span></li>
                <li><span *ngFor="let specialization of details?.doctorsDetails?.specializationList; last as isLast">{{specialization.name}}<span
                      *ngIf="!isLast" style="margin-right: 5px;">,</span></span></li>
                <li>{{details?.doctorsDetails?.yearsOfExp}} {{ 'YEAR_OF_EXP_LABEL' | translate }}</li>
              </ul>
            </ion-col>
          </ion-row>
          <!-- <ion-row class="hospital-address" *ngIf="!fromHospitalAdminAppointmentVisitDetails">
                  <ion-col col-10 col-sm-10 col-md-10 col-lg-10 class="address">
                    <p class="hospital-address">{{ details?.hospitalDetails?.address?.street }}, {{ details?.hospitalDetails?.address?.cityName }}, {{ details?.hospitalDetails?.address?.state }}, {{ details?.hospitalDetails?.address?.zipCode }}</p>
                  </ion-col>
                  <ion-col col-2 col-sm-2 col-md-2 col-lg-2 class="map">
                    <img src="assets/imgs/map_icon.png" (click)="plotAddressOnMap(details?.hospitalDetails?.name,details?.hospitalDetails?.address)" />
                  </ion-col> 
              </ion-row>-->
          <ion-row class="doctor-appointment-details-container" *ngIf="fromHospitalAdminAppointmentVisitDetails && commonService.checkIsWeb()">
            <ion-col col-4 col-sm-4 col-md-4 col-lg-4 class="doctor-appointment-details-labels">
              <p>{{ 'APPOINTMENT_TYPE' | translate }}:</p>
              <p>{{ 'TIME_LABEL' | translate }}:</p>
              <p>{{ 'FEES_TEXT' | translate }}:</p>
            </ion-col>
            <ion-col col-8 col-sm-8 col-md-8 col-lg-8 class="doctor-appointment-details" *ngIf="fromHospitalAdminAppointmentVisitDetails">
              <p class="ellipsesCls">{{ details?.visitType }}</p>
              <p>{{ details?.availabilityString }}</p>
              <p>{{details?.fees | currency:"INR":true:'1.0-0'}}/-</p>
            </ion-col>
          </ion-row>
          <ion-row class="doctor-appointment-details-container mobile-row" *ngIf="fromHospitalAdminAppointmentVisitDetails && !commonService.checkIsWeb()">
            <ion-col col-4>
              <span>{{ 'FEES_TEXT' | translate }} - {{details?.fees | currency:"INR":true:'1.0-0'}}/-</span>
            </ion-col>
            <ion-col col-3>
              <span *ngIf="details?.noOfPatients">{{ details?.noOfPatients }} Patients </span>
            </ion-col>
            <ion-col col-5>
              <span style="border-right: none;">{{ details?.availabilityString }}</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-12 col-sm-12 col-md-12 col-lg-6 class="todays-patient-details-container">
      <ion-title class="patient-info-title todayPatientsLabel">{{ 'PATIENTS_LIST' | translate }}</ion-title>
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="todays-patient-details" *ngFor="let user of appointmentInfo">
          <div class="patient-name">{{user?.patientName}}</div>
          <div class="timing-details">
            <span>{{user?.patientContactNumber}}</span>
            <span>{{ 'TIME_LABEL' | translate }} - {{user?.fromTimeStr}} </span>
          </div>
          <div class="patient-report-img-container">
            <!--    <div class="upload-sub-images" *ngFor="let img of user?.imgArr let i = index;" [hidden]="!img?.file" >
					<img [src]="img?.file"/>
				  </div> -->

            <div class="upload-sub-images" *ngFor="let img of user?.imgArr let i = index;" [hidden]="!img?.file">
              <div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url('+ img?.file +')'"></div>
            </div>
          </div>
          <div text-right class="btns-container" *ngIf="fromUpcomingAppointment">
            <a href="#/confirm-booking-step2/DoctorRoleUpdateVisitDetails/{{user?.appointmentId}}" ion-button class="common-blue-btn activate-btn">{{
              'UPDATE_BTN_LABEL' | translate }}</a>
            <a (click)="openCancelAppointmentConfirmPopup(user?.appointmentId)" ion-button class="common-blue-btn activate-btn">{{
              'CANCEL_BTN_LABEL' | translate }}</a>
            <!-- <button (click)="comingSoonPopup()" ion-button class="common-blue-btn activate-btn">{{ 'VISITED_BTN_LABEL' | translate }}</button> -->
          </div>
          <div text-right class="btns-container" *ngIf="fromAppointmentHistory">
            <!-- <a href="#/booking-step1/{{details?.doctorsDetails?.doctorId}}/doctorRoleAppointmentHistoryVisitDetailsBookAgain/0" ion-button class="common-blue-btn">{{ 'BOOK_AGAIN_LABEL' | translate }}</a> -->
            <a (click)="onClickBookAppointment('doctorRoleAppointmentHistoryVisitDetailsBookAgain','bookStep1',0,details?.doctorsDetails?.doctorId)" href="{{bookingUrl}}" ion-button class="common-blue-btn">{{ 'BOOK_AGAIN_LABEL' | translate }}</a>

          </div>
          <div text-right class="btns-container" *ngIf="fromHospitalAdminAppointmentVisitDetails">
            <a href="#/confirm-booking-step2/HAUpdateVisitDetails/{{user?.appointmentId}}" ion-button class="common-blue-btn activate-btn">{{
              'UPDATE_BTN_LABEL' | translate }}</a>
            <a (click)="openCancelAppointmentConfirmPopup(user?.appointmentId)" ion-button class="common-blue-btn activate-btn">{{
              'CANCEL_BTN_LABEL' | translate }}</a>
            <!-- <a (click)="comingSoonPopup()" ion-button class="common-blue-btn activate-btn">{{ 'VISITED_BTN_LABEL' | translate }}</a> -->
          </div>
        </ion-col>
        <div *ngIf="noDataFound" class="no-data-found">{{ 'NO_DATA_FOUND' | translate}}</div>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-grid>