page-appointment-details {
    ion-col, ion-grid{
        padding:0px !important;
    }
   
   .dateTitle{
   		padding-left:15px;
  	 }
  	
  	.mobile-row{
  		font-size: 12px;
  	}
  .no-data-found{
    margin: 0px auto;
    padding: 10px;
  }
  
    .appointment-details-container{
    	.todayPatientsLabel{
				text-align:center;
        	}
        .hospital-info-title,
        .patient-info-title{
            .toolbar-title{
                font-size: 1.6rem;
                font-weight:400;
                color: $blackColor;
                margin: 10px 0;
                padding:0px;
            }
            .toolbar-title-ios{
                text-align:left;
            }
        } //end of title

        .appointment-hospital-info,
        .todays-patient-details-container > ion-row{
            background: $whiteColor;
		    border:1px solid #cadce8;
        }

        .appointment-hospital-info-container{
            padding-right:10px !important;
            
            @include screen991{
                padding:0px !important;
            }
            .appointment-hospital-info{
                padding:20px !important;
                .profile-img{
                    padding-right:10px !important;
                    a{
                        border-radius:6px;
                        border:1px solid $timeLinkBlueColor;
                    }
                }
                .appointments-info{
                    padding-left:10px !important;
                    ul{
                        margin:0px;
                        padding:0px;

                        li{
                            list-style: none;
                            margin-bottom: 10px;
                            font-size: 1.4rem;
                            color: $listItemContentColor;
                            &:first-child.hospital-name{
                                font-size: 1.5rem;
                                font-weight:400;
                                color: $blackColor;
                            }
                           .map{
	                    		display: inline-flex;
	               			 	align-items: center;
	                    		justify-content: flex-end;
	                    		float:right;
	                    		border-left:1px solid $borderColor;
	                    		padding-left:20px;
            				}
                        }
                        .address{
                        	width:100%;
                    		display:flex;
                    		align-items:flex-start;
                        	p{
                        		width:70%;
                        		margin:0px;
                        	}
                        	span{
                        		width:27%;
                        		display:flex;
                        		align-items:center;
                        		justify-content:flex-end;
                        	}
                        }
                    }
                } //end of appointments-info

            } // end of appointment-hospital-info

            .hospital-address{
                font-size: 1.4rem;
                color: $listItemContentColor;
                margin-top:15px;
                .address p{
                    margin:0px;
                    padding-right:10px;
                }
            
            } //end of hospital-address

            .doctor-appointment-details-container{
                margin-top:10px;
                ion-col{
                	span{
                	 @include screenMax576{
                		border-right: 1px solid #e3e3e3;
    					padding-right: 10px;
    					font-size: 1.3rem;
						}
                	}	
                
                }
                .doctor-appointment-details-labels,
                .doctor-appointment-details{
                    p{
                        margin:0px;
                        font-size:1.4rem;
                        margin-bottom:10px;

                        &:last-child{
                            margin-bottom:0px;
                        }
                    }
                }
                .doctor-appointment-details-labels{
                    color: $blackColor;
                }
                .doctor-appointment-details{
                    color: $listItemContentColor;
                    padding-left:10px !important;
                }
            }
        
        } //end of appointment-hospital-info-container

        .todays-patient-details-container{
            padding-left:10px !important;
            @include ipad-portrait{
                padding-left:0px !important;
                padding-right:10px !important;
                margin-top:10px;
            }
            @include screen991{
                padding:0px !important;
                 margin-top:10px;
            }
             @include screenMax576{
                 margin-top:0px;
            }
            .todays-patient-details{
                padding:20px 20px 0px 20px !important;
                .patient-name{
                    font-size: 1.6rem;
                    font-weight:400;
                    color: $blackColor;
                }
                .timing-details{
                    display:flex;
                    align-items: center;
                    margin:10px 0px 10px;
                    span{
                        font-size: 1.4rem;
                        color: $listItemContentColor;
                        &:first-child{
                            padding-right:10px;
                        }
                        &:nth-child(2){
                            padding:0px 10px;
                            border-left:1px solid $borderColor;
                        }
                        &:nth-child(3){
                            background: $bgColor;
                            box-shadow: unset;
                            width:unset;
                            padding: 3px 10px;
                            border:1px solid #cadce8;
                            border-radius:6px;
                            img{
                                vertical-align: middle;
                            }
                        }
                    }
                } //end of timing-details

                .patient-report-img-container{
                    > div{
                        width:70px;
                        height:70px;
                        display: inline-flex;
                       // margin-right:10px;
                        margin: 10px 10px 0px 0px;
                        align-items: center;
                        justify-content: center;
                        border:1px solid $timeLinkBlueColor;
                        &:last-child{
                            margin:0px;
                        }
                    }
                } //end of patient-report-img-container

                .btns-container{
                    padding: 10px 0px 20px 0px;
                    border-bottom:1px solid $borderColor;
                    a{
                        margin-left:10px;
                      @include screenMax576{
                            font-size: 12px;
                    	}
                        &:first-child{
                            margin:0px;
                        }
                    }
                } //end of btns-container

                &:last-child{
                    .btns-container{
                        border:0px;
                    }
                }
            } //end of todays-patient-details

        } //end of todays-patient-details-container

    } //end of appointment-details-container

} //end of page-appointment-details 

	page-appointment-details 
	.appointment-details-container 
	.appointment-hospital-info-container 
	.appointment-hospital-info 
	.appointments-info ul 
	li.web-address-section{
		margin-bottom:0px;
	}