<ion-content padding class="lsf-bg">
   <div class="login-container">
       <div class="logo-container">
           <div class="logo"><span>Logo</span></div>
       </div>
       <div class="form-container">
           <form novalidate [formGroup]="loginForm">
               <ion-list>
                   <ion-item detail-none class="screen-title-item">
                       {{ 'LOGIN_TITLE' | translate }}
                   </ion-item>
                      <ion-item class="identifier-item">
                        <ion-icon item-left class="person-icon"></ion-icon>
                        <ion-label floating>{{ 'UME_LABEL' | translate }}</ion-label> 
                           <ion-input clearOnEdit="false" name="loginIdentifier" [(ngModel)]="loginData.loginIdentifier" formControlName="loginIdentifier" autocomplete="off" autocorrect="off" required></ion-input>
                      </ion-item>
                      <div class="text-left" [ngClass]="{'error-msg-block': emailErrorFlag}" *ngIf="emailErrorFlag">
                       <small class="text-danger">{{ 'Error_MSG_BLANK_FORGOT_PASSWORD' | translate }}</small>    
	                   </div>
	                   <div class="text-left"  [ngClass]="{'error-msg-block': loginForm.controls.loginIdentifier.hasError('required') && formSubmitted}">
                           <small *ngIf="loginForm.controls.loginIdentifier.hasError('required') && formSubmitted" class="text-danger">{{ 'Error_MSG_BLANK_FORGOT_PASSWORD' | translate }}</small>    
                        </div>
                      <ion-item detail-none class="password-item">
                        <ion-icon item-left class="icon-class key-icon"></ion-icon>
                        <ion-label floating>{{ 'PASSWORD_LABEL' | translate }}</ion-label> 
                           <ion-input clearOnEdit="false" name="password" [(ngModel)]="loginData.password" formControlName="Password" [type]="inputType" autocomplete="off" autocorrect="off" required></ion-input>
                           <ion-icon [ngClass]="{'icon-class': true, 'eye-off-icon': (passwordEyeIcon == 'eye-icon'), 'eye-icon': (passwordEyeIcon == 'eye-off-icon')}" item-end (click)="showPasswordToggle()"></ion-icon>
                      </ion-item>
                      <div class="text-left" [ngClass]="{'error-msg-block': passwordErrorFlag}" *ngIf="passwordErrorFlag">
                       		<small class="text-danger">{{ 'Error_MSG_BLANK_PASSWORD' | translate }}</small>    
	                   </div>
	                   <div class="text-left" [ngClass]="{'error-msg-block': loginForm.controls.Password.hasError('required') && formSubmitted}" >
                        	<small  *ngIf="loginForm.controls.Password.hasError('required') && formSubmitted" class="text-danger">{{ 'Error_MSG_BLANK_PASSWORD' | translate }}</small>    
                        </div>
                      <ion-item detail-none class="forgot-password-item">
                          <a href="#/forgot-password" class="linkToScreen" item-end >{{ 'LOGIN_FORM_FORGOT_PASS_LABEL' | translate }}</a> <!-- href="#/forgot-password" -->
                      </ion-item>
               </ion-list>
               <div class="login-btn-container">
                   <button (click)="doLogin(loginForm)" block ion-button class="common-blue-btn login-btn">{{ 'LOGIN_TITLE' | translate }}</button>
                   <div class="signup-link-container">
                       {{ 'LOGIN_SIGN_UP_MSG' | translate }} <a href="#/sign-up" class="linkToScreen">{{ 'SIGN_UP_TITLE' | translate }}</a> <!-- href="#/sign-up" -->
                   </div>
               </div>
           </form>
       </div>
   </div>
   <div class="skip-container">
       <a class="linkToScreen" (click)="skipNProceed()">{{ 'LOGIN_SKIP_BTN_LABEL' | translate }}</a>
   </div>
</ion-content>
