page-login {
	.scroll-content{
		padding-top:0px !important;
	}
	.login-container{
		//height: 90%;
		.logo-container{
			padding:40px 0px 30px 0px;
			//height: 30%;
			//position: relative;
			.logo{
				position: relative;
				margin:0px auto;
				//@include commonTransform(translate(-50%,-50%));
				//top: 50%;
				//left: 50%;
				width: 82px;
				height: 82px;
				background-color: #3683c9;//$secondaryColor;
				@include borderRadius(50%);
				span{
					position: absolute;
					@include commonTransform(translate(-50%,-50%));
					top: 50%;
					left: 50%;
					color: $whiteColor;
					text-transform:uppercase;
					font-size: 2rem;
				}
			}
		}
		.form-container{
			//height: 65%;
			position: relative;
			ion-list.list{
			    max-width: 480px;
			    margin: 0 auto;
			    margin-bottom: 40px;
			    ion-item.item{
			    	padding-left: 0;
			    	background-color: transparent;
			    	min-height:3.6rem;
			    	font-size: 1.4rem;
			    	.text-input{
			    		margin: 8px 15px;
			    	}
			    	.label{
			    		@include screenMax576{
			    			color:#848e94;
			    		}
			    	}
			    	.label, .icon {
			    		margin:0;
			    	}
			    }
			}
			.list-ios > .item-block:first-child, .list-ios > .item-block:last-child {
			    border: 0px !important;
			}
			ion-list.list{
				ion-item.item.screen-title-item{
					margin-bottom: 45px;
					font-size: 1.8rem;
					color: $registerScreensTitleColor;
					.item-inner{
						border-width: 0;
						padding-right: 0 !important;
						
						.label{
							margin-right:0px;
						}
					}
				}
			}
			.password-item{
				margin-top:20px;
				ion-icon{
					cursor: pointer;
				}
			}
			.identifier-item,.password-item{
				border-bottom:1px solid #dedede;
				
				ion-icon{
					margin-top:18px !important;
				}
				.item-inner{
					box-shadow:unset !important;
					border:0px !important;
					margin:0px;
				}
			} 
			.forgot-password-item{
				.item-inner{
					padding-right: 0 !important;
					a.linkToScreen{
						margin-right: 0;
						margin-top:0;
						color:$linkTextColor;
						font-weight: normal;
						font-size: 1.4rem;
						opacity:1;
						&:hover{
							opacity:0.8;
						}
					}
				}
			}
			.login-btn-container{
				.login-btn{
     				max-width: 310px;
					box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0px rgba(0, 0, 0, 0.12);
					span{
						font-weight:600;
					}
				}
			}
			.signup-link-container{
				margin-top: 16px;
			    min-height: 3rem;
			    display: flex;
			    align-items: center;
			    font-size: 1.4rem;
			    color: $textGreyColor;
			    justify-content: center;
			    opacity:1;
			    a.linkToScreen{
			    	margin-left: 5px;
			    	text-decoration:underline;
			    	color:$linkTextColor;
			    	font-size: 1.4rem;
			    }
			}
		   
		   .error-msg-block{
	 			padding: 5px 0px 10px 38px;
		   }
		}
	}
 	.skip-container{
    	//position: absolute;
    	//bottom: 20px;
    	//left: 0;
		//right: 0;
		margin-top:50px;
    	font-size: 1.4rem;
    	text-align: center;
    	@include screenMax480{
	    	margin-top: 60px;
	    }
    	.linkToScreen{
	    	text-decoration:underline;
	    	color:$linkTextColor;
	    	font-size: 1.4rem;
	    }
    }
}
.list-ios > .item-block:first-child {
    border-top:0px;
}
