<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form *ngIf="doctorData && doctorData?.firstName && doctorData?.imageBase64 && redirectParam != 'PRHospitalProfileDLProfile'"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName" [backBtnLink]="'#/patient-role-home/0'" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'" [showDrImg]="true" [drImgPath]="doctorData.imageBase64"></header-for-role-creation-form>	
	<header-for-role-creation-form  *ngIf="doctorData && !doctorData?.imageBase64 && redirectParam != 'PRHospitalProfileDLProfile'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName" [backBtnLink]="'#/patient-role-home/0'" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'" [showDrImg]="true" [drImgPath]="'assets/imgs/default_profile.png'"></header-for-role-creation-form>
	<header-for-role-creation-form  *ngIf="doctorData && doctorData?.imageBase64 && redirectParam == 'PRHospitalProfileDLProfile'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName" [backBtnLink]="'#/patient-role-home/0'" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'" [showDrImg]="false"></header-for-role-creation-form>
	<header-for-role-creation-form  *ngIf="doctorData && !doctorData?.imageBase64 && redirectParam == 'PRHospitalProfileDLProfile'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName" [backBtnLink]="'#/patient-role-home/0'" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'" [showDrImg]="false"></header-for-role-creation-form>
	
	
	<div menuClose ion-item class="common-page-title"  *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{ 'PROFILE_TITLE' | translate }}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>	
</ion-header>

<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData.firstName +' '+ doctorData.lastName" [backBtnLink]="'#/patient-role-home/0'" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>	
		<div menuClose ion-item class="common-page-title"  *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'PROFILE_TITLE' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>	
	</ion-header>

	<div class="main-content">
	<ion-grid class="doctor-list-view" *ngIf="!commonService.checkIsWeb()">
	  		<ion-row class="list-container mobile-profile-img">
	  			<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
	  				<div class="mobile-doc-image">
	  					<a class="profile-img-responsive" *ngIf="doctorData && !doctorData?.imageBase64" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'">
			  			</a>
			  			<a class="profile-img-responsive" *ngIf="doctorData && doctorData?.imageBase64" [style.backgroundImage]="'url('+doctorData.imageBase64+')'"  >
			  			</a>
			  			<div text-center class="rating"><img src="assets/imgs/doctors_rating.svg">{{ doctorData?.avgRating }}%</div>
	  				</div>
	  			</ion-col>
	  			<ion-col col-9 col-xs-12 col-sm-6 col-md-9 col-lg-5 class="list-content">
		  				<ul class="list-item">
		  					<li class="education" *ngIf = "doctorData && doctorData.educationList && doctorData.educationList.length > 0">
		  						<img  class="mIconSmall" src="assets/imgs/doctors_education_white.svg">
		  						<p style="display: inline-block;"><span *ngFor="let edu of doctorData.educationList; last as isLast">{{edu.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span></span></p>
		  					</li>
		  					<li *ngIf ="doctorData && doctorData.specializationList && doctorData.specializationList.length > 0">
		  						<img  class="mIconSmall" src="assets/imgs/doctors_specialisation_white.svg">
		  						<p style="display: inline-block;"><span *ngFor="let spec of doctorData.specializationList; last as isLast">{{spec.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
		  					</li>
		  					<li>
		  						<img  class="mIconSmall"  src="assets/imgs/doctors_experience_white.svg">
		  						<p>{{ doctorData.yearsOfExp }} {{ 'YEAR_OF_EXP_LABEL' | translate }}</p>
		  					</li>
		  				</ul>
					</ion-col>
		  	</ion-row>
		</ion-grid>
		<!---------------------------------web view  --------------------------------->
		<ion-grid class="doctor-list-view" *ngIf="commonService.checkIsWeb()">
	  		<ion-row class="list-container">
	  			<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
	  				<div>
	  					<a class="profile-img-responsive" *ngIf="doctorData && !doctorData?.imageBase64" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'">
			  			</a>
			  			<a class="profile-img-responsive" *ngIf="doctorData && doctorData?.imageBase64" [style.backgroundImage]="'url('+doctorData.imageBase64+')'"  >
			  			</a>
			  			<div text-center class="rating"><img src="assets/imgs/doctors_rating.png">{{ doctorData?.avgRating }}%</div>
	  				</div>
	  			</ion-col>
	  			<ion-col col-9 col-xs-12 col-sm-6 col-md-9 col-lg-5 class="list-content">
		  				<ul class="list-item">
		  					<li>
	 							<p class="name-container">
									<a>
	 									<span>{{ 'DOCTOR_PREFIX' | translate }}</span> {{ doctorData.firstName }} {{ doctorData.lastName }}
									</a>
								</p>
		  					</li>
		  					<li *ngIf = "doctorData && doctorData.educationList && doctorData.educationList.length > 0">
		  						<img class="mIconSmall" src="assets/imgs/doctors_education.svg">
		  						<p style="display: inline-block;"><span *ngFor="let edu of doctorData.educationList; last as isLast">{{edu.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span></span></p>
		  					</li>
		  					<li *ngIf ="doctorData && doctorData.specializationList && doctorData.specializationList.length > 0">
		  						<img class="mIconSmall" src="assets/imgs/doctors_specialisation.svg">
		  						<p style="display: inline-block;"><span *ngFor="let spec of doctorData.specializationList; last as isLast">{{spec.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
		  					</li>
		  					<li>
		  						<img src="assets/imgs/doctors_experience.svg">
		  						<p>{{ doctorData.yearsOfExp }} {{ 'YEAR_OF_EXP_LABEL' | translate }}</p>
		  					</li>
		  					<li class="bookingBtnLi">
	  							<a *ngIf="!isSkipAndExplore" href="#/booking-step1/{{doctorData.doctorId}}/patientHome/0" block ion-button class="booking-btn editBtn">{{ 'BOOK_APPOINTMENT_TITLE' | translate }}</a>
	  							<a *ngIf="isSkipAndExplore" (click)="showGoToLoginPopup()" block ion-button class="booking-btn editBtn">{{ 'BOOK_APPOINTMENT_TITLE' | translate }}</a>
		  					</li>
		  				</ul>
					</ion-col>
		  	</ion-row>
		</ion-grid>
		<div class="segment segment-mobile doctor-segment">
			<div class="segment-container doctor-profile-segment">
	            <ion-segment [(ngModel)]="currentSegment">
	                <ion-segment-button value="hospitalInfo" (click)="hospitalListClick()" [disabled]="redirectParam == 'PRHospitalProfileDLProfile'">
	                  {{ 'HOSPITALS_TXT' | translate }}
	                </ion-segment-button>
	                <ion-segment-button value="otherInfo" (click)="otherInfoClick()">
	                  {{ 'OTHER_INFO_TXT' | translate }}
	                </ion-segment-button>
	            </ion-segment>
	        </div>
		</div>
		<ion-grid class="doctor-list-view">
		<div *ngIf="currentSegment == 'hospitalInfo' && redirectParam == 'PRHomeDoctorProfile'">
			<ion-row class="list-container" *ngFor="let hospital of hospitals">
				<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container mobile-doctor-profile-list-img">
 					<div>
  						<a class="profile-img-responsive" *ngIf="!hospital.hospitalDetails?.imageBase64" href="#/patient-role-hospital-profile/{{hospital.hospitalDetails?.hospitalId}}/PRDoctorProfileHLProfile" [style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'"></a>
  						<a class="profile-img-responsive" *ngIf="hospital.hospitalDetails?.imageBase64" href="#/patient-role-hospital-profile/{{hospital.hospitalDetails?.hospitalId}}/PRDoctorProfileHLProfile" [style.backgroundImage]="'url('+hospital.hospitalDetails?.imageBase64+')'"></a>
  						<div text-center class="rating"><img src="assets/imgs/star.svg"> {{hospital.hospitalDetails.avgRating}}</div>
 					</div>
 				</ion-col>
 				<ion-col col-9 col-xs-12 col-sm-10 col-md-9 col-lg-10 class="list-content hospital-list-content">
	  				<ul>
	  					<li>
	  						<p class="name-container"><a>{{hospital.hospitalDetails?.name}}</a></p>
	  					</li>
	  					<li class="location">
	  						<img class="mIconSmall" src="assets/imgs/location.svg">
	  						<p class="hospital-address">{{hospital.hospitalDetails.address.street}}, {{hospital.hospitalDetails.address.cityName}}
	  							{{hospital.hospitalDetails.address.state}} , {{hospital.hospitalDetails.address.zipCode}}
	  						</p>
	  						<span (click)="plotAddressOnMap(hospital.hospitalDetails)"><img src="assets/imgs/map_icon.png" /></span>
	  					</li>
	  					<li *ngIf="hospital.hospitalDetails.specializationList.length > 0">
	  						<img  class="mIconSmall" src="assets/imgs/doctors_specialisation.svg">
	  						<p style="display: inline-block;"><span *ngFor="let item of hospital.hospitalDetails.specializationList; last as isLast">{{item.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
						</li>
	  					<li class="time">
	  						<img class="mIconSmall" src="assets/imgs/time.svg">
	  					    <p class="time-txt">{{ 'TODAY_TEXT' | translate }} - &nbsp;<span (click)="openTimingDetails(hospital)" class="todayTime">{{hospital.todaysAvailabilityString}}</span></p>
						</li>
	  				</ul>
	  			</ion-col>
	  			<!-- <ion-col col-12 class="mobile-hospital-item" *ngIf="!commonService.checkIsWeb()">
       				<ion-row>
		  				<ion-col col-12 col-sm-12 col-md-12 col-lg-12>
		  					<ul>
		  						<li class="time">
			  						<img src="assets/imgs/time.svg">
			  					    <p class="time-txt">{{ 'TODAY_TEXT' | translate }} - <span (click)="openTimingDetails(hospital)">{{hospital.todaysAvailabilityString}}</span></p>
								</li>
		  					</ul>
		  				</ion-col>
		  			</ion-row>
       			</ion-col> -->
 			</ion-row>
 				<div *ngIf="hospitals && hospitals.length == 0">{{ 'NO_DATA_FOUND' | translate }}</div>
 			</div>
 			
 			<div *ngIf="currentSegment == 'otherInfo'">
 				<ion-row *ngIf="doctorData && doctorData.specializationList && doctorData.specializationList.length > 0">
					<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock" >
		 				<p><img src="assets/imgs/speciality_icon.svg"><span>{{ 'SPECIALITY_LABEL' | translate }}</span></p>
						<div class="infoContent">
							<ion-row>
								<ion-col col-6 col-sm-6 *ngFor="let speciality of doctorSpecialities; let index=index" class="sp-cls" [class.odd] = "index%2">
									<p>{{speciality.name}}</p>
								</ion-col>
								<span (click)="hideMore('speciality')" class="view-more-label" *ngIf="viewMoreSpFlag">{{ 'VIEW_MORE_LABEL' | translate }}</span>
								<span (click)="hideLess('speciality')" class="view-more-label" *ngIf="!viewMoreSpFlag && !lessThen3Sp">{{ 'VIEW_LESS_LABEL' | translate }}</span>
							</ion-row>
						</div>
					</ion-col>
				</ion-row>
				<ion-row *ngIf="doctorData && doctorData.serviceList && doctorData.serviceList.length > 0" >
					<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
		 				<p><img src="assets/imgs/services_icon.svg"><span>{{ 'SERVICES_LABEL' | translate }}</span></p>
						<div class="infoContent">
							<ion-row>
								<ion-col col-6 col-sm-6 *ngFor="let service of doctorServices; let index=index" class="sp-cls" [class.odd] = "index%2">
									<p>{{service.name}}</p>
								</ion-col>
								<span (click)="hideMore('services')" class="view-more-label" *ngIf="viewMoreServiceFlag">{{ 'VIEW_MORE_LABEL' | translate }}</span>
								<span (click)="hideLess('services')" class="view-more-label" *ngIf="!viewMoreServiceFlag && !lessThen3Service">{{ 'VIEW_LESS_LABEL' | translate }}</span>
							</ion-row>
						</div>
					</ion-col>
	 			</ion-row>
	 			<ion-row *ngIf="feedbackData && feedbackData.length > 0">
	 				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
		 				<p><img src="assets/imgs/feedback_icon.svg"><span>{{ 'FEEDBACK_LABEL' | translate }}</span></p>
			 			<div class="infoContent" *ngFor="let item of feedbackData">
							<ion-row >
								<ion-col col-12>
									<span class="feedback-name">
										{{ item?.feedbackSenderName }} <!-- bind patient name -->
									</span>
									<span class="right-content">
										<span class="timeCls">
										{{ item?.feedbackCreatedAt}}
										</span>
										<span class="ratingCls">
											<img src="assets/imgs/star.png"> {{ item.doctorFeedbackRatingPoints }} <!-- bind patient rating in stars -->
										</span>
									</span> 
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-12>
								{{ item?.doctorFeedbackComments }}
								</ion-col>
							</ion-row>
						</div>
					</ion-col>
	 			</ion-row>
	 			<div class="no-data-found" *ngIf="(feedbackData && feedbackData.length == 0) && (doctorData && doctorData.specializationList && doctorData.specializationList.length == 0) && (doctorData && doctorData.serviceList && doctorData.serviceList.length == 0)">{{ 'NO_DATA_FOUND' | translate }}</div>
 			</div>
		</ion-grid>
	</div>

	<footer class="mobile-view-footer"></footer>
</ion-content>
	<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb()">
		<a *ngIf="!isSkipAndExplore" href="#/booking-step1/{{doctorData.doctorId}}/patientDoctorProfile/0" block ion-button class="common-blue-btn">{{ 'BOOK_APPOINTMENT_TITLE' | translate }}</a>	
		<a *ngIf="isSkipAndExplore" (click)="showGoToLoginPopup()" block ion-button class="common-blue-btn">{{ 'BOOK_APPOINTMENT_TITLE' | translate }}</a>	
	</div>

