page-patient-role-doctor-profile {
	.main-content {
		@include screenMax576{
			padding-top: 0px !important;
		}
	    
	}
	.doctor-list-view{
        @extend .list-view;
        .list-container ul li img{
            margin-top:0px;
		}
       .list-btn-col{
			padding-left:0px !important;
			padding-right:0px !important;
			background-color: transparent !important;
			.list-btns{
				display: flex;
				align-items: center;
				justify-content:center;
				padding-right:13px !important;
				height:100%;
				border-left:1px solid $borderColor;
				.deactivate-btn{
					color: rgb(252, 50, 50);
					border: 1px solid rgb(252, 50, 50);
					background: transparent;
				}
			}
		}
	.list-btn-container{
		.time{
				img{
					margin-top:2px;
				}
			}
		}
    }
    .bookingBtnLi{
    	padding-top: 5px;
    	.booking-btn{
			background-color: #2090e5;
		    color: #fff;
		    height: 3.5rem;
		    min-height: 3.3rem;
		    font-size: 1.4rem;
		    border-radius: 3px;
		    text-transform: capitalize;
		    max-width: 200px;
		    -webkit-box-shadow: unset;
		    box-shadow: unset;
		    min-width: 100px;
		}
    }
   
   .list-content{
		padding-right:0px;
		ul{
			li{
				display: flex;
				align-items: start;
				@include screenMax576{
					padding-top:8px;
					align-items: center;
					&:first-child{
						padding-top:0px;
					}
				}
				p.hospital-address{
					@extend .text-ellipsis;
				}
				p.name-container a{
					white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				}
			}
			.location{
				width:100%;
				p{
					width:88%;
					padding-right:13px;
				}
				span{
					padding-left:13px;
					border-left:1px solid $borderColor;
					display: inline-grid;
					@extend .hand-pointer;
					img{
						margin:0px;
					}
				}
			}
		}
	}
	.rating{
		border-top:1px solid $timeLinkBlueColor;
	}
	.infoBlock{
		@include screenMax767{
			padding:8px 0px !important;
			p span{
				font-size:1.6rem;
			}
		}
		
		> p{
			@include screenMax767{
				padding-left:20px !important;
			}
		}
		.view-more-label{
			color: $timeLinkBlueColor;
			font-size: 1.5rem;
			cursor: pointer;
			width: 100%;
			text-align: right;
		}
		p{
			margin:0px;
			display:flex;
			align-items:center;
			color: $blockHeadingColor;
			font-size:1.7rem;
			span{
				padding-left:20px;
			}
		}
		.infoContent{
			background-color:$whiteColor;
			margin-top:12px;
			padding:10px 5px;
			color: $listItemContentColor;
			font-size:1.5rem;
			border:1px solid $borderColor;
			p{
				margin-bottom:10px;
				color: $listItemContentColor;
				font-size:1.5rem;
				&:last-child{
					margin:0px;
				}
			}
			
			@include screenMax576{
				margin-top:5px;
				p{
					font-size:1.4rem;
				}
			}
		}
		
		&:first-child{
			.infoContent{
				padding-left:20px;
			}
		}
		.odd{
			border-left: 1px solid rgb(213, 213, 213);
			padding-left: 20px !important;
			margin-top: 0px !important;
			@include screenMax767{
				//border-left: 0px solid rgb(213, 213, 213);
				//padding-left: 0px !important;
			}
		}
		.sp-cls{
			margin-bottom: 0px;
			padding: 5px 0 5px 0px;
		}
		.right-content{
			float: right;	
		}
		.feedback-name{
			font-weight: bold;
			color: black;	
		}
		.ratingCls{
			padding-left: 13px;
    		border-left: 1px solid #e3e3e3;	
		}
		.timeCls{
			padding-right: 13px;
		}
	}
	
 .doctor-list-view .list-container >ion-col:first-child{
 	@include screenMax576{
 		padding-right:0px !important;
 	}
 }
 
 .doctor-list-view .list-container > ion-col:last-child{
 	@include screenMax576{
 		padding-top:0px;
 		padding-bottom:10px;
 		
 		ion-row, ion-col{
 			padding:0px;
 		}
 	}
 }
 
 .doctor-list-view .mobile-profile-img{
 	@include screenMax576{
     	background-color: #2090e4;
    	margin-top: -2px;
    	border:0px;
    	padding-top:5px;
    	.mobile-doc-image{
    		border:0px;
	    	 a{
	    		border: 1px solid $whiteColor;
	    		border-radius:6px;
	    	 }
	    	 
	    	 .rating{
    			margin-top: -10px;
			    background-color: #fff;
			    border-radius: 6px;
			    margin-right: 10px;
			    margin-left: 10px;
			    border: 1px solid $whiteColor;			    	
			    padding: 3px 0px 3px 0px;
    		}
	    	
	    }
    	ul li{
    		p{
    			color:$whiteColor !important;
    		}
    	}
   	}
   
   	
 }
 
 .doctor-list-view .mobile-profile-img .list-img-container{
 	@include screenMax576{
 		padding-top:0px !important;
    }
 } 
 .doctor-list-view .list-container .mobile-hospital-item ion-row ion-col ul .time{ 
 	align-items:center;
 	.time-txt{
 		line-height:unset;
 		span {
		 	color: #148de9;
		    margin: 0 5px;
		    text-decoration: underline;
		    text-underline-position: under;
		    cursor: pointer;
 		}
 	}
 }
 
 	.no-data-found{
	    margin: 0px auto;
	    padding: 10px;
	    text-align:center;
	  }

 .doctor-list-view .list-container .list-content{
 	padding-top:15px !important;
 	 .list-item .education{
	 	p{
	 		font-size:1.4rem;
	 	}
	 }
   }
  
  
	.todayTime{
		color: #148de9;
	    text-decoration: underline;
	    text-underline-position: under;
	    cursor: pointer;
	}
}
page-patient-role-doctor-profile .doctor-list-view .list-container .hospital-list-content{
	padding-bottom:15px !important;
	
	ul li{
		align-items:center;
	}
}