<ion-header *ngIf="!commonService.checkIsWeb()">

	<header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [showBackButton]="!commonService.checkIsWeb()"
	 [backBtnLink]="backPageUrl" [pageTitle]="'ADD_PATIENT_TITLE'"></header-for-role-creation-form>

	<div class="search-container blank-search-container"></div>
</ion-header>
<ion-content padding class="centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">

		<header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [showBackButton]="!commonService.checkIsWeb()"
		 [backBtnLink]="backPageUrl" [pageTitle]="'ADD_PATIENT_TITLE'"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title">
			<ion-title class="page-sub-title">{{ 'ADD_PATIENT_TITLE' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>

	<div class="main-content">

		<!-- <add-patient-component [isHospitalAdmin]="isHospitalAdmin" [isDoctorAdmin]="isDoctorAdmin" [isPatientAdmin]="isPatientAdmin" [viewFlag]="viewFlag" [createFlag]="createFlag" [editFlag]="editFlag" [navParamsComponent]="navParamsComponent"></add-patient-component> -->
		<add-patient-component [viewFlag]="viewFlag" [createFlag]="createFlag" [editFlag]="editFlag" [navParamsComponent]="navParamsComponent"></add-patient-component>


	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>