page-doctor-associate-hospitals {

	.doctor-associated-hospitals{
		@extend .list-view;
		border:0px;
		
		.doctor-associated-hospital-btn-container .btn-wrapper{
			border-left:1px solid $borderColor;
			height: 100%;
			width:100%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    
		    @include screenMax576{
				border-left:0px;
		    	justify-content: flex-end;
		    	
		    	a{
		    		margin:unset;
		    	}
		    }
		}
	}
	
	.doctor-associated-hospitals .list-container > ion-col.doctor-associated-hospital-btn-container{
		padding-right:0px;
		padding-left:0px;
		display: flex;
    	align-items: center;
    	justify-content: flex-start;
    	
		@include screenMax576{
			display: flex;
			padding-right:15px;
    		//justify-content: end;
    		padding-top:0px;
	    }
	}
	
	.doctor-associated-hospitals .list-container .doctor-associate-hospital-list-content{
		padding-left:15px;
		padding-top:0px;
		
		ul{
			.hospitalName a{
				font-size:1.8rem;
				color:$blackColor;
				text-decoration:none;
			}
			
			li{
				@include screenMax576{
					padding-bottom:5px;
			    }
				p{
					@include screenMax576{
						line-height:17px;
				    }
				}
				
				.bookingTimeSlot{
					text-decoration: underline;
					text-underline-position: under;
					color: $timeLinkBlueColor;
					cursor: pointer;
				}
			}
		}
	}
	
} //end of page-doctor-associate-hospitals