<ion-header  *ngIf="!commonService.checkIsWeb()">
  	<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'ASSOCIATED_HOSPITAL_TITLE'" ></header-for-role-creation-form>
</ion-header>

<ion-content padding class="centered-content">
  	
	<ion-header *ngIf="commonService.checkIsWeb()">
	  	<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'ASSOCIATED_HOSPITAL_TITLE'" ></header-for-role-creation-form>
	 	<div menuClose ion-item class="common-page-title"  *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{'ASSOCIATED_HOSPITAL_TITLE' | translate}}</ion-title>
		</div>
		<div class="search-container blank-search-container" style="padding-bottom: 10px;"></div>
	</ion-header>
  	
  	
  	<div class="main-content" [ngClass]="{'fullHeight': scrollHTFlag}">
    <ion-grid class="common-page-container doctor-associated-hospitals" #AssociateHospitalsGrid [ngClass]="{'fullHeight': scrollHTFlag}">
      <ion-row class="list-container" *ngFor="let hospital of listOfHospitals">
      	  <ion-col col-12 col-sm-8 col-md-8 col-lg-8 >
      	  	 <ion-row>
		          <ion-col col-3 col-sm-3 col-md-3 col-lg-2 class="list-img-container">
		          	<div>
			            <a *ngIf="!hospital.hospitalDetails?.imageBase64" href="#/doctor-associate-hospital-details/{{ hospital.hospitalDetails.hospitalId}}" class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'">
			            </a>
			            
			            <a *ngIf="hospital.hospitalDetails?.imageBase64" href="#/doctor-associate-hospital-details/{{ hospital.hospitalDetails.hospitalId}}" class="profile-img-responsive" [style.backgroundImage]="'url('+ hospital.hospitalDetails?.imageBase64 +')'">
			            </a>
			         </div>
		          </ion-col>
		          <ion-col col-9 col-sm-9 col-md-9 col-lg-9 class="doctor-associate-hospital-list-content">
		          	  <ul>
				          <li class="hospitalName">
				            <a href="#/doctor-associate-hospital-details/{{ hospital.hospitalDetails.hospitalId}}" class="text-decoration-none" >{{hospital.hospitalDetails?.name}}</a>
				          </li>
				          <li class="bookingType" *ngIf="hospital?.contractDetails?.contractType">
				          	 	<img  class="mIconSmall" src="assets/imgs/booking_type.svg">
				          	 	<p>{{hospital?.contractDetails?.contractType}}</p>
				          </li>
				          
				          <li class="bookingTime" *ngIf="hospital?.hospitalDetails?.todaysAvailabilityString">
				          		<img  class="mIconSmall" src="assets/imgs/time.svg">
				          		<p  *ngIf="hospital?.hospitalDetails?.todaysAvailabilityString != '00:00AM - 11:59PM'">{{ 'TODAY_TEXT' | translate }} - &nbsp;
				          			<span class="bookingTimeSlot" (click)="openTimingDetails(hospital)"> {{ hospital?.hospitalDetails?.todaysAvailabilityString }}</span>
				          		</p>
				          			<p  *ngIf="hospital?.hospitalDetails?.todaysAvailabilityString == '00:00AM - 11:59PM'">{{ 'TODAY_TEXT' | translate }} - &nbsp;
				          			<span class="bookingTimeSlot" (click)="openTimingDetails(hospital)"> {{ '24_HRS_OPEN_LABEL' | translate }}</span>
				          		</p>
				          </li>
				          
				          <li class="bookingFee" *ngIf="hospital?.contractDetails?.fees">
				          	<img  class="mIconSmall" src="assets/imgs/doctors_fees_blue.svg">
				          	<p>{{ 'FEES_TEXT' | translate }} - {{hospital?.contractDetails?.fees  | currency:"INR":true:'1.0-0'}}/-</p>
				          </li>
				      </ul>
		          </ion-col>
		       </ion-row>
		   </ion-col>
		   <ion-col col-12 col-sm-4 col-md-4 col-lg-4 class="doctor-associated-hospital-btn-container">
		   		<div class="btn-wrapper">
			   		<a href="#/hospital-admin-view-contract/DoctorAssociatedHospital/{{hospital.hospitalDetails.hospitalId}}" ion-button class="common-blue-btn">
		              {{ 'VIEW_CONTRACT_BTN_LABEL' | translate }}
		            </a>
	            </div>
		   </ion-col>
      </ion-row>
      	<div *ngIf="listOfHospitals && (!listOfHospitals.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && listOfHospitals && (listOfHospitals.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div>
    </ion-grid>
  </div>
  <footer class="mobile-view-footer"></footer>
</ion-content>