<ion-grid class="upcoming-appointments-list-view" *ngIf="appointmentList && appointmentList.length > 0">
	<ion-row class="list-container"  *ngFor="let appointment of appointmentList"> <!--   | groupByDatePipe -->
			<!-- <p class="dateTitle" *ngIf="appointment.date != todayDateStr">{{ appointment.date | date:'dd/MM/yyyy' }}</p>
			<p class="dateTitle" *ngIf="appointment.date == todayDateStr">{{ 'TODAY_TEXT' | translate }}</p> -->
			<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
 				<div>
 					<a *ngIf="fromHospitalUpcomingAppointment && appointment?.doctorsDetails?.imageBase64" class="profile-img-responsive" [style.backgroundImage]="'url('+appointment?.doctorsDetails?.imageBase64+')'"></a>
					<a *ngIf="fromHospitalUpcomingAppointment && !appointment?.doctorsDetails?.imageBase64" 
						class="profile-img-responsive"
						[style.backgroundImage]="'url(assets/imgs/default_profile.png)'"></a>
					<a *ngIf="(fromDoctorAppointmentHistory || fromDoctorUpcomingAppointment) 
						&& appointment?.hospitalDetails?.imageBase64" 
						class="profile-img-responsive" 
						[style.backgroundImage]="'url('+appointment?.hospitalDetails?.imageBase64+')'"></a>
					<a *ngIf="(fromDoctorAppointmentHistory || fromDoctorUpcomingAppointment) 
						&& !appointment?.hospitalDetails?.imageBase64"
						class="profile-img-responsive" 
						[style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'">
					</a>
  				<div text-center><img src="assets/imgs/star.png"> {{appointment.hospitalDetails?.avgRating}}</div>
 				</div>
 			</ion-col>
			<ion-col col-9 col-xs-12 col-sm-10 col-md-9 col-lg-6 class="list-content">
  				<ul>
  					<li *ngIf ="!fromDoctorAppointmentHistory && !fromDoctorUpcomingAppointment">
  						<p class="name-container"><a>{{appointment.doctorsDetails?.firstName}} {{appointment.doctorsDetails?.lastName}}</a></p>
  					</li>
  					<li *ngIf ="fromDoctorAppointmentHistory || fromDoctorUpcomingAppointment">
  						<p class="name-container hospitalName"><a>{{appointment.hospitalDetails?.name}}</a></p>
  					</li>
  					<li *ngIf = "appointment.doctorsDetails?.educationList && appointment.doctorsDetails?.educationList.length > 0 && !fromDoctorAppointmentHistory && !fromDoctorUpcomingAppointment">
						<p style="display: inline-block; color: #000 !important; margin-bottom: 0;" class="name-container"><span *ngFor="let edu of appointment.doctorsDetails?.educationList; last as isLast">{{edu.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span></span></p>
  					</li>
					<li class="location" *ngIf="appointment?.visitType && commonService.checkIsWeb()">
  						<p class="time-txt name-container">{{ 'VISIT_TYPE_LABLE' | translate }}: {{appointment?.visitType}}</p>
  					</li>
  					
  					<li *ngIf="appointment?.visitType && !commonService.checkIsWeb()">
						<span class="time-txt name-container">{{ 'VISIT_TYPE_LABLE' | translate }}: {{appointment?.visitType}}</span>
					</li>
					<li *ngIf="!commonService.checkIsWeb()">
						<span class="name-container">{{ 'PATIENTS' | translate }}: {{appointment?.noOfPatients}}</span>					
					</li>
  					<li class="time">
  					    <p class="name-container" (click) = "showTimeSlots(appointment.hospitalDetails, appointment?.timings, appointment?.appointmentDate)">{{ 'TIMING' | translate }}: <span>{{appointment?.currentAvailabilityString }}</span></p>
					</li>
					<li class="time" *ngIf="appointment?.noOfPatients && commonService.checkIsWeb()">
  						<p class="name-container">{{ 'PATIENTS' | translate }}: {{appointment?.noOfPatients}}</p>
  					</li>
  				</ul>
  			</ion-col>
	  		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 class="list-btn-container list-btn-col btn-container" *ngIf="!fromDoctorAppointmentHistory && !fromDoctorUpcomingAppointment">
	  			<div class="btn-wrapper">
		  			<div text-center class="btn-content booking-btn" *ngIf="appointment.doctorsDetails">
						<!-- <a href="#/booking-step1/{{appointment.doctorsDetails?.doctorId}}/HAManageAppointment/0" ion-button class="common-blue-btn manage-btn" *ngIf = "fromHospitalUpcomingAppointment">{{ 'BOOK_APPOINTMENT_LABEL' | translate }}</a> -->
						<a *ngIf = "fromHospitalUpcomingAppointment" ion-button (click)="onClickBookAppointment('HAManageAppointment','bookStep1',0,appointment.doctorsDetails?.doctorId)" href="{{bookingUrl}}" class="common-blue-btn manage-btn" >{{ 'BOOK_APPOINTMENT_LABEL' | translate }}</a>  

		 			</div>
		 			<div text-center class="btn-content visit-btn">
						<a href="#/hospital-admin-appointment-visit-details/{{appointment.hospitalDetails?.hospitalId}}/{{appointment.doctorsDetails?.doctorProfileId}}/{{appointment.showAppointmentDate}}/hospitalAppointmentDetails" ion-button class="common-blue-btn manage-btn" *ngIf = "fromHospitalUpcomingAppointment">{{ 'VISIT_DETAILS' | translate }}</a>
		 			</div>
	 			</div>
	  		</ion-col>
	  		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 class="list-btn-container list-btn-col btn-container" *ngIf="!fromDoctorAppointmentHistory && fromDoctorUpcomingAppointment">	  		
	 			<div text-center class="btn-content visitDetailsBtn">
					<a href="#/hospital-admin-appointment-visit-details/{{appointment.hospitalDetails?.hospitalId}}/{{appointment.doctorsDetails?.doctorProfileId}}/{{appointment.showAppointmentDate}}/doctorAppointmentDetails" ion-button class="common-blue-btn manage-btn visit-dt-btn">{{ 'VISIT_DETAILS' | translate }}</a>
	 			</div>
	  		</ion-col>
	  		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 class="list-btn-container list-btn-col btn-container" *ngIf="fromDoctorAppointmentHistory && !fromDoctorUpcomingAppointment">	  		
	 			<div text-center class="btn-content visitDetailsBtn">
					<a href="#/hospital-admin-appointment-visit-details/{{appointment.hospitalDetails?.hospitalId}}/{{appointment.doctorsDetails?.doctorProfileId}}/{{appointment.showAppointmentDate}}/doctorHistoryDetails" ion-button class="common-blue-btn manage-btn visit-dt-btn">{{ 'VISIT_DETAILS' | translate }}</a>
	 			</div>
	  		</ion-col>
  	</ion-row>
</ion-grid>