upcoming-appointments-component{
	
	.upcoming-appointments-list-view{
	 	@extend .list-view;
		.list-container{
			ul {
				li p:first-child{
					width: 100% !important;
					max-width:initial !important;
					white-space:normal !important;
					color:#616161 !important;
					font-size: 1.4rem;
					margin-bottom: 0;
					@include screenMax576{
				 		margin-bottom: 7px;
					}
				}
				li{
					 color:#323b40;
					   @include screenMax576{
					   	  margin-bottom: 5px;
					   	  font-size: 14px;
					}
				}
			}
		
			.list-content{
				ul{
				 	li:last-child{
						p{
   							//cursor: pointer;
							.hosp-time-span{
								text-decoration: underline;
								text-underline-position: under;
							}
						}
					}
					.hospitalName{
						font-size:18px;
						cursor:pointer;
					}
					.time{
						p{
							color:$listItemContentColor !important;
								@include screenMax576{
									font-size: 14px;
							}
						}
						span{
						color:$timeLinkBlueColor;
							margin:0 5px;
							text-decoration: underline;
							text-underline-position: under;
							cursor: pointer;
						}
					}
				}
			}//end of list-content
		} 
		.list-btn-col{
			padding-left:0px !important;
			padding-right:0px !important;
			background-color: transparent !important;
			   @include screenMax576{
				 	padding:15px !important;
				}
			.list-btns{
				display: flex;
				align-items: center;
				justify-content:center;
				padding-right:13px !important;
				height:100%;
				border-left:1px solid $borderColor;
				.deactivate-btn{
					color: rgb(252, 50, 50);
					border: 1px solid rgb(252, 50, 50);
					background: transparent;
				}
			}
		}
	
		.list-content{
			padding-right:0px;
			ul{
				li{
					display: flex;
					align-items: start;
					p.hospital-address{
						@extend .text-ellipsis;
					}
				}
				.location{
					width:100%;
					p{
						width:88%;
						padding-right:13px;
					}
					span{
						padding-left:13px;
						border-left:1px solid $borderColor;
						@extend .hand-pointer;
						img{
							margin:0px;
						}
					}
				}
			}
		}
	
         .visitDetailsBtn {
           // position: absolute;
            right: 20px;
            top: 20px;
            bottom: 20px;
            align-items: center;
            display: flex;
            border-left: 1px solid #ccc;
            padding-left: 20px;
            height:100%;

			@include screen991{
				 border-left:none;
				 top: 0;
			}

            .button {
                padding: 19px 17px 17px 17px;
                box-shadow: none;
                border-radius: 5px;
                text-transform: capitalize;
                background-color: #118ee8;
                font-size: 15px;
                font-weight: normal;
                 @include screenMax576{
             	 	padding: 12px 10px 10px 12px;
                	margin: auto 0px auto auto;
             	 	 font-size: 14px;
             	 }
            }
        
        }

		.btn-wrapper{
				border-left: 1px solid #ccc;
			    padding-top: 23px;
			    height: 100%;
			    margin-left: 20px;
			     @include screenMax576{
				 	   border-left: none;
			    	   padding-top: 0;
			    	   float: right;
				}
			    .booking-btn{
			    	margin-bottom: 20px;
			    	 @include screenMax576{
				 	   	display: inline-block;
						margin-right: 5px;
						margin-bottom: 0;
					}
			    }
		   .visit-btn{
		   		 @include screenMax576{
			 	   	display: inline-block;
					margin-right: 5px;
					margin-bottom: 0;
				}
		   }
		   .visit-dt-btn{
		   		width: 148px;	
		   }	
		}
		
	}

.upcoming-appointments-list-view .list-container .list-btn-container{
		@include screenMax576{
			padding: 0px 15px 10px !important;	//to much space on s8 at the top of btns
		}
	}

.upcoming-appointments-list-view .list-container ul li:last-child{
		@include screenMax576{
			margin-bottom: 10px;
		}
}


 .upcoming-appointments-list-view .list-container > ion-col:nth-child(2){
 		@include screenMax576{
			    padding: 12px 15px 0px 15px;
		}
 }

.upcoming-appointments-list-view .list-container > ion-col:first-child{
	@include screenMax576{
		        padding: 15px 5px 15px 15px;
		}
}

upcoming-appointments-component .upcoming-appointments-list-view .list-container .list-img-container > div{
	 a{
		display:inline-block;
	  	border-bottom:1px solid $timeLinkBlueColor;
	  }
	  
	  div{;
	  	padding-top:0px;
	  }
}


}
