<ion-row class="list-container" *ngIf="commonService.checkIsWeb()">
  <ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
    <div>
      <a class="profile-img-responsive" *ngIf="doctorData && !doctorData?.imageBase64" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'">
      </a>
      <a class="profile-img-responsive" *ngIf="doctorData && doctorData?.imageBase64" [style.backgroundImage]="'url('+doctorData.imageBase64+')'">
      </a>
      <div text-center class="rating"><img src="assets/imgs/doctors_rating.png">{{ doctorData?.avgRating }}%</div>
    </div>
  </ion-col>
  <ion-col col-12 col-xs-12 col-sm-6 col-md-9 col-lg-10 class="list-content">
    <ul class="list-item">
      <li>
        <p class="name-container">
          <a>
            <span>{{ 'DOCTOR_PREFIX' | translate }}</span> {{ doctorData.firstName }} {{ doctorData.lastName }}
          </a>
        </p>
      </li>
      <li *ngIf="doctorData && doctorData.educationList && doctorData.educationList.length > 0">
        <img class="mIconSmall" src="assets/imgs/doctors_education.svg">
        <p style="display: inline-block;"><span *ngFor="let edu of doctorData.educationList; last as isLast">{{edu.name}}<span
             *ngIf="!isLast" style="margin-right: 5px;">,</span></span></p>
      </li>
      <li *ngIf="doctorData && doctorData.specializationList && doctorData.specializationList.length > 0">
        <img class="mIconSmall" src="assets/imgs/doctors_specialisation.svg">
        <p style="display: inline-block;"><span *ngFor="let spec of doctorData.specializationList; last as isLast">{{spec.name}}<span
             *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
      </li>
      <li>
        <img src="assets/imgs/doctors_experience.svg">
        <p>{{ doctorData.yearsOfExp }} {{ 'YEAR_OF_EXP_LABEL' | translate }}</p>
      </li>
      <!-- <li class="pull-right">

        <a ion-button (click)="changeMode('view')" *ngIf="createFlag" class="common-blue-btn">{{ 'VIEW_LEAVE_LABEL' |
          translate }}</a>
        <a ion-button (click)="cancelClick()" *ngIf="!createFlag" class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' |
          translate }}</a>

      </li> -->

    </ul>
  </ion-col>
</ion-row>

<ion-row class="list-container mobile-profile-img" *ngIf="!commonService.checkIsWeb()">
    <ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
      <div class="mobile-doc-image">
        <a class="profile-img-responsive" *ngIf="doctorData && !doctorData?.imageBase64" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'">
        </a>
        <a class="profile-img-responsive" *ngIf="doctorData && doctorData?.imageBase64" [style.backgroundImage]="'url('+doctorData.imageBase64+')'">
        </a>
        <div text-center class="rating"><img src="assets/imgs/doctors_rating.svg">{{ doctorData?.avgRating }}%</div>
      </div>
    </ion-col>
    <ion-col col-9 col-xs-12 col-sm-6 col-md-9 col-lg-5 class="list-content">
      <ul class="list-item">
        <li class="education" *ngIf="doctorData && doctorData.educationList && doctorData.educationList.length > 0">
          <img class="mIconSmall" src="assets/imgs/doctors_education_white.svg">
          <p style="display: inline-block;"><span *ngFor="let edu of doctorData.educationList; last as isLast">{{edu.name}}<span
               *ngIf="!isLast" style="margin-right: 5px;">,</span></span></p>
        </li>
        <li *ngIf="doctorData && doctorData.specializationList && doctorData.specializationList.length > 0">
          <img class="mIconSmall" src="assets/imgs/doctors_specialisation_white.svg">
          <p style="display: inline-block;"><span *ngFor="let spec of doctorData.specializationList; last as isLast">{{spec.name}}<span
               *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
        </li>
        <li>
          <img class="mIconSmall" src="assets/imgs/doctors_experience_white.svg">
          <p>{{ doctorData.yearsOfExp }} {{ 'YEAR_OF_EXP_LABEL' | translate }}</p>
        </li>
        <!-- <li class="pull-right">
          <a ion-button (click)="changeMode('view')" *ngIf="createFlag" class="common-btn">{{ 'VIEW_LEAVE_LABEL' |
            translate }}</a>
          <a ion-button (click)="cancelClick()" *ngIf="!createFlag" class="common-btn">{{ 'CANCEL_BTN_LABEL' | translate
            }}</a>
        </li> -->
      </ul>
    </ion-col>
  </ion-row>