doctor-item-component {
    .list-img-container{
        position: relative;
        // padding-left: 35px !important;
    }
    
     .item-md{
         background: transparent;
     }

     .hospital-list-content{
        padding-bottom:15px !important;
        
        ul li{
            align-items:center;
        }
    }

    // .mobile-profile-img{
    //     @include screenMax576{
    //         background-color: #2090e4;
    //        margin-top: -2px;
    //        border:0px;
    //        padding-top:5px;
    //        .mobile-doc-image{
    //            border:0px;
    //             a{
    //                border: 1px solid $whiteColor;
    //                border-radius:6px;
    //             }
                
    //             .rating{
    //                margin-top: -10px;
    //                background-color: #fff;
    //                border-radius: 6px;
    //                margin-right: 10px;
    //                margin-left: 10px;
    //                border: 1px solid $whiteColor;			    	
    //                padding: 3px 0px 3px 0px;
    //            }
               
    //        }
    //        ul li{
    //            p{
    //                color:$whiteColor !important;
    //            }
    //        }
    //       }

          
    // }
    
    // .doctor-list-view .mobile-profile-img .list-img-container{
    //     @include screenMax576{
    //         padding-top:0px !important;
    //    }
    // }
}
