page-hospital-admin-create-admin {
	.centered-content .main-content{
		@include screenMax576{
			padding-top:0px;
		}
	}
	.common-page-container{
		height:100%;	
	
		.mobile-profile-img{
			.upload-img{
					@include screenMax576{
			    		padding-bottom: 20px;
			    	}
			    	img{
			    		@include screenMax576{
			    		    max-width: 100px;
			    		    border: 1px solid white;
    						border-radius: 10px;
			    		}
			    	}
				}
		}
	}
	.editBtn{
		max-width: 115px;
		margin-right:10px;
	}
	.deactivate-btn{
		max-width: 115px;
		color: #fc3232;
    	border: 1px solid #fc3232;
    	background: transparent;
	}
	.common-form{
		.formFieldsContainer{
			.upload-img {
				display: inline-block;
			}
			ion-row{
				.upload-img img{
					border-radius:6px;
				}
				.username-mobile-field-wrapper{
					#username-mobile-field-row{
						padding: 0px !important;
						.username-field{
							@media (max-width: 1024px){
								padding-right: 0px;
								flex:100%;
								max-width:100%;
							}
						}
						.mobile-field{
							@media (max-width: 1024px){
								padding:15px 0px 0px;
								flex:100%;
								max-width:100%;
							}
						}
					}
				}
			}  //end of ion-row
			.city-dropdown{
				.select{
					@include screenMax576{
						padding: 8px 10px 5px 0px !important;
					    color: #7f8489 !important;
                       opacity:1 !important;
					}
				}
				.select-disabled{
						opacity:1;
				}
			}
			.edit-mode-cls{
               .select{
                   @include screenMax576{
                       //padding: 8px 10px 5px 0px !important;
                       color: #000 !important;
                       opacity:1 !important;
                   }
               }
             }
			.viewCity{
					@include screenMax576{
						color: #a0a0a0 !important;
					}
				}
			.btn-container{
				@extend .common-form-btn-container;
			}  //end of btn-container
	
		} //end of formFieldsContainer

	}  //end of form
}

page-hospital-admin-create-admin .common-form .formFieldsContainer ion-row ion-col ion-row ion-col.ipad-view-padding{
	@include screenMax576{
		padding-top:12px;
		padding-right:20px;
	}
	
	@include screenMobileMax576{
		padding-right:0px;
	}
}

page-hospital-admin-create-admin .common-form .formFieldsContainer ion-row ion-col ion-row {
	ion-col.zipcode{
		@include screenMax576{
			padding-top:15px;
		}
		
	}
	
	ion-col.state{
		@include screenMax576{
			padding-right:0px;
		}
	}
}