<ion-header  *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form  *ngIf="!isEditSysAdminMode && isCreate" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CREATE_HOSPITAL_ADMIN'" [backBtnLink]="'#/hospital-admin-manage-hospital-admin'" [showBackButton]="true"></header-for-role-creation-form>
	<header-for-role-creation-form  *ngIf="!isEditSysAdminMode && !isCreate && !isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'HOSPITAL_ADMIN_PROFILE'"  [backBtnLink]="'#/hospital-admin-manage-hospital-admin'"[showBackButton]="true"></header-for-role-creation-form>
	<header-for-role-creation-form  *ngIf="!isEditSysAdminMode && !isCreate && isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'MY_PROFILE'"  [backBtnLink]="'#/hospital-admin-dashboard/:hospitalId'" [showBackButton]="false"></header-for-role-creation-form>
	<header-for-role-creation-form  *ngIf="isEditSysAdminMode && !isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_SYSTEM_ADMIN_PROFILE'" [backBtnLink]="'#/hospital-admin-manage-hospital-admin'" [showBackButton]="true"></header-for-role-creation-form>	
	<header-for-role-creation-form  *ngIf="isEditSysAdminMode && isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_PROFILE'" [backBtnLink]="'#/hospital-admin-dashboard/0'" [showBackButton]="false"></header-for-role-creation-form>
	
	<div class="search-container blank-search-container" *ngIf="commonService.checkIsWeb()"></div>
</ion-header>
	
<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header  *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form  *ngIf="!isEditSysAdminMode && isCreate" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CREATE_HOSPITAL_ADMIN'" [backBtnLink]="'#/hospital-admin-manage-hospital-admin'" [showBackButton]="true"></header-for-role-creation-form>
		<header-for-role-creation-form  *ngIf="!isEditSysAdminMode && !isCreate" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_SYSTEM_ADMIN_PROFILE'"  [backBtnLink]="'#/hospital-admin-manage-hospital-admin'"[showBackButton]="true"></header-for-role-creation-form>
		<header-for-role-creation-form  *ngIf="isEditSysAdminMode && !isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'HOSPITAL_ADMIN_PROFILE'" [backBtnLink]="'#/hospital-admin-manage-hospital-admin'" [showBackButton]="true"></header-for-role-creation-form>	
		<header-for-role-creation-form  *ngIf="isEditSysAdminMode && isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'MY_PROFILE'" [backBtnLink]="'#/hospital-admin-manage-hospital-admin'" [showBackButton]="true"></header-for-role-creation-form>
		
		<div menuClose ion-item class="common-page-title">
			<ion-title class="page-sub-title"  *ngIf="!isEditSysAdminMode && isCreate && !viewMode">{{ 'CREATE_HOSPITAL_ADMIN' | translate }}</ion-title>
			<ion-title class="page-sub-title"  *ngIf="isEditSysAdminMode && !isCreate && !viewMode">{{ 'EDIT_SYSTEM_ADMIN_PROFILE' | translate }}</ion-title>
			<ion-title class="page-sub-title" *ngIf="!isEditSysAdminMode && !isCreate && viewMode && !isMyProfile">{{ 'HOSPITAL_ADMIN_PROFILE' | translate }}</ion-title>
			<ion-title class="page-sub-title" *ngIf="!isEditSysAdminMode && isMyProfile && viewMode">{{ 'MY_PROFILE' | translate }}</ion-title>
			<a *ngIf="!isEditSysAdminMode && !isCreate" block ion-button class="common-blue-btn editBtn" (click) = "eidtProfile()">{{ 'EDIT_BTN_LABEL' | translate }}</a>
			<a *ngIf="!isEditSysAdminMode && !isCreate && selectedAdminDetails.blockStatus=='UNBLOCK' && !isMyProfile"  (click)="activateDeactivateHospitalAdmin()"   block ion-button class="common-blue-btn deactivate-btn">{{ 'DEACTIVATE_BTN' | translate }}</a>
			<a *ngIf="!isEditSysAdminMode && selectedAdminDetails.blockStatus=='BLOCK' && !isMyProfile" (click)="activateDeactivateHospitalAdmin()"  ion-button class="common-blue-btn activate-btn">{{ 'ACTIVATE_BTN' | translate }}</a>
		</div>
		
		<div class="search-container blank-search-container" *ngIf="commonService.checkIsWeb()"></div>
	</ion-header>
	
	<div class="main-content">
		<form class="common-page-container common-form" [ngClass]="{'no-border-top': !commonService.checkIsWeb()}" name="createHospitalAdminForm" #createHospitalAdminForm="ngForm" novalidate>
			 <ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkPlatform() && !commonService.checkMobileweb()">
				<ion-row class="list-container">
					<ion-col col-12 class="upload-img">
						<img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
						<img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
						<img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
						<img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
						<label for="image-upload-input" *ngIf="(isEditSysAdminMode || isCreate || isMyProfile) && !viewMode && !commonService.checkIsWeb()" [ngClass]="{'hand-pointer': isEditSysAdminMode || isCreate}" class="upload-img" (click)="onCamera()">
							 <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div>
						  </label>
					</ion-col>
				</ion-row>
			</ion-grid>
			
				<!-- condition to use img upload in mobile web browser -->
			<ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkMobileweb()">
			<ion-row class="list-container">
						<ion-col col-12 class="upload-img max-width-110"> 
							  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
							  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
							  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
							  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
							  <label for="image-upload-input" *ngIf="(isEditSysAdminMode || isCreate || isMyProfile) && !viewMode" [ngClass]="{'hand-pointer': isEditSysAdminMode || isCreate}" class="upload-img">  
								  <div>
									  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
								  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
								</div>
							  	<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
							  </label>
						</ion-col>
					</ion-row>
			</ion-grid>
			
			<ion-grid class="formFieldsContainer">
				<ion-row class="list-container" *ngIf="commonService.checkIsWeb() || !commonService.checkPlatform()">
					<ion-col col-12 class="upload-img max-width-110"> 
						  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
						  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
						  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
						  <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
						  <label for="image-upload-input" *ngIf="(isEditSysAdminMode || isCreate || isMyProfile) && !viewMode && commonService.checkIsWeb()" [ngClass]="{'hand-pointer': isEditSysAdminMode || isCreate}" class="upload-img">  
							  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div>
						  	<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						  </label>
					</ion-col>
				</ion-row>
				<ion-row class="admin-name-container">
					<ion-col col-12 col-sm-6>
						<ion-item detail-none>
							<ion-label floating>{{ 'FN_LABEL' | translate }}</ion-label>
							<ion-input   name="hospitalAdminFirstName" [(ngModel)]="selectedAdminDetails.firstName" #hospitalAdminFirstName = "ngModel"  autocorrect="off" maxlength="50"  [disabled]="!isEditSysAdminMode && !isCreate"  pattern="^[a-zA-Z ]{1,50}$" required></ion-input>
						</ion-item>
						<div class="error-msg-block text-left" *ngIf="hospitalAdminFirstName.errors && (hospitalAdminFirstName.dirty || hospitalAdminFirstName.touched || formSubmitted)">
							<small [hidden]="!hospitalAdminFirstName.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ADMIN_FIRST_NAME' | translate }}</small>	
							<small [hidden]="!hospitalAdminFirstName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
						</div> 
					</ion-col>   
					<ion-col col-12 col-sm-6>
						<ion-item detail-none>
							<ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
							<ion-input  name="hospitalAdminLastName"  [(ngModel)]="selectedAdminDetails.lastName" #hospitalAdminLastName = "ngModel" maxlength="50"  [disabled]="!isEditSysAdminMode && !isCreate" pattern="^[a-zA-Z ]{1,50}$"></ion-input>
						</ion-item>
					     <div class="error-msg-block text-left" *ngIf="hospitalAdminLastName.errors && (hospitalAdminLastName.dirty || hospitalAdminLastName.touched || formSubmitted)">
		                    <small [hidden]="!hospitalAdminLastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
		                   <!--  <small [hidden]="!hospitalAdminLastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_SYSADMIN_LAST_NAME' | translate }}</small>	 -->
		                </div>
					</ion-col>   
				</ion-row>
				<ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="username-mobile-field-wrapper">
						<ion-row id="username-mobile-field-row">
							<ion-col col-6 col-md-12 col-lg-6 class="username-field">
								<ion-item detail-none>
									<ion-label floating>{{ 'USERNAME_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
									<ion-input name="hospitalAdminUsername" [(ngModel)]="selectedAdminDetails.userName" maxlength="20" #hospitalAdminUsername = "ngModel" [disabled]="!isEditSysAdminMode && !isCreate" pattern="^[a-zA-Z0-9_@^#$%&*()-.]{1,20}$"></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="hospitalAdminUsername.errors && (hospitalAdminUsername.dirty || hospitalAdminUsername.touched || formSubmitted)">
									<small [hidden]="!hospitalAdminUsername.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_USERNAME' | translate }}</small>		
								</div>
							</ion-col>   
							<ion-col col-6 col-md-12 col-lg-6 class="mobile-field">
								<ion-item detail-none>
									<ion-label floating>{{ 'MOBILE_LABEL' | translate }}</ion-label>
									<ion-input name="hospitalAdminMobile" [(ngModel)]="selectedAdminDetails.contactNumber" #hospitalAdminMobile = "ngModel" [disabled]="!isEditSysAdminMode && !isCreate" [type]="commonService.checkIsWeb()?inputType:'tel'" pattern="[1-9][0-9]{9}" required maxlength="10"></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="hospitalAdminMobile.errors && (hospitalAdminMobile.dirty || hospitalAdminMobile.touched || formSubmitted)">
									<small [hidden]="!hospitalAdminMobile.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
									<small [hidden]="!hospitalAdminMobile.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>	
								</div>
							</ion-col> 
						</ion-row>
					</ion-col>	
					<ion-col col-12 col-sm-6>
						<ion-item detail-none>
							<ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
							<ion-input name="hospitalAdminEmail" [(ngModel)]="selectedAdminDetails.email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})" #hospitalAdminEmail = "ngModel" [disabled]="!isEditSysAdminMode && !isCreate"></ion-input>
						</ion-item>
						
						<div class="error-msg-block text-left" *ngIf="hospitalAdminEmail.errors && (hospitalAdminEmail.dirty || hospitalAdminEmail.touched || formSubmitted)">
							<!-- <small [hidden]="!hospitalAdminEmail.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_EMAIL' | translate }}</small> -->	
							<small [hidden]="!hospitalAdminEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate }}</small>
						</div>
					</ion-col>   
				</ion-row>
				<ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="no-padding-right">
						<ion-row class="no-padding">
							<ion-col col-lg-6 col-12>
								<ion-item detail-none>
									<ion-label floating>{{ 'STREET' | translate }}</ion-label>
									<ion-input name="hospitalAdminStreet" [(ngModel)] = "address.street" #street="ngModel"  autocomplete="off" autocorrect="off" [disabled] = "!isEditSysAdminMode && !isCreate" required></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="street.errors && (street.dirty || street.touched || formSubmitted)">
		                   			 <small [hidden]="!street.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STREET' | translate }}</small>	
		                		</div>
							</ion-col>
							<ion-col col-lg-6 col-12 align-self-end class="ipad-view-padding">
								<ion-label [style.padding-top.px]="0" class="common-form-label" [ngClass] = "{'is-disabled-label': (viewMode ||  !address.cityId)}">{{ 'CITY_LABEL' | translate }}</ion-label>
								<ion-item class="common-select-dropdown city-dropdown" [ngClass]="{'edit-mode-cls': !viewMode}">
									<ion-label class="select-label-hide">{{ 'SELECT_CITY_LABEL' | translate }}</ion-label>
									<ion-select [ngClass] = "{'selectCls': selectCity, 'unselectCls': !selectCity}" [(ngModel)]="address.cityId" #city=ngModel name="city" (ionChange) = "cityChange()" [disabled] = "!isEditSysAdminMode && !isCreate">
										<ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option>
										<ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option>
									</ion-select>
								</ion-item>
							    <div class="error-msg-block text-left" *ngIf="address.cityId == 0 && (city.dirty || city.touched || formSubmitted)">
	                    			<small class="text-danger">{{ 'Error_MSG_BLANK_CITY' | translate }}</small>	
		                		 </div>
							</ion-col>
						</ion-row>
					</ion-col>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="no-padding-right">
						<ion-row class="no-padding">
							<ion-col col-lg-6 col-12 class="state">
								<ion-item detail-none>
									<ion-label floating>{{ 'STATE' | translate }}</ion-label>
									<ion-input name="state" [(ngModel)]="address.state" #state="ngModel" [type]="inputType" autocomplete="off" autocorrect="off" [disabled] = "!isEditSysAdminMode && !isCreate"  pattern="^[a-zA-Z ]+$" required></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
		                    		<small [hidden]="!state.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STATE' | translate }}</small>	
		                			<small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate }}</small>
		                		</div>
							</ion-col>
							<ion-col col-lg-6 col-12 class="zipcode">
								<ion-item detail-none>
									<ion-label floating>{{ 'ZIP' | translate }}</ion-label>
									<ion-input name="zip" [(ngModel)]="address.zipCode" #zip="ngModel" pattern="^[0-9]{6,6}$" [type]="inputType" autocomplete="off" autocorrect="off" required [disabled] = "!isEditSysAdminMode && !isCreate" maxlength="6"></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="zip.errors && (zip.dirty || zip.touched || formSubmitted)">
									<small [hidden]="!zip.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ZIPCODE' | translate }}</small>	
									<small [hidden]="!zip.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_ZIPCODE' | translate }}</small>
								</div>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
				<div class="btn-container" text-right *ngIf="(isEditSysAdminMode || isCreate) && commonService.checkIsWeb()">
					<a href="#/hospital-admin-manage-hospital-admin" *ngIf="!isEditSysAdminMode && isCreate" block ion-button class="common-blue-btn" >{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a (click)="cancelEdit()" *ngIf="isEditSysAdminMode && !isCreate" block ion-button class="common-blue-btn" >{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a (click)="saveHospitalAdmin(createHospitalAdminForm)" *ngIf="isEditSysAdminMode || isCreate" block ion-button class="common-blue-btn">{{ 'SAVE_BTN_LABEL' | translate }}</a>
				</div>
			</ion-grid>
			
		</form>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>
<div ion-item class="footer-mobile-btn-container" [ngClass]="{'two-buttons': !isMyProfile}" *ngIf="(!commonService.checkIsWeb() && isEditSysAdminMode) || (viewMode && !commonService.checkIsWeb())">
	<a *ngIf="selectedAdminDetails.blockStatus=='UNBLOCK' && !isMyProfile" (click)="activateDeactivateHospitalAdmin()" ion-button class="common-blue-btn deactivate-btn">{{ 'DEACTIVATE_BTN' | translate }}</a>
	<a *ngIf="selectedAdminDetails.blockStatus=='BLOCK' && !isMyProfile" (click)="activateDeactivateHospitalAdmin()"  ion-button class="common-blue-btn activate-btn">{{ 'ACTIVATE_BTN' | translate }}</a>
	<a *ngIf="viewMode" ion-button [block]="isMyProfile" class="common-blue-btn" (click) = "eidtProfile()">{{ 'EDIT_BTN_LABEL' | translate }}</a>
</div>
<div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="(isEditSysAdminMode || isCreate) && !commonService.checkIsWeb()">
	<a href="#/hospital-admin-manage-hospital-admin" *ngIf="!isEditSysAdminMode && isCreate" ion-button class="common-blue-btn" >{{ 'CANCEL_BTN_LABEL' | translate }}</a>
	<a (click)="cancelEdit()" *ngIf="isEditSysAdminMode && !isCreate" ion-button class="common-blue-btn" >{{ 'CANCEL_BTN_LABEL' | translate }}</a>
	<a (click)="saveHospitalAdmin(createHospitalAdminForm)" *ngIf="isEditSysAdminMode || isCreate" ion-button class="common-blue-btn">{{ 'SAVE_BTN_LABEL' | translate }}</a>
</div>