page-forgot-password {
	
	.forgot-password-container{
		height: 100%;
		.logo-container{
			height: 35%;
			position: relative;
			.logo{
				position: absolute;
				@include commonTransform(translate(-50%,-50%));
				top: 50%;
				left: 50%;
				width: 100px;
				height: 100px;
				background-color: #3683c9;//$secondaryColor;
				@include borderRadius(50%);
				span{
					position: absolute;
					@include commonTransform(translate(-50%,-50%));
					top: 50%;
					left: 50%;
					color: $whiteColor;
					text-transform:uppercase;
					font-size: 2rem;
				}
			}
		}
		.form-container{
			height: 65%;
			position: relative;
			ion-list.list{
			    max-width: 480px;
			    margin: 0 auto;
			    margin-bottom: 16px;
			       ion-item.item{
			    	padding-left: 0;
			    	background-color: transparent;
			    	min-height:3.6rem;
			    	font-size: 1.4rem;
			    	.text-input{
			    		margin: 8px 15px;
			    		//margin-left: 15px!important;
			    	}
			    	
			    	.label, .icon {
			    		margin:0;
			    	}
			    }
			}
			.list-ios > .item-block:first-child, .list-ios > .item-block:last-child {
			    border: 0px !important;
			}
			ion-list.list{
				ion-item.item.screen-title-item{
					margin-bottom: 50px;
					font-size: 1.8rem;
					color: $registerScreensTitleColor;
					.item-inner{
						border-width: 0;
					}
				}
			}
			.OTPinput{
				::placeholder{
					text-align:center;
				}
				.text-input{
					    text-align: center;
				}
			}
		.otpErrorMsg{
			text-align:center;
		}
			
			.password-item{
				ion-icon{
					cursor: pointer;
				}
			}
			.identifier-item,.password-item{
				border-bottom:1px solid #dedede;
				
				ion-icon{
					margin-top:18px !important;
				}
				.item-inner{
					box-shadow:unset !important;
					border:0px !important;
					margin:0px;
				}
			} 
			.forgot-password-item{
				.item-inner{
					padding-right: 0;
					a.linkToScreen{
						margin-right: 0;
						color: $linkGreyColor;
						font-weight: normal;
						@include screenMax576{
    						font-weight: 500;
    					}
					}
				}
			}
			.back-to-container,
			.resend-container{
				margin-top: 16px;
			    min-height: 3rem;
			    display: flex;
			    align-items: center;
			    font-size: 1.4rem;
			    color: $textGreyColor;
			    justify-content: center;
			    opacity:1;
			    a.linkToScreen{
			    	margin-left: 5px;
			    	text-decoration:underline;
			    	color:$linkTextColor;
			    	font-size: 1.4rem;
			    }
			}
			.send-otp-btn-container{
				.send-otp-btn{
					box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0px rgba(0, 0, 0, 0.12);
				}
			}
		}
	}
	.resend-container{
		margin-bottom: 31px;
	}
	.skip-container{
		margin-top: 50px;
		a{
			text-decoration: underline;
		}
	}
}
