<!-- <ion-header>
	<ion-navbar>
    	<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
    	<ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  	</ion-navbar>
</ion-header> -->

<ion-content padding  class="lsf-bg">
	<div class="forgot-password-container">
		<div class="logo-container">
			<div class="logo"><span>Logo</span></div>
		</div>
		<div class="form-container">
			<form [formGroup]="forgotPasswordForm">
				<ion-list *ngIf="showForgotPassView">
					<ion-item detail-none class="screen-title-item">
						{{ 'FORGOT_PASSWORD_TITLE' | translate }}
					</ion-item>
  					<ion-item detail-none class="identifier-item">
    					<ion-icon item-left class="forgot-password-icon"></ion-icon>
    					<ion-label floating>{{ 'UME_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false"  [(ngModel)]="formData.loginIdentifier" formControlName="loginIdentifier" autocomplete="off" autocorrect="off"></ion-input>
  					</ion-item>
  					<div class="error-msg-block text-left">
		           	<span ></span>
	                    	<!-- <small *ngIf="forgotPasswordForm.controls.Email.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_INVALID_PATIENT_EMAIL' | translate }}</small> -->	
	               		 	<small *ngIf="forgotPasswordForm.controls.loginIdentifier.hasError('required')&& isSubmit" class="text-danger">{{ 'Error_MSG_BLANK_FORGOT_PASSWORD' | translate }}</small>	
               		 </div>
               		 
				</ion-list>
				<ion-list *ngIf="showEnterOTPView">
					<ion-item detail-none class="screen-title-item">
						{{ 'ENTER_OTP_TITLE' | translate }}
					</ion-item>
  					<ion-item detail-none class="OTPinput">
    					<!-- <ion-label class="icon-container"><ion-icon name="keypad"></ion-icon></ion-label> -->
   						<ion-input clearOnEdit="false" placeholder="- - - -" [(ngModel)]="formData.otp" formControlName="OTP" autocomplete="off" autocorrect="off"></ion-input>
  					</ion-item>
  					<div class="error-msg-block otpErrorMsg">
		           	<span ></span>
	                    	<small *ngIf="forgotPasswordForm.controls.OTP.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_INVALID_PATIENT_OTP' | translate }}</small>	
	               		 	<small *ngIf="forgotPasswordForm.controls.OTP.hasError('required') && isSubmit" class="text-danger">{{ 'ERROR_MSG_BLANK_OTP' | translate }}</small>	
               		 </div>
				</ion-list>
				<ion-list *ngIf="showResetPassView">
					<ion-item detail-none class="screen-title-item">
						{{ 'RESET_PASSWORD_TITLE' | translate }}
					</ion-item>
  					<ion-item detail-none class="password-item">
    					<ion-icon item-left class="key-icon"></ion-icon>
    					<ion-label floating>{{ 'NEW_PASSWORD_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" formControlName="Password" [type]="nInputType" autocomplete="off" autocorrect="off"></ion-input>
   						<ion-icon [name]="nPasswordEyeIcon" [ngClass]="{'icon-class': true, 'eye-off-icon': (nPasswordEyeIcon == 'eye-icon'), 'eye-icon': (nPasswordEyeIcon == 'eye-off-icon')}" item-end (click)="showNewPasswordToggle()"></ion-icon>
  					</ion-item>
					<div class="error-msg-block text-left">
		           	<span ></span>
	                    	<small *ngIf="forgotPasswordForm.controls.Password.hasError('required') && isSubmit" class="text-danger">{{ 'ERROR_MSG_BLANK_PASSWORD' | translate }}</small>	
           		 			<small *ngIf="forgotPasswordForm.controls.Password.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_MINLENGTH_PATIENT_PASSSWORD' | translate }}</small>	
               		 </div>
  					
  					<ion-item detail-none class="password-item">
    					<ion-icon item-left class="key-icon"></ion-icon>
    					<ion-label floating>{{ 'CONFIRM_PASSWORD_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="formData.password" formControlName="confirmPassword" [type]="cInputType" autocomplete="off" autocorrect="off"></ion-input>
   						<ion-icon [ngClass]="{'icon-class': true, 'eye-off-icon': (cPasswordEyeIcon == 'eye-icon'), 'eye-icon': (cPasswordEyeIcon == 'eye-off-icon')}" [name]="cPasswordEyeIcon" item-end (click)="showConfirmPasswordToggle()"></ion-icon>
  					</ion-item>
  					<div class="error-msg-block text-left">
		           	<span ></span>
	                    	<small *ngIf="forgotPasswordForm.controls.confirmPassword.hasError('required') && isSubmit && !(forgotPasswordForm.controls.Password.hasError('required')) &&
           		 			 			  !(forgotPasswordForm.controls.Password.hasError('minlength'))" class="text-danger">{{ 'ERROR_MSG_BLANK_CPASSWORD' | translate }}</small>	
           		 			<!-- <small *ngIf="forgotPasswordForm.controls.confirmPassword.hasError('minlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_PATIENT_PASSSWORD' | translate }}</small> -->
           		 			<small *ngIf="forgotPasswordForm.controls.confirmPassword.value != forgotPasswordForm.controls.Password.value &&
           		 			 			  isSubmit && 
           		 			 			  !(forgotPasswordForm.controls.confirmPassword.hasError('required')) &&
           		 			 			  !(forgotPasswordForm.controls.Password.hasError('minlength'))" class="text-danger">{{'ERROR_MSG_INVALID_CONFIRM_PASSWORD' | translate}}
 			 			   	</small>		
               		</div>
				</ion-list>
				<div class="send-otp-btn-container" *ngIf="showForgotPassView">
					<button (click)="requestOTP(forgotPasswordForm)" block ion-button class="common-blue-btn send-otp-btn">{{ 'SEND_OTP_LABEL' | translate }}</button>
				</div>
				<div class="resend-container" text-center *ngIf="showEnterOTPView">
					{{ 'RESEND_MSG_LABEL' | translate }} <a href="javascript: void(0);" (click)="resendOTP()" class="linkToScreen" item-end >{{ 'RESEND_LABEL' | translate }}</a> <!-- href="#/forgot-password" -->
				</div>
				<div class="send-otp-btn-container" *ngIf="showEnterOTPView">
					<button (click)="submitOTP(forgotPasswordForm)" block ion-button class="common-blue-btn send-otp-btn">{{ 'SUBMIT_LABEL' | translate }}</button>
				</div>
				<div class="send-otp-btn-container" *ngIf="showResetPassView">
					<button (click)="resetPassword(forgotPasswordForm)" block ion-button class="common-blue-btn send-otp-btn">{{ 'RESET_LABEL' | translate }}</button>
				</div>
				
				<div class="back-to-container" text-center>
					{{ 'BACK_TO_LABEL' | translate }} <a href="#/login" class="linkToScreen" item-end >{{ 'LOGIN_TITLE' | translate }}</a> <!-- href="#/forgot-password" -->
				</div>
			</form>
		</div>
	</div>
</ion-content>