page-doctor-associate-hospital-details {
	.main-content{
		@include screenMax576{
			padding-top:0px !important;
		}
	}
	.view-hospital-container{
		padding:0px !important;
		ion-row{
			margin-bottom:20px;
			@include screenMax576{
				margin-bottom:10px;
			}
			&:last-child{
				//margin:0px;
				margin-bottom:20px;
				@include screenMax576{
					margin-bottom:10px;
				}
			}
			ion-col{
				padding-right:0px;
				&:first-child{
					@include screen991{
						padding-right:0px !important;
					}
				}
				&:last-child{
					@include screen991{
						padding-left:0px;
						margin-top:20px;
					}
					@include screenMax576{
						margin-top:0px;
					}
				}
			}
			.hospital-img{
				padding-right:10px;
				display:block;
				padding-left: 0;
				@include screenMax576{
					padding-top:0px;
				}
				#hospital-sub-images {
					overflow-x: auto;
					white-space: no-wrap;
					display:block;
					.profile-img{
						height: 100%;
						padding-top: calc(52% - 2px);
						border:1px solid $borderColor;
						
						@include screenMax576{
							border:0px !important;
							padding-top: calc(65% - 2px);
						}
					}
					
					@include screenMax767{
						margin-left:21px;
					}
					
					@include screenMax576{
						margin-left:0;
					}
					
					.sub-img-wrapper{
					    overflow-x: auto;
					    white-space: nowrap;
					    width: 100%;
					    overflow-y: hidden;
					}
    				  .sub-images{
    					display:inline-flex;
						margin-left:15px;
						width:52px;
						height:52px;
						border:1px solid $timeLinkBlueColor;
						cursor: pointer;
						position: relative;
						margin-top:20px;
						.uploaded-sub-img{
							background-color: #dededf;
							padding-top: calc(100% - 2px);
						}
						ion-spinner{
							position: absolute;
							.spinner-crescent svg .spinner-md-crescent circle{
								stroke: #fff !important;
							}
						}
						&:first-child{
							margin:0px;
							
							@include screenMax576{
								margin-left:20px;
							}
						}
    				} //end of div
				}
				
			} //end of hospital-img
		
			.hospital-info{
				padding-left:10px;
				@include screenMax576{
					padding-bottom:0px !important;
				//	margin-top:10px !important;
				}
				.mobile-view-details-label{
					padding: 5px 15px 5px 15px;
					img{
						vertical-align:bottom;
					}
					span{
						font-size:1.6rem;
						padding-left:5px;
						color:#617077;
						@include screenMax576{
							padding-left:10px;
						}
					}
				}
				ul{
					background-color:$whiteColor;
					padding-bottom:20px;
					@extend .list-item;
					border:1px solid $borderColor;
					@include screenMax576{
						padding-bottom:10px;
					}
					li{
						display:flex;
						align-items:end;
						padding-left:20px;
						margin-left:0px;
						margin-bottom:5px;
						width:100%;
						@include screenMax576{
							padding-left:15px;
							align-items:end;
						}
						p{
							width:77% !important;
							padding-right:13px;
							margin-left:15px;
							@include screenMax576{
								line-height:21px;
							}
							&:first-child{
								max-width: unset !important;
							    width: 82% !important;
							    text-overflow: unset;
								white-space: unset;
								@include screenMax576{
									margin-bottom:0px !important;
								}
							}
						}
						>span, a{
							width:17% !important;
							padding:0px 15px;
							display: inline-flex;
							justify-content:flex-end;
							img{
								margin-right:5px;
							}
							
						}
						a{
							border-left:1px solid $borderColor;
							@include screenMax576{
							  width:20% !important;
							  
							  img{
								margin-right:0px;
							  }
							}
						}
						&:nth-child(2){
							span,a{
								img{
									margin-right:3px !important;
								}
							}
						}
						
						.call-btn{
						 	margin-right:15px;
						}
						
						.timeStatus{
							color:$timeLinkBlueColor;
							text-decoration:underline;
							text-underline-position: under;
						}
					}
					.multispeciality{
					    div{
					    	width:100%;
					    	position: relative;
					    	img{
								margin:auto 0 0 auto;
							}
							span{
								color: #fff;
				    			font-size:1.2rem;
				    			position:absolute;
				    			top:7px;
				    			right:18px;
							}
					    }
					}
				}
			} //end of hospital-info
			
			.infoBlock{
				> p{
					@include screenMax767{
						padding-left:15px !important;
						padding-left:15px !important;
					}
				}
				
				.marginBottom12{
					margin-bottom:12px;
				
				}
				
				.view-more-label{
					color: $timeLinkBlueColor;
					font-size: 1.5rem;
					cursor: pointer;
					width: 100%;
					text-align: right;
				}
				p{
					margin:0px;
					display:flex;
					align-items:center;
					color: $blockHeadingColor;
					font-size:1.7rem;
					span{
						padding-left:20px;
						@include screenMax576{
							padding-left:15px;
						}
					}
				}
				.infoContent{
					background-color:$whiteColor;
					margin-top:12px;
					padding:10px 5px;
					color: $listItemContentColor;
					font-size:1.5rem;
					border:1px solid $borderColor;
					@include screenMax767{
						margin-top:5px;
					}
					p{
						margin-bottom:10px;
						color: $listItemContentColor;
						font-size:1.5rem;
						&:last-child{
							margin:0px;
						}
					}
				}
				
				&:first-child{
					.infoContent{
						padding-left:20px;
						@include screenMax767{
							padding-left:15px !important;
							padding-right:15px !important;
						}
					}
				}
				
				.sp-cls{
					margin-bottom: 0px;
					padding: 5px 0 5px 0px;
				}
				.odd{
					//border-left: 1px solid rgb(213, 213, 213);
					padding-left: 20px;
					margin-top: 0px !important;
					text-overflow: ellipsis;
					overflow: hidden;
				 	white-space: nowrap;
			 	    display: block;
					@media (max-width: 576px){
						padding-left: 20px;
						border-left-width: 0;
					}
				}
				.even{
                   border-right: 1px solid rgb(213, 213, 213);
                   text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				    padding-right: 20px;
				    display: block;
                   @media (max-width: 576px){
                       border-right-width: 1px;
                   }
               }
				
			}
		} //end of ion-row
		.patient-hospital-list-view{
			.hospital-overview{
				@include screenMax576{
					padding-top:5px;
				}
			}
		}
	}  //end of view-hospital-container

	.slideBackdrop{
		position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background-color: #000;
	    opacity: 0.6;
	    width: 100%;
	    height: 100%;
	    color: #fff;
	    z-index: 1040;
	}
	
}