<ion-header  *ngIf="!commonService.checkIsWeb()">
  	<header-for-role-creation-form [backBtnLink]="'#/doctor-associate-hospitals'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="hospitalData?.name"  [showBackButton]="true" [showButton]="true" [showRatings]="true" [rating]="hospitalData.avgRating"></header-for-role-creation-form>
</ion-header>
	
<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header *ngIf="commonService.checkIsWeb()">
	  	<header-for-role-creation-form [backBtnLink]="'#/doctor-associate-hospitals'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="hospitalData?.name"  [showBackButton]="true" [showButton]="true" [showRatings]="true" [rating]="hospitalData.avgRating"></header-for-role-creation-form>
	  	<div menuClose ion-item class="common-page-title"  *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{hospitalData.name}}</ion-title>
			<a href="#/hospital-admin-view-contract/DoctorAssociatedHospital/{{hospitalId}}" ion-button class="common-blue-btn">{{ 'VIEW_CONTRACT_BTN_LABEL' | translate }}</a>
		</div>
		<div class="search-container blank-search-container" style="padding-bottom: 10px;"></div>
	</ion-header>
	
	<div class="main-content">
		<ion-grid class="view-hospital-container">
			<ion-row>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-6 class="hospital-img">
					<div id="hospital-sub-images">
						<div class="profile-img profile-img-responsive" *ngFor="let tempImg of imgUrl" [hidden]="!tempImg?.isDefault || !tempImg?.file" [style.backgroundImage]="'url('+ tempImg?.file +')'" ></div>
						<div class="profile-img profile-img-responsive" *ngIf="hospitalData.imagesCount == 0 || noDefaultImg" [style.backgroundImage]="'url(assets/imgs/hospital_profile_image_default.png)'" ></div>
						
						<div class="sub-img-wrapper">
							<div class="sub-images" *ngFor="let in of counter(hospitalData.imagesCount); let i = index;" [hidden]="imgUrl[i]?.isDefault || !imgUrl[i]?.file" >
								<div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url('+ imgUrl[i]?.file +')'" (click)="presentPopover(i)"></div>
								<ion-spinner *ngIf="!imgUrl[i]"></ion-spinner>
							</div> 
						</div>
					</div> 
			   </ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-6 class="hospital-info">
					<div class="mobile-view-details-label" *ngIf="!commonService.checkIsWeb()">
						<img src="assets/imgs/hospital_profile_details_small.svg">
						<span>{{ 'DETAILS_LABEL' | translate }}</span>
					</div>
					<ul>
						<li class="multispeciality" *ngIf="hospitalData.isAMultispeciality">
							<div>
								<img src="assets/imgs/Multispeciality_blank.svg" />
								<span>{{ 'MULTISPECIALITY_LABEL' | translate }}</span>
							</div>
						</li>
	  					<li [ngClass]="{'padding-top20':!hospitalData.isAMultispeciality}">
	  						<p>{{hospitalData.name}}</p>
	  						<span *ngIf="hospitalData.avgRating && commonService.checkIsWeb()"><img src="assets/imgs/star.svg" />{{hospitalData.avgRating}}</span>
	  					</li>
	  					<li *ngIf="hospitalData.address">
	  						<img src="assets/imgs/01_address_icon.svg">
	  						<p>{{ hospitalData.address.street }}, {{ hospitalData.address.cityName }}, {{ hospitalData.address.state }}, {{ hospitalData.address.zipCode }}</p>
	  						<a href="javascript: void(0);" (click)="plotAddressOnMap(hospitalData)"><img src="assets/imgs/map_icon.png" /></a>
	  					</li>
	  					<li *ngIf="hospitalData.email">
	  						<img src="assets/imgs/02_email_icon.svg">
	  						<p> {{ hospitalData.email }} </p>
	  					</li>
	  					<li  *ngIf="hospitalData.contactNumber">
	  						<img src="assets/imgs/03_phone_icon.svg">
	  						<p>{{hospitalData.contactNumber}}</p>
	  					</li>
	  					<li>
	  						<img src="assets/imgs/04_time_icon.svg">
	  						<p class="time-txt"  *ngIf="hospitalData.todaysAvailabilityString != '00:00AM - 11:59PM'" (click) = "openTimingDetails(hospitalData)"> {{ 'TODAY_TEXT' | translate }} - &nbsp; <span class="timeStatus">{{hospitalData.todaysAvailabilityString}}</span></p>
  							<p class="time-txt"  *ngIf="hospitalData.todaysAvailabilityString == '00:00AM - 11:59PM'"  (click) = "openTimingDetails(hospitalData)"> {{ 'TODAY_TEXT' | translate }} - &nbsp; <span class="timeStatus">{{ '24_HRS_OPEN_LABEL' | translate }}</span></p>
  							<button *ngIf="!commonService.checkIsWeb()" ion-button class="common-blue-btn call-btn" (click) = "makeCall(hospitalData.contactNumber)">{{ 'CALL_LABEL' | translate }}</button>
	  					</li>
	  				</ul>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="hospitalData.overview">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
	 				<p><img src="assets/imgs/about_hospital_icon.svg"><span class="infoBlock-label">{{ 'ABOUT_LABEL' | translate }} {{hospitalData.name}}</span></p>
					<div class="infoContent">
					{{hospitalData.overview}}
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="hospitalData.specializationList && hospitalData.specializationList.length > 0">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
	 				<p><img src="assets/imgs/speciality_icon.svg"><span class="infoBlock-label">{{ 'SPECIALITY_LABEL' | translate }}</span></p>
					<div class="infoContent">
						<ion-row>
							<ion-col col-6 col-sm-6  *ngFor="let speciality of hospitalSpecialities; let index=index" class="sp-cls" [class.odd] = "index%2" [class.even] = "index%2 == 0">
								<p>{{speciality.name}}</p>
							</ion-col>
							<span (click)="hideMore('speciality')" class="view-more-label" *ngIf="viewMoreSpFlag">{{ 'VIEW_MORE_LABEL' | translate }}</span>
							<span (click)="hideLess('speciality')" class="view-more-label" *ngIf="!viewMoreSpFlag && !lessThen3Sp">{{ 'VIEW_LESS_LABEL' | translate }}</span>
						</ion-row>
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="hospitalData.serviceList && hospitalData.serviceList.length > 0">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
	 				<p><img src="assets/imgs/services_icon.svg"><span class="infoBlock-label">{{ 'SERVICES_LABEL' | translate }}</span></p>
					<div class="infoContent">
						<ion-row>
							<ion-col col-6 col-sm-6  *ngFor="let service of hospitalServices; let index=index" class="sp-cls" [class.odd] = "index%2" [class.even] = "index%2 == 0">
								<p>{{service.name}}</p>
							</ion-col>
							<span (click)="hideMore('services')" class="view-more-label" *ngIf="viewMoreServiceFlag">{{ 'VIEW_MORE_LABEL' | translate }}</span>
							<span (click)="hideLess('services')" class="view-more-label" *ngIf="!viewMoreServiceFlag && !lessThen3Service">{{ 'VIEW_LESS_LABEL' | translate }}</span>
						</ion-row>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
	 				<p class="marginBottom12" ><img src="assets/imgs/hospital_admins.svg"><span class="infoBlock-label">{{ 'HOSPITAL_ADMIN_LABEL' | translate }}</span></p>
						<system-admin-list-component [systemAdmins]="systemAdmins" [fromDoctorRoleAssociatedHospitalDetails]="true" [from]="fromHospitalAdmin"></system-admin-list-component>
						<div *ngIf="systemAdmins && (!systemAdmins.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
						<div class="load-more-container" text-center *ngIf="!loadFinished && systemAdmins && (systemAdmins.length > 0)">
							<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
						</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	
	<footer class="mobile-view-footer"></footer>
</ion-content>

	<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb()">
	   <a block ion-button class="common-blue-btn" href="#/hospital-admin-view-contract/DoctorAssociatedHospital/{{hospitalId}}" ion-button class="common-blue-btn manage-btn">
       	 {{ 'VIEW_CONTRACT_BTN_LABEL' | translate }}
   		</a>
	</div>