<ion-header>
	<!--  <header class="common-header-component" [linkLabel]="'ADD_HOSPITAL_TITLE'" [link]="'#/system-admin-create-hospital'" [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="true" [pageTitle]="'MANAGE_HOSPITALS_TITLE'"></header> -->
	<header-for-role-creation-form class="common-header-component" [linkLabel]="'ADD_HOSPITAL_TITLE'" [link]="'#/system-admin-create-hospital'"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="true" [pageTitle]="'MANAGE_HOSPITALS_TITLE'"></header-for-role-creation-form>
	<!-- 			  	<ion-navbar>
				<button ion-button menuToggle>
					  <ion-icon name="menu"></ion-icon>
				</button>
				<ion-buttons right class="header-username-container">
					   <button ion-button class="header-username">{{userData.firstName}} {{userData.lastName}}</button>
					<div class="left-border"></div>
				</ion-buttons>
			  </ion-navbar>--->
	<div menuClose ion-item class="common-page-title">
		<ion-title class="page-sub-title">{{ 'MANAGE_HOSPITALS_TITLE' | translate }}</ion-title>
		<a href="#/system-admin-create-hospital" ion-button class="common-blue-btn">{{ 'ADD_HOSPITAL_TITLE' | translate }}</a>
	</div>

	<ion-grid class="search-container">
		<ion-row>
			<ion-col col-12 col-sm-2 col-md-2 col-lg-2>
				<div class="city-ion-dropdown-custom">
					<!-- <ion-item class="common-select-dropdown city-dropdown-item">
							   <ion-label>{{ 'SELECT_CITY' | translate}}</ion-label>
							<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
								<ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
							</ion-select>
						</ion-item> -->

					<ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
						<ionic-selectable item-content *ngIf="cities" [(ngModel)]="city" [items]="cities" [canSearch]="true"
						 [focusSearchbar]="false" itemValueField="id" itemTextField="name" (onChange)="onCityChangeMobile($event)" name="city"
						 okButtonText="Ok">
						</ionic-selectable>

					</ion-item>

					<!-- <select *ngIf="commonService.checkIsWeb()" [(ngModel)]="cityId" name="city" class="city-dropdown-item apperance-none" (change)="onCityChange(cityId)">
							<option selected disabled> {{ 'SELECT_CITY' | translate}} </option>
							<option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }}
							</option>
	
						</select> -->

					<p-dropdown *ngIf="commonService.checkIsWeb()" [options]="cities" [(ngModel)]="city" optionLabel="name" [filter]="true"
					 (onChange)="onCityChange(city.id)"></p-dropdown>

				</div>

			</ion-col>
			<ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="search-textBox">
				<input [(ngModel)]="searchText" name="searchText" (ngModelChange)="onChangeSearchText()" type="text" placeholder="{{ 'SEARCH_HOSPITAL_LABEL' | translate}}">
				<!-- <div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
							<search-result-component [from]="fromString"></search-result-component>
						</div> -->
			</ion-col>
			<ion-col col-2 col-sm-2 col-md-2 col-lg-2><img src="assets/imgs/fillter02.svg" (click)="getFilters()" class="filter-img" /></ion-col>
		</ion-row>
	</ion-grid>
</ion-header>
<ion-content class="hospital-list-content centered-content" padding (click)="bodyClicked()">

	<div class="main-content">
		<hospital-list-component [hospitals]="hospitals"></hospital-list-component>
		<div *ngIf="hospitals && (!hospitals.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate
			}}</div>
		<!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   			<ion-infinite-scroll-content></ion-infinite-scroll-content>
 		</ion-infinite-scroll> -->
		<div class="load-more-container" text-center *ngIf="!loadFinished && hospitals && (hospitals.length > 0)">
			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
		</div>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>
<div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
	<search-result-component [from]="fromString"></search-result-component>
</div>
