page-system-admin-manage-hospitals {
	.city-ion-dropdown{
		//width: 215px;
		.city-dropdown-item{
			border-radius: 5px;
			background-color: rgb(245, 250, 254);
			border: 1px solid rgb(203,210,216);
			min-height: 35px;
		    height: 35px;
		    max-height: 35px;
			ion-select{
				width: 100%;
				max-width: 100%;
				padding: 0;
			}
		}	
	}
	.time .hosp-time-span{
		padding-top:3px;
	}
  	.search-result-container{
		z-index: 9999;
		max-width: 366px;
		left: 164px;
	@include screenMax576{
			//width: 100%;
	       	left: 41%;
			top: 190px;
		    transform: translate(-50%);
	    }
	}
	
	// @media (min-width:240px) and (max-width:768px)
    // {
        
    //     .main-content
    //     {
    //         padding-top:147px !important;
    //     }
    //     .manage-space-header
    //     {
    //         height:147px !important;
    //     }

    //     .manage-space
    //     {
    //         height: 102px !important;
    //     }
       

    // }
}
