time-slots-alert {
	ion-content{
		border-radius: 10px;	
	}
	.wrapper{
	    overflow: auto;
	    height: auto;
	    margin: 0px 10px;
    	padding-bottom: 5px;
	    max-height: 135px;
		border-bottom: 1px solid #dedede;
	}
	.scroll-content{
			padding-left:0 !important;
			margin-bottom:0;
	}
	.time-icon {
		    background-position: 90% 10%;
		    border-bottom: 1px solid #dedede;
	}
	p-calendar .ui-inputtext {
		background-color: transparent;
	}
	.to-label-cls-web{
		margin: 0;
	}

	.contract-item-border-cls{
		border-radius: 5px;	
		border: 1px solid rgb(32, 144, 228);
		padding-left: 12px;
		 @include screenMax576{
			padding-left: 6px;
		}
	}

	.hospital-doctor-timing{
		//border-bottom: 1px solid rgb(185, 185, 185);
		margin: 0 10px;	
    	@include screenMax576{
    		margin:0px 15px;
    	}
	}

	.btn-content{
		margin-top: 20px;
		border-top: 1px solid #dedede;
	    position: absolute;
		width: 100%;
   		bottom: 0;
		.common-btn{
			width:48%;
			height: 5rem;
		    background-color: transparent;
   			color: #488aff;
    		box-shadow: unset;
    		margin-bottom: 0;
    		margin-top: 0;
    		text-transform: capitalize;
    			&:hover{
    	   				background-color: transparent;
   						color: #488aff;
    			}
		}
		.ok-btn{
			border-left: 1px solid #dedede;
		}
	}
	.time-wrapper{
		padding: 16px 5px;
		.time-content{
			padding-top: 10px;
			border-top: 1px solid #dedede;
		}
		.set-time-wrapper{
			align-items: center;
			@include screenMax576{
	    		.time-label{
	    			padding-left:0px;
	    		}
	    	}
	    @include screenMobileMax576{
	     	.time-slot-mobile{
	    		.item-inner{
	    			border-bottom: none !important;
	    			}
	    		}
	    	}
		}
	}
}
.timeSlotPopover{
	.modal-wrapper{
    	width: 400px;
   		min-height: 340px;
   		height: auto;
   		
   		@include screenMax576{
			width: 320px;
		    margin: 0 auto;
		    top: 50%;
		    position: absolute;
		    transform: translate(-50%,-50%) !important;
		    left: 50%;
		    height: 300px;
		    border-radius: 10px;
		}
		.model-title {
	    	padding-top: 5px;
	    	padding-left:0;
	    	padding-right:0;
	    	color: #323b40;
	    	@include screenMax576{
	    		padding-top: 15px;
	    	}
	    }
	   .model-sub-title {
	   		padding: 0;
   		    padding-bottom: 10px;
	   }
	  .availability-label{
	  		color: #323b40;
	    	padding: 0 20px 10px 20px;
	  }
	}
	.time-slot-date{
		width: 100%;
	}
	.time-slot-mobile{
		background: transparent;	
	}

	.radio_item{
// 		display: none;	
	}
	input[type=radio] + label{
// 			@include backgroundImage('../assets/imgs/01_multispacility_uncheck.png', center center, auto);
// 		background-image: url("../../../assets/imgs/01_multispacility_uncheck.png");
// 		display:inline-block;
// 		margin:-2px;
// 		padding: 4px 12px;
// // 		background-color: #e7e7e7;
// 		border-color: #ddd;
	}
	input[type=radio]:checked + label{
// 			@include backgroundImage('../assets/imgs/01_multispacility_checked.png', center center, auto);
// 		background-image: url("../../../assets/imgs/01_multispacility_checked.png");
// 		background-image: none;
//     	background-color:#d0d0d0;
	}
}