<ion-content padding class="centered-content time-slot-pupup">
<div class = "model-title">
	Select available time slots
</div>
<div class = "model-sub-title">
	{{ selectedDay }}
</div>
<div class="wrapper">
	<div class="hospital-doctor-timing">
		 <div class="availability-label">
			 <div><label> Hospital Timings: </label></div>
			 <div class="time-line" *ngFor = "let hospTime of hospitalFromToTimeStr"><label>{{ hospTime }}</label></div>
		</div>
		<div class="content">
			<div> Doctor's Availability: </div>
			<div class="time-line" *ngFor = "let freeSlots of doctorFreeTimeSlots; let i = index">
				{{ freeSlots.timeString }}
			</div>
		</div>
	</div>
</div>
<div col-12 col-sm-12 col-md-12 col-lg-12 class="time-wrapper">
    <ion-row class="time-content" *ngIf="commonService.checkIsWeb()">
        <!-- <ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-5 col-sm-5 col-md-5 col-lg-5 class="time-slot-mobile">
            <ion-datetime name='startTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.startTime" class="time-slot-time-icon time-slot-date time-input" (ngModelChange)="onChangeStartTime(timeSlot.startTime)" placeholder = "{{ 'OPEN_TXT' | translate }}"></ion-datetime>
        </ion-item> -->
        <p-calendar *ngIf="commonService.checkIsWeb()" col-5 col-sm-5 col-md-5 col-lg-5 name='startTime' class="time-icon time-input time-slot-cal" [(ngModel)]="timeSlot.startTime" [timeOnly]="true" hourFormat="12" placeholder="{{ 'OPEN_TXT' | translate }}" (ngModelChange)="onChangeStartTime(timeSlot.startTime)"></p-calendar>
        <ion-col class="to-label-col" col-2 col-sm-2 col-md-2 col-lg-2><p text-center class="to-label-cls-web">{{ 'TO_LABEL' | translate }}</p></ion-col>
        <!-- <ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-5  col-sm-5 col-md-5 col-lg-5 class="time-slot-mobile">
            <ion-datetime name='endTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" class="time-slot-time-icon time-slot-date time-input" [(ngModel)]="timeSlot.endTime"  (ngModelChange)="onChangeEndTime(timeSlot.endTime)" placeholder = "{{ 'CLOSE_TXT' | translate }}"></ion-datetime>
        </ion-item> -->
        <p-calendar *ngIf="commonService.checkIsWeb()" col-5 col-sm-5 col-md-5 col-lg-5 name='endTime' dateFormat="hh:mm A" class="time-icon time-input" [(ngModel)]="timeSlot.endTime" [timeOnly]="true" hourFormat="12" placeholder="{{ 'CLOSE_TXT' | translate }}" (ngModelChange)="onChangeEndTime(timeSlot.endTime)"></p-calendar>
    </ion-row>
    <ion-row *ngIf="!commonService.checkIsWeb()" class="set-time-wrapper">
    	<ion-col col-2 class="time-label">
    		{{ 'TIME_LABEL' | translate }}
    	</ion-col>
    	<ion-item detail-none col-4 class="time-slot-mobile contract-item-border-cls">
            <ion-datetime name='startTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.startTime" class="time-slot-time-icon time-slot-date time-input" (ngModelChange)="onChangeStartTime(timeSlot.startTime)" placeholder = "{{ 'OPEN_TXT' | translate }}"></ion-datetime>
        </ion-item>
        <ion-col class="to-label-col" col-2 col-sm-2 col-md-2 col-lg-2><p text-center class="to-label-cls">{{ 'TO_LABEL' | translate }}</p></ion-col>
        <ion-item detail-none col-4 class="time-slot-mobile contract-item-border-cls">
            <ion-datetime name='endTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" class="time-slot-time-icon time-slot-date time-input" [(ngModel)]="timeSlot.endTime"  (ngModelChange)="onChangeEndTime(timeSlot.endTime)" placeholder = "{{ 'CLOSE_TXT' | translate }}"></ion-datetime>
        </ion-item>
    </ion-row>
</div>
<div class="btn-content">
	<a (click)="cancelTime()" ion-button class="btn common-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
	<a (click)="addTime()" ion-button class="btn common-btn ok-btn">{{ 'OK_BUTTON_LABLE' | translate }}</a>
</div>
</ion-content>
