<ion-header  *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form [showBackButton]=true [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'VISIT_DETAILS'"></header-for-role-creation-form>
	<div class="search-container blank-search-container"></div> 
</ion-header>

<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header  *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form [showBackButton]=true [backBtnLink]="'#/hospital-admin-manage-appointment'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'VISIT_DETAILS'" [showHomeIcon]="false" [homeLink]="'#/doctor-dashboard'"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
         	<ion-title class="page-sub-title">{{ 'VISIT_DETAILS' | translate }}</ion-title>
          	<a *ngIf="detailMode == 'doctorAppointmentDetails'" href="#/booking-step1/{{hospitalInfo?.doctorsDetails?.doctorId}}/doctorRoleUpcomingAppointmentVDBook/0" ion-button class="common-blue-btn">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>
          	<!-- <a *ngIf="detailMode == 'hospitalAppointmentDetails'" href="#/booking-step1/{{hospitalInfo?.doctorsDetails?.doctorId}}/HAManageAppointmentVDBook/0" ion-button class="common-blue-btn">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a> -->
			  <a *ngIf="detailMode == 'hospitalAppointmentDetails'" (click)="onClickBookAppointment('HAManageAppointmentVDBook','bookStep1',0,hospitalInfo?.doctorsDetails?.doctorId)" href="{{bookingUrl}}" ion-button class="common-blue-btn">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>

		</div>
		<div class="search-container blank-search-container"></div> 
	</ion-header>
	<div class="main-content">
  		<page-appointment-details [appointmentInfo]="appointmentInfo" [details]="hospitalInfo" [fromHospitalAdminAppointmentVisitDetails]="detailMode == 'hospitalAppointmentDetails' ? true : false"  [fromAppointmentHistory]="detailMode == 'doctorHistoryDetails' ? true : false" [fromUpcomingAppointment]="detailMode == 'doctorAppointmentDetails' ? true : false" [date]="date"></page-appointment-details>
	</div>
	
	<footer class="mobile-view-footer"></footer>
</ion-content>

<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb()">
	<a block href="#/booking-step1/{{hospitalInfo?.doctorsDetails?.doctorId}}/doctorRoleUpcomingAppointmentVDBook/0" ion-button class="common-blue-btn" *ngIf="detailMode == 'doctorAppointmentDetails' || detailMode == 'doctorHistoryDetails'">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>
	   <!-- <a block href="#/booking-step1/{{hospitalInfo?.doctorsDetails?.doctorId}}/HAManageAppointmentVDBook/0" ion-button class="common-blue-btn" *ngIf="detailMode == 'hospitalAppointmentDetails'">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a> -->
	   <a block (click)="onClickBookAppointment('HAManageAppointmentVDBook','bookStep1',0,hospitalInfo?.doctorsDetails?.doctorId)" href="{{bookingUrl}}" ion-button class="common-blue-btn" *ngIf="detailMode == 'hospitalAppointmentDetails'">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>

</div>