patient-list {
		 .list-container .profile-img a:hover{
		 		//opacity:1;
		 }
		
		.patient-btn-container{
        background: transparent !important;
        .list-btns{
            border-left: 1px solid $borderColor;
            @include screenMax576{
            	border-left-width:0;
            }
            @include ipad-portrait{
                border:0px;
            }
        }
    }
		
	}

