<ion-list class="sys-admin-patient-list-view">
	<ion-row *ngFor="let patient of patientList; let i = index" class="list-container">
		<ion-col col-3 col-xs-12 col-sm-3 col-md-3 col-lg-2 class="profile-img">
        	<a class="profile-img-responsive with-border" [style.backgroundImage]="'url('+patient.imageBase64+')'" *ngIf="patient.imageBase64" (click)="managePatient(patient)" href="#/patient-role-profile/SAPatientList/{{patient.userId}}">
        	</a>
           	<a class="profile-img-responsive with-border" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" *ngIf="!patient.imageBase64" (click)="managePatient(patient)" href="#/patient-role-profile/SAPatientList/{{patient.userId}}"></a>
           	
		</ion-col>
		<ion-col col-9 col-xs-12 col-sm-6 col-md-9 col-lg-5 class="list-content">
			<ul class="list-content">
				<li>
					<p class="name-container" style="display: inline-block;">
						<a href="#/patient-role-profile/SAPatientList/{{patient.userId}}">
							{{patient?.firstName}} {{patient?.lastName}}
						</a>
					</p>
				</li>
				
				<li>
					<span>{{ 'MOBILE_LABEL' | translate }} -&nbsp;</span>
					<span>{{patient?.contactNumber}}</span>
				</li>
				<li *ngIf="patient?.email"> 
					<span>{{ 'EMAIL_LABEL' | translate }} -&nbsp;</span>
					<span>{{patient?.email}}</span>
				</li>
			</ul>
		</ion-col>
		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5 class="list-btn-container patient-btn-container">
			<ion-row text-center>
				<ion-col class="list-btns" col-12 col-sm-12 col-md-12 col-lg-12>
					<a (click)="activateDeactivatePatient(patient)"  *ngIf="patient.blockStatus=='UNBLOCK'"  ion-button class="common-blue-btn deactivate-btn">{{ 'DEACTIVATE_BTN' | translate }}</a>
					<a (click)="activateDeactivatePatient(patient)"  *ngIf="patient.blockStatus=='BLOCK'" ion-button class="common-blue-btn activate-btn">{{ 'ACTIVATE_BTN' | translate }}</a>
					<a  href="#/patient-role-home/{{patient.userId}}" ion-button class="common-blue-btn manage-btn">{{ 'MANAGE_BTN' | translate }}</a>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-list>