<!--
  Generated template for the AddPatientComponentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<form class="common-page-container common-form" #createPatientForm="ngForm" name="createPatientForm" novalidate>
  <ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkPlatform() && !commonService.checkMobileweb()">
    <ion-row class="list-container">
      <ion-col col-12 class="upload-img">
        <!-- <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
        <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
        <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
        <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" /> -->
        <label for="image-upload-input" class="upload-img" (click)="onCamera()">
           <div>
              <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
                <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
          </div>
          </label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    <!-- condition to use img upload in mobile web browser -->
  <ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkMobileweb()">
  <ion-row class="list-container">
        <ion-col col-12 class="upload-img max-width-110"> 
            <!-- <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
            <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
            <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
            <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" /> -->
            <label for="image-upload-input" [ngClass]="{'hand-pointer': isEditSysAdminMode || isCreate}" class="upload-img">  
              <div>
                <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
                  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
            </div>
              <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
            </label>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid class="formFieldsContainer">
    <ion-row *ngIf="commonService.checkIsWeb()">
      <ion-col col-2 class="doctor-img">
        <label for="image-upload-input"  class="upload-img hand-pointer">
          <div>
            <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
            <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
          </div>
          <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
        </label>
        <!-- <label for="image-upload-input" *ngIf="!commonService.checkIsWeb() && !commonService.checkMobileweb() && commonService.checkPlatform()" class="upload-img hand-pointer"
          (click)="onCamera()">
          <div>
            <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
            <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
          </div>
        </label> -->
      </ion-col>
      <ion-col col-8>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-item detail-none>
          <ion-label floating>{{ 'FN_LABEL' | translate }}</ion-label>
          <ion-input name="patientFirstName" [(ngModel)]="patientData.firstName" #patientFirstName="ngModel"
            autocomplete="off" autocorrect="off" pattern="^[a-zA-Z ]{1,50}$" maxlength="50" required></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="patientFirstName.errors && (patientFirstName.dirty || patientFirstName.touched || formSubmitted)">
          <small [hidden]="!patientFirstName.errors.required" class="text-danger">{{ 'ERROR_MSG_PATIENT_FIRST_NAME' |
            translate }}</small>
          <small [hidden]="!patientFirstName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate
            }}</small>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-item detail-none>
          <ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <ion-input name="patientLastName" [(ngModel)]="patientData.lastName" #patientLastName="ngModel" autocomplete="off"
            autocorrect="off" pattern="^[a-zA-Z ]{1,50}$" maxlength="50"></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="patientLastName.errors && (patientLastName.dirty || patientLastName.touched || formSubmitted)">
          <small [hidden]="!patientLastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate}}</small>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-row class="no-padding">
        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
            <ion-item>
              <ion-label floating>{{ 'BLOOD_GROUP_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
              <ion-input name="bloodGroup" [(ngModel)]="patientData.booldGroup" #bloodGroup="ngModel" autocomplete="off"
                autocorrect="off"></ion-input>
              <!-- <ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option> -->
              <!-- <ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option> -->
            </ion-item>
            <!-- <div class="error-msg-block text-left" *ngIf="patientCity.errors && (patientCity.dirty || patientCity.touched || formSubmitted)">
                              <small [hidden]="!patientCity.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' | translate }}</small>
                              <small [hidden]="!patientCity.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_CITY_INPUT' | translate }}</small>	
                        </div> -->
          </ion-col>
          <ion-col col-lg-6 col-12 class="padding-top15 padding-right0">
            <ion-item detail-none>
              <ion-label floating>{{ 'CONTACT_NUMBER' | translate}}</ion-label>
              <ion-input name="patientContactNo" [(ngModel)]="patientData.contactNo" #patientContactNo="ngModel"
                pattern="[1-9][0-9]{9}" maxlength="10" [type]="inputType" autocomplete="off" autocorrect="off" required></ion-input>
            </ion-item>
            <div class="error-msg-block text-left" *ngIf="patientContactNo.errors && (patientContactNo.dirty || patientContactNo.touched || formSubmitted)">
              <small [hidden]="!patientContactNo.errors.required" class="text-danger">{{
                'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
              <small [hidden]="!patientContactNo.errors.pattern" class="text-danger">{{
                'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-item detail-none>
          <ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <ion-input name="patientEmail" [(ngModel)]="patientData.email" #patientEmail="ngModel" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})"
            [type]="inputType" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="patientEmail.errors && (patientEmail.dirty || patientEmail.touched || formSubmitted)">
          <small [hidden]="!patientEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate
            }}</small>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <div>
          <ion-label class="dob-label">{{ 'DOB_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <p-calendar *ngIf="commonService.checkIsWeb()" name="dob" #dob="ngModel" placeholder="{{ 'DOB_FORMAT' | translate }}"
            class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="patientData.dob" [maxDate]="calendarMaxDateForWeb"
            dateFormat="yy-mm-dd" [monthNavigator]="true" [yearNavigator]="true" yearRange={{dobYearRange}}>
            <img src="assets/imgs/contract_calander_icon.png" /></p-calendar>

          <ion-datetime *ngIf="!commonService.checkIsWeb()" name="dob" #dob="ngModel" class="mobileCalendar"
            displayFormat="YYYY-MM-DD" [(ngModel)]="patientData.dob" [max]="calendarMaxDateForMobile"></ion-datetime>

        </div>

      </ion-col>

      <!-- <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <div>

          <ion-label class="common-form-label label label-md is-disabled-label">{{ 'EMPLOYMENT_LABEL' | translate
            }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
            <ionic-selectable item-content [(ngModel)]="employment" [items]="employmentList" [canSearch]="true"
              [focusSearchbar]="false" itemValueField="value" itemTextField="name" (onChange)="onEmploymentSelect($event.value)"
              name="employment" okButtonText="Ok" placeholder="{{ 'EMPLOYMENT_LABEL' | translate }}">
            </ionic-selectable>

          </ion-item>

          <p-dropdown *ngIf="commonService.checkIsWeb()" [options]="employmentList" [(ngModel)]="employment"
            optionLabel="name" name="employment" [filter]="true" (onChange)="onEmploymentSelect(employment)"
            placeholder="{{ 'EMPLOYMENT_LABEL' | translate }}"></p-dropdown>

        </div>
      </ion-col> -->

    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 class="select-relation">
          <ng-container *ngIf="commonService.checkIsWeb()">
            <div>

                <ion-label class="common-form-label label label-md is-disabled-label">{{ 'GENDER_LABEL' | translate }}</ion-label>
                <p-dropdown  [options]="genderList" [(ngModel)]="gender" optionLabel="name"
                  name="gender" #selectGender="ngModel" [filter]="true" (onChange)="onGenderSelect(gender)" placeholder="{{ 'GENDER_LABEL' | translate }}" required></p-dropdown>
      
                  <div class="error-msg-block text-left" *ngIf="selectGender.errors && (selectGender.dirty || selectGender.touched || formSubmitted)">
                    <small [hidden]="!selectGender.errors.required" class="text-danger">{{ 'Error_MSG_SELECT_GENDER' |
                      translate }}</small>
                   
                  </div>
              
              </div>
          </ng-container>

          <ng-container *ngIf="!commonService.checkIsWeb()">
            <div>

                <ion-label class="common-form-label label label-md is-disabled-label">{{ 'GENDER_LABEL' | translate }}</ion-label>
                <ion-item  class="common-select-dropdown city-dropdown-item">
                  <ionic-selectable item-content [(ngModel)]="gender" [items]="genderList" [canSearch]="true"
                    [focusSearchbar]="false" itemValueField="value" itemTextField="name" (onChange)="onGenderSelect($event)"
                    name="gender"  #selectGender="ngModel" okButtonText="Ok" placeholder="{{ 'GENDER_LABEL' | translate }}" required>
                  </ionic-selectable>
      
                </ion-item>
                <div class="error-msg-block text-left" *ngIf="selectGender.errors && (selectGender.dirty || selectGender.touched || formSubmitted)">
                  <small [hidden]="!selectGender.errors.required" class="text-danger">{{ 'Error_MSG_SELECT_GENDER' |
                    translate }}</small>
                </div>
              </div>
          </ng-container>
       

      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 class="select-relation">
          <ng-container *ngIf="commonService.checkIsWeb()">
            <div>

              <ion-label class="common-form-label label label-md is-disabled-label">{{ 'RELATION_LABEL' | translate }}</ion-label>
            
              <p-dropdown  [options]="relationList" [(ngModel)]="relation" optionLabel="name"
                name="relation" #selectRelation="ngModel" [filter]="true" (onChange)="onRelationSelect(relation)" placeholder="{{ 'RELATION_LABEL' | translate }}" required></p-dropdown>

                <div class="error-msg-block text-left" *ngIf="selectRelation.errors && (selectRelation.dirty || selectRelation.touched || formSubmitted)">
                    <small [hidden]="!selectRelation.errors.required" class="text-danger">{{ 'Error_MSG_SELECT_RELATION' |
                      translate }}</small>
                  </div>
              <!-- <div class="error-msg-block text-left" *ngIf="!patientData.relation && formSubmitted">
                <small [hidden]="patientData.relation" class="text-danger">{{ 'Error_MSG_SELECT_RELATION' | translate }}</small>
              </div> -->
            </div>

            </ng-container>

            <ng-container *ngIf="!commonService.checkIsWeb()">
                <div>
    
                  <ion-label class="common-form-label label label-md is-disabled-label">{{ 'RELATION_LABEL' | translate }}</ion-label>
                  <ion-item class="common-select-dropdown city-dropdown-item">
                    <ionic-selectable item-content [(ngModel)]="relation" [items]="relationList" [canSearch]="true"
                      [focusSearchbar]="false" itemValueField="value" itemTextField="name" (onChange)="onRelationSelect($event)"
                      name="relation" #selectRelation="ngModel" okButtonText="Ok" placeholder="{{ 'RELATION_LABEL' | translate }}" required>
                    </ionic-selectable>
    
                  </ion-item>
    
                  <div class="error-msg-block text-left" *ngIf="selectRelation.errors && (selectRelation.dirty || selectRelation.touched || formSubmitted)">
                    <small [hidden]="!selectRelation.errors.required" class="text-danger">{{ 'Error_MSG_SELECT_RELATION' |
                      translate }}</small>
                  </div>
                </div>
    
                </ng-container>

      </ion-col>

      <ion-col col-12 col-sm-6 col-md-6 col-lg-4>
          <div>
  
            <ion-label class="common-form-label label label-md is-disabled-label">{{ 'MARTIAL_STATUS_LABEL' | translate
              }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
            <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
              <ionic-selectable item-content [(ngModel)]="maritalStatus" [items]="maritalStatusList" [canSearch]="true"
                [focusSearchbar]="false" itemValueField="value" itemTextField="name" (onChange)="onMaritalStatusSelect($event)"
                name="maritalStatus" okButtonText="Ok" placeholder="{{ 'MARTIAL_STATUS_LABEL' | translate }}">
              </ionic-selectable>
  
            </ion-item>
  
            <p-dropdown *ngIf="commonService.checkIsWeb()" [options]="maritalStatusList" [(ngModel)]="maritalStatus"
              optionLabel="name" name="maritalStatus" [filter]="true" (onChange)="onMaritalStatusSelect(maritalStatus)"
              placeholder="{{ 'MARTIAL_STATUS_LABEL' | translate }}"></p-dropdown>
  
          </div>
        </ion-col>

    </ion-row>

    <ion-row>
        <ion-col col-12 col-sm-12 col-md-6 col-lg-3>
          <ion-item>
            <ion-label floating>{{ 'STREET' | translate }} </ion-label>
            <ion-input name="street" [(ngModel)]="address.street" #street="ngModel" autocomplete="off" autocorrect="off"></ion-input>
          </ion-item>
          <div class="error-msg-block text-left" *ngIf="street.errors && (street.dirty || street.touched || formSubmitted)">
            <!-- <small [hidden]="!state.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' |
                  translate }}</small> -->
            <small [hidden]="!street.errors.pattern" class="text-danger">{{ 'Error_MSG_BLANK_STREET' | translate
              }}</small>
          </div>
        </ion-col>
        <ion-col col-12 col-sm-6 col-md-6 col-lg-3>
          <div *ngIf="!showOtherCity">

            <ion-label class="common-form-label label label-md is-disabled-label">{{ 'CITY_LABEL' | translate }}</ion-label>
            <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
              <ionic-selectable item-content [(ngModel)]="city" [items]="cityList" [canSearch]="true" [focusSearchbar]="false"
                itemValueField="id" itemTextField="name" (onChange)="onCitySelectMobile($event)" name="city"
                okButtonText="Ok" placeholder="{{ 'CITY_LABEL' | translate }}">
              </ionic-selectable>
             
            </ion-item>

            <p-dropdown *ngIf="commonService.checkIsWeb()" [options]="cityList" [(ngModel)]="city" optionLabel="name"
              name="city" [filter]="true" (onChange)="onCitySelect(city)" placeholder="{{ 'CITY_LABEL' | translate }}"></p-dropdown>

          </div>

          <div *ngIf="showOtherCity" class="show-city-wrapper">
              <ion-item>
                  <ion-label floating>{{ 'CITY_LABEL' | translate }} </ion-label>
                  <ion-input name="city" [(ngModel)]="patientData.otherCity" #city="ngModel" autocomplete="off" autocorrect="off"
                    pattern="^[a-zA-Z ]+$"></ion-input>
                  <!-- <ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option> -->
                  <!-- <ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option> -->
                </ion-item>
                <div class="error-msg-block text-left" *ngIf="city.errors && (city.dirty || city.touched || formSubmitted)">
                  <!-- <small [hidden]="!state.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' |
                    translate }}</small> -->
                  <!-- <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate
                    }}</small> -->
                </div>
                <a (click)="onClickCloseOtherCity()" class="fa fa-times back"></a>
          </div>

        </ion-col>

      <ion-col col-12 col-sm-6 col-md-6 col-lg-3>
        <ion-item>
          <ion-label floating>{{ 'STATE_LABEL' | translate }} </ion-label>
          <ion-input name="state" [(ngModel)]="address.state" #state="ngModel" autocomplete="off" autocorrect="off"
            pattern="^[a-zA-Z ]+$"></ion-input>
          <!-- <ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option> -->
          <!-- <ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option> -->
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
          <!-- <small [hidden]="!state.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' |
            translate }}</small> -->
          <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate
            }}</small>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 col-lg-3>
        <ion-item>
          <ion-label floating>{{ 'ZIP' | translate }} </ion-label>
          <ion-input name="zipCode" [(ngModel)]="address.zipCode" #zipCode="ngModel" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <!-- <div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
              <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate
                }}</small>
            </div> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4>
        <ion-item class="float-label">
          <ion-label floating>{{ 'EMERGENCY_CONTACT_NAME_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <ion-input name="emergencyName" [(ngModel)]="patientData.emergencyContactName" #emergencyName="ngModel"
            autocomplete="off" autocorrect="off" pattern="^[a-zA-Z ]+$" [required]="!(!patientData.emergencyContactNum || patientData.emergencyContactNum == '') || !(!emergencyContactRelation || emergencyContactRelation == '')"></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="emergencyName.errors && (emergencyName.dirty || emergencyName.touched || formSubmitted)">
          <small [hidden]="!emergencyName.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_EMERGENCY_CONTACT_NAME' | translate }}</small>
          <small [hidden]="!emergencyName.errors.pattern" class="text-danger">{{
            'ERROR_MSG_INVALID_EMERGENCY_CONTACT_NAME' | translate }}</small>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4>
        <ion-item class="float-label">
          <ion-label floating>{{ 'EMERGENCY_CONTACT_NUM_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <ion-input name="emergencyNum" [(ngModel)]="patientData.emergencyContactNum" #emergencyNum="ngModel"
            autocomplete="off" autocorrect="off" pattern="[1-9][0-9]{9}" maxlength="10" [required]="!(!patientData.emergencyContactName || patientData.emergencyContactName == '') || !(!emergencyContactRelation || emergencyContactRelation == '')"></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="emergencyNum.errors && (emergencyNum.dirty || emergencyNum.touched || formSubmitted)">
          <small [hidden]="!emergencyNum.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
          <small [hidden]="!emergencyNum.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_PATIENT_MOBILE' |
            translate }}</small>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 class="select-relation">
        <ng-container *ngIf="!commonService.checkIsWeb()">
            <div>
  
                <ion-label class="common-form-label label label-md is-disabled-label">{{ 'EMERGENCY_CONTACT_RELATION_LABEL' |
                  translate }}</ion-label>
                <ion-item  class="common-select-dropdown city-dropdown-item">
                  <ionic-selectable item-content [(ngModel)]="emergencyContactRelation" [items]="emergencyRelationList" [canSearch]="true"
                    [focusSearchbar]="false" itemValueField="value" itemTextField="name" name="emergencyContactRelation" #eRelation="ngModel"
                    okButtonText="Ok" (onChange)="onEmergencyContactRelationSelect($event)" placeholder="{{ 'EMERGENCY_CONTACT_RELATION_LABEL' | translate }}"
                    [required]="!(!patientData.emergencyContactNum || patientData.emergencyContactNum == '') || !(!patientData.emergencyContactName || patientData.emergencyContactName == '')">
                  </ionic-selectable>
      
                </ion-item>
      
              </div>
              <div class="error-msg-block text-left" *ngIf="eRelation.errors && (eRelation.dirty || eRelation.touched || formSubmitted)">
                <small [hidden]="!eRelation.errors.required" class="text-danger">{{ 'Error_MSG_SELECT_RELATION' | translate }}</small>
              </div>
        </ng-container>
        <ng-container *ngIf="commonService.checkIsWeb()">
            <div >
  
                <ion-label class="common-form-label label label-md is-disabled-label">{{ 'EMERGENCY_CONTACT_RELATION_LABEL' |
                  translate }}</ion-label>
              
      
                <p-dropdown  [options]="emergencyRelationList" [(ngModel)]="emergencyContactRelation"
                  optionLabel="name" name="emergencyContactRelation" #eRelation="ngModel" [filter]="true" (onChange)="onEmergencyContactRelationSelect(emergencyContactRelation)"
                  placeholder="{{ 'EMERGENCY_CONTACT_RELATION_LABEL' | translate }}" 
                  [required]="!(!patientData.emergencyContactNum || patientData.emergencyContactNum == '') || !(!patientData.emergencyContactName || patientData.emergencyContactName == '')"></p-dropdown>
              </div>
    
              <div class="error-msg-block text-left" *ngIf="eRelation.errors && (eRelation.dirty || eRelation.touched || formSubmitted)">
                <small [hidden]="!eRelation.errors.required" class="text-danger">{{ 'Error_MSG_SELECT_RELATION' | translate }}</small>
              </div>
          </ng-container>
         
  
        </ion-col>

    </ion-row>

    <div class="btn-container" text-right>
      <a  href="{{backPageUrl}}" block ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' |
        translate }}</a>
      <a (click)="onClickSavePatient(createPatientForm)" block ion-button class="common-blue-btn">{{ 'SAVE_BTN_LABEL' |
        translate }}</a>
        <!-- <a (click)="uploadImage(patientData.userId,patientData.userProfileId)" block ion-button class="common-blue-btn">{{ 'SAVE_BTN_LABEL' |
            translate }}</a> -->
        <!-- <a (click)="createPatient(createPatientForm)" block ion-button class="common-blue-btn">{{ 'SAVE_BTN_LABEL' |
            translate }}</a> -->
    </div>
  </ion-grid>
</form>