<!-- Generated template for the HospitalItemComponent component -->
<ion-row>
    <ion-col col-12 col-xs-12 col-sm-6 col-md-9 col-lg-9 (click)="itemClick()" class="list-content edit-button-list-view">
        <ul class="list-item">
          <!-- <li>
           <p class="name-container">
            <a >
               <span *ngIf="viewLeave.userProfileDTO.role == 'DOCTOR'">{{ 'DOCTOR_PREFIX' | translate }}</span> {{ viewLeave.userProfileDTO.firstName }} {{ viewLeave.userProfileDTO.lastName }}
            </a>
          </p>
          </li> -->
         
          <li>
              
              <p>{{ 'FROM_LABEL' | translate }} {{":"}} {{ viewLeave?.fromDateView | date:"'MMM dd, yyyy hh:mm:ss a"}} </p>
          </li>
          <li>
              <p>{{ 'TO_LABEL' | translate }} {{":"}} {{ viewLeave?.toDateView | date: "MMM dd, yyyy hh:mm:ss a"}} </p>
          </li>
          <!-- <li>
              <p>{{ 'DESCRIPTION_LABEL' | translate }} {{":"}} {{ viewLeave?.description }} </p>
          </li> -->
          
        </ul>
    </ion-col>
    <ion-col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 class="list-content edit-button-view">
      <ul>
        <li class="pull-right" >
            
            <a ion-button (click)="editClick()" class="common-blue-btn">{{ 'EDIT_BTN_LABEL' | translate }}</a>

          </li>	
        </ul>
    </ion-col>

  
  </ion-row>
  <ion-row *ngIf="showHospital">
      <ion-item class="list-container" *ngFor="let hospital of viewLeave.hospitals">
          <hospital-item-component [hospital]="hospital"></hospital-item-component>
      </ion-item>
      
  </ion-row>