view-holiday-item-component {
    // .list-img-container{
    //     position: relative;
    //     padding-left: 35px !important;
    // }
    .checkbox-label.checkbox-position {
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%);
        .item-inner{
            padding: 0;
            border: transparent;
        }
     }
     .item-md{
         background: transparent;
     }

     .hospital-list-content{
        padding-bottom:15px !important;
        
        ul li{
            align-items:center;
        }
    }
    .list-content.edit-button-list-view{
        padding: 0 !important;
        padding-top: 0 !important;
        .list-item{
            li{
                margin-bottom: 0;
                p{
                    margin-bottom: 0;
                    font-size: 16px;
                }
            }
        }
    }
    .edit-button-view{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .item-inner{
     border-bottom: 0 none;   
    }
}
