page-hospital-admin-create-doctor {
// 		.has-mobile-btn-footer.centered-content{
// 			.scroll-content{
// 				@include screenMax576{
// 					margin-bottom: 0;
// 			}
// 			}
// 		}
// 

	.centered-content .main-content{
		@include screenMax576{
			padding-top:0px;
		}
	}
	.hand-pointer{
		display:inline-block;
	}
	.scroll-content{
		padding: 0;
		background: rgb(246, 247, 251);	
	}
	.mobile-profile-img{
		img{
			@include screenMax576{
					max-width:100px !important;
			}
		}
	}
	.formFieldsContainer{
		background: white;
		.text-input{
			@include screenMax576{
				margin-bottom: 10px !important;
			}
		}
		.doc-username{
			.label{
				margin:0px;
			}
		}
		.doctor-img{
			padding: 0 !important;
			//cursor:pointer;
			img{
				@include screenMax576{
					max-width:100px;
				}
				border-radius:6px;
			}
		}	
		.ui-state-disabled {
           @include screenMax576{
               opacity: 1;
               color:  #7f8489 !important;
           }
        }
        
	}
	.selectCls{
		color: black;
	}
	.unselectCls{
		color: #8e8e8e;
	}

	.selectedOption{
		color:red !important
	}
	.doctor-input{
		input{
			margin-bottom: 0px;
		}	
	}
	ion-select{
		max-width: 100%;
		width: 100%;	
	}
	.text-area-cls{
		border-radius: 5px;
		border: 1px solid rgb(18, 142, 232);
		height: 70px;
		padding: 10px;
	}
	.itemSelect {
		    padding: 0;
// 		    border-color: #cecece;
		    overflow: hidden;
		    margin-left: 10px;
		    /* For I.E */
		    select::-ms-expand {
    			display: none;
			}
		    /* -------- */
		    select {
		    	max-width: 100%;
			    width: 100%;
			    direction: ltr;
			    padding: 20px 0px 0px 6px;
			    border-color: transparent;
			    -moz-appearance:none; /* Firefox */
    			-webkit-appearance:none; /* Safari and Chrome */
    			appearance:none;
    			@include backgroundImage('../../assets/imgs/dropdown01.png', 95% 85%, auto);
    			border: none;
    			border-bottom: 1px solid rgb(213, 217, 228);
    			color: rgb(173, 174, 176);
		    }
		    .selectStatusLabel{
		    	z-index: 1;
			    right: 16px;
			    position: absolute;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
	    		border-top: 9px solid #953337;
			    border-left: 9px solid transparent;
			    border-right: 9px solid transparent;
		    	
		    }
		    &:after {
		    	display: none;
		    }
		}
	 .city-dropdown{
           .select{
               @include screenMax576{
                   color: #7f8489;
                   opacity:1 !important;
               }
           }
       }
   .view-mode-cls{
       @include screenMax576{
               color: #7f8489 !important;
               opacity:1 !important;
       }
   }
   .common-form .formFieldsContainer ion-row ion-col .item.item-input.item-label-floating.input-has-focus.item-input-has-focus ion-label[floating] {
	    @include screenMax576{
	    	color: #a0a0a0;
	    }
	}

	.formFieldsContainer ion-row ion-col:last-child
	{
		padding:0 !important;
	}

	.profile-info{
		ion-col{
			padding-left:0px !important;
		}
		
		ion-item{
			.item-inner{
				border-bottom:0px !important;
				box-shadow:unset !important;
				padding:0px !important;
			}
			ion-label{
				padding-left:15px !important;
				margin-bottom: 5px;
			}
			ion-textarea{
				border-radius: 6px;
				border: 1px solid #2090e5;
				padding:10px 0px 10px 15px;
				textarea{
					margin: 0px !important;
					resize: none;
					height: 49px;
				}
			}
		}
		.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) ion-input {
			border:1px solid red;
		}
		.item.item-input.input-has-focus.item-input-has-focus ion-label,
		.item.item-input.input-has-value.item-input-has-value ion-label{
			padding-left:17px !important;
		}
	}

	

	.infoBlock{
		> p{
			@include screenMax767{
				padding-left:20px !important;
			}
		}
		#about-hospital{
			display:block;
			@include screenMax576{
				display:none;
			}
		}
		.view-more-label{
			color: $timeLinkBlueColor;
			font-size: 1.5rem;
			cursor: pointer;
			width: 100%;
			text-align: right;
		}
		.about{
			text-align: left !important;
			margin-bottom:10px;
		}
		.about-hospital{
			height:38px;
			overflow: hidden;
		}
		#mobile-about-hospital{
			display:none;
			@include screenMax576{
				display:block;
			}
		}
		p{
			margin:0px;
			display:flex;
			align-items:center;
			color: $blockHeadingColor;
			font-size:1.7rem;
			span{
				padding-left:10px;
			}
		}
		.infoContent{
			background-color:$whiteColor;
			margin-top:12px;
			padding:10px 20px;
			color: $listItemContentColor;
			font-size:1.5rem;
			border:1px solid $borderColor;
			
			@include screenMax576{
				margin-top:5px;
			}
			p{
				margin-bottom:10px;
				color: $listItemContentColor;
				font-size:1.5rem;
				&:last-child{
					margin:0px;
				}
			}
		}

		&:first-child{
			.infoContent{
				padding-left:20px;
			}
		}

		.sp-cls{
			margin-bottom: 0px;
			padding: 5px 0 5px 0px;
		}
		.odd{
			//border-left: 1px solid rgb(213, 213, 213);
			padding-left: 20px;
			margin-top: 0px !important;
			text-overflow: ellipsis;
			 overflow: hidden;
			 white-space: nowrap;
			 display: block;
			@include screenMax576{
				padding-left: 20px;
				border-left-width: 0;
			}
		}
		.even{
			   border-right: 1px solid rgb(213, 213, 213);
			   text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			padding-right: 20px;
			display: block;
		   @include screenMax576{
			   border-right-width: 1px;
		   }
	   }

	   
	}
}

page-hospital-admin-create-doctor .common-form .formFieldsContainer ion-row .username-mobile-field-wrapper{
	   @include screenMax576{
	   		padding-right:0px;
       }
	 #username-mobile-field-row{
		padding-top:0px;
	}
}

page-hospital-admin-create-doctor .common-form .formFieldsContainer ion-row ion-col.mobile-view-street{
	@include screenMax576{
   		padding-top:4px;
   }
   
   @include screenMobileMax576{
   		padding-top:0px;
   }
}

page-hospital-admin-create-doctor .common-form .formFieldsContainer ion-row ion-col.education-details{
	@include screenMax576{
   		padding-right:20px;
   }
   
   @include screenMobileMax576{
   		padding-right:0px;
   }
}

page-hospital-admin-create-doctor .common-form .formFieldsContainer ion-row.service-specialization-row{
   @include screenMax576{
   		select-searchable{
   			height:41px;
   		}
   }
   @include screenMobileMax576{
   		padding-top:0px;
   		select-searchable{
   			height:initial;
   		}
   }
}


