page-system-admin-manage-patients {
   .sys-admin-patient-list-view{
       @extend .sys-admin-list-view;
   }
  .searchPatientsComponent{
//   	.search-result-container{
// 		z-index: 9999;
// 		max-width: 366px;
// 		left: 16px;
// 	@include screenMax576{
// 			width: 100%;
// 		    left: 50%;
// 		    top: 40px;
// 		    transform: translate(-50%);
// 	    }
// 	}
	  	.search-result-container{
		z-index: 9999;
		max-width: 366px;
		left: 16px;
	@include screenMax576{
			//width: 100%;
	       	left: 41%;
			top: 144px;
		    transform: translate(-50%);
	    }
	}


  }
}
