<ion-header>
		<header-for-role-creation-form class="common-header-component" [linkLabel]="'ADD_PATIENT_TITLE'" [link]="'#/system-admin-create-patients'" [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="true" [pageTitle]="'MANAGE_PATIENTS_TITLE'"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title">
			<ion-title class="page-sub-title">{{ 'MANAGE_PATIENTS_TITLE' | translate }}</ion-title>
			<a href="#/system-admin-create-patients" ion-button class="common-blue-btn">{{ 'ADD_PATIENT_TITLE' | translate }}</a>
		</div>
		<ion-grid class="search-container">
			<ion-row>
				<!-- <ion-col col-12 col-sm-2 col-md-2 col-lg-2>
				<div  class="city-ion-dropdown">
					<ion-item class="common-select-dropdown city-dropdown-item">
						<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
							<ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
						</ion-select>
					</ion-item>
				</div>
				</ion-col> -->
				<!-- <ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="search-textBox"><input readOnly type="text" placeholder="{{ 'SEARCH_PATIENTS_LABEL' | translate}}"></ion-col> -->
			<ion-col col-7 col-sm-5 col-md-5 col-lg-5 class="search-textBox">
			<input type="text" [(ngModel)]="searchText" (ngModelChange)="onChangeSearchText()" placeholder="{{ 'SEARCH_PATIENTS_LABEL' | translate}}">
				<!-- <div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
					<search-result-component class="searchPatientsComponent" [from]="fromString"></search-result-component>
				</div> -->
			</ion-col>
				
				
				<!-- <ion-col col-2 col-sm-2 col-md-2 col-lg-2 ><img src="assets/imgs/fillter02.svg" (click)="showComingSoon()" class="filter-img"/></ion-col> -->
			</ion-row>
		</ion-grid>
	</ion-header>
<ion-content class="hospital-list-content centered-content" padding>
	
	<div class="main-content">
		<patient-list [patientList]="patientList"></patient-list>
  		<div *ngIf="patientList && (!patientList.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && patientList && (patientList.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>
	<div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
		<search-result-component class="searchPatientsComponent" [from]="fromString"></search-result-component>
	</div>