<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form *ngIf="mode == 'updateFeedback'" [backBtnLink]="'#/patient-role-feedback-history'" class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'RATE_AND_FEEDBACK_LABEL'" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="mode == 'createFeedback'" [backBtnLink]="'#/appointment-list/patientHistory'" class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'RATE_AND_FEEDBACK_LABEL'" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{ 'RATE_AND_FEEDBACK_LABEL' | translate }}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header>	

<ion-content padding class="centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form *ngIf="mode == 'updateFeedback'" [backBtnLink]="'#/patient-role-feedback-history'" class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'RATE_AND_FEEDBACK_LABEL'" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
		<header-for-role-creation-form *ngIf="mode == 'createFeedback'" [backBtnLink]="'#/appointment-list/patientHistory'" class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'RATE_AND_FEEDBACK_LABEL'" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'RATE_AND_FEEDBACK_LABEL' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>	
  <div class="main-content">
	<ion-grid class="feedback-container">
			<ion-row class="feedbackt-item">
			 <ion-col col-12 col-sm-12 col-md-12 col-lg-12>
			 	<div class="header-content">
			 		<img *ngIf="!doctorData.imageBase64" class="user-profile" src="assets/imgs/default_profile.png" />
			 		<img *ngIf="doctorData.imageBase64" class="user-profile" src="{{doctorData?.imageBase64}}" />
			 		 <p class="name-txt">{{doctorData?.firstName}} {{doctorData?.lastName}}</p>
			 		 <div class="rate-content">
				 		 	<p-rating *ngIf="mode == 'updateFeedback'" [(ngModel)]="feedbackData.doctorFeedbackRatingPoints" [cancel]="false"></p-rating>
				 		 	<p-rating *ngIf="mode == 'createFeedback'" [(ngModel)]="feedbackData.doctorFeedbackRating" [cancel]="false"></p-rating>
				 		 	<!-- {{feedbackData.doctorFeedbackRating}} -->
			 		 </div>
			 		 <ion-textarea class="review-text" [(ngModel)]="feedbackData.doctorFeedbackComments"
			 		 placeholder="{{ 'DOCTOR_REVIEW_PLACEHOLDER' | translate }} {{'OPTIONAL_LABEL' | translate}}"></ion-textarea>
			 	</div>
			 	
			</ion-col>
			</ion-row>
			<ion-row class="feedbackt-item">
			 <ion-col col-12 col-sm-12 col-md-12 col-lg-12>
				<div class="header-content">
			 		<img *ngIf="!hospitalData.imageBase64" class="user-profile" src="assets/imgs/hospital_default_image.png" />
			 		<img *ngIf="hospitalData.imageBase64" class="user-profile" src="{{hospitalData?.imageBase64}}" />
			 		
			 		 <p class="name-txt">{{hospitalData?.name}}</p>
			 		 <div class="rate-content">
				 		 	<p-rating [(ngModel)]="feedbackData.hospitalFeedbackRating" [cancel]="false"></p-rating>
				 		 		<!-- {{feedbackData.hospitalFeedbackRating}} -->
			 		 </div>
			 		 <ion-textarea [(ngModel)]="feedbackData.hospitalFeedbackComments" class="review-text"  placeholder="{{ 'HOSPITAL_REVIEW_PLACEHOLDER' | translate }} {{'OPTIONAL_LABEL' | translate}}"></ion-textarea>
			 	</div>
			</ion-col>
			</ion-row>
			<div class="load-more-container" text-center>
 				<button  ion-button class="common-blue-btn" *ngIf="mode=='createFeedback'" (click)="createFeedback();">{{ 'SUBMIT_FEEDBACK_LABEL' | translate }}</button>
 				<button  ion-button class="common-blue-btn" *ngIf="mode=='updateFeedback'"  (click)="updateFeedback();">{{ 'UPDATE_BTN_LABEL' | translate }}</button>
 			</div>
	</ion-grid>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>
