page-rate-and-feedback {

	.feedback-container{
		    padding: 0;
		.feedbackt-item{
		    background-color: #fff;
    		border: 1px solid #cadce8;
    		margin-bottom: 5px;
    		.header-content{
    			text-align: center;
    			margin-top: 20px;
    			.review-text{
    				textarea{
    					background-color: #f4f7fc;
    					border: 1px solid #cadce8;
    					border-radius: 5px;
					    height: 130px;
    					resize: none;
    					padding: 15px;
    					margin: 8px 8px;
    				}
    			}
    			.user-profile{
				     border: 1px solid #148de9;
   					 border-radius: 6px;
					 height: 70px;
    			}
    			.name-txt{
    				margin-top: 5px;
				    margin-bottom: 5px;
    			}
    			.rate-content{
    				display:inline-block;
    				.ui-rating {
    					font-size: 1.6em;
						@include screenMax576{
    						font-size: 2.6em;
						}
	    				 a {
	    					color: #e4b13c;
	    					text-decoration: none;
	    				}
    				}
    				.star-cls{
    					    margin-right: 10px;
    						height: 20px;
    						width: 20px;
    						cursor:pointer;
    				}
    			}
    		}
    	}
	}
}
