page-booking-step1 {
	@include screenMax576{
		.main-content {
		    padding-top: 0px !important;
		}
	}
	
    ion-col, ion-grid{
        padding:0px !important;
    }
    p{
        margin:0px;
    }
    ion-grid{
    	padding-top:20px !important;
    }
    .note{
    	margin:20px 0px 0px;
    	color: $listItemContentColor;
    	text-align:center;
    	font-size:1.4rem;
    	@include screenMax576{
        	 padding-left:20px;
        	 padding-right:20px;
        }
    }
    .card-container{
        background: $whiteColor;
        border:1px solid #cadce8;
        margin-bottom:20px;
        .card-title{
            background-color:#c9e8ff;
            p{
                margin:0px;
                font-size:1.6rem;
                font-weight:500;
                color: $listItemContentColor;
                padding: 15px 0px 15px 30px;
                @include screenMax576{
                	 padding: 10px 0px 10px 30px;
                }
            }
        } //end of card-title

        .card-content{
            padding:20px 0px 10px 0px !important;
            > ion-row{
                padding:0px 20px 10px;

                &:last-child{
                    padding-bottom:0px;
                }
            }
            ion-col{
                display:inline-flex;
                align-items: center;
                
                img,p{
                    display:inline-block;
                }
                p{
                    padding:0px 10px 0px 10px;
                    font-size:1.4rem;
                    color: $listItemContentColor;
                }
            }
            .appointment-details{
                ion-row{
                    width:100%;
                }
            }
            .appointment-type{
                justify-content: flex-start;
                align-items: center;
                 @include screen991{
                     align-items:end;
                  }
            }
            .fees-details{
                justify-content: flex-start;
                  @include screen991{
                      //margin-top:10px;
                  }
            }
            .ratings{
                justify-content: flex-end;
                p{
                    padding-right:0px;
                }

                @include screen991{
                    align-items: flex-start;
                    p{
                        padding-top:3px;
                    }
                }
            }
            .address-details{
                .map{
                    justify-content: flex-end;
                    span{
                    	border-left:1px solid $borderColor;
                    	img{
	                        margin-left:20px;
	                        cursor:pointer;
	                    }
                    }
                }
            }

        }  //end of card-content

        .card-morning-time-slots-container{
            padding:0px 20px 10px !important;
            display: block;
            .slot-title{
                width:100%;
                display: inline-flex;
                font-size:1.5rem;
                margin-bottom: 10px;
                color: $blackColor;
                padding:0px 10px 0px 0px;
                align-items: center;
                img{
                    padding-right:10px;
                    align-self: end;
                }
            }
            .visit-type{
            	display:flex;
            	align-items: center;
            	margin-bottom:10px;
            	.type-label,img{
            		display:inline-flex;
            	}
            	.type-label{
            		padding-left:15px;
            	}
            }
            .time-slot-wrapper{
                width:100%;
                display: inline-block;
                padding-bottom:20px;
            	border-bottom:1px solid $borderColor;
                a{
                    border:1px solid $timeLinkBlueColor;
                    padding:8px 10px;
                    border-radius:6px;
                    display: inline-block;
                    font-size:1.4rem;
                    text-align:center;
                    color: $listItemContentColor;
                    margin:10px 10px 0px 0px!important;
                    @include screenMax576{
                	   margin:10px 4px 0px 0px!important;
            	       padding:8px 6px;
                    }
                    &:last-child{
                        margin-right:0px;
                    }
                }
                 a.active, a:active, a:hover, a:focus{
                	background-color: $timeLinkBlueColor;
                	color:$whiteColor;
                }
            }
            
            
            &:last-child .time-slot-wrapper{
            	border:0px;
            }
        } //end of card-morning-time-slots-container

    }//end of card-container
    .no-data-found{
    	padding-left:20px;
    	color: $timeLinkBlueColor;
    	margin-bottom:15px;
    }
    .ui-calendar{
    	width:100%;
    	border:1px solid #cadce8;
    	padding-right:0px;
    	@include screenMax576{
    		border:0px;
    	}
	    .ui-widget-content{
	         border:0px;
	         @include screenMax576{	    		
	         	background:transparent;
	    	}
	    }
	    .ui-datepicker-header{
	        background: #c9e8ff;
	        border:0px;
	        @include screenMax576{	    		
	         	background-color:#fff;
	         	border-bottom:1px solid $timeLinkBlueColor;
	         	
	         	.ui-datepicker-next, .ui-datepicker-prev{
	         		color:#999999;
	         	}
	         	.ui-datepicker-title{
	         		color: $blackColor;
	         	}
	    	}
	    }
	    .ui-datepicker-calendar-container{
	    	margin:0px 10px;
	     	@include screenMax576{	    		
	         	background-color:#fff;
	         	border:1px solid #cadce7;
	         	border-top:0px;
	    	}
	    	
	    	tr{
	    		height:40px;
	    	}
	    }
	    
	    .ui-datepicker.ui-widget .ui-datepicker-calendar thead th{
	        background: $whiteColor;
	        padding:1em;
	        span{
	            font-size:1.5rem;
	            font-weight:400;
	        }
	    }
	    .ui-datepicker.ui-widget .ui-datepicker-calendar td{
	        border:0px;
	    }
	    .ui-datepicker .ui-datepicker-prev:hover,
	    .ui-datepicker .ui-datepicker-next:hover{
	        background:transparent;
	    }
	    .ui-datepicker.ui-widget .ui-datepicker-calendar td>a{
	       //padding:1em;
	       padding:0;
	    }
	    .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight{
	        background:transparent;
	        span{
	            padding:9px;
	            border:1px solid #118ee8 !important;
	            color:#118ee8;
	            width:35px;
	            height:35px;
	            display:inline-block;
	        }
	    }
	    .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active{
	        background:transparent;
	    	 span{
	    	 	padding:9px;
	         	background-color:#118ee8 !important;
	         	border:1px solid $timeLinkBlueColor;
	         	color:$whiteColor;
	            width:35px;
	            height:35px;
	            display:inline-block;
	         }
	    }
	    .ui-datepicker td>span{
	        padding:1em;
	    }
	}
}    

