<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form *ngIf="doctorDetails && !doctorDetails?.imageBase64" [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]=" doctorDetails.firstName+' '+doctorDetails.lastName" [showDrPrefix]="true" [showDrImg]="false" [drImgPath]=" 'url(assets/imgs/default_profile.png)' " [showBackButton]="true"  [showHomeIcon]="true" [homeLink]="homeBtnUrl"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="doctorDetails && doctorDetails?.imageBase64" [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]=" doctorDetails.firstName+' '+doctorDetails.lastName" [showDrPrefix]="true" [showDrImg]="false" [drImgPath]="'url('+doctorDetails.imageBase64+')'" [showBackButton]="true"  [showHomeIcon]="true" [homeLink]="homeBtnUrl"></header-for-role-creation-form>
</ion-header>

<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form *ngIf="doctorDetails && !doctorDetails?.imageBase64" [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]=" doctorDetails.firstName+' '+doctorDetails.lastName" [showDrPrefix]="true" [showDrImg]=true [drImgPath]=" 'url(assets/imgs/default_profile.png)' " [showBackButton]="true"  [showHomeIcon]="true" [homeLink]="homeBtnUrl"></header-for-role-creation-form>
		<header-for-role-creation-form *ngIf="doctorDetails && doctorDetails?.imageBase64" [backBtnLink]="backBtnUrl" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]=" doctorDetails.firstName+' '+doctorDetails.lastName" [showDrPrefix]="true" [showDrImg]=true [drImgPath]="'url('+doctorDetails.imageBase64+')'" [showBackButton]="true"  [showHomeIcon]="true"   [homeLink]="homeBtnUrl"></header-for-role-creation-form>
		<!-- <header-for-role-creation-form *ngIf="fromPage =='patientDoctorProfile'" [backBtnLink]="'#/doctor-role-upcoming-appointments'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'BOOK_AN_APPOINTMENT'"  [showBackButton]="true" [showHomeIcon]="true"></header-for-role-creation-form> -->
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()"> 
          <ion-title class="page-sub-title">{{ doctorDetails.firstName }} {{ doctorDetails.lastName }}</ion-title>
          <a ion-button [ngClass]="{'a-disabled':!isTimeslotSelected}" class="common-blue-btn" href="{{redirectionUrl}}">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>
		</div>
		<div class="search-container blank-search-container"></div>
		
		<!-- <header class="common-header-component" [linkLabel]="'BOOK_AN_APPOINTMENT'"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'VISIT_DETAILS'" [showButton]="true"></header> -->
	</ion-header>
	<div class="main-content">
        <p-calendar [(ngModel)]="date" [minDate]="minDate" [maxDate]="maxDate" (onSelect)="onDateSelect(date)" [inline]="true">
            <ng-template pTemplate="date" let-date>
                <span style="border-radius:50%">{{date.day}}</span>
            </ng-template>
		</p-calendar>
		<div class="note"> *{{ 'BOOKING_NOTE' | translate }}</div>
		<ion-grid>
			<ion-row class="card-container" *ngFor="let hospital of hospitalData">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-title" *ngIf="hospital?.hospitalDetails?.name">
					<p class="card-title">{{hospital?.hospitalDetails?.name}}</p>
				</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-content">
					<ion-row>
						<ion-col col-8 col-sm-8 col-md-8 col-lg-8 class="appointment-details">
							<ion-row>
								<ion-col col-12 col-sm-12 col-md-12 col-lg-5 class="fees-details" *ngIf="hospital?.fees">
									<img class="icon mIconSmall" src="assets/imgs/doctors_fees_blue.svg" />
									<p class="date">{{ 'FEES_TEXT' | translate }}: {{hospital?.fees | currency:"INR":true:'1.0-0'}} /-</p>
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col col-4 col-sm-4 col-md-4 col-lg-4 class="ratings" *ngIf="hospital?.hospitalDetails?.avgRating">
							<img class="icon" src="assets/imgs/star.svg" />
                            <p class="date">{{hospital?.hospitalDetails?.avgRating}}</p>
						</ion-col>
					</ion-row>
					<ion-row class="address-details">
						<ion-col col-10 col-sm-10 col-md-10 col-lg-10 class="location">
							<img class="icon mIconSmall" src="assets/imgs/location.svg" />
                            <p class="date" *ngIf="hospital.hospitalDetails.address">
                            	{{ hospital?.hospitalDetails?.address?.street }}, 
                            	{{ hospital?.hospitalDetails?.address?.cityName }}, 
                            	{{ hospital?.hospitalDetails?.address?.state }}, 
                            	{{ hospital?.hospitalDetails?.address?.zipCode }}
                           	</p>
						</ion-col>
						<ion-col col-2 col-sm-2 col-md-2 col-lg-2 class="map">
							<span><img (click)="plotAddressOnMap(hospital.hospitalDetails.name,hospital.hospitalDetails.address)" class="icon" src="assets/imgs/map_icon.png" /></span>
						</ion-col>
					</ion-row>
				</ion-col>
				
				<!-------------------------------- doctorAvailableTimeslotAtMorning ------------------------------------------------------>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.morningSlot?.appointmentSlots && hospital?.morningSlot?.appointmentSlots.length > 0">
					<p class="slot-title"><img class="icon" src="assets/imgs/morning_icon.svg" />{{ 'MORNING_LABEL' | translate }}</p>
					<div class="visit-type" *ngIf="hospital?.morningSlot?.appointmentSlots?.appointmentSlotFromTime && 
													hospital?.morningSlot?.appointmentSlots?.appointmentSlotToTime">
						<img class="icon mIconSmall" src="assets/imgs/time.svg" />
                        <p class="type-label">{{hospital?.morningSlot?.appointmentSlots?.appointmentSlotFromTime}}  {{hospital?.morningSlot?.appointmentSlots?.appointmentSlotToTime}}</p>
					</div>	
					<div class="visit-type" *ngIf="hospital?.morningSlot?.appointmentSlots?.visitType">
						<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
						<p class="type-label">{{ 'APPOINTMENT_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
					</div>		
					<div class="time-slot-wrapper">
						<a *ngFor="let morningSlot of hospital?.morningSlot?.appointmentSlots" [class.active]="morningSlot.isSelected" (click)="getSelectedTimeslot(morningSlot, hospital)">{{morningSlot.startTime}}</a>
					</div>
				</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.morningSlot?.tokenSlots && hospital?.morningSlot?.tokenSlots.length > 0">
					<div *ngFor="let morningSlot of hospital?.morningSlot?.tokenSlots">
						<p class="slot-title"><img class="icon" src="assets/imgs/morning_icon.svg" />{{ 'MORNING_LABEL' | translate }}</p>
						<div class="visit-type" *ngIf="hospital?.morningSlot?.tokenSlots?.tokenSlotFromTime && 
													  hospital?.morningSlot?.tokenSlots?.tokenSlotToTime">
							<img class="icon mIconSmall" src="assets/imgs/time.svg" />
	                        <p class="type-label">{{ 'TIME_LABEL' | translate }}: {{hospital?.morningSlot?.tokenSlots?.tokenSlotFromTime}} {{ 'TO_LABEL' | translate }} {{hospital?.morningSlot?.tokenSlots?.tokenSlotToTime}}</p>
						</div>
						<div class="visit-type" *ngIf="hospital?.morningSlot?.tokenSlots?.visitType">
							<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
							<p class="type-label">{{ 'TOKEN_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
						</div>					
						<div class="time-slot-wrapper">
							<a [class.active]="morningSlot.isSelected" (click)="getSelectedTokenTimeslot(morningSlot, hospital)">{{morningSlot.startTime}} {{ 'TO_LABEL' | translate }} {{morningSlot.endTime}}</a>
						</div>
					</div>
				</ion-col>
				
				<!-------------------------------- doctorAvailableTimeslotAtAfternoon------------------------------------------------------>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.afternoonSlot && hospital?.afternoonSlot?.appointmentSlots">
					<p class="slot-title"><img class="icon" src="assets/imgs/afternoon_icon.svg" />{{ 'AFTERNOON_LABEL' | translate }}</p>
					
					<div class="visit-type" *ngIf="hospital?.afternoonSlot?.appointmentSlots?.appointmentSlotFromTime && 
													hospital?.afternoonSlot?.appointmentSlots?.appointmentSlotToTime">
						<img class="icon mIconSmall" src="assets/imgs/time.svg" />
                        <p class="type-label">{{ 'TIME_LABEL' | translate }}: {{hospital?.afternoonSlot?.appointmentSlots?.appointmentSlotFromTime}} {{ 'TO_LABEL' | translate }} {{hospital?.afternoonSlot?.appointmentSlots?.appointmentSlotToTime}}</p>
					</div>	
					<div class="visit-type" *ngIf="hospital?.afternoonSlot?.appointmentSlots?.visitType">
						<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
						<p class="type-label">{{ 'APPOINTMENT_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
					</div>	
					<div class="time-slot-wrapper">
						<a *ngFor="let afternoonSlot of hospital?.afternoonSlot?.appointmentSlots" [class.active]="afternoonSlot.isSelected" (click)="getSelectedTimeslot(afternoonSlot, hospital)">{{afternoonSlot.startTime}}</a>
					</div>
				</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.afternoonSlot && hospital?.afternoonSlot?.tokenSlots.length > 0">
					<div *ngFor="let afternoonSlot of hospital?.afternoonSlot?.tokenSlots">
						<p class="slot-title"><img class="icon" src="assets/imgs/afternoon_icon.svg" />{{ 'AFTERNOON_LABEL' | translate }}</p>
						
						<div class="visit-type" *ngIf="hospital?.afternoonSlot?.tokenSlots?.tokenSlotFromTime && 
													  hospital?.afternoonSlot?.tokenSlots?.tokenSlotToTime">
							<img class="icon mIconSmall" src="assets/imgs/time.svg" />
	                        <p class="type-label">{{ 'TIME_LABEL' | translate }}: {{afternoonSlot.startTime}} {{ 'TO_LABEL' | translate }} {{afternoonSlot.endTime}}</p>
						</div>	
						<div class="visit-type" *ngIf="hospital?.afternoonSlot?.tokenSlots?.visitType">
							<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
							<p class="type-label">{{ 'TOKEN_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
						</div>					
						<div class="time-slot-wrapper">
							<a [class.active]="afternoonSlot.isSelected" (click)="getSelectedTokenTimeslot(afternoonSlot, hospital)">{{afternoonSlot.startTime}} {{ 'TO_LABEL' | translate }} {{afternoonSlot.endTime}}</a>
						</div>
					</div>
				</ion-col>
				
				<!-------------------------------- doctorAvailableTimeslotAtEvening------------------------------------------------------>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.eveningSlot?.appointmentSlots && hospital?.eveningSlot?.appointmentSlots.length > 0">
					<p class="slot-title"><img class="icon" src="assets/imgs/evening&night_icon.svg" />{{ 'EVENING_LABEL' | translate }}</p>
					
					<div class="visit-type" *ngIf="hospital?.eveningSlot?.appointmentSlots?.appointmentSlotFromTime && 
													hospital?.eveningSlot?.appointmentSlots?.appointmentSlotToTime">
						<img class="icon mIconSmall" src="assets/imgs/time.svg" />
                        <p class="type-label">{{ 'TIME_LABEL' | translate }}: {{hospital?.eveningSlot?.appointmentSlots.appointmentSlotFromTime}} {{ 'TO_LABEL' | translate }} {{hospital?.eveningSlot?.appointmentSlots?.appointmentSlotToTime}}</p>
					</div>
					<div class="visit-type" *ngIf="hospital?.eveningSlot?.appointmentSlots?.visitType">
						<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
						<p class="type-label">{{ 'APPOINTMENT_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
					</div>
					<div class="time-slot-wrapper">
						<a *ngFor="let eveningSlot of hospital?.eveningSlot?.appointmentSlots" [class.active]="eveningSlot.isSelected" (click)="getSelectedTimeslot(eveningSlot, hospital)">{{eveningSlot.startTime}}</a>
					</div>
				</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.eveningSlot?.tokenSlots && hospital?.eveningSlot?.tokenSlots.length > 0">
					<div *ngFor="let eveningSlot of hospital?.eveningSlot?.tokenSlots">
						<p class="slot-title"><img class="icon" src="assets/imgs/evening&night_icon.svg" />{{ 'EVENING_LABEL' | translate }}</p>
						
						<div class="visit-type" *ngIf="hospital?.eveningSlot?.tokenSlots?.tokenSlotFromTime && 
													  hospital?.eveningSlot?.tokenSlots?.tokenSlotToTime">
							<img class="icon mIconSmall" src="assets/imgs/time.svg" />
	                        <p class="type-label">{{ 'TIME_LABEL' | translate }}: {{hospital?.eveningSlot?.tokenSlots?.tokenSlotFromTime}} {{ 'TO_LABEL' | translate }} {{hospital?.eveningSlot?.tokenSlots?.tokenSlotToTime}}</p>
						</div>	
						<div class="visit-type" *ngIf="hospital?.eveningSlot?.tokenSlots?.visitType">
							<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
							<p class="type-label">{{ 'TOKEN_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
						</div>			
						<div class="time-slot-wrapper">
							<a [class.active]="eveningSlot.isSelected" (click)="getSelectedTokenTimeslot(eveningSlot, hospital)">{{eveningSlot.startTime}} {{ 'TO_LABEL' | translate }} {{eveningSlot.endTime}}</a>
						</div>
					</div>
				</ion-col>
				
				<!-------------------------------- doctorAvailableTimeslotAtNight------------------------------------------------------>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.nightSlot?.appointmentSlots && hospital?.nightSlot?.appointmentSlots.length > 0">
					<p class="slot-title"><img class="icon" src="assets/imgs/evening&night_icon.svg" />{{ 'NIGHT_LABEL' | translate }}</p>
					
					<div class="visit-type" *ngIf="hospital?.nightSlot?.appointmentSlots?.appointmentSlotFromTime && 
													hospital?.nightSlot?.appointmentSlots?.appointmentSlotToTime">
						<img class="icon mIconSmall" src="assets/imgs/time.svg" />
                        <p class="type-label">{{hospital?.nightSlot?.appointmentSlots?.appointmentSlotFromTime}} {{hospital?.nightSlot?.appointmentSlots?.appointmentSlotToTime}}</p>
					</div>
					<div class="visit-type" *ngIf="hospital?.nightSlot?.appointmentSlots?.visitType">
						<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
						<p class="type-label">{{ 'APPOINTMENT_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
					</div>
					<div class="time-slot-wrapper">
						<a *ngFor="let nightSlot of hospital?.nightSlot?.appointmentSlots" [class.active]="nightSlot.isSelected" (click)="getSelectedTimeslot(nightSlot, hospital)">{{nightSlot.startTime}}</a>
					</div>
				</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="card-morning-time-slots-container" *ngIf="hospital?.nightSlot?.tokenSlots && hospital?.nightSlot?.tokenSlots.length > 0">
					<div *ngFor="let nightSlot of hospital?.nightSlot?.tokenSlots">
						<p class="slot-title"><img class="icon" src="assets/imgs/evening&night_icon.svg" />{{ 'NIGHT_LABEL' | translate }}</p>
						
						<div class="visit-type" *ngIf="hospital?.nightSlot?.tokenSlots?.tokenSlotFromTime && 
													  hospital?.nightSlot?.tokenSlots?.tokenSlotToTime">
							<img class="icon mIconSmall" src="assets/imgs/time.svg" />
	                        <p class="type-label">{{ 'TIME_LABEL' | translate }}: {{hospital?.nightSlot?.tokenSlots?.tokenSlotFromTime}} {{ 'TO_LABEL' | translate }} {{hospital?.nightSlot?.tokenSlots?.tokenSlotToTime}}</p>
						</div>	
						<div class="visit-type" *ngIf="hospital?.nightSlot?.tokenSlots?.visitType">
							<img class="icon mIconSmall" src="assets/imgs/booking_type.svg" />
							<p class="type-label">{{ 'TOKEN_TXT' | translate }} {{ 'BOOKING_TXT' | translate }}</p>
						</div>			
						<div class="time-slot-wrapper">
							<a [class.active]="nightSlot.isSelected" (click)="getSelectedTokenTimeslot(nightSlot, hospital)">{{nightSlot.startTime}} {{ 'TO_LABEL' | translate }} {{nightSlot.endTime}}</a>
						</div>
					</div>
				</ion-col>
				<div class="no-data-found" (click)=" openTimingDetails()" *ngIf="hospital?.isData">{{ 'DOCTOR_UNAVAILABLE_MSG' | translate }}</div>
			</ion-row>
			<div class="no-data-found" *ngIf="hospitalData && hospitalData.length == 0 ">{{ 'NO_DATA_FOUND' | translate }}</div>
		</ion-grid>
		
		<div class="load-more-container" text-center *ngIf="!loadFinished && hospitalData && (hospitalData.length > 0)">
			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
		</div>
	</div>

	<footer class="mobile-view-footer"></footer>
</ion-content>

<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb()">
	  <a block ion-button [ngClass]="{'a-disabled':!isTimeslotSelected}" class="common-blue-btn" href="{{redirectionUrl}}">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>
</div>