page-hospital-admin-view-hospital{
	.available-time-txt{
  		 color: #2090e4;
		text-decoration: underline;
	}
	.scroll-content{
		@include screenMax767{
			//padding:0px !important;
		}
		@media (max-width: 768px){
			.main-content {
			    padding-top: 0px !important;
			}
		}
	}

	.sub-img-wrapper{
		overflow-x: auto;
	    white-space: nowrap;
	    width: 100%;
	    overflow-y: hidden;	
	}

	.mobile-view-details-label{
		padding: 0px 15px 5px 15px;
		img{
			vertical-align:bottom;
		}
		span{
			font-size:1.6rem;
			padding-left:5px;
			color:#617077;
			padding-left:8px;
		}
	}

	.view-hospital-container{
		padding: 0;

		@include screenMax576{
			margin-top:-2px;
		}
		ion-row{
			margin-bottom: 11px;
			&:last-child{
				margin:0px;
			}
			ion-col{
				padding-right:0px;
				&:first-child{
					@include screen991{
						padding-right:0px;
					}
				}
				&:last-child{
					@include screen991{
						padding-left:0px;
					}
				}
			}
			.hospital-img{
				padding-right:10px;
				display:block;
				padding-left: 0;
				#hospital-sub-images {
					overflow-x: auto;
					white-space: no-wrap;
					display:block;
					.profile-img{
						height: 100%;
						padding-top: calc(50% - 2px);
						//background-size:contain;
						border:1px solid $borderColor;
						@include screenMax576{
							border:none;
						}
					}
					@include screenMax767{
						margin-left:21px;
					}
					@include screenMax576{
						margin-left:0;
					}
    				 .sub-images{
    					display:inline-flex;
						background-color: #dededf;
						margin-left:20px;
						width:52px;
						height:52px;
						border:1px solid $timeLinkBlueColor;
						cursor: pointer;
						position: relative;
						margin-top:20px;
						.uploaded-sub-img{
							background-color: #dededf;
							padding-top: calc(100% - 2px);
						}
						&:first-child{
							margin-left:0px;
							@include screenMax576{
								margin-left:20px;
							}
						}
						ion-spinner{
							position: absolute;
							.spinner-crescent svg .spinner-md-crescent circle{
								stroke: #fff !important;
							}
						}
						&:last-child{
							margin-right:10px;
						}
						ion-img{
							width:50px;
							height:50px;
						}
    				} 
				} //end of > div
				
			} //end of hospital-img
		
			.hospital-info{
				padding-left:10px;
				.rating-cls{
					margin-right: 20px;
					@include screenMax576{
						margin-right: 15px;
					}
				}
				@include screen991{
					margin-top:11px;
				}
				ul{
					background-color:$whiteColor;
					padding-bottom:20px;
					@extend .list-item;
					border:1px solid $borderColor;
					li{
						display:flex;
						align-items:end;
						padding-left:20px;
						margin-left:0px;
						margin-bottom:5px;
						width:100%;
						@include screenMax576{
							margin-bottom:0px;
							padding-left:15px;
							align-items:end;
							padding-bottom:5px;
							
							&:last-child{
								padding-bottom:0px;
							}
						}
						
						p.time-txt{
							 width: 100% !important;	
							span{
								width: unset !important;
							}
						}
						p{
							width:77% !important;
							padding-right:13px;
							margin-left:15px;
							&:first-child{
								max-width: unset !important;
							    width: 82% !important;
							    text-overflow: unset;
								white-space: unset;
							}
							
							@include screenMax576{
								vertical-align:21px;
							}
							
						}
						span.close-txt{
							width: 42% !important;	
						    color: #2090e4;
    						text-decoration: underline;
    						text-underline-position: under;
						}
						span, a{
							width:20% !important;
							display: inline-flex;
							justify-content:flex-end;
							img{
								margin-right:5px;
							}
						}
						.map-icon img{
							border-left:1px solid $borderColor;
							padding:0px 15px;
						}
						.call-btn{
							display: none;
							height:3rem;
							min-height:3rem;
							@include screenMax576{
								display: block;
								margin-right:15px;
								width:unset !important;
								padding:0px !important;
								.button-inner{
									justify-content: center !important;
								}
							}
						}
						&:nth-child(2){
							p{
								line-height:20px !important;
							}
							span,a{
								img{
									margin-right:3px !important;
									@include screenMax576{
										margin-right:0 !important;
									}
								}
							}
						}
					}
					.multispeciality{
						img{
							margin:auto 0 0 auto;
						}
					}
				}
			} //end of hospital-info
			
			.infoBlock{
				> p{
					@include screenMax767{
						padding-left:20px !important;
					}
				}
				#about-hospital{
					display:block;
					@include screenMax576{
						display:none;
					}
				}
				.view-more-label{
					color: $timeLinkBlueColor;
					font-size: 1.5rem;
					cursor: pointer;
					width: 100%;
					text-align: right;
				}
				.about{
					text-align: left !important;
					margin-bottom:10px;
				}
				.about-hospital{
					height:38px;
					overflow: hidden;
				}
				#mobile-about-hospital{
					display:none;
					@include screenMax576{
						display:block;
					}
				}
				p{
					margin:0px;
					display:flex;
					align-items:center;
					color: $blockHeadingColor;
					font-size:1.7rem;
					span{
						padding-left:10px;
					}
				}
				.infoContent{
					background-color:$whiteColor;
					margin-top:12px;
					padding:10px 20px;
					color: $listItemContentColor;
					font-size:1.5rem;
					border:1px solid $borderColor;
					
					@include screenMax576{
						margin-top:5px;
					}
					p{
						margin-bottom:10px;
						color: $listItemContentColor;
						font-size:1.5rem;
						&:last-child{
							margin:0px;
						}
					}
				}
				
				&:first-child{
					.infoContent{
						padding-left:20px;
					}
				}
				.sp-cls{
					margin-bottom: 0px;
					padding: 5px 0 5px 0px;
				}
				.odd{
					//border-left: 1px solid rgb(213, 213, 213);
					padding-left: 20px;
					margin-top: 0px !important;
				    text-overflow: ellipsis;
					 overflow: hidden;
					 white-space: nowrap;
				     display: block;
					@include screenMax576{
						padding-left: 20px;
						border-left-width: 0;
					}
				}
				.even{
                   	border-right: 1px solid rgb(213, 213, 213);
                   	text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				    padding-right: 20px;
			        display: block;
                   @include screenMax576{
                       border-right-width: 1px;
                   }
               }
			}
		} //end of ion-row
	}  //end of view-hospital-container
}

.slideBackdrop{
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 1040;
}

.padding-top20{
	padding-top:20px ;
}