#image-upload-input,
#hos-image-upload-input,
#doc-input{
	position:absolute;
	width:1px;
	height:1px;
	visibility: hidden;
}
page-hospital-admin-edit-hospital {
	.img-cls{
           @include screenMax576{
                max-width: 200px !important;
           }
   }
   
   	.centered-content .main-content{
		@include screenMax576{
			padding-top:0px;
		}
	}
   
   .mobile-profile-img{
		.upload-img{
			margin:0px auto;
			div{
				border-radius:6px;
			}
			.camera-icon{
				bottom:22px;
			}
		}
	}
	.formFieldsContainer{
		ion-row ion-col .item-select .select {
			@include screenMax576{
		    	padding: 9px 10px 5px;
		    }
		   
		}
		.edit-hospital-content{
			@include screenMax576{
                    border-top: 1px solid #dedede;
    				margin-top: 15px;
           }
		}
		.upload-img-lbl{
			color: #616161;	
		}
		ion-row{
			&:nth-child(6){
				padding-bottom:30px;
				margin-bottom:30px;
				border-bottom:1px solid $borderColor;
				@include screenMax576{
					padding-bottom:20px;
					margin-bottom:20px;
					//padding-top:0px;
				}
				@include screenMobileMax576{
					padding-top:0px;
				}
			}
			&:nth-child(7){
				padding-top:0px !important;
			}
			&:nth-child(8){
				padding-top:25px !important;
				@include screenMax576{
					padding-top:5px !important;;
				}
			}
			ion-col{
				&:first-child{
					padding-left:0px !important;
				}
				 @include screenMobileMax576{
					&:first-child{
						padding-right:0px !important;
					}
					&:last-child{
						padding-left:0px !important;
					}
				}
				.common-select-dropdown.city{
// 					padding-top:14px;
				}

				.common-select-dropdown{
					padding-top:3px;
				}
			}
			ion-col.blank-col{
				@include screenMax576{
					display: none;
				}
			}
			.hospital-profile-img {
				position: relative;
				display: inline-block;
				img{
					display: block;
					cursor: pointer;
				}	
			}
		   .hospital-img-container{
		   		min-height:250px;
		   		@include screenMax576{
                   min-height:auto;
               }
           }
			.hospital-img{
				padding-right:10px;
				display:block;
				.hospital-profile-img {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width:100%;
					height:100%;
					cursor: pointer;
					img{
						display: block;
						width: 100%;
    					height: 100%;
					}
				}
				.upload-profile-img{
				   height:100%;
				   position:relative;
				   .profile-img-label{
					    display: inline-flex;
					    width: 100%;
					    height: 100%;
					    .profile-img{
							height: 100%;
							padding:0px;   
							padding-top: calc(50% - 2px);
						//	background-size:contain;
							border:1px solid $borderColor;
							cursor: pointer;
						}
					 }
				}
				.upload-sub-images {
    					display:inline-flex;
						margin-right:20px;
						width:70px;
						height:70px;
						border:2px dashed #bfbbbb;
						border-radius: 6px;
						position: relative;
							margin-top:10px;
						.sub-image{
							background-color: #dededf;
							border-radius: 6px;
						}
						ion-spinner{
							position: absolute;
							.spinner-crescent svg .spinner-md-crescent circle{
								stroke: #fff !important;
							}
						}
						&:last-child{
							margin-right:0px;
						}
					}
					.default-upload-sub-image{
						@extend .upload-sub-images;
						cursor: pointer;
					}
			}//end of hospital-img
		}
		.about-hospital{
			ion-col{
				padding-left:0px !important;
			}
			
			ion-item{
				.item-inner{
					border-bottom:0px !important;
					box-shadow:unset !important;
					padding:0px !important;
				}
				ion-label{
					padding-left:15px !important;
					margin-bottom: 5px;
				}
				ion-textarea{
					border-radius: 6px;
					border: 1px solid #2090e5;
					padding:10px 0px 10px 15px;
					textarea{
						margin: 0px !important;
						resize: none;
    					height: 49px;
					}
				}
			}
			.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) ion-input {
				border:1px solid red;
			}
			.item.item-input.input-has-focus.item-input-has-focus ion-label,
			.item.item-input.input-has-value.item-input-has-value ion-label{
				padding-left:17px !important;
			}
		}
		.time-container {
			padding-bottom:20px;
			border-bottom:1px solid $borderColor;
			
			ion-row{
				padding:0px;
			}
			.set-time{
				ion-row{
					&:first-child{
						ion-col{
							color:$timeLinkBlueColor;
						}
						.days-time-label{
							padding-top:3px;
						}
						.checkbox-label{
							align-items:end;
							.check-content{
								display:flex;
								align-items:center;
								justify-content:flex-end;
								padding-right:0px;
								span{
									padding-right:10px;
								}
							}
							.item-inner{
								border-bottom:0px !important;
								text-align: right;
    							padding-right: 0;
							}
						}//end of checkbox-label
					}
					&:nth-child(2){
						ion-col{
							color:$timeLinkBlueColor;
							display:flex;
							align-items:center;
							//padding-bottom:12px;
						}
					}
				}
				
				.effective-contract-date{
					.effective-date{
						min-height:3.4rem;
						.datetime{
							width:100% !important;
							 @include screenMax576{
                               padding-bottom: 5px !important;
                           }
						}
					}
				}
			  .weekday-lablel{
                   @include screenMax576{
                       margin-top: 17px;
                   }
               }
 
				.time-slots{
					 @include screenMax576{
						 padding-top:16px;
					}
					.time-label{
						 @include screenMax576{
						 	padding-top:16px;
						 }
					}
					> div{
						padding:0px !important;
						.time-input{
							width: 100%;
							padding: 18px 40px 6px 0px !important;
							border-bottom: 1px solid #dedede;
							@include screenMax576{
								padding: 0px 30px 0px 0px !important;
								border-bottom-width:0;
							}
						}
						ion-col{
							display:flex;
							align-items:flex-end;
							justify-content:center;
							color:$listItemContentColor;
							p{
								margin: 10px 0px 4px;
							}
							 @include screenMax576{
							 	padding-top:0px;
							 }
							
						}
						.to-label-col{
							align-items: center;
							p{
								margin: 0;
								padding-top: 10px;

								@include screenMax576{
									padding-top:2px;
								}
							}
						}
					}
					
				}//end of time-slots
				@media (min-width: 320px) and (max-width: 940px){
				    flex: 0 0 100%;
				    width: 100%;
				    max-width: 100%;
				    padding:0px !important;
			    }
			}//end of set-time
			
			.day-time-table{
				.table-wrapper{
					margin-bottom:0 !important;
				}
				.padding_top_none{
					padding-top: 0px !important;	
				}
				.date-time-cls{
					div{
						border: 0;
						box-shadow: none;
					}	
				}
				.table-content{
					padding:10px !important;
					ion-row{
						padding:5px;
						&:first-child{
						   padding-top:0px;
						}
						&:last-child{
						   padding-bottom:0px;
						}
						ion-col{
							padding-top:0px !important;
						}
					}
				}
				div{
					background:$whiteColor;
					border:1px solid #cadce8;
					&:first-child{						
						ion-row{
							background-color:#d8eeff;
							padding: 12px 12px;
						}
					}
					&:last-child{
						padding:0px 10px 0px 10px;
						border-top:0px;
						ion-row{
							padding-right:0px;
							ion-col{
								align-items:center;
								display:flex;
								color:$listItemContentColor;
								ion-datetime,
								.datetime-disabled{
									opacity:1;
								}
								
								&:last-child img{
									 margin: auto 0px auto auto;
								}
							}
						}
					}
					ion-row{
						padding:0px 10px 0px 0px;;
						border-bottom:1px solid $borderColor;
						&:last-child{
							border:0px;
						}
					}
				}
				@media (min-width: 320px) and (max-width: 940px){
					flex: 0 0 100%;
				    width: 100%;
				    max-width: 100%;
				    padding:0px !important;;
				    margin-top:20px;
			    }
			}//end of day-time-table
		}//end of time-container
		
		.multispeciality{
			.label-txt{
				position: relative;
				.check-img-cls{
					position: absolute;
    				width: 15px;
    				height: 15px;
				}
				.multispeciality-txt{
					padding-left: 20px;
				}
			}
			div{
				@extend .checkbox-label;
			}
			.checkbox-label{
				ion-label{
					padding-left: 8px !important;
						 @include screenMax576{
						 	padding-left: 0px !important;
						 }
				}
				.checkbox{
					margin:0px 3px 0px 0px;
				}
				.item-inner{
					border-bottom-width: 0;
				}
			}
		}
		p-multiselect .ui-multiselect{
			padding-left:15px;
		}
		p-calendar{
			padding-left:0px;
		}
		p-calendar .ui-inputtext{
			padding: 5px 15px 0px 15px;
		}
		.list-of-speciality,
		.list-of-service{
			padding:10px 10px 10px 15px;
			min-height:70px !important;
			margin-top:15px;
			border-radius:6px;
			border:1px solid  $blueBtnColor;
			color: $listItemContentColor !important;
		}
		.text-area-cls{
			height: 70px !important;
			padding: 5px;
		}
		.btn-container{
			margin-top:30px !important;
		}
	}
	.mobile-input-border{
		border: 1px solid rgb(32, 144, 228);
		border-radius: 5px;	
	}
	.set-rows-mobile{
		align-items: flex-start;
			.weekday-wrapper{
				padding-top:0px !important;
			}	
		
	}
	.time-labels-mobile{
		color: black !important;	
	}
	.day-time-label{
		font-size: 18px;	
	}
	.weekdayLabel{
		margin-top: 15px;	
	}
	.timeLabel{
		//margin-top: 25px;
	}
	.time-cls-mobile{
		.item-inner{
			padding: 0 0 0 5px !important;	
		}
	}
	.formFieldsContainer .multispeciality div .label{
		padding:0px;
	}
	
	.hospital-services{
		padding-top:15px;
	}


	.time-slots{
		@include screenMax576{
			padding-top:16px;
	   }
	   .time-label{
			@include screenMax576{
				padding-top:16px;
			}
	   }
	   > div{
		   padding:0px !important;
		   .time-input{
			   width: 100%;
			   padding: 18px 40px 6px 0px !important;
			   border-bottom: 1px solid #dedede;
			   @include screenMax576{
				   padding: 0px 30px 0px 0px !important;
				   border-bottom-width:0;
			   }
		   }
		   ion-col{
			   display:flex;
			   align-items:flex-end;
			   justify-content:center;
			   color:$listItemContentColor;
			   p{
				   margin: 10px 0px 4px;
			   }
				@include screenMax576{
					padding-top:0px;
				}
			   
		   }
		   .to-label-col{
			   align-items: center;
			   p{
				   margin: 0;
				   padding-top: 10px;

				   @include screenMax576{
					   padding-top:2px;
				   }
			   }
		   }
	   }
	   
   }
}
