<ion-header *ngIf="!commonService.checkIsWeb()">
 	<header-for-role-creation-form   [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_HOSPITAL_PROFILE_TITLE'"  [showBackButton]=true [backBtnLink]="'#/hospital-admin-view-hospital'"></header-for-role-creation-form>
</ion-header>

<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
   <ion-header *ngIf="commonService.checkIsWeb()">
	 <header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_HOSPITAL_PROFILE_TITLE'"  [showBackButton]=true [backBtnLink]="'#/hospital-admin-view-hospital'"></header-for-role-creation-form>
	  	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'EDIT_HOSPITAL_PROFILE_TITLE' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container" *ngIf="commonService.checkIsWeb()"></div> 
    </ion-header>
   
   <div class="main-content">
       <form class="common-page-container common-form" [ngClass]="{'no-border-top': !commonService.checkIsWeb()}" #updateHospitalForm="ngForm" novalidate>
           <ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkPlatform()  && !commonService.checkMobileweb()">
               <ion-row class="list-container">
                   <ion-col col-4 class="upload-img">
						<label for="image-upload-input" (click)="onCamera(true)" *ngIf="profileImg?.isDefault || profileImg?.file"> 
							<div class="profile-img profile-img-responsive" [style.backgroundImage]="'url('+ profileImg.file +')'"></div>
							<span class="camera-icon"></span>
							<!-- <input id="image-upload-input" accept="image/*" type="file"> -->
						</label>
                   </ion-col>
               </ion-row>
           </ion-grid>
           
             <ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb()   && commonService.checkMobileweb()">
               <ion-row class="list-container">
                   <ion-col col-4 class="upload-img">
						<label for="image-upload-input"  *ngIf="profileImg?.isDefault || profileImg?.file"> 
							<div class="profile-img profile-img-responsive" [style.backgroundImage]="'url('+ profileImg.file +')'"></div>
							<span class="camera-icon"></span>
							<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true)">
							<!-- <input id="image-upload-input" accept="image/*" type="file"> -->
						</label>
                   </ion-col>
               </ion-row>
           </ion-grid>
           
           <ion-grid class="formFieldsContainer">
               <ion-row>
                   <ion-col col-12 col-sm-12 col-md-8 col-lg-8 class="hospital-img-container" *ngIf="commonService.checkIsWeb()">
                      <div id="hospital-sub-images" class="hospital-img">
							<div class="upload-profile-img" *ngIf="commonService.checkIsWeb()">
								<label for="image-upload-input" class="profile-img-label" *ngIf="profileImg?.isDefault || profileImg?.file"> 
									<div class="profile-img profile-img-responsive" [style.backgroundImage]="'url('+ profileImg.file +')'"></div>
									<span class="camera-icon"></span>
									<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true)">
								</label>
							</div>
							<p class="upload-img-lbl">{{ 'UPLOAD_IMAGES_LABEL' | translate }}</p>
							<div class="upload-sub-images" *ngFor="let secimg of imgUrl; let i = index;" [hidden]="secimg?.isDefault || !secimg?.file" >
								<div class="profile-img-responsive sub-image" [style.backgroundImage]="'url('+ secimg?.file +')'"></div>
								<span class="cross-icon hand-pointer" (click)="cancelImage(secimg)"></span>
							</div>
							<div class="default-upload-sub-image" *ngIf="imgUrl.length < 6">
								<label for="hos-image-upload-input" class="hospital-profile-img">
									<img src="assets/imgs/camera_icon.png" />
									<input id="hos-image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, false)">
								</label>
							</div>
						</div> 
                   </ion-col>   
                    <ion-col col-12 col-sm-12 col-md-8 col-lg-8 class="hospital-img-container" *ngIf="!commonService.checkIsWeb()  && commonService.checkPlatform()  && !commonService.checkMobileweb()" [ngClass]="{'no-padding-top': !commonService.checkIsWeb()}">
                      <div id="hospital-sub-images" class="hospital-img">
							<p class="upload-img-lbl">{{ 'UPLOAD_IMAGES_LABEL' | translate }}</p>
							<div class="upload-sub-images" *ngFor="let secimg of imgUrl; let i = index;" [hidden]="secimg?.isDefault || !secimg?.file" >
								<div class="profile-img-responsive sub-image" [style.backgroundImage]="'url('+ secimg?.file +')'"></div>
								<span class="cross-icon hand-pointer" (click)="cancelImage(secimg)"></span>
							</div>
							<div class="default-upload-sub-image" *ngIf="imgUrl.length < 6">
								<label for="hos-image-upload-input" class="hospital-profile-img" (click)="onCamera(false)">
									<img src="assets/imgs/camera_icon.png" />
								</label>
							</div>
						</div> 
                   </ion-col>   
                        <ion-col col-12 col-sm-12 col-md-8 col-lg-8 class="hospital-img-container" *ngIf="!commonService.checkIsWeb()  && commonService.checkMobileweb()" [ngClass]="{'no-padding-top': !commonService.checkIsWeb()}">
                      <div id="hospital-sub-images" class="hospital-img">
							<p class="upload-img-lbl">{{ 'UPLOAD_IMAGES_LABEL' | translate }}</p>
							<div class="upload-sub-images" *ngFor="let secimg of imgUrl; let i = index;" [hidden]="secimg?.isDefault || !secimg?.file" >
								<div class="profile-img-responsive sub-image" [style.backgroundImage]="'url('+ secimg?.file +')'"></div>
								<span class="cross-icon hand-pointer" (click)="cancelImage(secimg)"></span>
							</div>
							<div class="default-upload-sub-image" *ngIf="imgUrl.length < 6">
								<label for="hos-image-upload-input" class="hospital-profile-img">
									<img src="assets/imgs/camera_icon.png" />
									<input id="hos-image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, false)">
								</label>
							</div>
						</div> 
                   </ion-col>   
                </ion-row>   
               <ion-row class="edit-hospital-content">
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
                         <ion-item detail-none>
                              <ion-label floating>{{ 'HOSPITAL_NAME' | translate }}</ion-label>
                              <ion-input name="hospitalName" [(ngModel)]="hospitalData.name" #hospitalName="ngModel" autocomplete="off" autocorrect="off" required pattern="^[a-zA-Z_ @^#$%&*()-]{1,50}$" maxlength="50"></ion-input>
                         </ion-item>
                         <div class="error-msg-block text-left" *ngIf="hospitalName.errors && (hospitalName.dirty || hospitalName.touched || formSubmitted)">
                           <small [hidden]="!hospitalName.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_HOSPITAL_NAME' | translate }}</small>
                            <small [hidden]="!hospitalName.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_HOSPITAL_NAME' | translate }}</small>    
                       </div>
                   </ion-col>   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="no-padding-right">
                         <ion-item detail-none>
                             <ion-label floating>{{ 'STREET' | translate }}</ion-label>
                              <ion-input name="street" [(ngModel)]="hospitalData.address.street" #street="ngModel" [type]="inputType" autocomplete="off" autocorrect="off" required></ion-input>
                         </ion-item>
                         <div class="error-msg-block text-left" *ngIf="street.errors && (street.dirty || street.touched || formSubmitted)">
                           <small [hidden]="!street.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STREET' | translate }}</small>    
                       </div>
                   </ion-col>   
                </ion-row>   
               
                <ion-row>
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
                       <ion-label [style.padding-top.px]="0" class="common-form-label">{{ 'CITY_LABEL' | translate }}</ion-label>
                          <ion-item [style.padding-top.px]="0" class="common-select-dropdown city">
                              <ion-label>{{ 'SELECT_CITY_LABEL' | translate }}</ion-label>
                           <ion-select class="citySelect" [(ngModel)]="hospitalData.address.cityId" name="city" (ionChange) = "cityChange()">
                               <ion-option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</ion-option>
                           </ion-select>
                       </ion-item>
                   </ion-col>   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="no-padding-right">
                         <ion-item detail-none>
                           <ion-label floating>{{ 'STATE' | translate }}</ion-label>
                              <ion-input name="state" [(ngModel)]="hospitalData.address.state" #state="ngModel" [type]="inputType" autocomplete="off" autocorrect="off" pattern="^[a-zA-Z ]+$" required></ion-input>
                         </ion-item>
                         <div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
                           <small [hidden]="!state.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STATE' | translate }}</small>  
                           <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate }}</small>  
                       </div>
                   </ion-col>   
                </ion-row>   
               
                <ion-row>
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
                           <ion-item detail-none>
                           <ion-label floating>{{ 'ZIP' | translate }}</ion-label>
                              <ion-input name="zip" [(ngModel)]="hospitalData.address.zipCode" #zip="ngModel" pattern="^[0-9]{6,6}$" [type]="inputType" autocomplete="off" autocorrect="off" required maxlength="6"></ion-input>
                          </ion-item>
                          <div class="error-msg-block text-left" *ngIf="zip.errors && (zip.dirty || zip.touched || formSubmitted)">
                           <small [hidden]="!zip.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ZIPCODE' | translate }}</small>    
                            <small [hidden]="!zip.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_ZIPCODE' | translate }}</small>
                        </div>
                   </ion-col>   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="no-padding-right">
                         <ion-item detail-none>
                             <ion-label floating>{{ 'HOSPITAL_CONTACT_NO' | translate }}</ion-label>
                              <ion-input name="hospitalContactNumber" [(ngModel)]="hospitalData.contactNumber" #hospitalContactNo="ngModel" 
                              pattern="[1-9][0-9]{9}" [type]="commonService.checkIsWeb()?inputType:'tel'" autocomplete="off" autocorrect="off" required maxlength="10"></ion-input>
                         </ion-item>
                         <div class="error-msg-block text-left" *ngIf="hospitalContactNo.errors && (hospitalContactNo.dirty || hospitalContactNo.touched || formSubmitted)">
                           <small [hidden]="!hospitalContactNo.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>
                           <small [hidden]="!hospitalContactNo.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
                       </div>
                   </ion-col>   
                </ion-row>
                <ion-row>
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
                          <ion-item detail-none>
                             <ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
                              <ion-input name="hospitalEmail" [(ngModel)]="hospitalData.email" #hospitalEmail="ngModel" 
                              pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})" autocomplete="off" autocorrect="off"></ion-input>
                         </ion-item>
                         <div class="error-msg-block text-left" *ngIf="hospitalEmail.errors && (hospitalEmail.dirty || hospitalEmail.touched || formSubmitted)">
                           <!-- <small [hidden]="!hospitalEmail.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_EMAIL' | translate }}</small> -->
                           <small [hidden]="!hospitalEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate }}</small>
                       </div>
                   </ion-col>   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="blank-col">
                         &nbsp;
                   </ion-col>   
                </ion-row>
                <ion-row class="about-hospital">
                   <ion-col col-12 col-sm-12 col-md-12 col-lg-12>
                         <ion-item detail-none>
                             <ion-label floating>{{ 'ABOUT_HOSPITAL_LABEL' | translate }}</ion-label>
                              <ion-textarea name="hospitalOverview" [(ngModel)]="hospitalData.overview" #hospitalOverview="ngModel" 
                              autocomplete="off" autocorrect="off" maxlength="2048"></ion-textarea>
                         </ion-item>
                   </ion-col>   
                </ion-row>
                
                <ion-row class="time-container">
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="set-time" *ngIf="commonService.checkIsWeb()">
                       <ion-row>
                           <ion-col col-6 col-sm-6 col-md-6 col-lg-6 class="days-time-label" >{{ 'DAYS_AND_TIME_LABEL' | translate }}</ion-col>
                            <ion-item class="checkbox-label" col-6 col-sm-6 col-md-6 col-lg-6>.
                                <ion-label class="check-content">
                                	<span>{{ '24_HRS_OPEN_LABEL' | translate }}</span>
                                	<img class="check-cls" [src]="open24TickImgUrl" (click) = "chk24HoursClick()"/>
                                </ion-label>
                            </ion-item>
                         </ion-row>
                         <ion-row>
                            <ion-label class="common-form-label weekday-lablel">{{ 'WEEKDAYS_LABLE' | translate }}</ion-label>
                            <ion-item class="common-select-dropdown weekdays">
                               <ion-select name="weekdayDropdown" [(ngModel)]="timeSlot.day">                                
                                      <ion-option *ngFor="let day of weekdays"  [value]="day">{{day.name}}</ion-option>                           
                               </ion-select>
                           </ion-item>
                       </ion-row>
                       <ion-row class="time-slots">
                           <ion-label class="common-form-label time-label" col-12 col-sm-12 col-md-12 col-lg-12>{{ 'TIME_LABEL' | translate }}</ion-label>
                           <div col-12 col-sm-12 col-md-12 col-lg-12>
                               <ion-row>
                                   <ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-5 col-sm-5 col-md-5 col-lg-5>
                                       <ion-datetime name='startTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.startTime" class="time-icon time-input" (ngModelChange)="onChangeStartTime(timeSlot.startTime)"placeholder = "{{ 'OPEN_TXT' | translate }}" [disabled] = "fullDaySlot"></ion-datetime>
                                   </ion-item>
                                   <p-calendar *ngIf="commonService.checkIsWeb()" col-5 col-sm-5 col-md-5 col-lg-5 name='startTime' class="time-icon-mobile time-input" [(ngModel)]="timeSlot.startTime" [timeOnly]="true" hourFormat="12" placeholder="{{ 'OPEN_TXT' | translate }}" (ngModelChange)="onChangeStartTime(timeSlot.startTime)" [disabled] = "fullDaySlot"></p-calendar>
                                   <ion-col class="to-label-col" col-2 col-sm-2 col-md-2 col-lg-2><p text-center>{{ 'TO_LABEL' | translate }}</p></ion-col>
                                   <ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-5  col-sm-5 col-md-5 col-lg-5>
                                       <ion-datetime name='endTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" class="time-icon-mobile time-input" [(ngModel)]="timeSlot.endTime"  (ngModelChange)="onChangeEndTime(timeSlot.endTime)"placeholder = "{{ 'CLOSE_TXT' | translate }}" [disabled] = "fullDaySlot"></ion-datetime>
                                   </ion-item>
                                   <p-calendar *ngIf="commonService.checkIsWeb()" col-5 col-sm-5 col-md-5 col-lg-5 name='endTime' dateFormat="hh:mm A" class="time-icon time-input" [(ngModel)]="timeSlot.endTime" [timeOnly]="true" hourFormat="12" placeholder="{{ 'CLOSE_TXT' | translate }}" (ngModelChange)="onChangeEndTime(timeSlot.endTime)" [disabled] = "fullDaySlot"></p-calendar>
                               </ion-row>
                           </div>
                       </ion-row>
                       <div class="btn-container add-time-btn-container" text-right>
                           <a block ion-button class="common-blue-btn activate-btn"  (click)="addTimeSlotClick()" >{{ 'ADD_TIME_BTN_LABEL' | translate }}</a>
                       </div>
                   </ion-col>
                   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="set-time" *ngIf="!commonService.checkIsWeb()">
                       <ion-row>
                           <ion-col col-6 class="time-labels-mobile" style="font-size: 18px;">{{ 'DAYS_AND_TIME_LABEL' | translate }}</ion-col>
                            <ion-item class="checkbox-label" col-6>.
                                <ion-label class="check-content">
                                	<span>{{ '24_HRS_OPEN_LABEL' | translate }}</span>
                                	<img class="check-cls" [src]="open24TickImgUrl" (click) = "chk24HoursClick()"/>
                                </ion-label>
                            </ion-item>
                         </ion-row>
                         <ion-row class="set-rows-mobile">
                         	<ion-col col-3>
                            	<label class="time-labels-mobile weekdayLabel">{{ 'WEEKDAYS_LABLE' | translate }}</label>
                            </ion-col>
                            <ion-col col-9 class="weekday-wrapper">
	                            <ion-item class="common-select-dropdown weekdays mobile-input-border">
	                               <ion-select name="weekdayDropdown" [(ngModel)]="timeSlot.day">                                
	                                      <ion-option *ngFor="let day of weekdays"  [value]="day">{{day.name}}</ion-option>                           
	                               </ion-select>
	                           </ion-item>
                           </ion-col>
                       </ion-row>
                       <ion-row class="time-slots set-rows-mobile">
                       		<ion-col col-3>
                           		<ion-label class="time-labels-mobile timeLabel">{{ 'TIME_LABEL' | translate }}</ion-label>
                           	</ion-col>
                           <div col-9>
                               <ion-row>
                               	   <ion-col col-5>
	                                   <ion-item class="mobile-input-border time-cls-mobile" >
	                                       <ion-datetime name='startTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.startTime" class="time-icon time-input" (ngModelChange)="onChangeStartTime(timeSlot.startTime)"placeholder = "{{ 'OPEN_TXT' | translate }}" [disabled] = "fullDaySlot"></ion-datetime>
	                                   </ion-item>
                                   </ion-col>
                                   <ion-col class="to-label-col" col-2>
                                   		<p text-center>{{ 'TO_LABEL' | translate }}</p>
                                   	</ion-col>
                                   <ion-col col-5>
	                                   <ion-item *ngIf="!commonService.checkIsWeb()" class="mobile-input-border time-cls-mobile">
	                                       <ion-datetime name='endTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" class="time-icon time-input" [(ngModel)]="timeSlot.endTime"  (ngModelChange)="onChangeEndTime(timeSlot.endTime)"placeholder = "{{ 'CLOSE_TXT' | translate }}" [disabled] = "fullDaySlot"></ion-datetime>
	                                   </ion-item>
                                   </ion-col>
                               </ion-row>
                           </div>
                       </ion-row>
                       <div class="btn-container add-time-btn-container" text-right>
                           <a block ion-button class="common-blue-btn activate-btn"  (click)="addTimeSlotClick()" >{{ 'ADD_TIME_BTN_LABEL' | translate }}</a>
                       </div>
                   </ion-col>
                   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="day-time-table">
                       <div class="heading">
                           <ion-row >
                               <ion-col col-3>
                                   {{ 'DAY_LABEL' | translate }}
                               </ion-col>
                               <ion-col col-9 class="padding_top_none">
                                   {{ 'TIME_LABEL' | translate }}
                               </ion-col>
                         </ion-row>
                       </div>
                       <div class="table-content"> 
                         <ion-row *ngFor="let t of tempTimeSlotStringArr; let index = index" class="table-wrapper">
							    <ion-col col-3>{{t.day | slice:0:3}}</ion-col>
							    <ion-col col-9>
									<span style="letter-spacing: 1px; margin-right: 5px;"> {{ t.slotString }} </span>
							     <!-- <ion-datetime name='showStartTime{{index}}' disabled displayFormat="hh:mm A" [(ngModel)]="t.startTime" class="date-time-cls"></ion-datetime> - &nbsp;<ion-datetime name='showEndTime{{index}}' disabled displayFormat="hh:mm A" [(ngModel)]="t.endTime" class="date-time-cls"></ion-datetime> --> 
							    	<img src="assets/imgs/cross_btn_red.png" (click)="removeTimeSlot(index, t)" />
							    </ion-col>
						  </ion-row>
                       </div>
                   </ion-col>   
                </ion-row>
                          
                 <ion-row>
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="multispeciality">
                        <ion-item class="checkbox-label"> 
                            <ion-label class="label-txt">
                            <img class="check-img-cls" [src]="multiTickImgUrl" (click) = "chkMultiSpClick()"/> <span class="multispeciality-txt">{{ 'MULTISPECIALITY_LABEL' | translate }}</span>
                            </ion-label>
                            <!-- <ion-checkbox id="chk2"  name="multispeciality" [(ngModel)]="hospitalData.isAMultispeciality" #muiltispeciality = "ngModel"></ion-checkbox> -->
                        </ion-item>
                        <ion-label class="common-form-label">{{ 'CATEGORY' | translate }}</ion-label>
                        <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown">
                        <ion-label class="common-form-label">{{ 'CATEGORY' | translate }}</ion-label>
                           <!-- <ion-select multiple=true class="multi-select" [ngClass] = "{'selectCls': selectCat, 'unselectCls': !selectCat}" [(ngModel)]="category" name = "hospitalCategory" #hospitalCategory = "ngModel" (ionChange) = "onChangeCategory($event)">
                               <ion-option  value="" disabled selected>{{ 'CATEGORY' | translate }}</ion-option>
                               <ion-option *ngFor = "let category of categories" [value] = "category">{{ category.name }}</ion-option>
                            </ion-select> -->
                            <select-searchable
                               *ngIf="categories"
						        item-content
						        [isMultiple]="true"
						        [items]="categories"
						        itemValueField="id"
						        itemTextField="name"
						        [(ngModel)]="category"
						        [canSearch]="true"
						        [focusSearchbar]="false"
						        (onChange)="onChangeCategory(true,$event)"
						        resetButtonText="Clear selected"
								okButtonText="Ok"
						        name="hospitalCategory">
						       <ng-template selectSearchableValueTemplate let-category="value">
						        <div class="select-searchable-value-item">
						          {{formatCategory(category)}}                     
						        </div>
						      </ng-template>                                              
						  </select-searchable>
						                                                                 
					<!-- 	  <ionic-selectable 
						  	(touchstart)="foo($event);"                                                                                                     
						    item-content                 
						    [isMultiple]="true"
						    [(ngModel)]="category"
						    [items]="categories"
						    itemValueField="id"
						    itemTextField="name"
						    [canSearch]="true"
						    [focusSearchbar]="false"
						    (onChange)="onChangeCategory(true, $event)"
						      (onAddItem)="onChangeCategory(true, $event)"
						    resetButtonText="Clear selected"
							okButtonText="Ok"
						    name="hospitalCategory">
						  </ionic-selectable> -->
                       </ion-item>
                       <p-multiSelect *ngIf="commonService.checkIsWeb()" name="hospitalCategory" [options]="categories" [(ngModel)]="category" (onChange)="onChangeCategory(true)"></p-multiSelect>
                   </ion-col>   
                   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="blank-col">
                          &nbsp;
                   </ion-col>   
                </ion-row>
                <ion-row>
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="specialization">
                   <ion-label class="common-form-label">{{ 'SPECIALITY_LABEL' | translate }}</ion-label>
                        <ion-item  class="common-select-dropdown" *ngIf="!commonService.checkIsWeb()">
                            <select-searchable
                              *ngIf="specializationArr"
						        item-content
						        [isMultiple]="true"
						        [items]="specializationArr"
						        itemValueField="id"
						        itemTextField="name"
						        [(ngModel)]="hospitalData.specializationList"
						        [canSearch]="true"
						        [focusSearchbar]="false"
						        (onChange)="getSpecialization($event)"
						        resetButtonText="Clear selected"
								okButtonText="Ok"
						        name="specialization"
						       >
						       <ng-template selectSearchableValueTemplate let-hospitalData.specializationList="value">
						        <div class="select-searchable-value-item">
						          {{formatSpecialization(hospitalData.specializationList)}}
						        </div>
						      </ng-template>
						  </select-searchable>
                       </ion-item>
                       <p-multiSelect *ngIf="commonService.checkIsWeb()" name="specialization" [options]="specializationArr" [(ngModel)]="hospitalData.specializationList" (onChange)="getSpecialization($event)" disabled="{{specializationArr?.length <= 0}}"></p-multiSelect>
                       <div class="list-of-speciality">
                           {{ specializationString }}
                       </div>
                   </ion-col>   
                   
                   <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="services" class="no-padding-right hospital-services">
                       <ion-label class="common-form-label">{{ 'SERVICES' | translate }}</ion-label>
                        <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown">
                            <select-searchable
                              *ngIf="servicesArr"
						        item-content
						        [isMultiple]="true"
						        [items]="servicesArr"
						        itemValueField="id"
						        itemTextField="name"
						        [(ngModel)]="hospitalData.serviceList"
						        [canSearch]="true"
						        [focusSearchbar]="false"
						        (onChange)="getServices($event)"
						        resetButtonText="Clear selected"
								okButtonText="Ok"
						        name="services"
						       >
						       <ng-template selectSearchableValueTemplate let-hospitalData.serviceList="value">
						        <div class="select-searchable-value-item">
						          {{formatServices(hospitalData.serviceList)}}
						        </div>
						      </ng-template>
						  </select-searchable>
                       </ion-item>
                       <p-multiSelect *ngIf="commonService.checkIsWeb()" name="services" [options]="servicesArr" [(ngModel)]="hospitalData.serviceList" (onChange)="getServices($event)" disabled="{{servicesArr?.length <= 0}}"></p-multiSelect>
                       <div class="list-of-service">
                           {{ servicesString }}
                       </div>
                   </ion-col>
                </ion-row>
               <div class="btn-container" text-right *ngIf="commonService.checkIsWeb()">
                   <a href="#/hospital-admin-view-hospital" block ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
                   <a block ion-button class="common-blue-btn" (click)="updateHospital(updateHospitalForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
               </div>
           </ion-grid>
       </form>
   </div>
 
   <footer class="mobile-view-footer"></footer>
</ion-content>

  <div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb()">
       <a href="#/hospital-admin-view-hospital" ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
       <a ion-button class="common-blue-btn" (click)="updateHospital(updateHospitalForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
   </div>