<!-- <form #createContract = "ngForm" name="createContract" novalidate> -->
	<ion-row class="contract-view-container">
		<ion-col col-12 col-lg-6 class="contract-profile-img-container">
			<ion-grid class="list-view">
				<ion-row class="list-container">
					<ion-col col-3 col-sm-2 col-md-3 col-lg-5 class="list-img-container">
	 					<div class="contract-profile-img">
	 						<a class="profile-img-responsive" href = "#/hospital-admin-create-doctor/view/{{ doctor?.doctorId }}" *ngIf="doctor" [style.backgroundImage]="'url('+ showImg +')'"></a>
	 						<a class="profile-img-responsive" *ngIf="hospitalData" [style.backgroundImage]="'url('+ showImg +')'"></a>
	 					</div>
		  			</ion-col>
		  			<ion-col col-9  col-sm-10 col-md-9 col-lg-7 class="list-content" *ngIf="doctorInfo.firstName">
						 <ion-row class="name-container">
							 <ion-col col-12>{{'DOCTOR_PREFIX' | translate}} {{ doctorInfo?.firstName }}  {{ doctorInfo?.lastName }}</ion-col>
						 </ion-row>
						 <ion-row style="color: #323b40; font-weight:400" *ngIf = "doctorInfo?.educationList && doctorInfo?.educationList.length > 0">
						 	<ion-col col-12>
						 		<div> 
								 	<span *ngFor="let edu of doctorInfo.educationList; first as isFirst; last as isLast">
								 		<span *ngIf="!isFirst && isLast">and&nbsp;</span>{{edu.name}}<span *ngIf="!isFirst && !isLast">,&nbsp;</span>
								 	</span>
							 	</div> 
						 	</ion-col>
						 </ion-row>
						 <ion-row style="color: #323b40; font-weight:400; padding-left: 5px;" *ngIf ="doctorInfo?.specializationList && doctorInfo?.specializationList.length > 0">
						 	<div>
		  						<span *ngFor="let spec of doctorInfo.specializationList; last as isLast">{{spec.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span> </span>
		  					</div>
						 </ion-row>
						 <ion-row style="color: #323b40; font-weight:400">
						 	<ion-col col-12><div>{{ expYearStr }}</div></ion-col>
						 </ion-row>
					</ion-col>
					
		  			<ion-col col-9  col-sm-10 col-md-9 col-lg-7 class="list-content" *ngIf="hospitalData.name">
						 <ion-row class="name-container">
							 <ion-col col-12 class="hos-name">{{ hospitalData?.name }}</ion-col>
							 <ion-col col-12 class="hos-address" *ngIf="hospitalData?.address">
							 	<ion-row>
							 		<ion-col col-10>
							 			<p>{{ hospitalData?.address?.street }}, {{ hospitalData?.address?.cityName }}, {{ hospitalData?.address?.state }}, {{ hospitalData?.address?.zipCode }}</p>
							 		</ion-col>
							 		<ion-col col-2 class="mapIcon">
							 			<span (click)="plotAddressOnMap(hospitalData)"><img src="assets/imgs/map_icon.png" /></span>
							 		</ion-col>
							 	</ion-row>
							 </ion-col>
						 </ion-row>
						<!--  <ion-row>
						 	<ion-col col-12>
						 		<span> {{ hospitalData?.overview }} </span>
						 	</ion-col>
						 </ion-row> -->
		  			</ion-col>
		  			<ion-col col-12 class="border-col" *ngIf="editFlag || createFlag"><div class="border-top-cls"></div></ion-col>
					
					<!----------------- for mobile edit contract fee section ----------->
					<ion-col col-3 align-self-start class="fees-txt-cls" *ngIf="!commonService.checkIsWeb() && !viewFlag">
						<div class="fee-amount-label" text-left>{{ 'FEES_TEXT' | translate }} &nbsp;<i class="fa fa-rupee ruppeCls"></i></div>
					</ion-col>
					<ion-col col-9 class="fees-amount-cls" *ngIf="!commonService.checkIsWeb() && !viewFlag">
						<ion-input *ngIf = "viewFlag" value="{{doctorFees}}" class="contract-fees-view" disabled></ion-input>
						<div class="input-cls" [ngClass]="{'input-wrapper': !viewFlag}">
							<ion-input *ngIf = "editFlag || createFlag" name="fees" #fees="ngModel" type="number" min="0" [(ngModel)]="contractInfo.fees" (keypress)="_keyPress($event)" class="contract-fees-view " autocomplete="off" autocorrect="off" required></ion-input>
							<ion-icon *ngIf = "editFlag || createFlag" item-right class="pencil-icon"></ion-icon>
						</div>
						<div class="error-msg-block text-left" *ngIf="contractInfo.fees == ''">
                       		<small [hidden]="contractInfo.fees != ''" class="text-danger">{{ 'ERROR_MSG_FEES_REQUIRED' | translate }}</small>    
                   		</div>
					</ion-col>
					
					<!----------------- for web edit contract fee section ----------->
					<ion-col col-6 align-self-center class="fee-label"  *ngIf="commonService.checkIsWeb() && (editFlag || createFlag)" >
						<div class="fee-amount-label" text-left>{{ 'CONTRACT_AGREED_AMOUNT_LABEL' | translate }}</div>
					</ion-col>
					<ion-col col-6 align-self-end class="fees-amount-cls" *ngIf="commonService.checkIsWeb() && (editFlag || createFlag)" [ngClass]="{noPadding:(editFlag || createFlag)}">
						<div class="fee-amount" text-right *ngIf = "viewFlag">{{ doctorFees |  currency:"INR":true:'1.0-0'}}/-</div>
						<div class="input-cls"  [ngClass]="{'input-wrapper': !viewFlag}">
							<!-- <i class="fa fa-rupee"></i> -->
							<i *ngIf = "editFlag || createFlag" class="fa fa-rupee ruppeCls"></i>
							<ion-input *ngIf = "editFlag || createFlag" name="fees" #fees="ngModel" type="number" min="0" [(ngModel)]="contractInfo.fees" (keypress)="_keyPress($event)" class="fee-amount-input" autocomplete="off" autocorrect="off" required></ion-input>
							<ion-icon *ngIf = "editFlag || createFlag" item-right class="pencil-icon"></ion-icon>
						</div>
						<div class="error-msg-block text-left" *ngIf="contractInfo.fees == ''">
                       		<small [hidden]="contractInfo.fees != ''" class="text-danger">{{ 'ERROR_MSG_FEES_REQUIRED' | translate }}</small>    
                   		</div>
					</ion-col>
				</ion-row>
				
				<!----------------- for web/mobile view contract fee section ----------->
				<ion-row class="list-container fee-amount-container" *ngIf="viewFlag">
					<ion-col col-6 align-self-start class="fee-label">
						<div class="fee-amount-label" text-left>{{ 'CONTRACT_AGREED_AMOUNT_LABEL' | translate }}</div>
					</ion-col>
					<ion-col col-6 align-self-end class="fees-amount-cls" [ngClass]="{noPadding:(editFlag || createFlag)}">
						<div class="fee-amount" text-right *ngIf = "viewFlag">{{  doctorFees | currency:"INR":true:'1.0-0'}}/-</div>
						<div class="input-cls"  [ngClass]="{'input-wrapper': !viewFlag}">
							<!-- <i class="fa fa-rupee"></i> -->
							<i *ngIf = "editFlag || createFlag" class="fa fa-rupee ruppeCls"></i>
							<ion-input *ngIf = "editFlag || createFlag" name="fees" #fees="ngModel" type="number" min="0" [(ngModel)]="contractInfo.fees" (keypress)="_keyPress($event)" class="fee-amount-input" autocomplete="off" autocorrect="off" required></ion-input>
							<ion-icon *ngIf = "editFlag || createFlag" item-right class="pencil-icon"></ion-icon>
						</div>
						<div class="error-msg-block text-left" *ngIf="contractInfo.fees == ''">
                       		<small [hidden]="contractInfo.fees != ''" class="text-danger">{{ 'ERROR_MSG_FEES_REQUIRED' | translate }}</small>    
                   		</div>
					</ion-col>
				</ion-row>
			</ion-grid>
			
		</ion-col>
		<ion-col col-12 col-lg-6 class="time-list-container set-time">
			<div *ngIf="(editFlag && commonService.checkIsWeb()) || (createFlag && commonService.checkIsWeb())">
		          <ion-row>
		             <ion-label class="common-form-label weekday-label">{{ 'WEEKDAY_LABEL' | translate }}</ion-label>
		             <ion-item class="common-select-dropdown weekdays contractItem">
		                <ion-select name="weekdayDropdown" [(ngModel)]="timeSlot.dayId" (ionChange)="onDayChange()">                                
		                       <ion-option *ngFor="let day of weekdays" value="{{day.id}}">{{day.name}}</ion-option>                           
		                </ion-select>
		            </ion-item>
		        </ion-row>
		        <ion-row class="time-slots">
		            <ion-label class="common-form-label time-label" col-12 col-sm-12 col-md-12 col-lg-12>{{ 'TIME_LABEL' | translate }}</ion-label>
		            <div col-12 col-sm-12 col-md-12 col-lg-12>
		                <ion-row class="time-slot-content">
		                    	<!-- ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-4 col-sm-4 col-md-4 col-lg-4>
									<ion-datetime name='startTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.fromTime" (ngModelChange)="onChangeStartTime(timeSlot.fromTime)" placeholder="{{ 'OPEN_TXT' | translate }}" disabled (click)="openTimeSlots()"></ion-datetime>
								</ion-item> -->
								<ion-input col-5 col-sm-5 col-md-5 col-lg-5 name='startTime' class="time-icon time-input web-time-input time-content" [(ngModel)]="timeSlot.showSelectedFromTime" placeholder="{{ 'OPEN_TXT' | translate }}" (click)="openTimeSlots()" disabled></ion-input>
								<!-- <p-calendar col-4 col-sm-4 col-md-4 col-lg-4 *ngIf="commonService.checkIsWeb()" name='endTime' class="time-input web-time-input" [timeOnly]="true" hourFormat="12" placeholder="{{ 'OPEN_TXT' | translate }}" [(ngModel)]="timeSlot.fromTime" (onSelect)="onChangeStartTime(timeSlot.fromTime)" [disabled]="true"></p-calendar> -->
								<!-- <ion-icon col-1 col-sm-1 class="time-icon time-input" (click)="openTimeSlots()"></ion-icon> -->
								<ion-col class="to-label-col" col-2 col-sm-2 col-md-2 col-lg-2>
									<p text-center class="to-label">{{ 'TO_LABEL' | translate }}</p>
								</ion-col>
								<!-- <ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-4  col-sm-4 col-md-4 col-lg-4>
									<ion-datetime name='endTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.toTime"  (ngModelChange)="onChangeEndTime(timeSlot.toTime)" placeholder = "{{ 'CLOSE_TXT' | translate }}" disabled (click)="openTimeSlots()"></ion-datetime>
								</ion-item> -->
								<ion-input col-5 col-sm-5 col-md-5 col-lg-5 name='endTime' class="time-icon time-input web-time-input time-content" [(ngModel)]="timeSlot.showSelectedToTime" placeholder="{{ 'CLOSE_TXT' | translate }}" (click)="openTimeSlots()" disabled></ion-input>
								<!-- <p-calendar col-4 col-sm-4 col-md-4 col-lg-4 *ngIf="commonService.checkIsWeb()" name='endTime' class="time-input web-time-input" [timeOnly]="true" hourFormat="12" placeholder="{{ 'CLOSE_TXT' | translate }}" [(ngModel)]="timeSlot.toTime" (onSelect)="onChangeEndTime(timeSlot.toTime)" [disabled]="true"></p-calendar> -->
		               			<!-- <ion-icon col-1 col-sm-1 class="time-icon time-input" (click)="openTimeSlots()"></ion-icon> -->
		                </ion-row>
		            </div>
		        </ion-row>
		        <ion-row class="time-slots">
		             <ion-col col-12 >
		             	  <ion-label class="common-form-label visit-label">{{ 'VISIT_TYPE_LABLE' | translate }}</ion-label>	
			             <ion-row>
			                 <ion-col col-5 class="visit-type-content">
			                     <ion-item detail-none class="dropdown weekdays visit-dropdown contractItem">                              
			                     <ion-select name="visitType" #visitType = "ngModel" [(ngModel)]="timeSlot.visitType">                                
			                     <ion-option  *ngFor="let visit of visitTypes" value="{{visit.name}}">{{visit.name}}</ion-option>                                                 
			                     </ion-select>                    
			                     </ion-item>
							 </ion-col>
							 <!-- <ion-item detail-none>
								<ion-label floating>{{ 'YEARS_OF_EXPERIENCE' | translate }}</ion-label>
								 <ion-input name="doctorExp"  [(ngModel)]="doctorData.yearsOfExp" #doctorExp="ngModel" 
								  type="number" pattern="[0-9]" min="0" max="100" [minValue]="0" [maxValue]="100" required [disabled] = "viewFlag"  ></ion-input>
							</ion-item>
							<div class="error-msg-block text-left" *ngIf="doctorExp.errors && (doctorExp.dirty || doctorExp.touched || formSubmitted)">
							  <small [hidden]="!doctorExp.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_DOCTOR_EXP' | translate }}</small>	
							  <small [hidden]="!doctorExp.errors.pattern && !doctorExp.errors.minValue" class="text-danger">{{ 'ERROR_MSG_INVALID_EXPERIENCE' | translate }}</small>
							  <small [hidden]="!doctorExp.errors.maxValue" class="text-danger">{{ 'ERROR_MSG_EXPERIENCE_LESS_THAN_100' | translate }}</small>

						  </div> -->
			                 <ion-col col-3>
			                     <ion-item class="contractItem min-token-label">
			                         <span *ngIf="timeSlot.visitType == 'Appointment'">{{ 'CONTRACT_MIN_LABLE' | translate}}</span>
			                         <span *ngIf="timeSlot.visitType == 'Token' || timeSlot.visitType == 'TOKENS' || timeSlot.visitType == 'TOKEN'">{{ 'CONTRACT_COUNT_LABLE' | translate}}</span>
			                     </ion-item>
			                 </ion-col>
			                 <ion-col col-4  *ngIf="timeSlot.visitType == 'Appointment' || timeSlot.visitType == 'Token' || timeSlot.visitType == 'TOKENS' || timeSlot.visitType == 'TOKEN'">
			                     <ion-item class="contractItem contract-input">
			                         <ion-input *ngIf="timeSlot.visitType == 'Appointment'" name="visitValue" #visitValue = "ngModel" type="number" min="0" step="5" [(ngModel)]="timeSlot.visitValue" autocomplete="off" autocorrect="off" required></ion-input>                               
									 <ion-input *ngIf="timeSlot.visitType == 'Token' || timeSlot.visitType == 'TOKENS' || timeSlot.visitType == 'TOKEN'" name="visitValue" #visitValue = "ngModel" type="number" min="0" max="200" [(ngModel)]="timeSlot.visitValue" autocomplete="off" autocorrect="off" required></ion-input>                               
								</ion-item>
								 <!-- <div class="error-msg-block text-left" *ngIf="visitValue.errors && (visitValue.dirty || visitValue.touched || formSubmitted)">
									<small [hidden]="!visitValue.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_DOCTOR_EXP' | translate }}</small>	
									<small [hidden]="!visitValue.errors.pattern && !doctorExp.errors.minValue" class="text-danger">{{ 'ERROR_MSG_INVALID_EXPERIENCE' | translate }}</small>
									<small [hidden]="!visitValue.errors.maxValue" class="text-danger">{{ 'ERROR_MSG_EXPERIENCE_LESS_THAN_100' | translate }}</small>
	  
								</div> -->
			                 </ion-col>
			             </ion-row> 
		             </ion-col>  
		         </ion-row>
		        <div class="contract-btn" text-right>
		            <a ion-button class="common-blue-btn activate-btn add-time-btn"  (click)="addTimeSlotClick()" >{{ 'ADD_TIME_BTN_LABEL' | translate }}</a>
		        </div>
	        </div>
	        
	        <div *ngIf="(editFlag && !commonService.checkIsWeb()) || (createFlag && !commonService.checkIsWeb())" class="time-slot-mobile">
		          <ion-row style="align-items: center;" class="row-align-cls">
		             <ion-col col-3>
		             	{{ 'WEEKDAY_LABEL' | translate }}
		             </ion-col>
		             <ion-col col-9 class="dayInput">
		             	<ion-item class="common-select-dropdown weekdays contractItem contract-item-border-cls">
		             		<ion-label>{{ 'DAY_LABEL' | translate }}</ion-label>
			                <ion-select name="weekdayDropdown" [(ngModel)]="timeSlot.dayId" (ionChange)="onDayChange($event)">                                
			                       <ion-option *ngFor="let day of weekdays" value="{{day.id}}">{{day.name}}</ion-option>                           
			                </ion-select>
		            	</ion-item>
		             </ion-col>
		        </ion-row>
		        <ion-row class="time-slots row-align-cls" style="align-items: center;">
		            <!-- <ion-label class="common-form-label time-label" col-12 col-sm-12 col-md-12 col-lg-12>{{ 'TIME_LABEL' | translate }}</ion-label> -->
		            <ion-col col-3>
		            	{{ 'TIME_LABEL' | translate }}
		            </ion-col>
		            <div col-9 col-sm-9 col-md-9 col-lg-9>
		                <ion-row class="time-slot-content">
		                    	<!-- ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-4 col-sm-4 col-md-4 col-lg-4>
									<ion-datetime name='startTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.fromTime" (ngModelChange)="onChangeStartTime(timeSlot.fromTime)" placeholder="{{ 'OPEN_TXT' | translate }}" disabled (click)="openTimeSlots()"></ion-datetime>
								</ion-item> -->
								<ion-col col-5 class="removePaddingMobile">
									<ion-input name='startTime' class="time-input time-content contract-item-border-cls time-icon-mobile" [(ngModel)]="timeSlot.showSelectedFromTime" placeholder="{{ 'OPEN_TXT' | translate }}" (click)="openTimeSlots()" disabled></ion-input>
								</ion-col>
								<!-- <p-calendar col-4 col-sm-4 col-md-4 col-lg-4 *ngIf="commonService.checkIsWeb()" name='endTime' class="time-input web-time-input" [timeOnly]="true" hourFormat="12" placeholder="{{ 'OPEN_TXT' | translate }}" [(ngModel)]="timeSlot.fromTime" (onSelect)="onChangeStartTime(timeSlot.fromTime)" [disabled]="true"></p-calendar> -->
								<!-- <ion-icon col-1 col-sm-1 class="time-icon time-input" (click)="openTimeSlots()"></ion-icon> -->
								<ion-col class="to-label-col" col-2>
									<span text-center class="to-label">{{ 'TO_LABEL' | translate }}</span>
								</ion-col>
								<!-- <ion-item *ngIf="!commonService.checkIsWeb()" detail-none col-4  col-sm-4 col-md-4 col-lg-4>
									<ion-datetime name='endTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.toTime"  (ngModelChange)="onChangeEndTime(timeSlot.toTime)" placeholder = "{{ 'CLOSE_TXT' | translate }}" disabled (click)="openTimeSlots()"></ion-datetime>
								</ion-item> -->
								<ion-col col-5 class="removePaddingMobile">
									<ion-input name='endTime' class="time-input time-content contract-item-border-cls time-icon-mobile" [(ngModel)]="timeSlot.showSelectedToTime" placeholder="{{ 'CLOSE_TXT' | translate }}" (click)="openTimeSlots()" disabled></ion-input>
								</ion-col>
								<!-- <p-calendar col-4 col-sm-4 col-md-4 col-lg-4 *ngIf="commonService.checkIsWeb()" name='endTime' class="time-input web-time-input" [timeOnly]="true" hourFormat="12" placeholder="{{ 'CLOSE_TXT' | translate }}" [(ngModel)]="timeSlot.toTime" (onSelect)="onChangeEndTime(timeSlot.toTime)" [disabled]="true"></p-calendar> -->
		               			<!-- <ion-icon col-1 col-sm-1 class="time-icon time-input" (click)="openTimeSlots()"></ion-icon> -->
		                </ion-row>
		            </div>
		        </ion-row>
		        <ion-row class="time-slots row-align-cls" style="align-items: center;">
		             <!-- <ion-col col-12 > -->
		             	  <!-- <ion-label class="common-form-label visit-label">{{ 'VISIT_TYPE_LABLE' | translate }}</ion-label> -->
		             	  <ion-col col-3>
		             	  		{{ 'VISIT_TYPE_LABLE' | translate }}
		             	  </ion-col>
		             	  <ion-col col-9 class="removePaddingMobile">	
		             	  
		             	  	<ion-row style="align-items: center;">
				                 <div style="padding-left: 0; padding-right: 0;" col-5 class="common-select-dropdown">
				                    <ion-item class="visitTypeItem">
				                     <ion-label>{{ 'VISIT_TYPE_LABLE' | translate }}</ion-label>        
				                     <ion-select name="visitType" #visitType = "ngModel" [(ngModel)]="timeSlot.visitType" class="contract-item-border-cls">                                
				                     	<ion-option  *ngFor="let visit of visitTypes" value="{{visit.name}}">{{visit.name}}</ion-option>                                                 
				                     </ion-select>   
				                      </ion-item>                 
				                 </div>
				                 <ion-col col-3 class="visitTypeLabel">
				                     <!-- <ion-item> -->
				                         <span *ngIf="timeSlot.visitType == 'Appointment'">{{ 'CONTRACT_MIN_LABLE' | translate}}</span>
				                         <span *ngIf="timeSlot.visitType == 'Token' || timeSlot.visitType == 'TOKENS' || timeSlot.visitType == 'TOKEN'">{{ 'CONTRACT_COUNT_LABLE' | translate}}</span>
				                     <!-- </ion-item> -->
				                 </ion-col>
				                 <ion-col style="padding-left: 0; padding-right: 0;" col-3  *ngIf="timeSlot.visitType == 'Appointment' || timeSlot.visitType == 'Token' || timeSlot.visitType == 'TOKENS' || timeSlot.visitType == 'TOKEN'">
				                     <!-- <ion-item> -->
										 <ion-input name="visitValue" *ngIf="timeSlot.visitType == 'Appointment'" type="number" min="0" step="5" #visitValue = "ngModel" [(ngModel)]="timeSlot.visitValue" autocomplete="off" autocorrect="off" required class="contract-item-border-cls"></ion-input> 
										 <ion-input name="visitValue" *ngIf="timeSlot.visitType == 'Token' || timeSlot.visitType == 'TOKENS' || timeSlot.visitType == 'TOKEN'" type="number" #visitValue = "ngModel" [(ngModel)]="timeSlot.visitValue" autocomplete="off" autocorrect="off" required class="contract-item-border-cls"></ion-input>                               
                              
				                     <!-- </ion-item> -->
				                 </ion-col>
			                 </ion-row>
		                 </ion-col>
		             <!-- </ion-col>   -->
		         </ion-row>
		         <ion-row>
		         	<ion-col col-3>
		         		&nbsp;
		         	</ion-col>
			        <div class="contract-btn-mobile" col-9>
			            <a ion-button class="common-blue-btn add-time-btn" block (click)="addTimeSlotClick()" >{{ 'ADD_TIME_BTN_LABEL' | translate }}</a>
			        </div>
		        </ion-row>
		        
	        </div>
	        
			<div class="day-time-table-wrapper">
	       		<div class="table-heading blue-txt">
			  		<ion-row>
				    	<ion-col col-2>
					  		{{ 'DAY_LABEL' | translate }}
					    </ion-col>
					    <ion-col col-5>
					    	{{ 'TIME_LABEL' | translate }}
					    </ion-col>
					    <ion-col col-5>
					    	{{ 'TYPE_LABEL' | translate }}
					    </ion-col>
			  		</ion-row>
				</div>
				<div class="table-content">
			  		<ion-row *ngFor="let timeSlot of timeSlotArray">
		    			<ion-col col-2>{{ timeSlot.day | slice:0:3 }}</ion-col>
				    	<ion-col col-5>{{ timeSlot.showTimeString }}</ion-col>
				    	<ion-col col-4>{{ timeSlot.showVisitTypeString }}</ion-col>
				    	<ion-col col-1 class="remove-icon-content"><img src="assets/imgs/cross_btn_red.png" (click)="removeTimeSlot(index, timeSlot)" *ngIf="editFlag || createFlag"/></ion-col>
				  	</ion-row>
				</div>
	
				<div class="contract-btn" *ngIf="commonService.checkIsWeb() && (createFlag || editFlag)">
					<a href="#/hospital-admin-doctor-list" ion-button class="common-blue-btn" *ngIf="createFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a (click)="cancelEdit()" ion-button class="common-blue-btn" *ngIf="editFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a (click)="createContract()" ion-button class="common-blue-btn" *ngIf="editFlag || createFlag">{{ 'OK_BUTTON_LABLE' | translate }}</a>
				</div>
	        </div>
		</ion-col>
</ion-row>
<!-- <div class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb() && (createFlag || editFlag)">
		<a href="#/hospital-admin-doctor-list" ion-button class="common-blue-btn" *ngIf="createFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
		<a (click)="cancelEdit()" ion-button class="common-blue-btn" *ngIf="editFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
		<a (click)="createContract()" ion-button class="common-blue-btn" *ngIf="editFlag || createFlag">{{ 'OK_BUTTON_LABLE' | translate }}</a>
</div> -->
<!-- </form> -->