view-contract-component{
	.time-content{
		.text-input[disabled] {
		    opacity: 1;
		}
	}
	.to-label{
		    color: #000 !important;
	}
	.hos-name{
		font-size:1.6rem;
	}
	.fee-amount-container{
		@include screenMax576{
			margin-top:15px;
		}
	}
	.hos-address{
		padding:0px 15px 5px 0px;
		p{
			margin:0px;
			font-weight:400;
			font-size:1.4rem;
			line-height:22px;
		}
		.mapIcon{
			justify-content: flex-end;
		    display: flex;
		    padding: 0px;
		    align-items: center;
		    span{
		    	border-left:1px solid $borderColor;
		    	padding-left:15px;
		    }
		}
	}
	.removePaddingMobile{
		padding-right: 0;	
	}
	.contract-view-container{
		height: 100%;
		@include screenMax576{
			height: auto;
		}
		.day-time-table{
			height: 100%;
			background-color: $whiteColor;
		}
	}
	.contract-profile-img-container{
		@include screenMax576{
			padding-right:0px !important;
		}
	}
	.contract-fees-view{
		margin-top: 10px;
		border: 1px solid rgb(32, 144, 228);
		border-radius: 5px;
		.text-input[disabled]{
			opacity: 1;	
		}
		.text-input-md{
			margin: 10px 8px;	
		}	
	}
	.time-slot-mobile{
		padding-left: 10px;	
	}
	.contract-item-border-cls{
		border: 1px solid rgb(32, 144, 228);
		border-radius: 5px;	
		.text-input-md{
			margin: 10px 8px;
		}
	}
	.contract-item-border-cls.select-md{
		padding: 10px 8px 10px 10px;
	}
	.set-row-items-center{
		align-items: center;	
	}
	.contract-visitType-cls{
		padding-left: 0; 
		padding-right: 0;	
	}
	.fees-txt-cls{
		padding: 25px 19px !important;
		@include screenMax576{
			padding: 15px 19px !important;
		}
	}
	.border-top-cls{
		border-top: 1px solid rgb(185, 185, 185);
		width: 100%;
		margin-bottom:10px;
		@include screenMobileMax576{
			border-top: none;
		}
	}
	.border-col{
		padding: 0 15px !important;
	}
	.list-view{
		.list-container{
			.to-label{
				padding: 15px 20px 15px 15px;
			}
			.calender-cls{
				.date-picker{
						float:right;
						padding-top:0;
					}
			}
			.from-label{
				.date-picker{
					float:right;
					padding-top:0;
				}
			}
			.fees-amount-cls{
				 padding-top: 0;
				 position:relative;
				 .ruppeCls{
				 	padding-top: 15px;
				 }
				 .input-wrapper{
				 	border-bottom:1px solid #dedede;
				 	@include screenMax576{
				 		border-bottom: none;	
				 	}
				 }
				 .pencil-icon{
				 	position: absolute;
				    top: 0;
				    right: 15px;
			        width: 30px;
    				height: 30px;
    				@include screenMax576{
				    	top: 8px;
				    	right: 25px;
				 	}
				 }
				.fee-amount-input{
					.text-input{
						width:75%;
					}
				}
			}
			
			.noPadding{
				@include screenMax576{
					padding:0px;
				}
			}
			
			.list-img-container{
				@include screenMax576{
					padding-right:0px;
					display:inline;
				}
				div{
					.contract-profile-img{
						padding:0px;
						img{
							//border-bottom-width: 0;
							//border-radius: 7px;
							width:100%;
						}
					}
				}
			}
			.list-content{
				padding:15px 0px 0px 0px !important;
				@include screenMax576{
					padding-left:10px !important;
					display:inline;
				}
				.list-item{
					li{
						p{
							display: block;
						}
					}
				}
				.name-container{
					font-size:1.4rem;
					color:$blackColor;
					font-weight:500;
				}
				.address-container{
					font-size:1.4rem;
					color:$listItemContentColor;
					.map{
						text-align: center;
						display:flex;
						align-items: center;
						justify-content: flex-end;
						img{
							border-left:1px solid $borderColor;
							padding:0px 10px;
						}
					}
				}
			}
		}
	}
	.list-view .list-container > ion-col.fee-label{
		padding-bottom: 15px;
		padding-left:15px;
	}
	.time-list-container{
		    background-color: white;
    		border: 1px solid #cadce8;
    		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
    		@include screenMax576{
    			border:unset;
    			box-shadow: unset;
    		}
    		.dayInput{
	    		@include screenMax576{
	    			padding-right:17px;
	    		}
    		}
		.weekdays{
			padding-right: 15px;
			@include screenMax576{
			 	padding-right:0px;
			 	padding-left:10px;
		 	}
		 .item-inner{
		 	@include screenMobileMax576{
		 		border-bottom: none !important;
		 	}
		 }
		}
		.visit-dropdown{
			padding-left:10px;
		}
		.weekday-label{
			@include screenMax576{
				 padding-top:15px;
		 	}
		}
		.visitTypeLabel{
			text-align: center;
			padding-left: 0; 
			padding-right: 0;	
		}
	
		@include screenMax576{
    		border: 1px solid #cadce8;
    		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
    		padding-top: 15px !important;
		}
		@include screen991{
			padding-left:0px !important;
			margin-top:20px;
		}
		.day-time-table-wrapper{
			background:$whiteColor;
			//border:1px solid #cadce8;
			.blue-txt{
				color: $timeLinkBlueColor;
			}
			div{
				ion-row{
					padding:10px;
					border-bottom:1px solid #dedede;
					
					&:last-child{
						border:0;
					}
				}
			}
			
			.table-heading{	
				border-bottom:1px solid #dedede;
				ion-row{
					background-color:#d8eeff;
				}
			}
			.table-content{
				padding:0px 10px 0px 10px;
				//border-bottom:1px solid #dedede;
				ion-row{
					padding:10px 0px;
					border-bottom:1px solid #dedede;
				}
				.remove-icon-content{
					@include screenMax576{
						padding-left:0
					}
				}
			}
		}//end of day-time-table
	}
	.contract-btn{
		text-align: right;
		padding:0px 15px;
		margin:50px 0px 20px 0px;
		.add-time-btn{
			@include screenMax576{
				    width: 100%;
			        max-width: unset !important;
			}
		}
	}
	.set-time{
		ion-row{
			&:first-child{
				ion-col{
// 					color:$timeLinkBlueColor;
				}
				.checkbox-label{
					align-items:end;
					ion-checkbox{
						margin:0px;
						order: 1; 
					}
					.item-inner{
						border-bottom:0px !important;
						text-align: right;
						padding-right: 0;
					}
				}//end of checkbox-label
			}
			&:nth-child(2){
				ion-col{
// 					color:$timeLinkBlueColor;
					display:flex;
					align-items:center;
					//padding-bottom:12px;
				}
			}
		}
		
		.effective-contract-date{
			.effective-date{
				min-height:3.4rem;
				.datetime{
					width:100% !important;
				}
			}
		}
		
		.time-slots{
			.visit-contents{
				padding:0px;
			}
			.time-slot-content{
				 padding-right: 0px;
			}
			.contract-input{
				padding-right: 10px;
				padding-left:0px;
				@include screenMax576{
				 	padding-right:10px;
			 	}
			}
			.visit-type-content{
				padding-right: 0px;
				.item-select{
					padding-right: 0px;
					@include screenMax576{
					 	padding-left:10px;
					 }
				}
			}
			.limit{
				padding-left: 0px;
			}
			.time-label{
				 @include screenMax576{
				 	padding-top:15px;
				 }
			}
			.visit-label{
				 @include screenMax576{
					 	padding-top:10px;
					 }
			}
			.to-label{
				@include screenMax576{
				 	color:#000;
				 }	
			}
			> div{
				padding:0px 15px !important;
				@include screenMax576{
					padding-left: 0px !important;
					padding-right:17px !important;
				}
				.time-input{
					width: 100%;
					padding: 0px !important;
					@include screenMax576{
						padding: 0px 21px 0px 0px !important;
					}
				}
				.web-time-input{
					padding-left: 0px !important;
    				padding-right: 0 !important;
    				padding-bottom: 0 !important;
    				.text-input{
    					margin-left:0px;
    				}
    				.ui-calendar{
    					padding-left: 0;
					    border-bottom: 1px solid #dedede;
					    width: 100%;
					    display: block;
					    height: 100%;
    				}
    				 .ui-inputtext {
					    padding-left: 0px !important;
					    margin-bottom: 13px;
					    font-size:1.4rem;
					}
				}
				ion-col{
					display:flex;
					align-items:flex-end;
					justify-content:center;
					color:$listItemContentColor;
					p{
						margin: 10px 0px 4px;
					}
				}
				.to-label-col{
					align-items: center;
					p{
						margin: 0;
						padding-top: 10px;

						@include screenMax576{
							padding-top:2px;
						}
					}
				}
			}
			
		}//end of time-slots
		@media (min-width: 320px) and (max-width: 940px){
		    flex: 0 0 100%;
		    width: 100%;
		    max-width: 100%;
		    padding:0px !important;
	    }
	}
	.set-time{
		 div{
			p{
				display:inline-block;
				width:48%;
				margin:0px;
				color:$blueBtnColor;
				&:nth-child(2){
					text-align:right;
					display:inline-flex;
					color:$blackColor;
				}
				.label, ion-checkbox{
					display:inline-block;
					margin:0px;
				}
				.label{
					padding-right:10px;
				}
				.checkbox-icon{
					border:1px solid $blueBtnColor;
				}
			}
		} //end of div
		.time-slots{
			ion-item{
				display:inline-block;
				width:40%;
				@include screenMax576{
							width:100%;
					}
				
			}
			span{
				padding:0px 10px;
			}
			
			
		}
	}
	.min-token-label.item.item-block{
		.item-inner{
			    border-bottom-width:0;
		}
	}
	
	.contractItem{
		width: 100% !important;
		background: transparent;
		ion-select{
			width: 100% !important;
			max-width: none;
			padding-left: 0;
			@include screenMax576{
				padding-left: 0;
			}
		}
		.select-md{
			@include screenMax576{
				padding: 10px 8px 10px 0px
			}	
		}	
		ion-item{
			width: 100% !important;
			max-width: none;
		}
	}
	p-calendar{
	 .ui-inputtext{
	 	background: transparent !important;	
	 	padding-left: 5px !important;
	 }
	}
	.row-align-cls{
		padding-top: 5px;	
	}
	.contract-btn-mobile{
		text-align: right;
		padding:0px 15px 0 0;
		margin:20px 0px 20px 0px;
		.add-time-btn{
			@include screenMax576{
			    width: 100%;
		        max-width: unset !important;
			}
		}
	}

.time-icon{
	width:15px !important;
	border-bottom:1px solid #dedede;
} 

.visitTypeItem{
	@include screenMax576{
			  	padding-left:0;
				 .item-inner{
					border-bottom:none !important;
				}	
	}
}

}

view-contract-component .list-view ion-row.list-container{
	@include screenMax576{
 		display:flex;	
 	}
} 



