page-sign-up {
	position: relative;
	.sign-up-container{
		//height: 100%;
		
		.form-container{
			height: 75%;
			position: relative;
			img{
				    top: 50%;
	    			left: 50%;
	    			width: 82px;
	    			height: 82px; 
	    			cursor:pointer;
				}
			ion-list.list{
			    max-width: 480px;
			    margin: 0 auto;
				margin-bottom: 16px;
				ion-item.item.screen-title-item{
					margin: 14px 0px 30px 0px;
					font-size: 1.8rem;
					color: $registerScreensTitleColor;
					.item-inner{
						border-width: 0;
						padding-right: 0 !important;
						
						.label{
							margin-right:0px;
						}
					}
				}
				.profile-pic{
					margin-bottom:45px;
					text-align: center;
					.upload-img{
						    height: 82px;
						    background: url('../assets/imgs/pic.png');
						    width: 82px;
						    display: block;
						    margin: 0  auto;
						    background-size: 100% 100%;
						    cursor: pointer;
						    border-radius: 6px;
					}
					img{
						border:1px solid $timeLinkBlueColor;
						border-radius: 6px;
					}
					.item-inner{
						border:0px;
						padding:0px;
					}
				}
			    ion-item.item{
		    		padding-left: 0;
			    	background-color: transparent;
			    	min-height:3.6rem;
					font-size: 1.4rem;
					margin-top:5px;
			    	.text-input{
			    		margin: 8px 15px;
			    	}
			    	
			    	.label, .icon {
			    		margin:0;
			    	}
			    }
			}
			.screen-title-item{
				.item-inner{
					border-width: 0;
				}
			}
			.password-item{
				ion-icon{
					cursor: pointer;
				}
			}
			.forgot-password-item{
				.item-inner{
					padding-right: 0;
					a.linkToScreen{
						margin-right: 0;
						color: #898989;
						font-weight: normal;
					}
				}
			}
			.identifier-item,.password-item{
				border-bottom:1px solid #dedede;
				
				ion-icon{
					margin-top:18px !important;
				}
				ion-label{
					//padding-left:10px;
				}
				.item-inner{
					box-shadow:unset !important;
					border:0px !important;
					margin:0px;
				}
			} 
			.error-msg-block{
	 			padding: 5px 0px 10px 38px;
		   }
		
			.sign-up-btn-container{
				margin-top:10px;
				.sign-up-btn{
					box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0px rgba(0, 0, 0, 0.12);
				}
			}
			.login-link-container, .tosnp-container{
				margin-top: 16px;
			    min-height: 3rem;
			    display: flex;
			    align-items: center;
			    font-size: 1.4rem;
			    color: $textGreyColor;
			    justify-content: center;
			    opacity:1;
			    a.linkToScreen{
			    	margin-left: 5px;
			    	text-decoration:underline;
			    	color:$linkTextColor;
			    	font-size: 1.4rem;
			    	@include screenMax576{
    					font-weight: 500;
    				}	
			    }
			}
		   
		}
	}
	 .terms-privacy-container{
		//position: absolute;
		//bottom: 20px;
		//left: 0;
		//right: 0;
		font-size: 1.4rem;
		text-align: center;
		margin-top: 30px;
    	margin-bottom: 16px;
		.linkToScreen{
			text-decoration:underline;
			color:$linkTextColor;
			font-size: 1.4rem;
			@include screenMax576{
					font-weight: 500;
			}	
		}
	}
}
