<!-- <ion-header>
	<ion-navbar>
    	<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
    	<ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  	</ion-navbar>
</ion-header> -->

<ion-content padding class="lsf-bg">
	<div class="sign-up-container">
		<div class="form-container">
			<form [formGroup]="signupForm" novalidate>
				<ion-list>
					<ion-item detail-none class="screen-title-item">
						{{ 'SIGN_UP_TITLE' | translate }}
					</ion-item>
					<ion-item detail-none class="profile-pic">
				 		 <label for="image-upload-input" *ngIf="commonService.checkIsWeb() && !this.imageUpload.file" class="upload-img">  
				 		   <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						<!-- 	  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}"/>
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div> -->
						
						  </label>
						  	 <label for="image-upload-input" *ngIf="commonService.checkIsWeb() && this.imageUpload.file" class="upload-img" [ngStyle]="{ 'background-image': 'url(' + this.imageUpload.file + ')'}">  
				 		   <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						<!-- 	  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}"/>
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div> -->
						
						  </label>
						   <label for="image-upload-input" *ngIf="!commonService.checkIsWeb()  && !commonService.checkMobileweb()" class="upload-img" (click)="onCamera()">
							  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div>
						  </label>
						  
						  <label for="image-upload-input" *ngIf="!commonService.checkIsWeb() && commonService.checkMobileweb() && !this.imageUpload.file" class="upload-img">  
				 		   <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						<!-- 	  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}"/>
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div> -->
						
						  </label>
						   <label for="image-upload-input" *ngIf="!commonService.checkIsWeb() && commonService.checkMobileweb() && this.imageUpload.file" class="upload-img" [ngStyle]="{ 'background-image': 'url(' + this.imageUpload.file + ')'}">  
				 		   <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						<!-- 	  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}"/>
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div> -->
						
						  </label>
					</ion-item>
  					<ion-item detail-none class="identifier-item">
    					<ion-icon item-left class="person-icon-new"></ion-icon>
    					<ion-label floating>{{ 'FN_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="signUpData.firstName" name="firstName" minLength="1" maxLength="20" formControlName="FirstName" autocomplete="off" autocorrect="off"></ion-input>
  					</ion-item>
  						<div class="error-msg-block text-left">
		           			<span ></span>
	                    	<small *ngIf="signupForm.controls.FirstName.hasError('required') && isSubmit" class="text-danger">{{ 'ERROR_MSG_BLANK_PATIENT_FIRST_NAME' | translate }}</small>	
	                    	<small *ngIf="signupForm.controls.FirstName.hasError('maxlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_PATIENT_FIRST_NAME' | translate }}</small>	
	               			<small *ngIf="signupForm.controls.FirstName.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_VALID_FIRSTNAME' | translate }}</small>
	               		 </div>
  					
  					<ion-item detail-none class="identifier-item">
  						<ion-icon item-left class="person-icon-new"></ion-icon>
    					<ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="signUpData.lastName" name="lastName" minLength="1" maxLength="20" formControlName="LastName" autocomplete="off" autocorrect="off"></ion-input>
  					</ion-item>
  						<div class="error-msg-block text-left">
		           		<span ></span>
                    	<small *ngIf="signupForm.controls.LastName.hasError('maxlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_PATIENT_LAST_NAME' | translate }}</small>	
	               		</div>
  					
  					
  					<ion-item detail-none  class="identifier-item">
  						<ion-icon item-left class="person-icon"></ion-icon>
  						<ion-label floating>{{ 'USERNAME_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="signUpData.userName" name="userName" minLength="1" maxLength="20" pattern="^[a-zA-Z0-9_@^#$%&*()-.]{1,20}$" formControlName="Username" autocomplete="off" autocorrect="off"></ion-input>
  					</ion-item>
  					<div class="error-msg-block text-left">
		           	<span ></span>
	                    	<small *ngIf="signupForm.controls.Username.hasError('required') && isSubmit" class="text-danger">{{ 'ERROR_MSG_BLANK_USERNAME' | translate }}</small>
	                    	<small *ngIf="signupForm.controls.Username.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_INVALID_USERNAME' | translate }}</small>	
	                    	<!-- <small *ngIf="signupForm.controls.Username.hasError('maxlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_PATIENT_USERNAME' | translate }}</small>	 -->
	               		 	<!-- <small *ngIf="signupForm.controls.FirstName.hasError('minlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_PATIENT_FIRST_NAME' | translate }}</small> -->	
	               		 </div>
  					
  					
  					<ion-item detail-none class="identifier-item">
  						<ion-icon item-left class="phone-icon"></ion-icon>
  						<ion-label floating>{{ 'CONTACT_NUMBER' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="signUpData.contactNumber" name="contactNumber"  formControlName="ContactNumber" autocomplete="off" autocorrect="off" maxlength="10"></ion-input>
  					</ion-item>
					<div class="error-msg-block text-left">
		           	<span ></span>
	                    	<small *ngIf="signupForm.controls.ContactNumber.hasError('required') && isSubmit" class="text-danger">{{ 'ERROR_MSG_BLANK_PATIENT_MOBILE' | translate }}</small>	
	                    	<small *ngIf="signupForm.controls.ContactNumber.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_INVALID_PATIENT_MOBILE' | translate }}</small>	
	               		 	<!-- <small *ngIf="signupForm.controls.FirstName.hasError('minlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_PATIENT_FIRST_NAME' | translate }}</small> -->	
               		 </div>
  					
  					
  					<ion-item detail-none class="identifier-item">
  						<ion-icon item-left class="email-icon"></ion-icon>
    					<ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{'OPTIONAL_LABEL' | translate}}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="signUpData.email" name="email"  formControlName="Email" autocomplete="off"  autocorrect="off"></ion-input>
  					</ion-item>
					<div class="error-msg-block text-left">
		           	<span ></span>
	                    	<small *ngIf="signupForm.controls.Email.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_INVALID_PATIENT_EMAIL' | translate }}</small>	
	               		 	<!-- <small *ngIf="signupForm.controls.Email.hasError('required')&& isSubmit" class="text-danger">{{ 'Error_MSG_BLANK_EMAIL' | translate }}</small> -->	
               		 </div>
  					
  					
  					<ion-item detail-none class="identifier-item">
  						<ion-icon item-left class="address-icon"></ion-icon>
    					<ion-label floating>{{ 'CITY_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="signUpData.city" name="city"  formControlName="City" autocomplete="off" autocorrect="off"></ion-input>
  					</ion-item>
  						<div class="error-msg-block text-left">
		           		<span ></span>
	                    	<small *ngIf="signupForm.controls.City.hasError('required') && isSubmit" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' | translate }}</small>	
	               		 	<!-- <small *ngIf="signupForm.controls.FirstName.hasError('minlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_PATIENT_FIRST_NAME' | translate }}</small> -->	
               			 </div>
  					
  					
  					<ion-item detail-none class="password-item">
  						<ion-icon item-left class="key-icon"></ion-icon>
    					<ion-label floating>{{ 'PASSWORD_LABEL' | translate }}</ion-label> 
   						<ion-input clearOnEdit="false" [(ngModel)]="signUpData.password" name="password"  minLength="8" maxLength="20"formControlName="Password" [type]="inputType" autocomplete="off" autocorrect="off"></ion-input>
  						<ion-icon [ngClass]="{'icon-class': true, 'eye-off-icon': (passwordEyeIcon == 'eye-icon'), 'eye-icon': (passwordEyeIcon == 'eye-off-icon')}" item-end (click)="showPasswordToggle()"></ion-icon>
  					
  					</ion-item>
					<div class="error-msg-block text-left">
	           			<span ></span>
                   		<small *ngIf="signupForm.controls.Password.hasError('required') && isSubmit" class="text-danger">{{ 'ERROR_MSG_BLANK_PASSWORD' | translate }}</small>	
           		 		<!-- <small *ngIf="signupForm.controls.Password.hasError('minlength')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_MINLENGTH_PATIENT_PASSSWORD' | translate }}</small> -->
           		 		<small *ngIf="signupForm.controls.Password.hasError('pattern')" class="text-danger">{{ 'ERROR_MSG_MAXLENGTH_MINLENGTH_PATIENT_PASSSWORD' | translate }}</small>		
            		</div>
  					
				</ion-list>
				<div class="sign-up-btn-container">
					<button (click)="onSubmit(signupForm)" block ion-button class="common-blue-btn sign-up-btn">{{ 'SIGN_UP_TITLE' | translate }}</button>
					<div class="login-link-container">
						{{ 'SIGN_UP_LOGIN_MSG' | translate }} <a class="linkToScreen" href="#/login">{{ 'LOGIN_TITLE' | translate }}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
		<div class="terms-privacy-container">
		{{ 'TOS_PP_MSG' | translate }}
			<br />
		<a class="linkToScreen" (click)="openPrivacyPolicy('Terms of use')">{{ 'TOU_LABEL' | translate }}</a>
		{{ 'AND_LABEL' | translate }}
		<a class="linkToScreen" (click)="openPrivacyPolicy('Privacy policy')">{{ 'PP_LABEL' | translate }}.</a>
	</div>
	
</ion-content>
