<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="!commonService.checkIsWeb()">{{ pageTitle | translate }}</ion-title>
		<img  *ngIf="!commonService.checkIsWeb() && showFilter" src="assets/imgs/fillter02.png" class="filter-img" (click)="comingSoonPopup()"/>
		<ion-buttons right class="header-username-container" *ngIf="commonService.checkIsWeb()">
			<button ion-button class="header-username">{{firstName}} {{lastName}}</button>
			<div class="left-border"></div>
		</ion-buttons>
	</ion-navbar>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{ pageTitle | translate}}</ion-title>
		<a ion-button *ngIf ="showButton" href="{{link}}"  class="common-blue-btn">{{ linkLabel | translate }}</a>
	</div>
	<div class="search-container blank-search-container" style="padding-bottom: 10px;"></div>
</ion-header>