<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'UPCOMING_APPOINTMENT_TITLE'"></header-for-role-creation-form>
	
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{hospitalData?.name}}</ion-title>
	</div>

	<ion-grid class="search-container upcoming-appointment-search" [ngClass]="{'mobile-search-container': !commonService.checkIsWeb()}">
		<ion-row class="calendar-container">
			<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-error': goBtnClicked && !startValueStr}">
					<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="startValueStr" [minDate]="todayForWeb" dateFormat="dd/mm/yy" *ngIf="commonService.checkIsWeb()"> 
					<img src="assets/imgs/contract_calander_icon.png"/></p-calendar>
					<ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="startValueStr" *ngIf="!commonService.checkIsWeb()" [min]="today" [max]="2020"></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
			</ion-col>
			
			<p class="ToText">{{ 'TO' | translate }}</p>
			<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div  [ngClass]="{'is-errorEndDate': goBtnClicked && !endValueStr}" >
					<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="endValueStr" [minDate]="startValueStr"  dateFormat="dd/mm/yy" [disabled] = "startValueStr?false:true" *ngIf="commonService.checkIsWeb()"></p-calendar>
					<ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="endValueStr" [disabled] = "startValueStr?false:true" *ngIf="!commonService.checkIsWeb()" [max]="2020" [min]="startValueStr" ></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
			</ion-col>
			
			<ion-col col-3 col-sm-2 col-md-3 col-lg-3 class="goBtn">
				<a  ion-button class="common-blue-btn " (click)="applyDateFilter()">{{ 'GO' | translate }}</a>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>
	
<ion-content padding class="centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'UPCOMING_APPOINTMENT_TITLE'"></header-for-role-creation-form>
		
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{hospitalData?.name}}</ion-title>
		</div>
	
		<ion-grid class="search-container upcoming-appointment-search" [ngClass]="{'mobile-search-container': !commonService.checkIsWeb()}">
			<ion-row>
				<ion-col col-4 col-sm-3 col-md-3 col-lg-2>
					<div [ngClass]="{'is-error': goBtnClicked && !startValueStr}">
						<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" dateFormat="dd/mm/yy" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="startValueStr"> 
						<img src="assets/imgs/contract_calander_icon.png"/></p-calendar>
						<!-- <ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="startValueStr" *ngIf="!commonService.checkIsWeb()"></ion-datetime> *ngIf="!commonService.checkIsWeb()" -->
					</div>
				<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMSG}}</div> -->
				</ion-col>
				<p class="ToText">{{ 'TO' | translate }}</p>
				<ion-col col-4 col-sm-3 col-md-3 col-lg-2>
					<div  [ngClass]="{'is-errorEndDate': goBtnClicked && !endValueStr}" >
						<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="endValueStr" [minDate]="startValueStr"  dateFormat="dd/mm/yy" [disabled] = "startValueStr?false:true" *ngIf="commonService.checkIsWeb()"></p-calendar>
						<!-- <ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="endValueStr" [disabled] = "startValueStr?false:true" *ngIf="!commonService.checkIsWeb()"></ion-datetime> *ngIf="!commonService.checkIsWeb()" -->
					</div>
					<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMsgEndDate}}</div> -->
				</ion-col>
				<ion-col col-2 col-sm-3 col-md-3 col-lg-3 class="goBtn">
					<a  ion-button class="common-blue-btn " (click)="applyDateFilter()">{{ 'GO' | translate }}</a>
					<!-- <img *ngIf="commonService.checkIsWeb()" src="assets/imgs/fillter02.png" class="filter-img" (click)="comingSoonPopup()"/> -->
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-header>
	
	<div class="main-content" *ngFor="let item of appointmentList | groupByDatePipe">
		<p class="dateTitle" *ngIf="item.date != todayDateStr">{{ item.date | date:'dd/MM/yyyy' }}</p>
		<p class="dateTitle" *ngIf="item.date == todayDateStr">{{ 'TODAY_TEXT' | translate }}</p>
		<upcoming-appointments-component [appointmentList]="item.details" [fromDoctorAppointmentHistory]="false" [fromDoctorUpcomingAppointment]="false" [fromHospitalUpcomingAppointment]="true" [fromHospitalStaffManageAppointment]="fromHospitalStaffManageAppointment" [fromHospitalAdminManageAppointment]="fromHospitalAdminManageAppointment"></upcoming-appointments-component>
		<!-- <div *ngIf="appointmentList && (!appointmentList.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && appointmentList && (appointmentList.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div> -->
	</div>
	<div *ngIf="appointmentList && (appointmentList.length == 0) || !appointmentList" class="no-data-found app-no-datafound-cls" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
  	<div class="load-more-container" text-center *ngIf="!loadFinished && appointmentList && (appointmentList.length > 0)">
	 	<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 	</div> 
	<footer class="mobile-view-footer"></footer>
</ion-content>