page-hospital-admin-manage-appointment {
	.scroll-content{
		//padding: 0;
		padding-top:160px !important;
		@include screenMax576{
			padding-top: 110px !important;	
			margin-top:0px !important;
		}
		background: rgb(246, 247, 251);	
	}
	.centered-content .main-content {
    	padding-top:10px;
    	@include screenMax576{
			padding-top: 0px;	
		}
    	.dateTitle{
    		padding-left:15px;
    		font-size: 18px;
    	}
    	p{
    		margin-bottom:5px;
    	}
	}
	
	ion-header.header .search-container ion-row ion-col:first-child > div {
   		 margin-right: 0px;
	}
	
	.goBtn{
		display:flex;
		align-items:center;
		justify-content:end;
		margin-left: 20px;
	 	 @include screenMax576{
		 	margin-left: 0px;	
		 	padding-right:0px;	
		}
		
		a, a:hover{
			margin:unset;
			min-width:65px;
			border: 1px solid $blueBtnColor;
			background-color: transparent;
			color: $blueBtnColor;
			 min-height:3.3rem;
			 height:3.3rem;		
		}
		img{
			margin-left:10px;
		}
		@include screen360{
		    min-width: 60px;
		}
	}  

	.goBtn a:hover:not(.disable-hover){
		    color: $whiteColor;
			background-color: $headerBgColor;
	}

	ion-header.header{
		.search-container.upcoming-appointment-search{
			padding-bottom: 0px;
			.city-dropdown-item{
				-webkit-box-shadow:none !important;
			}
			
			.calendar-container{
				padding:10px;
				
				@include screenMax576{
					padding:10px 15px;
					border-bottom: 1px solid #2090e4;
				}
				
				@include screenMobileMax576{
					padding:10px 16px 10px 10px;
				}
			}
			
			.calendarCls{
				padding:0px; //affects in DR upcoming appointment
			}
			
			ion-col{
				padding: 0px;
				
				&:last-child.goBtn{
					margin:0px;
					a{
						margin:auto 0 auto auto;
						
						@include screenMin576{
							margin:unset;
						}
					}
					
					@include screenMin576{
						padding-left:20px;
					}
				}
				
				p.ToText{
					text-align:center;
				}
			}
		}
		ion-title{
			 @include screenMax576{
				    display: inline-block;
    				margin-top: 6px;
    		}
		}
	  .filter-img{
		 @include screenMax576{
		    	float: right;
    			padding-right: 5px;
    		}
		}
	}

	.calendarCls .ui-inputtext{
	    border-radius: 5px;
	    background-color: #f5fafe;
	    border: 1px solid #cbd2d8;
	    min-height: 35px;
	    height: 35px;
	    max-height: 35px;
	    -webkit-box-shadow: inset 1px 1px 3px #cbd2d8;
	    width: 100%;
	    padding: 0px 15px;
	    cursor:pointer;
		  background: url('../assets/imgs/contract_calander_icon.png') no-repeat scroll 7px 7px;
	      background-position: right 8px bottom 5px;
  		  background-repeat: no-repeat;
          background-size: initial;
	}

	.ui-calendar .ui-datepicker{
	    margin-top: 0px;
	}

// 	//ion-datetime css is as below
// 	
// 	ion-datetime{
// 		span.button-inner{
// 		    background: url(../assets/imgs/contract_calander_icon.png) no-repeat scroll 7px 7px;
// 			background-position: right 8px bottom 8px;
// 			background-repeat: no-repeat;
// 			background-size: initial;
// 			border-radius: 5px;
// 			border: 1px solid #cbd2d8;
// 			}
// 	}
// 	ion-datetime.datetime-md, ion-datetime.datetime {
//  	  	 padding-left: 10px !important;
//  	  	 font-size:10px;
// 	}
}
