<!-- <ion-header *ngIf="!commonService.checkIsWeb()">
		<header-for-role-creation-form [showBackButton]=true [backBtnLink]="'#/hospital-admin-associated-doctor-list'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'A_DOCTOR_LABEL'" *ngIf="commonService.checkIsWeb()"></header-for-role-creation-form>
		
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'A_DOCTOR_LABEL' | translate }}</ion-title>
			<a href="#/hospital-admin-create-doctor/create/0" ion-button class="common-blue-btn">{{ 'ADD_DOCTOR_TITLE' | translate }}</a>
		</div>
		<ion-grid class="search-container search-container-mobile">
			<ion-row *ngIf="commonService.checkIsWeb()">
				<ion-col col-4 col-sm-3 col-md-3 col-lg-2>
				<div  class="city-ion-dropdown">
					<ion-item class="common-select-dropdown city-dropdown-item">
					<ion-label>{{ 'SELECT_CITY' | translate}}</ion-label>
						<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
							<ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
						</ion-select>
					</ion-item>
				</div>
				</ion-col>
				<ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="search-textBox">
				<input type="text" [(ngModel)]="searchText" (ngModelChange)="onChangeSearchText()" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}">
					<div *ngIf="showSearchResultContainer">
						<search-result-component [from]="fromString"></search-result-component>
					</div>
				</ion-col>
				<ion-col  col-2 col-sm-2 col-md-2 col-lg-2 ><img src="assets/imgs/fillter02.svg" (click)="getFilters()" class="filter-img"/></ion-col>
			</ion-row>
		</ion-grid>
	</ion-header> -->

<ion-header *ngIf="!isSearchHeader && !commonService.checkIsWeb()">
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-buttons left class="header-username-container">
			<a href="#/hospital-admin-associated-doctor-list" *ngIf="!isSamePage" ion-button icon-only>
				<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
			</a>
		</ion-buttons>

		<ion-grid class="mobile-view-city-dropdown" *ngIf="!commonService.checkIsWeb()">
			<ion-row class="city-ion-dropdown">
				<ion-col col-5>
					<ion-title>{{ 'LOCATION_LABEL' | translate }}</ion-title>
					<!-- <ion-item class="common-select-dropdown city-dropdown-mobile">
						<ion-label> {{ 'SELECT_CITY' | translate }}</ion-label>
						<ion-select [(ngModel)]="cityId" name="city" class="multi-select mobile-select-icon" (ionChange)="onCityChange(cityId)">
							<ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name
								}} </ion-option>
						</ion-select>
					</ion-item> -->

					<ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-mobile common-select-dropdown-custom">
							<!-- <ion-label> {{ 'SELECT_CITY' | translate }}</ion-label> -->
						<ionic-selectable 
						class="multi-select mobile-select-icon" 
							item-content  
							*ngIf="cities"               
							[(ngModel)]="ity"
							[items]="cities"
							[canSearch]="true"
							[focusSearchbar]="false"
							itemValueField="id"
							itemTextField="name"
							(onChange)="onCityChangeMobile($event)"
							name="city"
							okButtonText="Ok">
						</ionic-selectable>
			
						</ion-item>
				</ion-col>
				<ion-col col-7 class="search-textBox search-box-mobile" (click)="searchHeaderClick()">
					<!--  (click)="isSearchHeader = true" -->
					<input readonly type="text">
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-buttons right class="header-username-container">

			<!-- 	<button ion-button class="header-username" *ngIf="!commonService.checkIsWeb()" (click)="getFilters()">
	   				<img src="assets/imgs/fillter02.svg" class="filter-img"/>
	   			</button> -->
			<div class="left-border" *ngIf="commonService.checkIsWeb()"></div>
		</ion-buttons>
	</ion-navbar>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{ 'HOME_TITLE' | translate }}</ion-title><!-- {{ patientData?.firstName }} {{ patientData?.lastName }} {{currentSegment}} -->
		<a class="filter-btn" (click)="comingSoonPopup()">
			<!-- (click)="getFilters()" -->
			<img src="assets/imgs/filter_reverse.svg" class="filter-img" />
		</a>
	</div>
</ion-header>


<ion-header class="white-header" *ngIf="isSearchHeader && !commonService.checkIsWeb()">
	<ion-navbar>
		<ion-buttons left class="header-username-container">
			<button class="search-back-btn" ion-button (click)="isSearchHeader = false">
				<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
			</button>
		</ion-buttons>
		<div class="mobile-view-city-dropdown" *ngIf="!commonService.checkIsWeb()">
			<ion-row class="city-ion-dropdown">
				<ion-col col-12 class="search-textBox search-box-white-header-mobile">
					<input type="text" [(ngModel)]="searchText" (ngModelChange)="onChangeSearchText()" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}">
				</ion-col>
			</ion-row>
		</div>
		<ion-buttons right class="header-username-container">
			<button ion-button class="header-username" *ngIf="!commonService.checkIsWeb()" (click)="getFilters()">
				<img src="assets/imgs/filter_reverse.svg" class="filter-img" />
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
	<search-result-component [from]="fromString"></search-result-component>
</div>

<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}"
 (click)="bodyClicked()">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form [showBackButton]=true [backBtnLink]="'#/hospital-admin-associated-doctor-list'"
		 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'A_DOCTOR_LABEL'" *ngIf="commonService.checkIsWeb()"></header-for-role-creation-form>

		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'A_DOCTOR_LABEL' | translate }}</ion-title>
			<a href="#/hospital-admin-create-doctor/create/UnassociateDoctorlist/0" ion-button class="common-blue-btn">{{
				'ADD_DOCTOR_TITLE' | translate }}</a>
		</div>
		<ion-grid class="search-container search-container-mobile">
			<ion-row *ngIf="commonService.checkIsWeb()">
				<ion-col col-4 col-sm-3 col-md-3 col-lg-2>
					<div class="city-ion-dropdown-custom">
						<!-- <ion-item class="common-select-dropdown city-dropdown-item">
					<ion-label>{{ 'SELECT_CITY' | translate}}</ion-label>
						<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
							<ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
						</ion-select>
						
					</ion-item> -->

						<!-- <select [(ngModel)]="cityId" name="city" class="multi-select city-dropdown-item apperance-none" (change)="onCityChange(cityId)">
							<option selected disabled> {{ 'SELECT_CITY' | translate}} </option>
							<option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }}
							</option>

						</select> -->

						<p-dropdown  *ngIf="commonService.checkIsWeb()" [options]="cities" [(ngModel)]="city" optionLabel="name" [filter]="true"  (onChange)="onCityChange(city.id)" ></p-dropdown>

					</div>
				</ion-col>
				<ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="search-textBox">
					<input type="text" [(ngModel)]="searchText" (ngModelChange)="onChangeSearchText()" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}">
					<!-- 	<div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
						<search-result-component [from]="fromString"></search-result-component>
					</div> -->
				</ion-col>
				<!-- <ion-col  col-2 col-sm-2 col-md-2 col-lg-2 ><img src="assets/imgs/fillter02.svg" (click)="getFilters()" class="filter-img"/></ion-col> -->
			</ion-row>
		</ion-grid>
	</ion-header>
	<!-- <ion-header *ngIf="!isSearchHeader && !commonService.checkIsWeb()">
		<ion-navbar>
	    	<button ion-button menuToggle>
	      		<ion-icon name="menu"></ion-icon>
	    	</button>
	    	
	    	<ion-buttons left class="header-username-container">
	   			<a href="#/hospital-admin-associated-doctor-list" *ngIf="!isSamePage" ion-button icon-only>
		   			<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
		   		</a>
	    	</ion-buttons>
	    	
	    	<ion-grid class="mobile-view-city-dropdown" *ngIf="!commonService.checkIsWeb()">
	    		<ion-row  class="city-ion-dropdown">
		            <ion-col col-5 >
			    		<ion-title>{{ 'LOCATION_LABEL' | translate }}</ion-title>
			            <ion-item class="common-select-dropdown city-dropdown-mobile">
			            	<ion-label> {{ 'SELECT_CITY' | translate }}</ion-label>
							<ion-select [(ngModel)]="cityId" name="city" class="multi-select mobile-select-icon" (ionChange)="onCityChange(cityId)">
							    <ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
					  		</ion-select>
					  	</ion-item>
				  	</ion-col>
				  	<ion-col col-7 class="search-textBox search-box-mobile" (click)="isSearchHeader = true">
						<input readonly type="text">
					</ion-col>
				</ion-row>
			</ion-grid>
	    	<ion-buttons right class="header-username-container">
	   			
	   			<button ion-button class="header-username" *ngIf="!commonService.checkIsWeb()" (click)="getFilters()">
	   				<img src="assets/imgs/fillter02.svg" class="filter-img"/>
	   			</button>
	    		<div class="left-border" *ngIf="commonService.checkIsWeb()"></div>
	    	</ion-buttons>
	  	</ion-navbar>
	  	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
	        <ion-title class="page-sub-title">{{ 'HOME_TITLE' | translate }}</ion-title>{{ patientData?.firstName }} {{ patientData?.lastName }} {{currentSegment}}
	        <a class="filter-btn" (click)="comingSoonPopup()" > (click)="getFilters()"
	          <img src="assets/imgs/filter_reverse.svg" class="filter-img"/>
	        </a>
		</div>
	</ion-header> -->


	<!-- <ion-header class="white-header" *ngIf="isSearchHeader && !commonService.checkIsWeb()">
		<ion-navbar>
			<ion-buttons left class="header-username-container">
	   			<button class="search-back-btn" ion-button (click)="isSearchHeader = false">
		      		<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
		    	</button>
	    	</ion-buttons>
	    	<div class="mobile-view-city-dropdown" *ngIf="!commonService.checkIsWeb()">
	    		<ion-row  class="city-ion-dropdown">
				  	<ion-col col-12 class="search-textBox search-box-white-header-mobile">
						<input type="text" [(ngModel)]="searchText" (ngModelChange)="onChangeSearchText()" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}">
					</ion-col>
				</ion-row>
			</div>
	    	<ion-buttons right class="header-username-container">
	   			<button ion-button class="header-username" *ngIf="!commonService.checkIsWeb()" (click)="getFilters()">
	   				<img src="assets/imgs/filter_reverse.svg" class="filter-img"/>
	   			</button>
	    	</ion-buttons>
	  	</ion-navbar>
	</ion-header> -->


	<div class="main-content">
		<!-- <div *ngIf="showSearchResultContainer && commonService.checkIsWeb()">
			<search-result-component [from]="fromString"></search-result-component>
		</div> -->
		<doctor-list-component [doctorList]="listOfDoctors" [isPatientDoctorList]="false" [isAssociateDoctorlist]="true"
		 [isSADoctorlist]="false" [hospitalId]=""></doctor-list-component>
		<div *ngIf="listOfDoctors && listOfDoctors.length <= 0 || !listOfDoctors" class="no-data-found" text-center> {{
			'NO_DATA_FOUND' | translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && listOfDoctors && (listOfDoctors.length > 0)">
			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
		</div>
	</div>

	<footer class="mobile-view-footer"></footer>
</ion-content>
<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb()">
	<a block (click)="gotoCreateDoctor()" ion-button class="common-blue-btn">{{ 'ADD_DOCTOR_TITLE' | translate }}</a>
</div>
