page-doctor-list {
	.main-content{
		.doctor-list-view{
			li:first-child{
				margin-bottom:0px !important;
			}
		}
		.doctor-list-view .list-container .list-content{
			padding-bottom:0px !important;
		}
		
		.doctor-list-view .list-container .bordered-list-btn-container{
			padding:0px 15px 5px 0px;
		}
	}	
	
	.mobile-view-city-dropdown .city-ion-dropdown ion-col .city-dropdown-mobile .mobile-select-icon .select-icon{
		display:none;
	}
}
