<ion-content padding class="centered-content">
	<header class="common-header-component" [linkLabel]="'BOOK_AN_APPOINTMENT'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'VISIT_DETAILS'" [showButton]="true"></header>
	<div class="main-content">
   	 <page-appointment-details [fromHospitalAdminAppointmentVisitDetails]="false" [fromAppointmentHistory]="false" [fromUpcomingAppointment]="true"></page-appointment-details>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>