page-sa-dashboard {
	.header .toolbar .search-container.blank-search-container{
		@include screenMax576{
			padding: 0;
		}
	}
	
}  //end of page-home

.fullHeight{
	height: 100%;
	@media (max-width: 768px){
    	height: auto;
    }
}