<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'DASHBOARD_TITLE'"></header-for-role-creation-form>
<!-- 	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{selectedHospital?.name}}</ion-title>
	</div> -->
	<div class="search-container blank-search-container"></div>
</ion-header>

<ion-content padding class="centered-content dashboard-screen">
	<!-- <header class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'DASHBOARD_TITLE'"></header> -->
		<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'DASHBOARD_TITLE'"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'DASHBOARD_TITLE' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content" [ngClass]="{'fullHeight': scrollHTFlag}">
	  	<ion-grid class="common-page-container common-dashboard" #listGrid [ngClass]="{'fullHeight': scrollHTFlag}">
		  <ion-row>
		  	<a href="#/system-admin-manage-hospitals" col-12 col-sm-6 col-md-4 col-lg-4> 
		     	<ion-row  align-items-center>
			    	<ion-col col-4><img src="assets/imgs/manage_hospital.svg" /></ion-col>
			    	<ion-col col-8><span>{{ 'MANAGE_HOSPITALS_TITLE' | translate }}</span></ion-col>
			    </ion-row>
		   	</a>
		   	
		    <a href="#/system-admin-manage-sysadmins" col-12 col-sm-6 col-md-4 col-lg-4> 
		    	<ion-row align-items-center>
			    	<ion-col col-4><img src="assets/imgs/manage_system_admin.svg" /></ion-col>
			    	<ion-col col-8 text-left><span>{{ 'MANAGE_SYS_ADMINS_TITLE' | translate }}</span></ion-col>
		    	</ion-row>
		    </a>
		    <a href="#/system-admin-doctor-list" col-12 col-sm-6 col-md-4 col-lg-4> 
			    <ion-row align-items-center>
			    	<ion-col col-4><img src="assets/imgs/manage_doctors.svg" /></ion-col>
			    	<ion-col col-8><span>{{ 'MANAGE_DOCTORS_TITLE' | translate }}</span></ion-col>
			    </ion-row>
		    </a>
		   	<a href="#/system-admin-manage-patients" col-12 col-sm-6 col-md-4 col-lg-4> 
		     	<ion-row  align-items-center>
			    	<ion-col col-4><img src="assets/imgs/manage_patient.svg" /></ion-col>
			    	<ion-col col-8><span>{{ 'MANAGE_PATIENTS_TITLE' | translate }}</span></ion-col>
			    </ion-row>
			</a>
			<a href="#/reports/systemAdmin" col-12 col-sm-6 col-md-4 col-lg-4> 
		    	<ion-row align-items-center>
			    	<ion-col col-4><img src="assets/imgs/reports.svg" /></ion-col>
			    	<ion-col col-8 text-left><span>{{ 'REPORTS_TITLE' | translate }}</span></ion-col>
		    	</ion-row>
		    </a>
		    <a href="#/system-admin-create-system-admin/view/{{userData.userId}}" col-12 col-sm-6 col-md-4 col-lg-4> 
		    	<ion-row align-items-center>
			    	<ion-col col-4><img src="assets/imgs/card_manage_my_profile.png" /></ion-col>
			    	<ion-col col-8 text-left><span>{{ 'MY_PROFILE_TITLE' | translate }}</span></ion-col>
		    	</ion-row>
		    </a>
		  </ion-row>
		</ion-grid>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>