<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'DASHBOARD_TITLE'" [showBackButton]="false"></header-for-role-creation-form>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{selectedHospital?.name}}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header>

<ion-content padding class="centered-content dashboard-screen">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'DASHBOARD_TITLE'" [showBackButton]="false"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{selectedHospital?.name}}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content" [ngClass]="{'fullHeight': scrollHTFlag}">
		<ion-grid class="common-page-container common-dashboard" #HAlistGrid [ngClass]="{'fullHeight': scrollHTFlag}">
			<ion-row>
				<a href="#/hospital-admin-view-hospital" col-12 col-sm-6 col-md-4 col-lg-4> 
					<ion-row  align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_hospital.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8><span>{{ 'MANAGE_HOSPITAL_TITLE' | translate }}</span></ion-col>
					</ion-row>
				</a>
				
				<a href="#/hospital-admin-associated-doctor-list"  col-12 col-sm-6 col-md-4 col-lg-4> 
					<ion-row align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_doctors.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8><span>{{ 'MANAGE_DOCTORS_TITLE' | translate }}</span></ion-col>
					</ion-row>
				</a>
				<a href="#/hospital-admin-manage-hospital-admin" col-12 col-sm-6 col-md-4 col-lg-4> 
					<ion-row align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_system_admin.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'MANAGE_ADMINS_TITLE' | translate }}</span></ion-col>
					</ion-row>
				</a>
				<a href="#/hospital-admin-manage-hospital-staff" col-12 col-sm-6 col-md-4 col-lg-4> 
					<ion-row align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_system_admin.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'MANAGE_HOSPITAL_STAFF_TITLE' | translate }}</span></ion-col>
					</ion-row>
				</a>
				<a href="#/onboard-patient/HADashboard/HAAssociatedDoctorList/0/0" col-12 col-sm-6 col-md-4 col-lg-4> 
					<ion-row align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_system_admin.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'ONBOARD_PATIENT_TITLE' | translate }}</span></ion-col>
					</ion-row>
				</a>
				<a href="#/hospital-admin-manage-appointment" col-12 col-sm-6 col-md-4 col-lg-4> <!-- href="#/hospital-admin-manage-appointment"//sprint 3 -->
					<ion-row  align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_appointments.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8><span>{{ 'MANAGE_APPOINTMENTS_TITLE' | translate }}</span></ion-col>
					</ion-row>
				</a>

				<a href="#/hospital-admin-doctor-holiday-calendar" col-12 col-sm-6 col-md-4 col-lg-4>
					<ion-row align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_appointments.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'HOLIDAY_CALENDAR_TITLE' | translate }}</span></ion-col>
					</ion-row>
				  </a>
				  
				<a  href="#/reports/{{reportsRedirectionRole}}" col-12 col-sm-6 col-md-4 col-lg-4> 
					<ion-row align-items-center>
						<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/reports.svg" /></ion-col>
						<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'REPORTS_TITLE' | translate }}</span></ion-col>
					</ion-row>
				</a>
				<a href="#/hospital-admin-create-admin/view/{{userData.userId}}" col-12 col-sm-6 col-md-4 col-lg-4 *ngIf="showMyProfile"> 
			    	<ion-row align-items-center>
				    	<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/card_manage_my_profile.png" /></ion-col>
				    	<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'MY_PROFILE_TITLE' | translate }}</span></ion-col>
			    	</ion-row>
			    </a>
			</ion-row>
		</ion-grid>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>