page-hospital-admin-dashboard {
	.scroll-content{
		@include screenMax576{
			//padding-top:16px !important;
			.main-content {
			    padding-top: 0px !important;
			}
		}
		
	}
	
}  //end of page-home
