reports {
	.scroll-content {
		//padding: 0;
		//padding-top: 200px !important;
		background: rgb(246, 247, 251);
		overflow-y: scroll;
	}
	.common-page-container{
		    padding-top: 20px;
	}
	.centered-content .main-content {
		//border-top: 1px solid #e3e3e3;
	}
	
	.centered-content .main-content{
		@include screenMax576{
			padding-top:0px;
		}
	}

		ion-header.header .search-container ion-row{
		 @include screenMax576{
				    padding-left: 10px;
			}
	}


	ion-header.header .search-container {
		@include screenMax576{
				 border-bottom: none;
		ion-row {
   				padding: 10px 0px 10px 10px;
			}	 
		}
	}
	
	
	p-calendar {
		padding:0 !important;
	}

	.emptyChart{
		background-color: #00FFFF;
		height:200px;
		width:200px;
		border-radius:100px;;
		margin:0 auto;
			  @include screenMax576{
				     height: 250px;
				     width: 250px;
				     border-radius: 200px;
            }
			@include screenMobileMax576 {
				height:100px;
				width:100px;
				border-radius:50px;
			}
	
	}

	
	//css for table ngprime
	.ui-table-wrapper {
		//padding-left: 30px;	
		//position: relative;
		border-bottom: 2px solid rgb(227, 227, 227);
		padding-bottom: 20px;
		margin: 0 30px;
	}
	.ui-table-thead {
		tr {
			padding: 0 20px;
		}
	}
	.ui-table table {
		width: auto;
		.ui-table-tbody>tr {
			text-align: left;
		}
		.ui-table-tbody>tr>td {
			padding-left: 20px;
		}
	}
	.ui-table .ui-table-thead>tr>th {
		//padding-left:20px;
		paddingright: 20px;
	}
	.colorSym {
		border-radius: 50%;
		display: inline-block;
		margin-right: 20px;
		width: 15px;
		height: 14px;
		//background: red;
	}
	.appointmentsTitle {
		text-align: center;
		font-size: 1.6rem;
	}
	//css for sys adm report chart
	.sysAdmTable .ui-table-thead>tr>th {
		background: #c9e7ff;
	}
	.sysAdmTable table {
		width: 100%;
	}
	//   	p-chart div{
	// 	 	
	// 	 	position: relative;
	// 	    border-bottom: 2px solid rgb(227, 227, 227);
	// 	    padding-bottom: 20px;
	// 	    margin: 0 30px;
	//  	 
	//  	}
	.ToText {
		//margin-left: 10px;
		margin: 0 10px;
		@include screenMax576 {
			margin: 0 5px;
		}
	}
	.showBtn {
		margin-left: 20px;
	}
	ion-header.header {
		.search-container {
			.city-dropdown-item {
				-webkit-box-shadow: none !important;
			}
					
			.calendar-container{
				padding:10px;
				
				@include screenMax576{
					padding:10px 15px;
					border-bottom: 1px solid #2090e4;
				}
				
				@include screenMobileMax576{
					padding:10px 16px 10px 10px;
				}
			}
			
			.calendarCls{
				padding:0px; //affects in DR upcoming appointment
			}
			
			ion-col{
				padding: 0px;
				
				&:last-child.goBtn{
					margin:0px;
					a{
						margin:auto 0 auto auto;
						
						@include screenMin576{
							margin:unset;
						}
					}
					
					@include screenMin576{
						padding-left:20px;
					}
				}
				
				p.ToText{
					text-align:center;
				}
			}
		}
		ion-title {
			@include screenMax576 {
				display: inline-block;
				margin-top: 6px;
			}
		}
		.filter-img {
			@include screenMax576 {
				float: right;
				padding-right: 5px;
			}
		}
	}
	.goBtn {
		display: flex;
		align-items: center;
		justify-content: end;
		margin-left: 20px;
		@include screenMax576 {
			margin-left: 10px;
			min-width:55px;
		}

		a {
			margin: unset;
			min-width: 65px;
			border: 1px solid $blueBtnColor;
			background-color: transparent;
			color: $blueBtnColor;
		}
		img {
			margin-left: 10px;
		}
		@include screen360 {
			min-width: 60px;
		}
	}
	.goBtn a:hover:not(.disable-hover) {
		color: $whiteColor;
		background-color: $headerBgColor;
	}
	a[disabled], button[disabled], [ion-button][disabled]{
		display: block;	
	}
	.calendarCls .ui-inputtext {
		border-radius: 5px;
		background-color: #f5fafe;
		border: 1px solid #cbd2d8;
		min-height: 35px;
		height: 35px;
		max-height: 35px;
		-webkit-box-shadow: inset 1px 1px 3px #cbd2d8;
		width: 100%;
		padding: 0px 15px;
		cursor: pointer;
		background: url('../assets/imgs/contract_calander_icon.png') no-repeat scroll 7px 7px;
		background-position: right 8px bottom 5px;
		background-repeat: no-repeat;
		background-size: initial;
	}
	.ui-calendar .ui-datepicker {
		margin-top: 0px;
	}
}