<ion-header *ngIf="!commonService.checkIsWeb()">
		<header-for-role-creation-form class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'REPORTS_TITLE'"></header-for-role-creation-form>
		<ion-grid class="search-container" [ngClass]="{'mobile-search-container': !commonService.checkIsWeb()}">
			<ion-row class="calendar-container">
				<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-error': goBtnClicked && !startValueStr}">
					<p-calendar class="reportsCalendar" placeholder="{{ 'DATEFORMAT' | translate }}"  dateFormat="dd/mm/yy" class="calendarCls common-select-dropdown  city-dropdown-item"[(ngModel)]="startValueStr" *ngIf="commonService.checkIsWeb()">
					<img src="assets/imgs/contract_calander_icon.png"/></p-calendar>
					<ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="startValueStr" *ngIf="!commonService.checkIsWeb()"  [max]="today"></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
				<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMSG}}</div> -->
				</ion-col>
				
				<ion-col col-1><p class="ToText">{{ 'TO' | translate }}</p></ion-col>
				<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-error': goBtnClicked && !endValueStr}" >
					<p-calendar  [disabled] = "startValueStr?false:true"   placeholder="{{ 'DATEFORMAT' | translate }}" dateFormat="dd/mm/yy" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="endValueStr"  [minDate]="startValueStr" *ngIf="commonService.checkIsWeb()"></p-calendar>
					<ion-datetime [disabled] = "startValueStr?false:true"  class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="endValueStr" [disabled] = "startValueStr?false:true" *ngIf="!commonService.checkIsWeb()" [max]="today"></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
				<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMsgEndDate}}</div> -->
				</ion-col>
				<ion-col col-3 col-sm-2 col-md-3 col-lg-3 class="goBtn">
				<a ion-button class="common-blue-btn"  (click)="getReportsAsPerDates()">{{ 'GO' | translate }}</a>
				</ion-col>
			</ion-row>
		</ion-grid><!-- <button  class="common-blue-btn showBtn" type="button" pButton> Show </button> -->
	</ion-header>
	
<ion-content padding class="hospital-list-content centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="false" [pageTitle]="'REPORTS_TITLE'"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'REPORTS_TITLE' | translate }}</ion-title>
		</div>
		<ion-grid class="search-container" [ngClass]="{'mobile-search-container': !commonService.checkIsWeb()}">
			<ion-row class="calendar-container">
				<ion-col  col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-error': goBtnClicked && !startValueStr}">
					<p-calendar class="reportsCalendar" placeholder="{{ 'DATEFORMAT' | translate }}"  dateFormat="dd/mm/yy" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="startValueStr" >
					<img src="assets/imgs/contract_calander_icon.png"/></p-calendar>
				</div>
				<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMSG}}</div> -->
				</ion-col>
				
				<ion-col col-1><p class="ToText">{{ 'TO' | translate }}</p></ion-col>
				<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-error': goBtnClicked && !endValueStr}" >
					<p-calendar [disabled] = "startValueStr?false:true" placeholder="{{ 'DATEFORMAT' | translate }}" dateFormat="dd/mm/yy" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="endValueStr"  [minDate]="startValueStr"></p-calendar>
				</div>
				<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMsgEndDate}}</div> -->
				</ion-col>
				<ion-col col-3 col-sm-2 col-md-3 col-lg-3 class="goBtn">
				<a ion-button class="common-blue-btn"  (click)="getReportsAsPerDates()">{{ 'GO' | translate }}</a>
				</ion-col>
			</ion-row>
		</ion-grid><!-- <button  class="common-blue-btn showBtn" type="button" pButton> Show </button> -->
	</ion-header>
	<div class="main-content">
	
		<!-- For Doctor Role  -->
		<form class="common-page-container common-form"   *ngIf="isDocRole" novalidate>
			<!-- for appointment pie chart -->
			<p	class="appointmentsTitle"> {{ 'APPOINTMENTS' | translate }} </p>
			<p class="appointmentsTitle" *ngIf="data.labels.length==0" >{{ 'NO_DATA_FOUND' | translate }}</p>
			<p-chart *ngIf="data.labels.length>0" type="pie" [data]="data"></p-chart>
			<div *ngIf="data.labels.length==0" class="emptyChart"></div>
			<p-table *ngIf="data.labels.length>0" [value]="appointmentsData">
			    <ng-template pTemplate="header">
			        <tr>
			            <th> {{ 'HOSPITAL_NAME' | translate }}</th>
			            <th>{{ 'APPOINTMENTS' | translate }}</th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-item>
			        <tr>
			            <td><div class="colorSym" [ngStyle]="{'background': item.color}"></div>{{item.name}}</td>
			            <td>{{item.sum}}</td>
			        </tr>
			    </ng-template>
			</p-table>
			
			<!-- for revenue pie chart -->
			<p	class="appointmentsTitle"> {{ 'REVENUE' | translate }}</p>
			<!-- <p	class="appointmentsTitle" *ngIf="revenueValues == 0"> {{ 'NO_DATA_FOUND' | translate }} </p> -->
			<p class="appointmentsTitle" *ngIf="revenueData.labels.length==0 ||revenueValues == 0" >{{ 'NO_DATA_FOUND' | translate }}</p>
			<p-chart *ngIf="revenueData.labels.length>0 && revenueValues != 0" type="pie" [data]="revenueData"></p-chart>
			<div *ngIf="revenueData.labels.length==0" class="emptyChart"></div>
			<p-table *ngIf="revenueData.labels.length>0 && revenueValues != 0" [value]="revenueDetails">
		    <ng-template pTemplate="header">
		        <tr>
		            <th> {{ 'HOSPITAL_NAME' | translate }}</th>
		            <th>{{ 'REVENUE' | translate }}</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-item>
		        <tr>
		            <td><div class="colorSym" [ngStyle]="{'background': item.color}"></div>{{item.name}}</td>
		            <td>{{item.amount}}</td>
		        </tr>
		    </ng-template>
		</p-table> 
		<p  text-center  *ngIf="revenueData.labels.length>0 && revenueValues != 0">{{ 'TOTAL' | translate }} {{ 'REVENUE_GENERATED' | translate }}: {{totalRevenue}}<p>	
		<p  text-center *ngIf="revenueData.labels.length>0 && revenueValues != 0">{{ 'REVENUE_FIGURES' | translate }}</p>
		</form>
		
		<!-- For Hospital Admin Role  -->
		<form class="common-page-container common-form"   *ngIf="isHospitalAdminRole" novalidate>
			<!-- for appointment pie chart -->
			<p	class="appointmentsTitle"> {{ 'APPOINTMENTS' | translate }} </p>
			<p class="appointmentsTitle" *ngIf="data.labels.length==0" >{{ 'NO_DATA_FOUND' | translate }}</p>
			<p-chart *ngIf="data.labels.length>0" type="pie" [data]="data"></p-chart>
			<div *ngIf="data.labels.length==0" class="emptyChart"></div>
			<p-table *ngIf="data.labels.length>0" [value]="appointmentsData">
			    <ng-template pTemplate="header">
			        <tr>
			            <th> {{ 'DOCTOR_LABEL' | translate }} </th>
			            <th> {{ 'APPOINTMENTS' | translate }}</th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-item>
			        <tr>
			            <td><div class="colorSym" [ngStyle]="{'background': item.color}"></div>{{item.first_name}}{{item.last_name}}</td>
			            <td>{{item.sum}}</td>
			        </tr>
			    </ng-template>
			</p-table>
			
			
			<!-- for revenue pie chart -->
			<p	class="appointmentsTitle"> {{ 'REVENUE' | translate }}</p>
			<p	class="appointmentsTitle" *ngIf="revenueValues == 0 || revenueData.labels.length==0"> {{ 'NO_DATA_FOUND' | translate }} </p>
			<!-- <p class="appointmentsTitle" *ngIf="revenueData.labels.length==0" >{{ 'NO_DATA_FOUND' | translate }}</p> -->
			<p-chart *ngIf="revenueData.labels.length>0 && revenueValues != 0" type="pie" [data]="revenueData"></p-chart>
			<div *ngIf="revenueData.labels.length==0" class="emptyChart"></div>
			<p-table *ngIf="revenueData.labels.length>0 && revenueValues != 0" [value]="revenueDetails">
		    <ng-template pTemplate="header">
		        <tr>
		            <th> {{ 'DOCTOR_LABEL' | translate }} </th>
		            <th> {{ 'AMOUNT' | translate }}</th>
		        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-item>
		        <tr>
		            <td><div class="colorSym" [ngStyle]="{'background': item.color}"></div>{{item.first_name}}{{item.last_name}}</td>
		            <td>{{item.amount}}</td>
		        </tr>
		    </ng-template>
		    
		</p-table> 
		 <p text-center *ngIf="revenueData.labels.length>0 && revenueValues != 0">{{ 'TOTAL' | translate }} {{ 'REVENUE_GENERATED' | translate }}: {{totalRevenue}}<p>
		 <p text-center *ngIf="revenueData.labels.length>0 && revenueValues != 0" >{{ 'REVENUE_FIGURES' | translate }}</p>
		</form>
		
		
		<!--   for system admin report  -->
		<form class="common-page-container common-form"  *ngIf="isSysAdmRole" novalidate>
			<p	class="appointmentsTitle" *ngIf="sysAdmTableData.length == 0"> {{ 'NO_DATA_FOUND' | translate }} </p>
			<p-table *ngIf="sysAdmTableData.length>0" class ="sysAdmTable" [value]="sysAdmTableData">
			    <ng-template pTemplate="header">
			        <tr>
			            <th>{{ 'HOSPITAL' | translate }}</th>
			            <th>{{ 'ADDRESS' | translate }}</th>
			            <th>{{ 'NO_OF_APPOINTMENTS' | translate }}</th>
			            <th>{{ 'REVENUE_GENERATED' | translate }}</th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-item>
			        <tr>
			         	<td>{{item.hospitalName}}</td>
			            <td>{{item.address.street}} {{item.address.cityName}} {{item.address.state}} {{item.address.zipCode}}</td>
			            <td>{{item.noOfAppointments}}</td>
			            <td>{{item.revenueGenerated}}</td>
			        </tr>
			    </ng-template>
			</p-table>
			<!-- to add and check  <p *ngIf="reportData?.labels.length ==0">No data </p>
			 -->
			 <p text-center *ngIf="sysAdmTableData.length>0">{{ 'TOTAL' | translate }} {{ 'REVENUE_GENERATED' | translate }}: {{totalRevenue}}<p>
			  <p text-center *ngIf="sysAdmTableData.length>0">{{ 'REVENUE_FIGURES' | translate }}</p>
		</form>
		
	</div>	
</ion-content>
