<ion-header *ngIf="!commonService.checkIsWeb()">
 		<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="hospitalData.name" [backBtnLink]="'#/patient-role-home/0'" [showBackButton]="true"  [homeLink]="'#/patient-role-home/0'" [showRatings]="true" [rating]="hospitalData.avgRating"></header-for-role-creation-form>
</ion-header>

<ion-content padding class="centered-content">
	<ion-header  *ngIf="commonService.checkIsWeb()">
  		<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="hospitalData.name" [backBtnLink]="'#/patient-role-home/0'" [showBackButton]="true"  [homeLink]="'#/patient-role-home/0'" [showRatings]="true" [rating]="hospitalData.avgRating"></header-for-role-creation-form>
	</ion-header>
	<div class="main-content">
		<ion-grid class="view-hospital-container">
				<ion-row>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-6 class="hospital-img">
					<div id="hospital-sub-images">
						<div class="profile-img profile-img-responsive" *ngFor="let tempImg of imgUrl" [hidden]="!tempImg?.isDefault || !tempImg?.file" [style.backgroundImage]="'url('+ tempImg?.file +')'" ></div>
						<div class="profile-img profile-img-responsive" *ngIf="hospitalData.imagesCount == 0 || noDefaultImg" [style.backgroundImage]="'url(assets/imgs/hospital_profile_image_default.png)'" ></div>
						
						<div class="sub-img-wrapper">
							<div class="sub-images" *ngFor="let in of counter(hospitalData.imagesCount); let i = index;" [hidden]="imgUrl[i]?.isDefault || !imgUrl[i]?.file" >
								<div class="uploaded-sub-img profile-img-responsive" [style.backgroundImage]="'url('+ imgUrl[i]?.file +')'" (click)="presentPopover(i)"></div>
								<ion-spinner *ngIf="!imgUrl[i]"></ion-spinner>
							</div> 
						</div>
					</div> 
			   	</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-6 class="hospital-info">
					<div class="mobile-view-details-label" *ngIf="!commonService.checkIsWeb()">
						<img src="assets/imgs/hospital_profile_details_small.svg">
						<span>{{ 'DETAILS_LABEL' | translate }}</span>
					</div>
					<ul>
						<li class="multispeciality" *ngIf="hospitalData.isAMultispeciality">
							<div>
								<img src="assets/imgs/Multispeciality_blank.svg" />
								<span>{{ 'MULTISPECIALITY_LABEL' | translate }}</span>
							</div>
						</li>
	  					<li [ngClass]="{'padding-top20':!hospitalData.isAMultispeciality}">
	  						<p>{{hospitalData.name}}</p>
	  						<span *ngIf="hospitalData.avgRating && commonService.checkIsWeb()"><img src="assets/imgs/star.svg" />{{hospitalData.avgRating}}</span>
	  					</li>
	  					<li *ngIf="hospitalData.address">
	  						<img class="mIconSmall" src="assets/imgs/01_address_icon.svg">
	  						<p>{{ hospitalData.address.street }}, {{ hospitalData.address.cityName }}, {{ hospitalData.address.state }}, {{ hospitalData.address.zipCode }}</p>
	  						<span class="map-iocn" (click)="plotAddressOnMap(hospitalData)"><img src="assets/imgs/map_icon.png" /></span>
	  					</li>
	  					<li  *ngIf="hospitalData?.contactNumber && commonService.checkIsWeb()">
	  						<img class="mIconSmall" src="assets/imgs/03_phone_icon.svg">
	  						<p>{{hospitalData.contactNumber}}</p>
	  					</li>
	  					<li *ngIf="hospitalData.email">
	  						<img class="mIconSmall" src="assets/imgs/02_email_icon.svg">
	  						<p> {{ hospitalData.email }} </p>
	  					</li>
	  					<li *ngIf="commonService.checkIsWeb()">
	  						<img class="mIconSmall" src="assets/imgs/04_time_icon.svg">
	  						 <p class="time-txt">{{ 'TODAY_TEXT' | translate }} - &nbsp;<span class="to todayTime" (click) = "openTimingDetails(hospitalData)">{{ hospitalData.todaysAvailabilityString }}</span>
	  					</li>
	  					<li  *ngIf="!commonService.checkIsWeb()">
	  						<img class="mIconSmall" src="assets/imgs/04_time_icon.svg">
	  						<p class="time-txt callBtn">{{ 'TODAY_TEXT' | translate }} - &nbsp;<span class="todayTime" (click) = "openTimingDetails(hospitalData)">{{ hospitalData.todaysAvailabilityString }}</span>
	  						<button ion-button class="common-blue-btn call-btn" (click) = "makeCall(hospitalData.contactNumber)">{{ 'CALL_LABEL' | translate }}</button>
	  					</li>
	  				</ul>
				</ion-col>
	      </ion-row>
	      <ion-row>
	      	<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="segment segment-mobile">
	          <div class="segment-container doctor-profile-segment ">
	            <ion-segment [(ngModel)]="currentSegment">
	                <ion-segment-button value="doctorList" (click)="doctorListClick()" [disabled]="redirectParam == 'PRDoctorProfileHLProfile'">
	                  {{ 'DOCTOR_LABEL' | translate }}
	                </ion-segment-button>
	                <ion-segment-button value="hospitalDetails" (click)="hospitalDetailsClick()">
	                  {{ 'OTHERINFO' | translate }}
	                </ion-segment-button>
	            </ion-segment>
	          </div>
       	 </ion-col>
	      </ion-row>
		</ion-grid>
		<ion-grid class="view-hospital-container">
	  	<div *ngIf="currentSegment == 'doctorList' && redirectParam == 'PRHomeHospitalProfile'">
			<div class="main-content">
				<doctor-list-component [doctorList]="listOfDoctors" [isPatientDoctorList]="false" [isAssociateDoctorlist]="false" [isSADoctorlist] = "false"  [isPatientRoleDoctorList] ="true" [hospitalId]="hospitalData.hospitalId"></doctor-list-component>
				<div *ngIf="noDataFound" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
				<div class="load-more-container" text-center *ngIf="!loadFinished && listOfDoctors && (listOfDoctors.length > 0)">
					<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
				</div>
			</div>
		</div>
  		<div class="patient-hospital-list-view" *ngIf="currentSegment == 'hospitalDetails'">
    		<!-- <ion-grid class="patient-hospital-list-view"> -->
			<ion-row *ngIf="hospitalData.overview" class="hospital-overview">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
	 				<p><img src="assets/imgs/about_hospital_icon.svg"><span>{{ 'ABOUT_LABEL' | translate }} {{hospitalData.name}}</span></p>
					<div class="infoContent">
					{{hospitalData.overview}}
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="hospitalData.specializationList && hospitalData.specializationList.length > 0">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
	 				<p><img src="assets/imgs/speciality_icon.svg"><span>{{ 'SPECIALITY_LABEL' | translate }}</span></p>
					<div class="infoContent">
						<ion-row class="no-margin">
							<ion-col col-6 col-sm-6 *ngFor="let speciality of hospitalSpecialities; let index=index" class="sp-cls" [class.odd] = "index%2" [class.even] = "index%2 == 0">
								<p>{{speciality.name}}</p>
							</ion-col>
							<span (click)="hideMore('speciality')" class="view-more-label" *ngIf="viewMoreSpFlag">{{ 'VIEW_MORE_LABEL' | translate }}</span>
							<span (click)="hideLess('speciality')" class="view-more-label" *ngIf="!viewMoreSpFlag && !lessThen3Sp">{{ 'VIEW_LESS_LABEL' | translate }}</span>
						</ion-row>
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="hospitalData.serviceList && hospitalData.serviceList.length > 0">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
	 				<p><img src="assets/imgs/services_icon.svg"><span>{{ 'SERVICES_LABEL' | translate }}</span></p>
					<div class="infoContent">
						<ion-row class="no-margin">
							<ion-col col-6 col-sm-6 *ngFor="let service of hospitalServices; let index=index" class="sp-cls" [class.odd] = "index%2" [class.even] = "index%2 == 0">
								<p>{{service.name}}</p>
							</ion-col>
							<span (click)="hideMore('services')" class="view-more-label" *ngIf="viewMoreServiceFlag">{{ 'VIEW_MORE_LABEL' | translate }}</span>
							<span (click)="hideLess('services')" class="view-more-label" *ngIf="!viewMoreServiceFlag && !lessThen3Service">{{ 'VIEW_LESS_LABEL' | translate }}</span>
						</ion-row>
					</div>
				</ion-col>
			</ion-row>	
    		
			<div *ngIf="currentSegment == 'hospitalDetails' &&
   					hospitalData && 
   					!hospitalData.overview && 
   					hospitalData.specializationList && 
   					hospitalData.serviceList.length == 0 &&
   					hospitalData.serviceList && 
   					hospitalData.serviceList.length == 0" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
	  		<!-- <div class="load-more-container" text-center *ngIf="!loadFinishedHospital && hospitalData">
	 			<button (click)="loadMoreHospitalData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
	 		</div>  -->
   		</div>
   		</ion-grid>
   		</div>
 	<footer class="mobile-view-footer"></footer>
</ion-content>