/**** Common variables ****/
$bgColor:                              #f6f7fb;    /*Theme Background color.*/
$headerBgColor:						   #2090e4; /*Theme header color*/
$mainFooterBgColor: 				   #004799;
$whiteColor:                           #fff;    /*Theme font color.*/
$blackColor:                           #000;
$primaryColor:                         #2090e4; /*Theme blue Button color.*/
$secondaryColor:                       #004799; /*Theme dark blue color.*/
$blueBtnColor:						   #2090e5;
$linkBlueColor:						   #2a3d6b;
$linkGreyColor:						   #898989;
$formScreenTitleColor:				   #3683c7;
$textGreyColor:						   #323b40;
$linkTextColor:                        #172b5e;
$registerScreensTitleColor:            #0271c1;
$menuTextcolor: 					   #396496;
$listItemContentColor:                 #323b40;
$listItemBlueBgColor:                  #f3faff;
$timeLinkBlueColor:					   #148de9;
$blockHeadingColor:                    #616e76;
$borderColor:                          #e3e3e3;
$dividerBorderColor:                   #d4d9e3;
$viewFormDataLabelColor:               #a0a0a0; 
$formInputColor:					   #7f8489; //color for view mode form
body{
	font-family: 'Helvetica Neue', Helvetica,'Roboto', open-sans, ;
}
/**** FONT VARIABLES ****/
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  	@font-face {
    	font-family: $font-family;
      	src: url('#{$file-path}.eot');
      	src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
       		 url('#{$file-path}.woff') format('woff'),
             url('#{$file-path}.ttf') format('truetype'),
      		 url('#{$file-path}.svg##{$font-family}') format('svg');
    	font-weight: $font-weight;
    	font-style: $font-style;
  	}
  	// Chrome for Windows rendering font-face
  	@media screen and (-webkit-min-device-pixel-ratio: 0) {
    	@font-face {
      		font-family: $font-family;
        	src: url('#{$file-path}.svg##{$font-family}') format('svg');
    	}
  	}
}
@include font-face(Ubuntu-R, '../assets/fonts/Ubuntu-R', normal, normal);
@include font-face(Ubuntu-M, '../assets/fonts/Ubuntu-M', normal, normal);
@include font-face(Ubuntu-B, '../assets/fonts/Ubuntu-B', normal, normal);
@include font-face(Ubuntu-MI, '../assets/fonts/Ubuntu-MI', normal, italic);
@include font-face(SquadaOne-Regular, '../assets/fonts/SquadaOne-Regular', normal, normal);
 
@mixin Ubuntu {
  	font-family: 'Ubuntu-R', arial, sans-serif;
  	font-weight: normal; 
  	font-style: normal; 
}
 
@mixin Ubuntu-Medium {
  	font-family: 'Ubuntu-M', arial, sans-serif;
  	font-weight: normal; 
  	font-style: normal; 
}
 
@mixin Ubuntu-Bold {
  	font-family: 'Ubuntu-B', arial, sans-serif;
  	font-weight: normal; 
  	font-style: normal; 
}
 
@mixin Ubuntu-Medium-Italic {
  	font-family: 'Ubuntu-MI', arial, sans-serif;
  	font-weight: normal; 
  	font-style: Italic; 
}
 
@mixin Squada-One {
  	font-family: 'SquadaOne-Regular';
  	font-weight: normal; 
  	font-style: normal; 
}
 
body { 
    //@include Ubuntu-Medium;
    font-weight: normal;
}
/**** Media Queries ****/

/* Tab */
@mixin screen768 {
  	@media (min-width: 768px) {
    	@content;
  	}
}


@mixin screenMax767 {
  	@media (max-width: 768px) {
    	@content;
  	}
}

/* iPhone 6 Plus */
@mixin screen414 {
  	@media (min-width: 414px) {
    	@content;
  	}
}
 
/* iPhone 6S */
@mixin screen375 {
  	@media (min-width: 375px) {
    	@content;
  	}
}
 
/* iPhone 4S, 5 S/C/SE */
@mixin screen360 {
  	@media (min-width: 360px) {
    	@content;
  	}
}
 
@mixin screen480 {
  	@media (min-width: 480px) {
    	@content;
  	}
}
@mixin screenMax480 {
  	@media (max-width: 480px) {
    	@content;
  	}
}

//used for 768 resolution
@mixin screenMax576 {
  	@media (max-width: 768px) {
    	@content;
  	}
}
@mixin screenMin576 {
  	@media (min-width: 769px) {
    	@content;
  	}
}

//used for mobile 576 resolution
@mixin screenMobileMax576 {
  	@media (max-width: 576px) {
    	@content;
  	}
}
@mixin screenMobileMin576 {
  	@media (min-width: 576px) {
    	@content;
  	}
}

@mixin screen320 {
  	@media (min-width: 320px) {
    	@content;
  	}
}
 
@mixin screenW360H568 {
  	@media (max-width: 360px) and (max-height: 568px) {
    	@content;
  	}
}
 
@mixin screenW320H480 {
  	@media (max-width: 320px) and (max-height: 480px) {
    	@content;
  	}
}

@mixin screen768 {
  	@media (min-width: 768px) {
    	@content;
  	}
}
@mixin screenMax767 {
	@media (max-width: 767px) {
	  @content;
	}
}
 
@mixin screen992 {
  	@media (min-width: 992px) {
    	@content;
  	}
}

 @mixin screen1200 {
    @media (max-width: 1200px){
        @content;
    }
}

 @mixin screen1100 {
    @media (max-width: 1100px){
        @content;
    }
}

@mixin screen1200-1024 {
    @media (max-width: 1200px) and (min-width: 1024px) {
        @content;
    }
}

@mixin screen1024 {
    @media (max-width: 1024px){
        @content;
    }
}

@mixin screen991 {
    @media (max-width: 991px){
        @content;
    }
}

@mixin screen588 {
    @media (max-width: 588px){
        @content;
    }
}

@mixin screenMax420 {
    @media (max-width: 420px) {
        @content;
    }
}

@mixin screen767-880 {
    @media (max-width: 880px) and (min-width: 767px) {
        @content;
    }
}

@mixin screen768-1024 {
    @media (max-width: 1024px) and (min-width: 768px) {
        @content;
    }
}

@mixin screen768-991 {
    @media (max-width: 991px) and (min-width: 768px) {
        @content;
    }
}

@mixin screen320-768 {
    @media (max-width: 768px) and (min-width: 320px) {
        @content;
    }
}
@mixin ipad-portrait {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait)
	and (-webkit-min-device-pixel-ratio: 2){
		@content;
	}
}

@mixin ipad-landscape {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape)
	and (-webkit-min-device-pixel-ratio: 2){
		@content;
	}
}

/**** Common Mixin ****/
@mixin commonTransform($transform) {
	-webkit-transform: $transform;
 	-moz-transform: $transform;
  	-o-transform: $transform;
  	-ms-transform: $transform;
  	transform: $transform;
}
 
@mixin commonBgSize($cover) {
  	-webkit-background-size: $cover;
  	-moz-background-size: $cover;
  	-o-background-size: $cover;
  	background-size: $cover;
}
 
@mixin borderRadius($radius) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
	-ms-border-radius: $radius;
    border-radius: $radius;
}
 
@mixin backgroundImage($url, $position:center center, $size:100% 100%, $repeat:no-repeat, $attachment:initial) {
  	background-image: url($url);
  	//  background: $url, -moz-linear-gradient(rgba(3, 34, 47,0.8), rgb(1, 1, 14));
  	//  background: $url, -webkit-linear-gradient(rgba(3, 34, 47,0.8), rgb(1, 1, 14));
  	//  background: $url, -ms-linear-gradient(rgba(3, 34, 47,0.8), rgb(1, 1, 14));
  	background-position: $position;
  	background-size: $size;
  	background-repeat: $repeat;
  	background-attachment: $attachment;
}

.focus-outline :focus{
    outline: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: transparent;
}

.scroll-content{
	@media (min-width: 768px){
		margin-bottom: 36px;
		padding-right: 0 !important;
	}
	@media (max-width: 767px){
		margin-bottom: 0;
	}
	@include screenMax576{
		padding-top:0px !important;
	}
}

.content{
	background-color: $bgColor;
	.scroll-content{
		overflow-y: auto;
		padding-bottom: 0 !important;
	}
}
.chrome-above-70{
	@include screenMin576{
		.scroll-content{
			padding-top:0px !important;
			padding-left:0px !important;
		}
		
		.header{
			position:sticky !important;
			top:0;
			left:0;
			padding-right:0px !important;
		}
		
		.main-content{
			padding-left:16px;
	    	margin-top: 1px;
	    	//padding-right:16px;
		}
	}

	@include screenMax576{
		.main-content{
			padding-top:10px;
		}
		.main-content.patient-main-content{
			padding-top: 0px !important;	
		}
	}
}


.firefox{
	@include screenMin576{
		.scroll-content{
			padding-top:0px !important;
			padding-left:0px !important;
		}
		
		.header{
			position:sticky !important;
			top:0;
			left:0;
			padding-right:0px !important;
		}
		
		.main-content{
			padding-left:16px;
	    	margin-top: 1px;
	    	//padding-right:16px;
		}
	}

	@include screenMax576{
		.main-content{
			padding-top:10px;
		}
		.main-content.patient-main-content{
			padding-top: 0px !important;	
		}
	}
}


.centered-content{
	.header{
		//please check IE and mozilla, UI disturbing beacuse of this styles 
		position: fixed;
	}
	.no-padding-right.header{
		padding-right: 0;
	}
	.main-content{
		max-width: 884px;
	}
}

.has-mobile-btn-footer.centered-content{
	.scroll-content{
		margin-bottom: 46px;
	}
}

ion-app .centered-content[padding] .scroll-content{
	@media (max-width: 767px){
		padding-left: 0;
		padding-right: 0;
	}
}

ion-app .dashboard-screen.centered-content[padding] .scroll-content{
	@media (max-width: 768px){
		padding-left: 16px;
		padding-right: 0px;
	}
}

.dashboard-screen{
	ion-header.header{
		padding-right: 0 !important;
	}
}

.desktop-view-footer{
	display: none;
	@media (min-width: 768px){
		display: block;
	}
}

.mobile-view-footer{
	display: block;
	@media (min-width: 768px){
		display: none;
	}
}

.footer-mobile-btn-container{
	height: 46px;
   	min-height: 46px;
   	max-height: 46px;
	display: flex;
	align-items: center;
	max-width: 900px;
	padding-left: 0;
	position: fixed;
    bottom: 0;
    
    //affects in tab as well as mobile 
	@media (max-width: 1366px){
		//height: 4.6rem;
		//min-height:4.5rem;
	}
	//css for mobile view footer
	@include screenMax576{
		//min-height:5rem;
		box-shadow: 0 -3px 5px -5px #9c9393;
	}
	
	a.button{
		height: 35px;
	    min-height: 35px;
	    max-height: 35px;
	    font-size: 1.4rem;
	    max-width: initial;
	}
	.item-inner{
		padding-left: 16px;
		border-top: 1px solid $borderColor;
	}
}

.two-buttons.footer-mobile-btn-container{
	a.button{
		width: 46%;
		&:first-child{
			margin-right: 10px;
			@include screenMax576{
				//margin-left: 3px;
				margin-right: 15px;
			}
		}
	}
	ion-label{
		@include screenMax576{
			 margin-right: 0;
			 text-align:center;
		}
	}
}

.split-pane-visible > ion-menu.split-pane-side, .split-pane-visible.split-pane-md > ion-menu.split-pane-side{
	max-width: 300px;
	min-width: 300px;
	width: 300px;
	border-right-width: 0;
}

ion-menu{
	.menu-parent-container{
		height: 100%;
		border: 1px solid $borderColor;
		@media (min-width: 768px) and (max-width: 1024px) {
			border-left: 1px solid $borderColor;
		}
		.list{
			height: 100%;
			margin-bottom: 0;
			background-color: $whiteColor;

			@media (min-width: 768px) and (max-width: 1024px) {
				.item:last-child .item-inner{
					border-bottom: 0px;
				}
			}
			
			.menu-icon.item:first-child{
				border-top: 1px solid $borderColor;
			}
			
			.menu-icon{
				height: 45px;
		    	min-height: 45px;
		    	max-height: 45px;
			}
			
			.menu-icon:first-child{
				.item-inner{
				    height: 44px;
    				min-height: 44px;
				}
			}
		}
	}
	.item.menu-icon{
		padding-left: 0;
		.label{
			padding-left: 32px;
			color: $secondaryColor;
			font-weight: 500;
			@include screenMax767{
				padding-left: 16px;
			}
		}
	}
	.item.menu-icon.active{
		background-color: $headerBgColor;
		.label{
			color: $whiteColor;
		}
	}
	.list{
		.item-block{
			&:last-child{
				.item-inner{
					border-bottom: 1px solid $borderColor;
				}
			}
		}
	}
	.menu-icon{
		span{
			vertical-align: middle;
		}
	}
	.icon-class{
		width: 23px;
		height: 23px;
		margin-right: 10px;
		vertical-align: middle;
	}
	.menu-dashboard{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_dashboard.svg', center center, auto);
		}
	}
	.menu-dashboard.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_dashboard_white.svg', center center, auto);
		}
	}
	.menu-manage-hospitals{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_hospital.svg', center center, auto);
		}
	}
	.menu-manage-hospitals.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_hospita_white.svg', center center, auto);
		}
	}
	.menu-manage-admins{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_admins.svg', center center, auto);
		}
	}
	.menu-manage-admins.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_admins_white.svg', center center, auto);
		}
	}
	.menu-manage-doctors{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_doctor.svg', center center, auto);
		}
	}
	.menu-manage-doctors.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_doctor_white.svg', center center, auto);
		}
	}
	.menu-manage-patients{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_patients.svg', center center, auto);
		}
	}
	.menu-manage-patients.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_patients_white.svg', center center, auto);
		}
	}
	.menu-reports{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_reports.svg', center center, auto);
		}
	}
	.menu-reports.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_reports_white.svg', center center, auto);
		}
	}
	.menu-logout{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_logout.svg', center center, auto);
		}
	}
	.menu-logout.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_logout_white.svg', center center, auto);
		}
	}
	.menu-manage-appointments{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_appointments.svg', center center, auto);
		}
	}
	.menu-manage-appointments.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_appointments_white.svg', center center, auto);
		}
	}
	.menu-exit-from-role{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_exit_from_role.svg', center center, auto);
		}
	}
	.menu-exit-from-role.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_exit_from_role_white.png', center center, auto);
		}
	}
	.menu-home{
		.icon-class{
			@include backgroundImage('../assets/imgs/home_icon_blue.svg', center center, auto);
		}
	}
	.menu-home.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/home_icon_white.svg', center center, auto);
		}
	}
	.menu-my-profile{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_my_profile.svg', center center, auto);
		}
	}
	.menu-my-profile.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_profile_white.svg', center center, auto);
		}
	}
	.menu-appointment-history{
		.icon-class{
			@include backgroundImage('../assets/imgs/appointments_history_icon_blue.svg', center center, auto);
		}
	}
	.menu-appointment-history.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/appointments_history_icon_white.svg', center center, auto);
		}
	}
	.menu-associated-hospital{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_associated_hospital.png', center center, auto);
		}
	}
	.menu-associated-hospital.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_associated_hospital_white.png', center center, auto);
		}
	}
	.menu-upcoming-appointments{
		.icon-class{
			@include backgroundImage('../assets/imgs/upcoming_appointments_icon_blue.svg', center center, auto);
		}
	}
	.menu-upcoming-appointments.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/upcoming_appointments_icon_white.svg', center center, auto);
		}
	}
	.menu-doctor-upcoming-appointments{
		.icon-class{
			@include backgroundImage('../assets/imgs/doctor_upcoming_appointment.svg', center center, auto);
		}
	}
	.menu-doctor-upcoming-appointments.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/doctor_upcoming_appointment_white.svg', center center, auto);
		}
	}
	.menu-feedback-history{
		.icon-class{
			@include backgroundImage('../assets/imgs/feedback_history_icon_blue.svg', center center, auto);
		}
	}
	.menu-feedback-history.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/feedback_history_icon_white.svg', center center, auto);
		}
	}

	.menu-onboard-patient{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_admins.svg', center center, auto);
		}
	}
	.menu-onboard-patient.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_admins_white.svg', center center, auto);
		}
	}

	.menu-manage-hospital-staff{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_admins.svg', center center, auto);
		}
	}
	.menu-manage-hospital-staff.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_admins_white.svg', center center, auto);
		}
	}

	.menu-holiday-calendar{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_appointments.svg', center center, auto);
		}
	}
	.menu-holiday-calendar.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_appointments_white.svg', center center, auto);
		}
	}

	.menu-associated-doctors{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_doctor.svg', center center, auto);
		}
	}
	.menu-associated-doctors.active{
		.icon-class{
			@include backgroundImage('../assets/imgs/menu_manage_doctor_white.svg', center center, auto);
		}
	}

	@include screen768{
		ion-header.header{
			
		}
	}
}
.camera-icon{
	@include backgroundImage('../assets/imgs/camera_icon_profile_image.svg', center center, auto);
	position: absolute;
	bottom: 7px;
    right: 7px;
    width: 38px;
    height: 34px;
}
.pencil-icon{
	@include backgroundImage('../assets/imgs/pencil_icon.svg', 100% 98%, auto);
    width: 38px;
    height: 34px;
}
.cross-icon{
	@include backgroundImage('../assets/imgs/cross_btn.svg', center center, auto);
	position: absolute;
	top: -13px;
    right: -11px;
    width: 22px;
    height: 22px;
}
.check-icon{
	@include backgroundImage('../assets/imgs/01_multispacility_checked.png', 100% 98%, auto);
    width: 38px;
    height: 34px;
}
ion-header.header{
	.toolbar{
		height: 30px; // this is only the hack for IE browser which does not make flex content vertically center
		// even align-items center css is applied, only min-height does not work with IE, so just dummy 
		// 30px height is given here which min-height overrides it
	}
	.toolbar-background{
		background-color: $headerBgColor;
	}
	.toolbar-title{
		color: $whiteColor;
		@include screen768{
			display: none;
		}
		@include screenMax576{
			font-size:1.8rem;
			padding-left:0px !important;
		}
	}
	.header-logo{
		display: none;
		margin-left: 10%;
		@include screen768{
			display: block;
		}
	}
	.header-username-container{
		//margin-right: 5%;
		.header-username{
		    color: $whiteColor;
		    text-transform: none;
		    cursor: default;
		}
		.left-border{
			position: absolute;
		    top: -12px;
		    bottom: -12px;
		    width: 1px;
		    background-color: $whiteColor;
		    left: -12px;
		}
	}
	.header-mobile-btn-container{
		.mobile-edit-btn{
			width: 32px;
			@include backgroundImage('../assets/imgs/menu_dashboard_white.svg', center center, auto);
		}
	}
	.header-mobile-back{
		padding-right:15px !important;
		ion-icon[name="arrow-back"]{
			color: $whiteColor;
		}
	}
	&:after{
		display: none;
	}
	.toolbar{
		button.bar-buttons[menutoggle]{
			@include screenMax576{
				margin-left: 0px !important;//menu icon vertical alignment for mobile view
			}
			.button-inner{
				.icon[name="menu"]{
					@include backgroundImage('../assets/imgs/menu_icon.png', center center, 80% 80%);
					min-height: 30px;
				    width: 30px;
				    padding: 0;
		    		@include screenMax576{
		    			min-height: 27px;
				   		width: 27px;
		    		}
					&:before{
						display: none;
					}
				}
			}
		}
	}
}

ion-header.header.white-header{
	.toolbar-background{
		background-color: $whiteColor;
	}
	button.search-back-btn{
		background-color: transparent;
		box-shadow: none;
		padding: 0 15px 0 10px;
		ion-icon{
			color: $headerBgColor !important;
			font-size: 3rem;
		}
	}
	.search-box-white-header-mobile{
		input{
			height: 36px;
		    width: 100%;
		    border-width: 0;
		    background-color: #e3f3ff;
		    border-radius: 5px;
		    padding-left: 10px;
		}
	}
}

.footer-parent{
	&:before{
		display: none;
	}
	ion-toolbar.toolbar{
		min-height: 36px !important;
		height: 36px;
		max-height: 36px;
	}
	.toolbar-background{
		background-color: $mainFooterBgColor;
	}
	.toolbar-title{
		text-align: center;
		color: $whiteColor;
		font-size: 1.2rem;
    	font-weight: normal;
	}
	.sub-footer{
		background-color: $headerBgColor;
		padding-top: 16px;
		a.item{
			background-color: transparent;
		    text-align: center;
			.item-inner{
				border-bottom-width: 0;
				color: $whiteColor;
			}
			&:first-child, 
			&:last-child{
				border:0px !important;
			}
		}
		ion-col.col{
    		ion-list.list{
    			a.item{
    				min-height: 2.8rem;
    			}
    			ion-label.label{
    				margin: 5px;
    			}
    		}
    	}
		@include screenMax576{
			padding-top: 0;
			ion-col.col{
	    		padding-top: 0;
	    		padding-bottom: 0;
	    		ion-list.list{
	    			margin-bottom: 0;
	    			a.item{
	    				min-height: 2.8rem;
	    			}
	    			ion-label.label{
	    				margin: 0;
	    			}
	    		}
	    	}
	  	}
	}
}

.content{
	background-color: $bgColor;
	.scroll-content{
		overflow-y: auto;
	}
}

.centered-content{
	/*.scroll-content{
		max-width: 900px;
	}*/
}

.centered-content{
	.header{
		//please check IE and mozilla, UI disturbing beacuse of this styles 
		position: fixed;
	}
	.no-padding-right.header{
		padding-right: 0;
		@media (max-width: 767px){
			padding-right: 17px;
		}
	}
	.main-content{
		max-width: 884px;
	}
	
}

.header-main-content{
		max-width: 884px;
}

.bordered-btn{
	background: transparent !important;
	border:0px;
	padding-right:0px !important;
	@include ipad-portrait{
		padding-top:0px !important;
	}
	.list-btns{
		border-left:1px solid $borderColor;
		@include ipad-portrait{
			border-left:0px !important;
		}
	}
}

// 		&:hover,
// 		&:focus{
// 			background:transparent !important;
// 			
// 		}
// 	}
// }

.deactivate-btn,
.deactivate-btn:hover,
.deactivate-btn:focus{
	color: rgb(252, 50, 50) !important;
	border: 1px solid rgb(252, 50, 50);
	background: transparent !important;
}
.deactivate-btn.button:hover:not(.disable-hover){
	background: $whiteColor;
}


.common-blue-btn{
	background-color: $blueBtnColor;
	color: $whiteColor;
	text-align: center;
    height: 3.5rem;
    min-height: 3.3rem;
    font-size: 1.4rem;
	border-radius:3px;
	text-transform: capitalize;
	max-width: 310px;
	box-shadow: unset;
	margin: 0 auto;
	min-width: 70px;
}

.common-blue-btn.mobile-view-list-btn{
	position: absolute;
	right: 0;
	bottom: 0;
}

.load-more-container{
	margin-top: 16px;
	margin-bottom: 16px;
	.load-more-btn{
		background-color: transparent;
		color: $blueBtnColor;
		border: 1px solid $blueBtnColor;
	    min-width: 150px;
	}
	.load-more-btn.button:hover:not(.disable-hover){
		color: $whiteColor;
		background-color: $headerBgColor;
	}
}

.activate-btn{
	background-color: transparent; 
	color: $blueBtnColor;
	border: 1px solid $blueBtnColor;
	&:hover,
	&:focus{
		background:transparent !important;
		color: $blueBtnColor !important;
	}
}

.activate-btn.button:hover:not(.disable-hover){
	color: $whiteColor;
}


a.linkToScreen{
   	cursor: pointer;
   	color: $linkBlueColor;
   	font-weight: bold;
   	text-decoration: none;
}

.screen-title-item{
	text-align: center;
	color: $formScreenTitleColor;
    font-weight: bold;
}

.lsf-bg{
	@include backgroundImage('../assets/imgs/sign_in_up_for_bg.png', center center, cover);
	//@include screenMax576{
	    	//@include backgroundImage('../assets/imgs/sign_in_up_for_bg_mobile.png', center center, cover);
	   // }
}

.icon-class{
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.person-icon{
	@include backgroundImage('../assets/imgs/person_icon.svg', center center, auto);
}

.person-icon-new{
	@include backgroundImage('../assets/imgs/01_name_icon.svg', center center, auto);
}

.key-icon{
	@include backgroundImage('../assets/imgs/key_icon.svg', center center, auto);
}

.eye-icon{
	z-index: 9999;
	@include backgroundImage('../assets/imgs/eye_icon.svg', center center, auto);
}

.eye-off-icon{
	z-index: 9999;
	@include backgroundImage('../assets/imgs/eye_off_icon.svg', center center, auto);
}

.time-icon{
	@include backgroundImage('../assets/imgs/04_time_icon.svg', 90% 70%, auto);
}

.time-icon-mobile{
	@include backgroundImage('../assets/imgs/04_time_icon.svg', 97% 50%, auto);
	.text-input-md{
		width: 100%;	
	}
}

.time-slot-time-icon{
	@include backgroundImage('../assets/imgs/04_time_icon.svg', 100% 50%, auto);	
}

.calender-icon{
	@include backgroundImage('../assets/imgs/contract_calander_icon.svg', 96% 40%, auto);
}

.phone-icon{
	@include backgroundImage('../assets/imgs/03_phone_icon.svg',center center, auto);
}

.email-icon{
	@include backgroundImage('../assets/imgs/02_email_icon.svg',center center, auto);
}

.address-icon{
	@include backgroundImage('../assets/imgs/01_address_icon.svg',center center, auto);
}

.forgot-password-icon{
	@include backgroundImage('../assets/imgs/07_forgot_password_icon.svg',center center, auto);
}

.shadow{
	-webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}//common search box 
.searchbox{
    box-shadow: inset 1px 1px 3px rgb(203, 210, 216);
    width: 100%;
    border-radius: 5px;
    background: rgb(245, 250, 254);
    padding: 9px;
    border: 1px solid rgb(203,210,216);	
}		
//common-page-title
ion-header.header{
	padding-right: 0px;
	.common-page-title{
		height: 46px;
    	min-height: 46px;
    	max-height: 46px;
		display: flex;
		align-items: center;
		max-width: 900px;
		border-right: 1px solid $borderColor;
		padding-left: 0;
		@media (max-width: 1366px){
			height: 4.6rem;
			min-height:4.5rem;
		}
		ion-label{
			align-items: center;
    		display: flex;
    		margin-right:2px !important;
		}
		.toolbar-background{
			background-color: $whiteColor;
			border-bottom: 1px solid $borderColor;
		}
		.page-sub-title{
			padding: 0px !important;
			float:left;
			.toolbar-title{
				font-size: 1.6rem;
				padding-left: 20px;
				text-align: left;
				color: $secondaryColor;
				display: block;
				@include screenMax576{
					padding-left: 20px !important;
				}
			}
		}
		.page-sub-title, a{
			display:inline-block;
		}
		a{
			float:right;
			height:3.5rem;
			min-height:3.3rem;
			font-size:1.4rem;
		}
		.filter-btn{
			 @include screen768 {
            	height:unset;
				min-height:unset;
				margin-top:6px;
			}
		}
	}//end of common-page-title
	.search-container{
		display:flex;
		align-items:center;
		max-width: 900px;
		margin:0 !important;
		background-color:$bgColor;
// 		border-bottom: 1px solid $borderColor;
		padding:15px 0px 15px 15px;
	    @include screenMax576{
		 	padding:0px;
		 	border-bottom: 0;
		 	background:$whiteColor;
		}
		ion-row{
			 @include screenMax576{
			    //padding-left: 10px;
			}		
			width:100%;
			align-items: center;
		  omkar  //border: 1px solid #cadce8;
			ion-col{
					padding:0px;
				&:first-child{
					> div{
						width:unset;
						margin-right:10px;
						@include screenMax576{
		 					margin-right:0px;
						}
					}
				}
				img{
					vertical-align: middle;
					cursor: pointer;
					margin-left:10px;
				}
			}
		}
		.city-dropdown-item{
			box-shadow: inset 1px 1px 3px rgb(203, 210, 216);
			padding:0px 0px 0px 10px;
			@include screenMax576{
				padding:0px;
			}
			ion-select{
				font-size:1.5rem;
				color:$listItemContentColor;
			}
			
			.item-inner{
				border-bottom:0px;
				min-height:unset;
			}
		}
		.search-textBox, .city-dropdown{
			input, select{
				@extend .searchbox;
				font-size: 1.5rem;
    			color: #616161;
			}
			input{
				@include backgroundImage('../assets/imgs/search.svg', center right, auto);
				background-position:97%;
				padding-right:30px;
				min-height: 35px;
				height: 35px;
				max-height: 35px;
				@include ipad-portrait{
					background-position:95%;
				}
			}
		}
		
	}//end of search-container
	
	.search-container.blank-search-container{
		padding: 0;
		padding-bottom: 15px;
		border-bottom-width: 0;
		@include screenMax576{
			padding: 0;
		}
	}
	
	.search-container.blank-search-container.mobile-profile-img{
		background-color: $headerBgColor;
	}
}

.common-page-container.no-border-top{
	border-top-width: 0;
}

.mobile-profile-img{
	background-color: $headerBgColor;
    margin-top: -1px;
	.upload-img{
		text-align: center;
		@include screenMax576{
    		padding-bottom: 20px;
    	}
		img{
			border-radius: 6px;
			margin: 0;
			@include screenMax576{
    		    max-width: 100px;
    		    border: 1px solid white;
				//border-radius: 10px;
    		}
		}
	}
}

/**************Back button icon****************/
.arrow-cls{
	color:white !important;
}
/*********************************************/

.no-padding-top{
	padding-top: 0;
}

/*******************Segment css*************************/
.segment{
	@include screenMax576{
		background-color:$whiteColor;
		margin:0px !important;
		border:1px solid $timeLinkBlueColor;
		border-left:0px;
		border-right:0px;
		padding:10px 0px;
	}
	img{
		float: left;
		width:35px;
		vertical-align: middle;
		cursor: pointer;
		margin-left:10px;
		display:block;
		@include ipad-portrait{
			display:none;
		}

		@include ipad-landscape{
			display:block;
		}
	}
	.segment-container{
		float: none;
		width:60%;
		border:1px solid $blueBtnColor;
		border-radius: 5px;
		@include ipad-portrait{
			width:87%;
			margin-right:15px;
		}
		@include ipad-landscape{
			width:59%;
			margin-right:15px;
		}
		.segment-button{
			background-color: $whiteColor;
			color: $blueBtnColor;
			height:3.3rem;
			border:0px;
			line-height:3.3rem;
			text-transform: capitalize;
			font-size: 1.4rem;
			&:first-child{
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:last-child{
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
		.segment-ios .segment-button {
			background-color: $whiteColor;
			color: $blueBtnColor;
			border:0px;
		}
		.segment-md .segment-button.segment-activated,
		.segment-ios .segment-button.segment-activated{
			background-color: $blueBtnColor;
			color: $whiteColor;
			text-align: center;
		}
	}
	/**********for doctor profile segment***********/
	.segment-container{
		margin: 0 auto;
		width: 210px;
		
		@include screenMax576{
			float: none;	
			border:0px;
			width:unset;
		    margin: 0px 15px;
			.segment{
				border:0px;
			}
			.segment-button{
				border-radius: 5px;
				border:1px solid #369be8;
				color: #194b82;
				
				&:first-child{
					margin-right:10px;
				}
			}
			
			.segment-button.segment-activated{
				border:1px solid $blueBtnColor;
			}
		}
	}
	
	/******** End for doctor profile segment*******/
}
.doctor-segment{
	margin:20px 0px;
	@include screenMax576{
		padding:0px !important;
		margin:0px;
		margin-bottom:10px !important;
    }	//padding: 20px;	
}

.segment.segment-mobile{
	padding: 5px 10px;
	@include screenMax576{
	    padding: 5px 15px;
		background: white;
	}
	.segment-container{
		//float: none;
		//width:92%;
	}	
}
.search-textBox.search-box-mobile{
	padding-right: 10px !important;	
	@include screenMax576{
			padding-right: 0 !important;	
			
			input{
				width: 100%;
			    background: transparent;
			    color: $whiteColor;
			    border: 0px;
			    @include backgroundImage('../assets/imgs/search_white.svg');
			    background-position: 99% 55%;
			    background-size:auto;
				padding-right:40px;
				min-height: 40px; //affects in PR home header icon
				height:40px;
				max-height: 40px;
			}
	}
}

/*************End segment css****************************/

//common error msg styling
.error-msg-block{
	 padding: 5px 0px 10px 15px;
	.text-danger{
		color:red;
		font-size: 1.2rem;
	}
}

//common page styling
.common-page-container{
	background-color: $whiteColor;
	border: 1px solid $borderColor;
	padding: 0;
	@include screenMax576{
		border:none;
	}
}

page-sa-dashboard, page-hospital-admin-dashboard, page-doctor-dashboard{
	.common-page-container{
		@include screenMax576{
			border-width: 0;
			background-color: transparent;
		}
	}
}
// Common Dashboard Styling
.common-dashboard{
	> ion-row{
		padding: 10px;
		@include screenMax576{
			padding: 0;
		}
		a{
			padding:10px;
			text-decoration:none;
			@include screenMax576{
				//background-color: $whiteColor;
			    padding: 16px 16px 0px 0px;
			}
			
			ion-row{
				@extend .shadow;
				box-shadow: 0px 3px 3px -1px rgba(157, 146, 146, 0.75);
   				 border: 1px solid #e8e2e2;
    			background-color: #fff;
				ion-col{
					padding:0px;
					cursor:pointer;
					img{
						width:100%;
						vertical-align: middle;
					}
				}
				ion-col[col-8]{
					padding:0px 10px 0px 20px !important;
					span{
						font-size:1.6rem;
						line-height: 22px;	
						color:$textGreyColor;
					    font-weight: 500;
					    
					    @include screenMax576{
					    	font-size:1.4rem;
					    }
    				}		
				}
				ion-col[col-10]{
					padding:0px 10px 0px 20px !important;
					span{
						font-size:1.6rem;
						line-height: 22px;	
						color:$textGreyColor;
			    		font-weight: 500;
			    		  @include screenMax576{
					    	font-size:1.4rem;
					    }
    				}	
				}
			}
			
		}  //end of a
		[col-md-4]{
			@media (min-width: 768px) and (max-width: 940px){
			    -webkit-box-flex: 0;
			    -webkit-flex: 0 0 50%;
			    -ms-flex: 0 0 50%;
			    flex: 0 0 50%;
			    width: 50%;
			    max-width: 50%;
			}
		}
		&:nth-child(even){
			a{
				padding-top: 0;
			}
		}
	}  // end of ion-row
}  //end of dashboard-container

.common-select-dropdown{
	ion-label {
		display: none;
	}
	ion-select{
		width:100%;
		max-width:100%;
		//padding-top:26px !important;
		//padding-bottom:8px;
		//padding-left: 10px !important;
	}
	.citySelect{
		padding-left: 10px;
	}
	.ionic-selectable{
		align-items: center;
	}
}

// Common select dropdown alert
.select-alert {
	.alert-wrapper{
		border-radius:6px;
		text-align:center;
		box-shadow: unset;
		.alert-head{
			color:$blackColor;
		    padding: 12px 10px 12px 10px;
			.alert-title{
				text-align:center;
				font-size: 1.8rem;
				opacity:1;
			}
		}
		.alert-radio-label {
			color: #616161;
		}
		.alert-button-group {
			justify-content: space-around;
		    padding: 0;

			.alert-button { 
				text-transform: capitalize;
				color: #2090e5;
			    border-right: 1px solid #dedede;
			    margin: 0;
			    padding: 12px 8px;
		        min-width: 50%;
				&:last-child {
    				border-right: 0;
    			}
    			.button-inner {
    				justify-content: center;
    			}
			}
		}
	}
}

//common form btn
.common-form-btn-container{
	margin-top:40px;
	a{
		display:inline-block;
		max-width:120px;
		&:last-child{
			margin-left:20px;
			@media (max-width: 320px) {
				margin-left: 10px;
			}
		}
	}
}  //end of common-form-btn-container

.common-list-btns{
	button{
		max-width:200px;
		span{
			font-size:1.5rem;
		}
	}
}
//common form styling
.common-form{
	.formFieldsContainer{
		.no-padding{
			padding: 0px !important;	
		}
		padding:0px 20px 20px;
		ion-row{
			padding:15px 0px 0px;
			ion-col{
				&:first-child{
					padding:0px 20px 0px 0px;
					@include screenMax576{
						padding-right: 20px;
					}
					@include screenMobileMax576{
						padding-right: 0px;
					}
					
				}
				&:last-child{
					padding:0px 0px 0px 20px;
					@include screen991{
						padding: 0px 20px 0px 0px;	
					}
					@include screenMax576{
						padding-right: 0;
					}
					
					@include screenMobileMax576{
						padding-right: 0;
						padding-top: 16px;
					}
				}
				ion-item{
					//min-height:auto;
					padding:0px;
					margin-top:0px;
					
					.text-input{
						margin:8px 10px;
						margin-left: 0;
						//css for mobile view
						@include screenMax576{
							margin:4px 10px;
							font-size: 1.4rem;
						}
					}
				
					.label{
						margin:0px;
						padding-left: 0;
  						font-size: 1.4rem;
					}
					
				}  //end of ion-item
				
				.item-select{
					font-size: 1.4rem;
					.select{
						padding: 12px 10px 5px;
						padding-left: 0;
					}
				}
			
				.item.item-input.item-label-floating.item-input-disabled.input-has-value.item-input-has-value ion-label[floating]{
					color: $viewFormDataLabelColor;
				}
				.item.item-input.item-label-floating.input-has-focus.item-input-has-focus ion-label[floating]{
					color: $timeLinkBlueColor;
				}
				.text-input[disabled] {
					opacity: 1;
					color: $formInputColor !important;
				}
				.ui-state-disabled{
					opacity: 1;
					color: $listItemContentColor !important;	
					  @include screenMax576{
                      	 opacity: 1;
                       	color:  #7f8489 !important;
                   	  }
				}
				
				@include screenMax576{
					padding-top: 16px;
				}
				
			} //end of ion-col
			
			ion-col.no-padding-top{
				@include screenMax576{
					padding-top: 0;
				}
			}
			
			ion-col.no-padding-right{
				@include screenMax576{
					padding-right: 0;
				}
			}
		
		}  //end of ion-row
		
		ion-row.no-padding-top{
			@include screenMax576{
				padding-top: 0;
			}
		}
	
		.btn-container{
			@extend .common-form-btn-container;
		}  //end of btn-container
		
		.add-time-btn-container.btn-container{
			a{
				@include screenMax576{
					max-width: initial;
					margin-left: 0;
				}
			}
		}
	
	} //end of formFieldsContainer

}  //end of form

.list-item{
	margin:0px;
	padding:0px;
	li{
		list-style:none;
		vertical-align: middle;
		margin-bottom:5px;
		display:flex;
		align-items: end;
		&:last-child{
			margin-bottom:0px;
		}
		@include screenMax576{
			margin-bottom:0px;
			align-items: end;
			//padding-bottom:5px;
			&:last-child{
				padding-bottom:0px;
			}
		}
		//img{
			//vertical-align: top;
			//margin-top:3px;
		//}
		p{
			margin:0px;    
			font-size:1.4rem;
			margin-left:10px;
			color:$listItemContentColor;    
			display:inline-block;
			//width:70%;
			vertical-align: top;
			line-height:24px;
			@include screenMax576{
				//line-height:18px;
				line-height:unset;
			}
			&:first-child{
				color: $blackColor !important;
				font-size:1.8rem;
				margin-left:0px;
				//max-width: 225px !important;
				//width:75% !important;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    overflow: hidden;
			    margin-bottom:7px;
			}
		}
		p,div{
			display:inline-flex;
		}
		> div{
			width:20%;
				display:inline-flex;
				align-items:center;
				justify-content:center;
			img{
				margin-right:5px;
			}
		}
		&:nth-child(2){
			div{
				border-left:1px solid $borderColor;
			}
		}
	}
}//end of common list-item

//common list view 
.list-view{
	padding:0px;
	.list-container{
		background-color:$whiteColor;
		border:1px solid #cadce8;
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
		-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.05);
		margin-bottom:5px;
		&:last-child{
			margin-bottom:0px;
		}
		>ion-col{
			padding:0px;
			//img{
			//	border: 1px solid $listItemBlueBgColor;
    		//	border-radius: 6px;
			//}
			&:first-child{
				padding:15px 20px 15px 15px;
				@include screenMax576{
					padding-bottom:5px;
				}
			}
			&:nth-child(2){
				padding:15px 15px 15px 0px;
				@include screenMax480{
					padding:10px;
				}
				
				@include screenMax576{
					padding:15px 15px 0px 15px;
				}
			}
			&:last-child{
				padding:15px;
				@include screenMax576{
					//padding:0px 10px;
				}
			}
		}
		.profile-img{
			a{
				display:block;
				border-radius: 6px;

				img{
					width:100%;
					border:1px solid $timeLinkBlueColor;
					display:block;
					border-radius: 6px;
				}
			}
		}
		.list-img-container{
			> div{
				border-radius:7px;
				border:1px solid $timeLinkBlueColor;
				width:100%;
				overflow: hidden;
				a {
					width:100%;
					img{
						width:100%;
						//border-top-left-radius:7px;
						//border-top-right-radius:7px;
						border-bottom:1px solid $timeLinkBlueColor;
					}
				}
				> div{
					padding:5px 0px;
					@include screenMax576{
						padding:3px 0px 3px 0px;
						font-size:1.2rem;
					}
					img{
						vertical-align: text-top;
						margin-right:5px;
						@include screenMax576{
							width:14px;
						}
					}
				}
			}
		}  //end of list-img-container
		ul{
			@extend .list-item;
		}
		.list-content{
			@include screenMax576{
				padding-bottom: 5px !important;
			}
			ul li{
				img{
					//margin-top:2px;
					@include screenMax576{
						margin-top:0px;
					}
				}
				p{
				    vertical-align: top;
				   	color:$listItemContentColor;
				   	white-space: nowrap;
			    	overflow: hidden;
			    	text-overflow: ellipsis;
				   @include screenMax480{
						//max-width: 175px;
						font-size:1.4rem;
					}
				}
				&:first-child{
					margin-bottom:5px;
					p{
						@include screenMax576{
							font-size:1.7rem;
							margin-bottom: 0px;
						}
					}
					@include screenMax576{
						margin-bottom: 3px;
					}
				}
				p.name-container{
					a{
						text-decoration: none;
						color:$blackColor;
					}
				}
			}
		}//end of list-content
		.list-btn-container{
			background-color:$listItemBlueBgColor;
			
			@include screenMax576{
 				padding: 5px 15px 10px !important; //affects in doctorlist view
			}
			
         	 @include ipad-portrait{
                padding-top:0px !important;
            }
			ion-row{
				height:100%;
			}
			ul li{
				display:flex;
				align-items:end;
				img{
					vertical-align: top;
				}
			}
			.list-btns{
				display:flex;
				align-items:center;
				text-align:center;
				justify-content:center;
				@media (max-width: 992px){
					justify-content: flex-end;
					padding-right: 0;
				}
				@include screenMax576{
					padding-right: unset;
     				padding: 0px !important; //affects in doctorlist view
				}
				a{
					margin:0px;
					&:nth-child(2){
						margin-left:10px;
					}
				}

			}
			.time{
				span{
					color:$timeLinkBlueColor;
					margin:0 5px;
					text-decoration: underline;
    				text-underline-position: under;
					cursor: pointer;
				}
			}
			.allocated-hospital{
				font-size: 1.4rem;
				p{
					font-size: 1.4rem;
					font-weight: 500;
				}
				span{
					color:$timeLinkBlueColor;
					margin:0 5px;
					text-decoration: underline;
    				//text-underline-position: under;
					cursor: pointer;
						
				}
			}
		}  //end of list-btn-container
	
		.bordered-list-btn-container{
			//padding-right:0px !important;
			ion-row{
				border-left:1px solid $borderColor;
				height:100%;
				ion-col{
					padding:0px;
					@include screenMax576{
						padding:0px;
						padding-bottom:10px;
						padding-right:5px;
					}
				}
				.list-btns{
					text-align:center;
					@include screenMax576{
						text-align:right !important;
						button{
							margin-right:10px;
						}
					}
					@include ipad-portrait{
						text-align:right !important;
						padding-right:10px;
					}
				}
				@include ipad-portrait{
					border:0px;
					text-align:right !important;
				}
				@include screenMax576{
					border:0px;
				}
			}
		}
	}
}//end of list-view

.list-container{
	.upload-img{
		img{
			max-width: 150px;
			@include screenMax576{
					max-width: 100px;
			}
		}
	}
}

.alertPopUp{
	.alert-wrapper{
		border-radius:6px;
		text-align:center !important;
		
		.alert-message{
			overflow-y:auto;
		}
	}
	.alert-md .alert-head{
			text-align:center !important;
	}
}		

.InfoPopUp{
	text-align:center;
	.alert-wrapper{
		@include screenMax576{
		    margin: 0 30px;
		}
		border-radius:6px;
		text-align:center;
		width:390px;
		max-width:390px;
		box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
		.alert-head{
			color:$blackColor;
			padding:24px 30px 0px 30px;
     
			.alert-title{
				text-align:center;
				font-size: 17px;
				opacity:1;
			}
			
			.alert-sub-title{
				border-bottom: 1px solid #d4d9e3;
				padding-bottom:15px;
				margin-top:15px;
				text-align:center;
				font-size: 13px;
				color:#616161;
				> div:first-child{
					opacity:1;
					color:$blackColor;
				}
				> div:last-child{
					margin:5px 0px 10px 0px;
					color:$textGreyColor;
					font-size: 1.5rem;
				}
			}	
		}
		.alert-message{
			overflow-y:auto;
			padding: 10px 45px 15px;
			@include screenMax576{
		   			padding: 10px 35px 15px;
			}
			table{
				width:100%;
				color:$textGreyColor;
				
				tr td{
					text-align:left;
					font-size:13px;
					height:25px;
					padding-left:30px;
					padding-right:30px;	
					color:#616161;
					padding-top:10px;
					
					@include screenMax576{
	   			    padding-left: 20px;
					padding-right: 25px;
				}
					
					&:first-child{
						text-transform:lowercase;
						&:first-letter{
							text-transform:capitalize;
						}
					}
					
					&:last-child{
						text-transform:capitalize;
						padding-right:5px;
					}
				}
			}
		}
		.alert-button-group{
			padding:8px;
			border-top: 1px solid #e0e0e0;
			.alert-button{
					margin:0 auto;
					text-transform: none;
			}
		}
	}
}

.hospitalAlert{
// 	text-align:center;
	.alert-wrapper{
		border-radius:6px;
		text-align:left;
		width:390px;
		max-width:390px;
		box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
		.hospitalTitle{
			font-weight: bold;
			color: black;
			padding: 10px 0px;	
		}
		.hosp-td{
			padding: 5px 0px;	
		}
		.hospDetailsLabel{
			display: inline-block;
			color: black;
			width: 80px;	
		}
		.set-border-bottom{
			border-bottom: 1px solid rgb(185, 185, 185);
		}
		
		.set-border-bottom:last-child{
			border: none;	
		}
	
		.alert-message{
			overflow-y:auto;
			padding: 0px 10px 0px 10px;
			.hospitalDetails{
				padding: 10px;
				border-bottom: 1px solid #d4d9e3;
				div{
					padding: 2px;	
				}
			}
			.hospitalDetails:last-child{
				border: none;	
			}
		}
		.alert-head{
			color:$blackColor;
			padding:20px 10px 0px 10px;
	 
			.alert-title{
				text-align:center;
				font-size: 1.5rem;
				opacity:1;
			}
			
			.alert-sub-title{
				border-bottom: 1px solid #d4d9e3;
				padding-bottom:10px;
				margin-top:10px;
				text-align:center;
				font-size: 1.4rem;
				color:#616161;
				> div:first-child{
					opacity:1;
					color:$blackColor;
				}
				> div:last-child{
					margin:5px 0px 10px 0px;
					color:$textGreyColor;
					font-size: 1.5rem;
				}
			}	
		}
		.alert-button-group{
			padding:8px;
			border-top: 1px solid #e0e0e0;
			.alert-button{
					margin:0 auto;
					text-transform: none;
			}
		}
	}
}



a[disabled], button[disabled], [ion-button][disabled]{
	display: none;	
}

/* for dropdwon icon */

.select-md .select-icon{
	background-image:unset;
	 .select-icon-inner{
		left:0px;
		@include screenMax576{
			display: none;
			left:5px;
		}
	}
}

	
	.InfoPopUp .alert-wrapper .alert-button-group{
		justify-content: space-around; 
	}
	 




.select-icon{
	@include backgroundImage('../assets/imgs/dropdown_arrow.svg', center center, auto);
}
.mobile-select-icon{
	@include backgroundImage('../assets/imgs/dropdown_white.svg', 90% 50%, auto);
}
/*------------------

::-webkit-scrollbar {
    width:6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

//common checkbox with label styling
.checkbox-label{
	.label, ion-checkbox{
		display:inline-block;
		margin:0px;
	}
	.label{
		padding:0px 10px;
		margin:0px !important;
	}
	.checkbox-icon{
		border:1px solid $blueBtnColor;
	}
}


//For ion-select place holder	
		
.selectCls{
	color: #000;
}
.unselectCls{
	color: #8e8e8e;
}
.item{
	font-size: 1.4rem;
}
.select-label-hide{
	display: none;	
}

.select-ios .select-icon .select-icon-inner{
	display: none;
}

.item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
	border-bottom-color: #dedede;
	box-shadow: none;
}

.item-input-has-focus .label[stacked],
.input-has-focus .label[stacked],
.item-input-has-focus .label[floating],
.input-has-focus .label[floating]
.item-input-has-value .label[floating],
.input-has-value .label[floating]{
	color: $blueBtnColor;
}

.checkbox .checkbox-checked{
	background-color: $blueBtnColor;
}

ion-datetime.datetime-md, ion-datetime.datetime{
	padding-left: 0;
}

.datetime .datetime-placeholder{
	color: $blackColor;
}
//For ion-select place holder	
		
.selectCls{
	color: black;
}
.unselectCls{
	color: #8e8e8e;
}
.item{
	font-size: 1.4rem;
}
.select-label-hide{
	display: none;	
}

.select-ios .select-icon .select-icon-inner{
	display: none;
}

//For city-dropdown on search
.city-ion-dropdown{
	//max-width: 215px;
	.city-dropdown-item{
		border-radius: 5px;
		background-color: rgb(245, 250, 254);
		border: 1px solid rgb(203,210,216);
		min-height: 35px;
	    height: 35px;
	    max-height: 35px;
		ion-select{
			width: 100%;
			max-width: 100%;
			padding: 0;
		}
	}
	
	.city-dropdown-mobile{
		border-radius: 5px;
		background-color: #2090e4;
		min-height: 2rem !important;
		height: 20px;
		width: 96px;
		color: white;
		padding: 0;
		 
		.item-inner {
			border-bottom: none;	
		}
		
		ion-select{
			width: 100%;
			max-width: 100%;
			padding: 0;
		}	
	}

	select{
		-webkit-appearance: none;
		-webkit-border-radius:0; 
		border-radius:0; 
		width: 100%;
		position: relative;
		color: #616161;
	}
		
}


.text-ellipsis{
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

//styling for toaster
.toast-wrapper{
	background: transparent !important;

	.toast-container{
		margin-top:20px;
		background: #333 !important;
	}

}

form{
	ion-item.item.item-input, 
	ion-item.item.item-datetime,
	ion-item.item.item-select{
		.item-inner{
			padding-left:15px;
		}
		.text-input{
			margin-left: 0px !important;
		}
	}
}
 .sys-admin-list-view{
	@extend .list-view;
	
	.list-content{
		ul li{
			margin-bottom:8px !important;p{
				font-size:1.6rem!important;
			}
			&:first-child{
				margin-bottom:0px !important;
				
				p{
					font-size:1.8rem!important;
				}
			}
			
			span{
				color: $listItemContentColor;
			}
		}
	}
}

.item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
	border-bottom-color: #dedede;
	box-shadow: none;
}

.list-of-speciality,
.list-of-service{
	padding:10px 10px 10px 15px;
	min-height:70px !important;
	margin-top:15px;
	border-radius:6px;
	border:1px solid  $blueBtnColor;
	color: $listItemContentColor !important;
}

.profile-img-responsive{
	display: block;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100%;
    padding-top: calc(100% - 2px);
    background-size: 100% auto;
    //background-position: center center;
    //border-top-left-radius: 7px;
    //border-top-right-radius: 7px;
    background-position: top center;
	background-size: cover; 
}

.profile-img-responsive.with-border{
	border:1px solid $timeLinkBlueColor;
}

.profile-rating-conatiner{
	border-top:1px solid $timeLinkBlueColor;
}

/************************************ 3rd party multi select Customize CSS START ****************************/

p-multiselect{
	.ui-multiselect{
		display: block;
	    font-size: 1.4rem;
	    border-width: 0;
	    color: $blackColor;
	    margin-top: 14px;
	    padding-bottom: 8px;
	    border-bottom: 1px solid #dedede;
	    border-radius: 0;
	    width: 100%;
	    padding-left: 15px;
	    .ui-multiselect-label{
	    	padding: 0;
	    	color: $blackColor;
	       white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
           padding-right: 40px;
	    
	    }
	    .ui-multiselect-trigger{
	    	border-width: 0;
		    width: 12px;
		    height: 19px;
		    right: 18px;
		    @include backgroundImage('../assets/imgs/dropdown_arrow.svg', center center, auto);
		    .ui-multiselect-trigger-icon{
		    	display: none;
		    }
	    }
	}
	.ui-multiselect:not(.ui-state-disabled):hover{
		border-color: #dedede;
    	background-color: transparent;
    	color: $blackColor;
	}
	.ui-multiselect.ui-state-focus{
		box-shadow: none;
		color: $blackColor;
	}
}

p-calendar{
    padding-right: 0 !important;
    //border-bottom: 1px solid #dedede;
	.ui-inputtext{
		width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	    min-height: 100%;
	    border-width: 0;
	    border-radius: 0;
	    padding: 0px 15px !important;
	    padding-bottom: 8px;
	    font-size: 1.4rem;
	     @include screenMax576{
	           font-size: 1.1rem;
	           padding: 0px 10px !important;
	    }
	}
	.ui-inputtext.ui-state-focus, .ui-inputtext:focus, .ui-inputtext:enabled:hover{
		box-shadow: none;
		border-color: #dedede;
	}
	.ui-calendar{
		display: block;
	    //padding-right: 20px;
	    @include screenMax576{
		 padding-right: 0;
	}
	    
	}
}
.padding-top15{
	@include ipad-portrait{
		padding-top:15px !important;
	}
	@include screenMax576{
		padding-top:15px !important;
	}
}
.no-right-padding{
	@include ipad-portrait{
		padding-right:0 !important;
	}
}
.no-right-padding-below576{
	@include screenMax576{
		padding-right:0 !important;
	}
}
.hand-pointer{
	cursor: pointer;
}

.common-form-label.is-disabled-label{
	color: $viewFormDataLabelColor;
}

.common-form-label{
	color: #2090e5;
	margin: 0px;
	padding: 15px 0px 0px 15px;
	font-size: 1.2rem;
	@include screenMax576{
		padding-top:0px;
	}
}
/************************************ 3rd party multi select Customize CSS END ****************************/

/************************************ Session timeout popup CSS Start *************************************/

.session-resume-alert{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    .session-resume-content{
    	position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%,-50%);
	    .session-resume-msg{
	    	color: $whiteColor;
	    }
    }
}

/************************************ Session timeout popup CSS END *************************************/

/*********************set height for city label**************/
.common-select-dropdown.item-block{
	min-height: 3rem;	
}
/*******************************************/
/*********************set height for city label**************/
.hospitalDetails{
	text-align: left;	
}

.profileImgForDevice{
	padding: 0 !important;	
}

/************* for education label ***************/
.EducationLabelInViewMode{
			padding: 0px 0px 0px 15px;
			margin-bottom: 5px;
		}
.EducationInViewMode{
	padding-left:15px;
	border-bottom:1px solid $borderColor;
	p{
		margin:0px;
		height:27px;
		overflow: auto;
		padding:8px 0px;
		display: inline-block;
		width: 100%;
		@include screenMax576{
			height:auto;
		}
		span{
			color: #616161 !important;
			@include screenMax576{
				padding:0px;
			}
		}
	}
}
/***********************************************/

/*********************************** Search Container related CSS Start **********************************/

.search-result-container{
	z-index: 9999;
	position: absolute;
   	top: 164px;
    left: 152px;
    right: 0;
    max-height: 400px;
    min-height: 250px;
    max-width: 400px;
    border: 1px solid #2090e4;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
    overflow-y: auto;
    @include screenMax576{
		width: 80%;
	    left: 50%;
	    top: 52px;
	    transform: translate(-50%);
	}
    .spinner-container{
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    z-index: 1;
	    @include commonTransform(translate(-50%,-50%));
    }
    .search-content{
    	margin-top: 0;
    	margin-bottom: 0;
    	.item{
    		.item-inner{
    			padding-right: 0;
    			margin-right: 16px;
    			border-color: #C8E1FF;
    			.spe-ser-cls{
    				margin-right: 0;
    				font-size: 1.1rem;
    			}
    		}
    	}
    	.item:first-child{
    		border-top-left-radius: 5px;
    		border-top-right-radius: 5px;
    	}
    	.item:last-child{
    		border-bottom-left-radius: 5px;
    		border-bottom-right-radius: 5px;
    		.border-bottom-cls{
    			display: none;
    		}
    	}
    	.no-border-bottom{
    		.item-inner{
    			border-bottom-width: 0;
    		}
    	}
    	.entity-list{
    		position: relative;
    		.item-inner{
    			border-bottom-width: 0;
    		}
    		.avatar-item{
    			img{
    				margin-left: 0;
    				border-radius: 5px;
    				border: 1px solid #2090e4;
    			}
    		}
    		.border-bottom-cls{
    			position: absolute;
    			bottom: 0;
    			left: 16px;
    			right: 16px;
    			background-color: #C8E1FF;
    			margin: 0;
    		}
    		.name-container{
    			color: #000000;
    			.searchedPatientName{
    				text-decoration:none;
    				color: #000000;
				}
    		}
    		.speciality-container{
    			span{
    				color: #616161;
    			}
    		}
    	}
    	.list-header{
    		background-color: #F5FAFE;
    		border-top: 1px solid;
    		border-color: #C8E1FF;
    		.label{
    			color: $headerBgColor;
    		}
    		.button{
    			margin-right: 0;
    			border-width: 0;
    			color: $headerBgColor;
    		}
    	}
    }
}


/*********Calendar validation Message*******************/
	.errorMsg{
	    position: absolute;
		left: 0;
		bottom: 0;
		color:red;
		font-size: 1.2rem;
	// 	@include screenMax576{
	// 		bottom: -14px;
	// 	}
	
	}


	.calendarCls .ui-inputtext{
	    border-radius: 5px;
	    background-color: #f5fafe;
	    border: 1px solid #cbd2d8;
	    min-height: 35px;
	    height: 35px;
	    padding:0px;
	    max-height: 35px;
	    -webkit-box-shadow: inset 1px 1px 3px #cbd2d8;
	    width: 100%;
	    padding: 0px 15px;
	    cursor:pointer;
		  background: url('../assets/imgs/contract_calander_icon.png') no-repeat scroll 7px 7px;
	      background-position: right 8px bottom 5px;
			  background-repeat: no-repeat;
	        background-size: initial;
	}

	.is-error .calendarCls .ui-inputtext {
			border:1px solid red;
	}
	.is-errorEndDate .calendarCls .ui-inputtext {
			border:1px solid red;
	}


	.ToText{
	  		//margin-left: 10px;
	  		margin: 0 10px;
	  		 @include screenMax576{
				margin: 0 5px;
			}
	  }
    
/*********************************** Search Container related CSS End **********************************/

/*******Select Searchable for mobile*********/
.select-searchable{
	width: 100%;
	max-width: none;
	.select-searchable-value{
		padding-left: 0px !important;	
	}	
}

/***** disable class for a tag**********/
.a-disabled{
	pointer-events: none;
    text-decoration: none;
    opacity:0.6;
}
.max-width-110{
   img{
       max-width:110px !important;
   }
}
/*********Time Slot Popup*********************/
.time-slot-pupup{
	text-align: center;
	.model-title{
		padding: 10px;	
	}
	.model-sub-title{
		padding: 10px 0 20px;
		font-weight: bold;	
	}
	.time-line{
		padding: 5px;	
	}
}

.currentDate{
	font-weight: bold;
}

/***Calendar for Mobile ****/
.ui-calendar .ui-datepicker{
	background-color:white;
	@include screenMax576{
		top: 35px !important;
	}
}


/****CSS for common Home Icon******/
.homeIcon{
	float:right;
}

.ratingIcon{
	float:right;
}


/****To show time icon to over p-calendar input*****/
p-calendar{
	input{
		//background: transparent !important;	
	}
	span{
		@include screenMax576{
			//margin-left: 5px;
		}	
	}	
}

/****For ion-backdrop***************************/
ion-modal {
    ion-backdrop {
        visibility: visible;
        opacity: 0.75;
        z-index: 0;
    }
}
/***********************css for alert***************************/
.alert-message{
		overflow-y:auto;
}
/***********************css for ellipses txt***************************/
.ellipsesCls{
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;	
}

.app-no-datafound-cls{
	margin-top: 25px; 	
}

/************************css for range*************************/
.range-md.range-has-pin {
    padding-top: 0px;
}
.range-md{
 	padding: 0px 20px;
 }
 
 /********** Privacy policy popup********************/
 .privacyPolicyPopup{
	ion-content{
		border-radius: 10px;
		background: $whiteColor;	
	}
	.alert-message{
		overflow: auto;
		min-height: 60%;
		height: 60%;
		padding-bottom:0px;
		margin-bottom:15px;
		font-size:1.4rem;
		color:$blackColor;
		line-height:23px;
	}
	.alert-wrapper{
    	width: 75%;
    	max-width:75%;
   		height: 79%;
   		margin: 0 auto;
	    top: 50%;
	    position: absolute;
	    border-radius:10px;
	    transform: translate(-50%,-50%) !important;
	    left: 50%;
   		@include screenMax576{
			//width: 320px;
		  //  height: 245px;
		    border-radius: 10px;
		}
		.alert-head{
			padding:30px 10px;
		}
		.alert-title {
	    	color: $blackColor;
	    	font-size: 1.8rem;
		    text-align: center;
		    font-weight: 600;
		   // padding: 20px 0px 30px;
	    }
	 	
		.alert-button-group{
			border-top: 1px solid #dedede;
		    position: absolute;
			width: 100%;
	   		bottom: 0;
	   		padding:0px;
	   		button[disabled], [ion-button][disabled] {
			    cursor: default;
			    opacity: .4;
			    pointer-events: none;
			    display:inline-block;
			}
			.alert-button{
				width:100%;
				height: 5rem;
			    background-color: transparent;
	   			color: #488aff;
	    		box-shadow: unset;
	    		margin-bottom: 0;
	    		margin-top: 0;
	    		padding:0px;
	    			&:hover{
	    	   				background-color: transparent;
	   						color: #488aff;
	    			}
	    			span{
	    				justify-content:center;
	    			}
			}
		}  
	}
	
}
 
 .no-margin{
 	margin:0px;
 }
 
 .select-searchable{
 	.select-searchable-icon .select-searchable-icon-inner{
 		@include screenMax576{
 			top:50%;
 		}
 	}
 }
 
 
.mIconSmall{
	@include screenMax576{
		width:16px;
		height:16px;
		margin-top:0px;
	}
}

.no-data-found{
	@include screenMax576{
		margin-bottom:10px;
	}
}
/**************css for datepicker*****************************/
.picker-opts {
	@include screenMax576{
		max-width: 70px !important;
	}
}

.todayPopup .alert-wrapper .alert-message table tr td{
	text-align:center !important;
}


/**************ion date time css*****************************/
	.mobileCalendar{
		span.button-inner{
		    background: url(../assets/imgs/contract_calander_icon.png) no-repeat scroll 7px 7px;
			background-position: right 8px bottom 5px;
			background-repeat: no-repeat;
			background-size: initial;
			border-radius: 5px;
			border: 1px solid #cbd2d8;
			}
	}
	.mobileCalendar.datetime-md, .mobileCalendar.datetime {
	 	  	 padding-left: 10px !important;
	 	  	 font-size:10px;
		}
	


// .select-city{
// 	select{
// 		width: 100%;
// 		background: #fff;
		 
// 	}
// }


.city-ion-dropdown-custom{
	//max-width: 215px;
	position: relative;
	.city-dropdown-item{
		border-radius: 5px;
		background-color: rgb(245, 250, 254);
		border: 1px solid rgb(203,210,216);
		min-height: 35px;
	    height: 35px;
	    max-height: 35px;
		ion-select{
			width: 100%;
			max-width: 100%;
			padding: 0;
		}
	}
	
	.city-dropdown-mobile{
		border-radius: 5px;
		background-color: #2090e4;
		min-height: 2rem !important;
		height: 20px;
		width: 96px;
		color: white;
		padding: 0;
		 
		.item-inner {
			border-bottom: none;	
		}
		
		ion-select{
			width: 100%;
			max-width: 100%;
			padding: 0;
		}	
	}

	select{
		-webkit-appearance: none;
		-webkit-border-radius:0; 
		border-radius:0; 
		width: 100%;
		position: relative;
		color: #616161;
	}
		
}
// .city-ion-dropdown-custom:before {
//     pointer-events: none;
//     position: absolute;
//     content: "";
//     z-index: 9999;
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-width: 5px 5px 0 5px;
//     border-color: #999 transparent transparent transparent;
//     right: 7px;
//     top: 50%;
//     -webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
// }

.city-ion-dropdown-custom .common-select-dropdown-custom
{
	border-radius: 5px;
    background-color: #2090e4;
    min-height: 2rem!important;
    height: 20px;
    width: 96px;
    color: #fff;
	padding: 0;
	border:0 none;
}

.common-select-dropdown-custom 
{
	.item-input .label-md
	{
		display: none;
	}
	.item-inner
	{
		border-bottom: 0 none !important;
	}

	.ionic-selectable
	{
		max-width: 100%;
		width:100%;
	}
	.ionic-selectable-value
	{
	 	padding-left: 0 !important;
	}
}

p-dropdown{
	.ui-dropdown{
		display: block;
	    font-size: 1.4rem;
	    border-width: 0;
	    color: $blackColor;
	    padding-bottom: 8px;
	    border-bottom: 1px solid #dedede;
	    border-radius: 0;
	    width: 100%!important;
		border-radius: 5px;
		background: #f5fafe!important;
		border: 1px solid #cbd2d8;
		min-height: 35px;
		height: 35px;
		max-height: 35px;
		padding: 8px;
	    .ui-dropdown-label{
	    	padding: 0;
	    	color: $blackColor;
	       white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
           padding-right: 40px;
	    
	    }
	    .ui-dropdown-trigger{
	    	border-width: 0;
		    background: transparent;
		    .ui-multiselect-trigger-icon{
		    	display: none;
		    }
		}
		// .ui-inputtext
		// {
		// 	background: transparent;
		// }
		.ui-dropdown-label
		{
			padding-right:0;
		}
		.ui-dropdown-panel {
			min-width: 200px;
			padding: .2em;
		}
		.ui-dropdown-filter-container
		{
			background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
			border: 1px solid #d9d9d9;
			background-color: #f6f7f9;
			color: #1b1d1f;
			font-weight: normal;
			border-radius: 3px;
			padding: 2px;
			position: relative;
		}

		// .ui-dropdown-filter-container::after
		// {
		// 	content: 'x';
		// 	position: absolute;
		// 	right:0;
		// 	top:5px;
		// 	font-family: 'primeicons';
		// 	font-style: normal;
		// 	font-weight: normal;
		// 	font-variant: normal;
		// 	text-transform: none;
		// 	line-height: 1;
		// 	display: inline-block;
		// 	-webkit-font-smoothing: antialiased;
		// 	-moz-osx-font-smoothing: grayscale;
		// }


		// .ui-dropdown-filter {
		// 	width: 65%;
		// }
		.ui-dropdown-panel .ui-dropdown-filter-container .ui-dropdown-filter-icon
		{
			left: .500em;
			top:7px;
			right:auto;
		}
		
		.ui-widget-content .ui-inputtext {
			font-weight: normal;
			padding: 2px 0px 2px 25px;
		}

		.ui-inputtext
		{
			background: none;	
		}

		

		.ui-dropdown-label .ui-inputtext{
			background:transparent;
		}

		ui-dropdown:not(.ui-state-disabled):hover {
			border-color: #c0c0c0;
			background:none;
			color: #212121;
		}

		.ui-dropdown-filter-container input
		{
			background: #fff;
		}
		
	}
	// .ui-dropdown:not(.ui-state-disabled):hover{
	// 	border-color: #dedede;
    // 	background-color: transparent;
    // 	color: $blackColor;
	// }
	// .ui-dropdown.ui-state-focus{
	// 	box-shadow: none;
	// 	color: $blackColor;
	// }


	}
