<ion-content padding class="centered-content">
	<!-- <doctor-form [doctorData]="doctorData" [address]="address" [viewFlag] = "viewFlag"></doctor-form> -->
	<ion-header>
	  	<!-- <ion-navbar>
	    	<button ion-button menuToggle>
	      		<ion-icon name="menu"></ion-icon>
	    	</button>
	    	<ion-buttons right class="header-username-container">
	    		<button ion-button class="header-username">{{userData.firstName}} {{ userData.lastName}}</button>
	    		<div class="left-border"></div>
	    	</ion-buttons>
	  	</ion-navbar> -->
	  	<header-for-role-creation-form  *ngIf = "!viewFlag && !editFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'ADD_DOCTOR_TITLE'" ></header-for-role-creation-form>
  		<header-for-role-creation-form  *ngIf = "viewFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'VIEW_PROFILE'" ></header-for-role-creation-form>
		<header-for-role-creation-form  *ngIf = "!viewFlag && editFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_PROFILE'" ></header-for-role-creation-form>
	  	<div menuClose ion-item class="common-page-title">
			<ion-title class="page-sub-title" *ngIf = "!viewFlag && !editFlag">{{ 'ADD_DOCTOR_TITLE' | translate }}</ion-title>
			<ion-title class="page-sub-title" *ngIf = "viewFlag">{{ 'VIEW_PROFILE' | translate }}</ion-title>
			<ion-title class="page-sub-title" *ngIf="!viewFlag && editFlag">{{ 'EDIT_PROFILE' | translate }}</ion-title>
			<a (click)="editProfile()" *ngIf="viewFlag" ion-button class="common-blue-btn">{{ 'EDIT_PROFILE' | translate }}</a>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content">
		<form class="common-page-container common-form" #createDoctorForm="ngForm" name="createDoctorForm" novalidate>
			<ion-grid class="formFieldsContainer ">
				<ion-row>
					<ion-col col-2 class="doctor-img max-width-110 imgProfileWrapper" >
						  <img *ngIf=" viewFlag && !(editFlag || createFlag) && doctorData.imageBase64" src="{{doctorData.imageBase64}}" />
						  <img *ngIf=" viewFlag && !(editFlag || createFlag) && !doctorData.imageBase64" src="assets/imgs/default_profile.png" />
						  <label for="image-upload-input" *ngIf="!viewFlag && (editFlag || createFlag)" [ngClass]="{'hand-pointer': editFlag || createFlag}" class="upload-img">  
						  	<div class="imgProfileWrapper">
							  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
						  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div>
							<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						</label>
					</ion-col>
					<ion-col col-8>
					</ion-col>
				</ion-row>
				<ion-row>
				 <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="username-mobile-field-wrapper">
				 <ion-row id="username-mobile-field-row">
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  					 	<ion-label floating>{{ 'FN_LABEL' | translate }}</ion-label>
	   						<ion-input name="doctorFirstName" [(ngModel)] = "doctorData.firstName" #doctorFirstName="ngModel"  autocomplete="off" autocorrect="off" required [disabled] = "viewFlag" pattern="^[a-zA-Z ]{1,50}$" maxlength="50"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="doctorFirstName.errors && (doctorFirstName.dirty || doctorFirstName.touched || formSubmitted)">
		                    <small [hidden]="!doctorFirstName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
		                    <small [hidden]="!doctorFirstName.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_DOCTOR_FIRST_NAME' | translate }}</small>	
		                </div> 
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="doctorLastName" [(ngModel)] = "doctorData.lastName" #doctorLastName = "ngModel" autocomplete="off" autocorrect="off" [disabled] = "viewFlag" pattern="^[a-zA-Z ]{1,50}$" maxlength="50"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="doctorLastName.errors && (doctorLastName.dirty || doctorLastName.touched || formSubmitted)">
		                    <small [hidden]="!doctorLastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
		                </div>
			        </ion-col> 
		        </ion-row>
				</ion-col>
	             <ion-col  col-6>
        			<ion-label floating></ion-label>
					<ion-item detail-none>
						<ion-label floating>{{ 'USERNAME_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
						<ion-input name="userName" #userName="ngModel" [(ngModel)]="doctorData.userName" [type]="inputType"  autocomplete="off"  [disabled] = "viewFlag" maxlength = "20"></ion-input>
					</ion-item>
					<div class="error-msg-block text-left" *ngIf="userName.errors && (userName.dirty || userName.touched || formSubmitted)">
						<small [hidden]="!userName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_USERNAME' | translate }}</small>		
					</div>
		        </ion-col>    
		     </ion-row>   
			     <ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
						<ion-row class="no-padding">
							<ion-col col-lg-6 col-12>
			  					<ion-item detail-none>
			  						<ion-label floating>{{ 'YEARS_OF_EXPERIENCE' | translate }}</ion-label>
			   						<ion-input name="doctorExp"  [(ngModel)]="doctorData.yearsOfExp" #doctorExp="ngModel" 
			   						 type="inputType" pattern="[0-9]{0,2}" maxLength="3" min="0" max="100" required [disabled] = "viewFlag"  ></ion-input>
			  					</ion-item>
			  					<div class="error-msg-block text-left" *ngIf="doctorExp.errors && (doctorExp.dirty || doctorExp.touched || formSubmitted)">
									<small [hidden]="!doctorExp.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_DOCTOR_EXP' | translate }}</small>	
									<small [hidden]="!doctorExp.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_EXPERIENCE' | translate }}</small>
									<!-- <small [hidden]="!doctorExp.errors.maxValue" class="text-danger">{{ 'ERROR_MSG_EXPERIENCE_LESS_THAN_100' | translate }}</small> -->

								</div>
			                </ion-col>
			                <ion-col col-lg-6 col-12 class="padding-top15">
			                	<ion-item detail-none >
			  						<ion-label floating>{{ 'CONTACT_NUMBER' | translate}}</ion-label> 
			   						<ion-input name="doctorContact" #doctorContact="ngModel" [(ngModel)] = "doctorData.contactNumber" [type]="inputType" pattern="[1-9][0-9]{9}" autocomplete="off" autocorrect="off" required [disabled] = "viewFlag" maxLength = "10"></ion-input>
			  					</ion-item>
			  					<div class="error-msg-block text-left" *ngIf="doctorContact.errors && (doctorContact.dirty || doctorContact.touched || formSubmitted)">
			  						<small [hidden]="!doctorContact.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
				                    <small [hidden]="!doctorContact.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>	
				                </div>
			                </ion-col>
		                </ion-row>
			        </ion-col> 
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
			        	<ion-item detail-none>
		                	<ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="doctorEmail" [(ngModel)] = "doctorData.email" #doctorEmail = "ngModel" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})" [type]="inputType" autocomplete="off" autocorrect="off" [disabled] = "viewFlag"></ion-input>
	  					 </ion-item>
	  					 <div class="error-msg-block text-left" *ngIf="doctorEmail.errors && (doctorEmail.dirty || doctorEmail.touched || formSubmitted)">
		                 	<small [hidden]="!doctorEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate }}</small>
		                 </div>
			        </ion-col>  
			     </ion-row>
			     <ion-row>
			     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
			     		<ion-row class="no-padding">
			     			<ion-col col-lg-6 col-12>
			  					<ion-item detail-none>
			  						<ion-label floating>{{ 'STREET' | translate }}</ion-label>
			  						<ion-input name="doctorStreet" [(ngModel)] = "address.street" #doctorStreet="ngModel"  autocomplete="off" autocorrect="off" [disabled] = "viewFlag" required ></ion-input>
			  					</ion-item>
			  					<div class="error-msg-block text-left" *ngIf="doctorStreet.errors && (doctorStreet.dirty || doctorStreet.touched || formSubmitted)">
				                    <small [hidden]="!doctorStreet.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STREET' | translate }}</small>	
				                </div>
			  				</ion-col>
			  				<ion-col col-lg-6 col-12 class="padding-top15">
			  					<ion-label [ngClass]="{'is-disabled-label': (viewFlag || address.cityId == 0)}" [style.padding-top.px]="0" class="common-form-label">{{ 'CITY_LABEL' | translate }}</ion-label>
			  					<ion-item class="common-select-dropdown">
			  						<ion-label class="select-label-hide">{{ 'SELECT_CITY_LABEL' | translate }}</ion-label>
				  					<ion-select [ngClass] = "{'selectCls': selectCity, 'unselectCls': !selectCity}" [(ngModel)]="address.cityId" name="city" #city="ngModel" (ionChange) = "cityChange()" [disabled] = "viewFlag">
									    <ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option>
									    <ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option>
				     				</ion-select>
				     			</ion-item>
				     			<div class="error-msg-block text-left" *ngIf="address.cityId == '0' && (city.dirty || city.touched || formSubmitted)">
		                    		<small class="text-danger">{{ 'Error_MSG_BLANK_CITY' | translate }}</small>	
		                 		</div>
			  				</ion-col>
			     		</ion-row>
			     	</ion-col>
			     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<ion-row class="no-padding">
		     			<ion-col col-lg-6 col-12>
			     			<ion-item detail-none>
			                	<ion-label floating>{{ 'STATE' | translate }}</ion-label>
		   						<ion-input name="state" [(ngModel)]="address.state" #state="ngModel" [type]="inputType" autocomplete="off"  [disabled] = "viewFlag" pattern="^[a-zA-Z ]+$" required></ion-input>
		  					</ion-item>
		  					<div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
			                    <small [hidden]="!state.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STATE' | translate }}</small>	
			                    <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate }}</small>
			                </div>
	  					</ion-col>
	  					<ion-col col-lg-6 col-12 class="padding-top15">
	  						<ion-item detail-none>
			                	<ion-label floating>{{ 'ZIP' | translate }}</ion-label>
		   						<ion-input name="zip" [(ngModel)]="address.zipCode" #zip="ngModel" pattern="^[0-9]{6,6}$" [type]="inputType" autocomplete="off" autocorrect="off" required [disabled] = "viewFlag"  maxlength="6"></ion-input>
		  					 </ion-item>
		  					 <div class="error-msg-block text-left" *ngIf="zip.errors && (zip.dirty || zip.touched || formSubmitted)">
			                    <small [hidden]="!zip.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ZIPCODE' | translate }}</small>	
			                 	<small [hidden]="!zip.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_ZIPCODE' | translate }}</small>
			                 </div>
	  					</ion-col>
		     		</ion-row>
			     	</ion-col>
			     </ion-row>
			     <ion-row>
			     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
			     		<ion-row class="no-padding">
			     			<ion-col col-lg-6 col-12>
			     				<ion-item detail-one>
			     					<ion-label floating>{{ 'REGISTRATION_NUMBER' | translate }}</ion-label>
	   								<ion-input name="doctorRegNumber" [(ngModel)] = "doctorData.registrationNumber" #doctorRegNumber = "ngModel" maxLength = "30"  autocomplete="off" autocorrect="off" required [disabled] = "viewFlag"></ion-input>
			     				</ion-item>
			     				<div class="error-msg-block text-left" *ngIf="doctorRegNumber.errors && (doctorRegNumber.dirty || doctorRegNumber.touched || formSubmitted)">
					                <small [hidden]="!doctorRegNumber.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_REGISTRATION_NO' | translate }}</small>
					                <!-- <small [hidden]="!doctorRegNumber.errors.pattern" class="text-danger">{{ 'ERROR_INVALID_REGISTRATION_NUMBER' | translate }}</small> -->	
					            </div>
			     			</ion-col>
			     			<ion-col col-lg-6 col-12  class="padding-top15">
			     				<ion-item detail-one>
			     					<ion-label floating>{{ 'REGISTRATION_STATE' | translate }}</ion-label>
	   								<ion-input name="doctorRegState" [(ngModel)] = "doctorData.registrationState" #doctorRegState = "ngModel" [type]="inputType" autocomplete="off" autocorrect="off" pattern="^[a-zA-Z ]+$" required [disabled] = "viewFlag"></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="doctorRegState.errors && (doctorRegState.dirty || doctorRegState.touched || formSubmitted)">
					                <small [hidden]="!doctorRegState.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_REGISTRATION_STATE' | translate }}</small>
				                   <small [hidden]="!doctorRegState.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate }}</small>
					            </div>
			     			</ion-col>
			     		</ion-row>
			     	</ion-col>
			     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
			     		<ion-label [ngClass]="{'is-disabled-label': (viewFlag || doctorData?.educationList?.length <= 0)}" [style.padding-top.px]="0" class="common-form-label">{{ 'EDUCATION' | translate }}</ion-label>
		     			<ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown">
		     				<ion-label class="select-label-hide">{{ 'EDUCATION' | translate }}</ion-label>
					        <!-- <ion-select multiple=true [ngClass] = "{'selectCls': selectEdu, 'unselectCls': !selectEdu}" [(ngModel)]="doctorData.educationList" name="doctorEdu" #doctorEduc = "ngModel" (ionChange) = "getDoctorEdu($event)" [disabled] = "viewFlag">
							    <ion-option  value="" disabled selected>{{ 'EDUCATION' | translate }}</ion-option>
							    <ion-option *ngFor = "let edu of doctorEducation" [value] = "edu.id"> {{ edu.name }} </ion-option>
			     			</ion-select> -->
			     			<select-searchable
			     			   *ngIf="doctorEducation"
						       item-content
						       [isMultiple]="true"
						        [items]="doctorEducation"
						        itemValueField="id"
						        itemTextField="name"
						        [(ngModel)]="doctorData.educationList"
						        [canSearch]="true"
						        [focusSearchbar]="false"
						        (onChange)="getDoctorEdu($event)"
						        resetButtonText="Clear selected"
								okButtonText="Ok"
						        name="doctorEdu"
						        [disabled] = "viewFlag"
						       >
						       <ng-template selectSearchableValueTemplate let-doctorEducation="value">
						        <div class="select-searchable-value-item">
						          {{formatEducation(doctorEducation)}}
						        </div>
						      </ng-template>
						  </select-searchable>
						</ion-item>
						<p-multiSelect *ngIf="commonService.checkIsWeb() && !viewFlag" defaultLabel="{{ 'EDUCATION' | translate }}" name="doctorEdu" [options]="doctorEducation" [(ngModel)]="doctorData.educationList" (onChange)="getDoctorEdu($event)" [disabled] = "viewFlag" ></p-multiSelect>
		     			<div class="error-msg-block text-left" *ngIf="!doctorData.educationList && formSubmitted">
	                    	<small class="text-danger">{{ 'ERROR_MSG_BLANK_EDUCATION' | translate }}</small>	
                 		</div>
						<div class="EducationInViewMode" *ngIf="commonService.checkIsWeb() && viewFlag && doctorData.educationList && doctorData.educationList?.length > 0">
							<p>
								<span *ngFor="let edu of doctorData.educationList; last as isLast">{{ edu.name }}
									<span *ngIf="!isLast" style="margin-right: 5px;">,</span>
								</span>
							</p>
						</div>
			     	</ion-col>
			     </ion-row> 
			     <ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
		                	<ion-label floating>{{ 'DAYS_OF_ADVANCED_BOOKING' | translate }}</ion-label>
	   						<ion-input name="advancedBooking" #advancedBooking="ngModel" [(ngModel)] = "doctorData.daysForAdvanceBooking" pattern="[0-9]{0,3}" [type]="inputType" autocomplete="off" autocorrect="off" [disabled] = "viewFlag" required maxLength = "3"></ion-input>
	  					 </ion-item>
	  					<div class="error-msg-block text-left" *ngIf="advancedBooking.errors && (advancedBooking.dirty || advancedBooking.touched || formSubmitted)">
		                    <small [hidden]="!advancedBooking.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_ADVANCED_BOOKING' | translate }}</small>	
		                	<small [hidden]="!advancedBooking.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_ADVANCED_BOOKING' | translate }}</small>
		                </div>
		                <div class="error-msg-block text-left" *ngIf="doctorData.daysForAdvanceBooking > 30">
		                	<small [hidden]="doctorData.daysForAdvanceBooking <= 30" class="text-danger">{{ 'ERROR_MSG_LESS_THAN_30_ADVANCED_BOOKING' | translate }}</small>
		                </div>
			        </ion-col> 
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
		                	<ion-label floating>{{ 'LOCAL_NAME' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="localName" #localName="ngModel" [(ngModel)]="doctorData.localName" [type]="inputType" pattern="^[a-zA-Z0-9 _@^#$%&*()-]{1,20}$" autocomplete="off" autocorrect="off" [disabled] = "viewFlag" maxlength = "20"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="localName.errors && (localName.dirty || localName.touched || formSubmitted)">
		                    <small [hidden]="!localName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_LOCAL_NAME' | translate }}</small>
		                </div>
			        </ion-col> 
				 </ion-row>
				 
				 <ion-row class="profile-info" *ngIf="!viewFlag">
						<ion-col col-12 col-sm-12 col-md-12 col-lg-12>
							  <ion-item detail-none>
								  <ion-label floating>{{ 'PROFILE_INFO_LABEL' | translate }}</ion-label>
								   <ion-textarea name="doctorData" [(ngModel)]="doctorData.profileInfo" #doctorProfileInfo="ngModel" 
								   autocomplete="off" autocorrect="off" maxlength="2048"></ion-textarea>
							  </ion-item>
						</ion-col>   
					 </ion-row>
		
					 <ion-row *ngIf="viewFlag">
						<ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="infoBlock">
							 <p><img src="assets/imgs/about_hospital_icon.svg"><span>{{ 'PROFILE_INFO_LABEL' | translate }}</span></p>
							<!-- For Web -->
							 <div *ngIf="doctorData.profileInfo && doctorData.profileInfo.length>0" class="infoContent viewinfoContent" id="about-hospital">
								{{doctorData.profileInfo}}
							</div>
							<div *ngIf="!doctorData.profileInfo || doctorData.profileInfo.length==0" class="infoContent viewinfoContent" id="about-hospital">
									{{'NO_DATA_FOUND' | translate}}
								</div>
							<!-- For Mobile -->
							 <div class="infoContent" id="mobile-about-hospital">
								<div *ngIf="doctorData.profileInfo && doctorData.profileInfo.length>0" class="about" [ngClass] = "{'about-hospital': !isViewMore}">{{doctorData.profileInfo}}</div>
								<div *ngIf="!doctorData.profileInfo || doctorData.profileInfo.length==0" class="about" [ngClass] = "{'about-hospital': !isViewMore}">{{'NO_DATA_FOUND' | translate}}</div>
								<div (click)="viewMore()" class="view-more-label" *ngIf="!isViewMore && doctorData.profileInfo && doctorData.profileInfo.length > 50">{{ 'VIEW_MORE_LABEL' | translate }}</div>
								<div (click)="viewLess()" class="view-more-label" *ngIf="isViewMore">{{ 'VIEW_LESS_LABEL' | translate }}</div>
							</div>
						</ion-col>
					</ion-row>
			     
			     <ion-row>
	     			<ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="category-col">
	     				<ion-label  [ngClass]="{'is-disabled-label': (viewFlag || category?.length <= 0)}" class="common-form-label">{{ 'CATEGORY' | translate }}</ion-label>
			        	<ion-item *ngIf="!commonService.checkIsWeb()" class="dropdown common-select-dropdown">
			        		<ion-label class="select-label-hide">{{ 'CATEGORY' | translate }}</ion-label>
					        <!-- <ion-select multiple=true [ngClass] = "{'selectCls': selectCat, 'unselectCls': !selectCat}" [(ngModel)]="category" name = "doctorCategory" #doctorCategory = "ngModel" (ionChange) = "onChangeCategory($event)" [disabled] = "viewFlag">
					        	<ion-option  value="" disabled selected>{{ 'CATEGORY' | translate }}</ion-option>
							    <ion-option *ngFor = "let category of categories" [value] = "category">{{ category.name }}</ion-option>
			     			</ion-select> -->
			     			<select-searchable
			     				*ngIf="categories"
						        item-content
						        [isMultiple]="true"
						        [items]="categories"
						        itemValueField="id"
						        itemTextField="name"
						        [(ngModel)]="category"
						        [canSearch]="true"
						        [focusSearchbar]="false"
						        (onChange)="onChangeCategory(true, $event)"
						        resetButtonText="Clear selected"
								okButtonText="Ok"
						        name="doctorCategory"
						        [disabled] = "viewFlag"
						       >
						       <ng-template selectSearchableValueTemplate let-category="value">
						        <div class="select-searchable-value-item">
						          {{formatCategory(category)}}
						        </div>
						      </ng-template>
						  </select-searchable>
						</ion-item>
						<p-multiSelect *ngIf="commonService.checkIsWeb()" defaultLabel="{{ 'CATEGORY' | translate }}" name="hospitalCategory" [options]="categories" [(ngModel)]="category" (onChange)="onChangeCategory(true)" [disabled] = "viewFlag"></p-multiSelect>
			        </ion-col>
			     </ion-row>
			     
			     <ion-row>
			     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
			     		<ion-label [ngClass]="{'is-disabled-label': (viewFlag || doctorData?.specializationList?.length <= 0)}" class="common-form-label">{{ 'SPECIALITY_LABEL' | translate }}</ion-label>
			     		<ion-item class="common-select-dropdown" *ngIf = "!commonService.checkIsWeb()">
			     			<!-- <ion-select multiple=true [ngClass] = "{'selectCls': selectSpec, 'unselectCls': !selectSpec}" [(ngModel)]="doctorData.specialization" name="specialization" #specialization = "ngModel" (ionChange) = "getSpecialization($event)" [disabled]="viewFlag">
							    <ion-option  value="" disabled selected>{{ 'SPECIALITY_LABEL' | translate }}</ion-option>
							    <ion-option *ngFor = "let spec of specializationArr" [value] = "spec"> {{ spec.name }} </ion-option>
			     			</ion-select> -->
			     			<select-searchable
			     				*ngIf="specializationArr"
						        item-content
						        [isMultiple]="true"
						        [items]="specializationArr"
						        itemValueField="id"
						        itemTextField="name"
						        [(ngModel)]="doctorData.specializationList"
						        [canSearch]="true"
						        [focusSearchbar]="false"
						        (onChange)="getSpecialization($event)"
						        resetButtonText="Clear selected"
								okButtonText="Ok"
						        name="specialization"
						        [disabled] = "viewFlag"
						       >
						       <ng-template selectSearchableValueTemplate let-doctorData.specializationList="value">
						        <div class="select-searchable-value-item">
						          {{formatSpecialization(doctorData.specializationList)}}
						        </div>
						      </ng-template>
						  </select-searchable>
			     		</ion-item>
			     		<p-multiSelect *ngIf="commonService.checkIsWeb()" defaultLabel="{{ 'SPECIALITY_LABEL' | translate }}" name="specialization" [options]="specializationArr" [(ngModel)]="doctorData.specializationList" (onChange)="getSpecialization($event)" [disabled]="viewFlag"></p-multiSelect>
			     		<div class="list-of-speciality">
                           {{ specializationString }}
                       </div>
			     	</ion-col>
			     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		 	<ion-label [ngClass]="{'is-disabled-label': (viewFlag || doctorData?.serviceList?.length <= 0)}" class="common-form-label">{{ 'SERVICES' | translate }}</ion-label>
			     		<ion-item class="common-select-dropdown" *ngIf = "!commonService.checkIsWeb()">
			     			<!-- <ion-select multiple=true [ngClass] = "{'selectCls': selectService, 'unselectCls': !selectService}"  [(ngModel)] = "doctorData.services" name="services" #services = "ngModel" (ionChange) = "getServices($event)" [disabled]="viewFlag">
			     				<ion-option  value="" disabled selected>{{ 'SERVICES_LABEL' | translate}}</ion-option>
							    <ion-option *ngFor = "let service of servicesArr" [value] = "service"> {{ service.name }} </ion-option>
			     			</ion-select> -->
			     			<select-searchable
			     				*ngIf="servicesArr"
						        item-content
						        [isMultiple]="true"
						        [items]="servicesArr"
						        itemValueField="id"
						        itemTextField="name"
						        [(ngModel)]="doctorData.serviceList"
						        [canSearch]="true"
						        [focusSearchbar]="false"
						        (onChange)="getServices($event)"
						        resetButtonText="Clear selected"
								okButtonText="Ok"
						        name="services"
						        [disabled] = "viewFlag"
						       >
						       <ng-template selectSearchableValueTemplate let-doctorData.serviceList="value">
						        <div class="select-searchable-value-item">
						          {{formatServices(doctorData.serviceList)}}
						        </div>
						      </ng-template>
						  </select-searchable>
			     		</ion-item>
			     		<p-multiSelect *ngIf="commonService.checkIsWeb()" defaultLabel="{{ 'SERVICES' | translate }}" name="services" [options]="servicesArr" [(ngModel)]="doctorData.serviceList" (onChange)="getServices($event)" [disabled]="viewFlag"></p-multiSelect>
			     		<div class="list-of-service">
                           {{ servicesString }}
                       </div>
			     	</ion-col>
			     </ion-row>
			               
				<div class="btn-container" text-right *ngIf = "!viewFlag && commonService.checkIsWeb()">
					<a href="#/system-admin-doctor-list" block ion-button class="common-blue-btn" *ngIf="!viewFlag && !editFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a (click) = "cancelEdit()" block ion-button class="common-blue-btn" *ngIf="!viewFlag && editFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a block ion-button class="common-blue-btn" (click)="createDoctor(createDoctorForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
				</div>
				
				
				<div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb() && !viewFlag && editFlag">
					<!-- <a block (click)="editProfile()" ion-button class="common-blue-btn">{{ 'EDIT_PROFILE' | translate }}</a> -->
					<a (click) = "cancelEdit()"  ion-button class="common-blue-btn" >{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a  ion-button class="common-blue-btn" (click)="createDoctor(createDoctorForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
				</div>
				<div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb() && !viewFlag && !editFlag">
					<a href="#/system-admin-doctor-list" ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a ion-button class="common-blue-btn" (click)="createDoctor(createDoctorForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
				</div>
			</ion-grid>
		</form>
	</div>
	
	<footer class="mobile-view-footer"></footer>
</ion-content>