page-system-admin-create-doctor {
	.category-col{
		padding-left:0 !important;
	}
	.imgProfileWrapper{
		img{
			border-radius: 6px;
			}
	}
	.scroll-content{
		padding: 0;
		background: rgb(246, 247, 251);	
	}
	.formFieldsContainer{
		background: white;
		.doctor-img{
			padding: 0 !important;
		}	
	}
	.doctor-input{
		input{
			margin-bottom: 0px;
		}	
	}

	.ui-multiselect .ui-multiselect-panel{
		background-color: white;
	}

	ion-select{
		max-width: 100%;
		width: 100%;	
	}
	.text-area-cls{
		border-radius: 5px;
		border: 1px solid rgb(18, 142, 232);
		height: 70px;
		padding: 10px;
	}
	.padding-top15{
		@include ipad-portrait{
			padding-top:15px !important;
		}
	}
	.no-left-padding{
		@include ipad-portrait{
			padding-top:15px !important;
		}
	}
	.itemSelect {
		    padding: 0;
// 		    border-color: #cecece;
		    overflow: hidden;
		    margin-left: 10px;
		    /* For I.E */
		    select::-ms-expand {
    			display: none;
			}
		    /* -------- */
		    select {
		    	max-width: 100%;
			    width: 100%;
			    direction: ltr;
			    padding: 20px 0px 0px 6px;
			    border-color: transparent;
			    -moz-appearance:none; /* Firefox */
    			-webkit-appearance:none; /* Safari and Chrome */
    			appearance:none;
    			@include backgroundImage('../../assets/imgs/dropdown01.png', 95% 85%, auto);
    			border: none;
    			border-bottom: 1px solid rgb(213, 217, 228);
    			color: rgb(173, 174, 176);
		    }
		    .selectStatusLabel{
		    	z-index: 1;
			    right: 16px;
			    position: absolute;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
	    		border-top: 9px solid #953337;
			    border-left: 9px solid transparent;
			    border-right: 9px solid transparent;
		    	
		    }
		    &:after {
		    	display: none;
		    }
		}

		.formFieldsContainer ion-row ion-col:last-child
		{
			padding:0 !important;
		}

		.profile-info{
			ion-col{
				padding-left:0px !important;
			}
			
			ion-item{
				.item-inner{
					border-bottom:0px !important;
					box-shadow:unset !important;
					padding:0px !important;
				}
				ion-label{
					padding-left:15px !important;
					margin-bottom: 5px;
				}
				ion-textarea{
					border-radius: 6px;
					border: 1px solid #2090e5;
					padding:10px 0px 10px 15px;
					textarea{
						margin: 0px !important;
						resize: none;
						height: 49px;
					}
				}
			}
			.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) ion-input {
				border:1px solid red;
			}
			.item.item-input.input-has-focus.item-input-has-focus ion-label,
			.item.item-input.input-has-value.item-input-has-value ion-label{
				padding-left:17px !important;
			}
		}
	
		
	
		.infoBlock{
			> p{
				@include screenMax767{
					padding-left:20px !important;
				}
			}
			#about-hospital{
				display:block;
				@include screenMax576{
					display:none;
				}
			}
			.view-more-label{
				color: $timeLinkBlueColor;
				font-size: 1.5rem;
				cursor: pointer;
				width: 100%;
				text-align: right;
			}
			.about{
				text-align: left !important;
				margin-bottom:10px;
			}
			.about-hospital{
				height:38px;
				overflow: hidden;
			}
			#mobile-about-hospital{
				display:none;
				@include screenMax576{
					display:block;
				}
			}
			p{
				margin:0px;
				display:flex;
				align-items:center;
				color: $blockHeadingColor;
				font-size:1.7rem;
				span{
					padding-left:10px;
				}
			}
			.infoContent{
				background-color:$whiteColor;
				margin-top:12px;
				padding:10px 20px;
				color: $listItemContentColor;
				font-size:1.5rem;
				border:1px solid $borderColor;
				
				@include screenMax576{
					margin-top:5px;
				}
				p{
					margin-bottom:10px;
					color: $listItemContentColor;
					font-size:1.5rem;
					&:last-child{
						margin:0px;
					}
				}
			}
	
			&:first-child{
				.infoContent{
					padding-left:20px;
				}
			}
	
			.sp-cls{
				margin-bottom: 0px;
				padding: 5px 0 5px 0px;
			}
			.odd{
				//border-left: 1px solid rgb(213, 213, 213);
				padding-left: 20px;
				margin-top: 0px !important;
				text-overflow: ellipsis;
				 overflow: hidden;
				 white-space: nowrap;
				 display: block;
				@include screenMax576{
					padding-left: 20px;
					border-left-width: 0;
				}
			}
			.even{
				   border-right: 1px solid rgb(213, 213, 213);
				   text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				padding-right: 20px;
				display: block;
			   @include screenMax576{
				   border-right-width: 1px;
			   }
		   }
	
		   
		}
}
