page-doctor-role-appointments-history {
	.scroll-content{
		//padding: 0;
		//padding-top:160px !important;
		background: rgb(246, 247, 251);	
	}

		
	ion-header.header .search-container ion-row ion-col:first-child > div {
   		 margin-right: 0px;
	}
	
		ion-header.header .search-container ion-row{
		 @include screenMax576{
				    padding-left: 15px;
			}
	}

	.centered-content .main-content {
    	padding-top:10px;
    		 @include screenMax576{
				padding-top:0px;
			}
    	.dateTitle{
    		padding-left:15px;
    		font-size: 18px;
    		 @include screenMax576{
				font-size: 15px;
			}
    	}
    	p{
    		margin-bottom:5px;
    	}
	}
	

// 	.ToText{
//     		//margin-left: 10px;
//     		margin: 0 10px;
//     		 @include screenMax576{
// 				margin: 0 5px;
// 			}
//     }
   
		ion-header.header{
		.search-container.app-hostory-search{
			padding-bottom: 0px;
			.city-dropdown-item{
				-webkit-box-shadow:none !important;
			}
				.calendar-container{
				padding:10px;
				
				@include screenMax576{
					padding:10px 15px;
					border-bottom: 1px solid #2090e4;
				}
				
				@include screenMobileMax576{
					padding:10px 16px 10px 10px;
				}
			}
			
			.calendarCls{
				padding:0px; //affects in DR upcoming appointment
			}
			
			ion-col{
				padding: 0px;
				
				&:last-child.goBtn{
					margin:0px;
					a{
						margin:auto 0 auto auto;
						
						@include screenMin576{
							margin:unset;
						}
					}
					
					@include screenMin576{
						padding-left:20px;
					}
				}
				
				p.ToText{
					text-align:center;
				}
			}
		}
			ion-title{
			 @include screenMax576{
				    display: inline-block;
    				margin-top: 6px;
    		}
		}
	  .filter-img{
		 @include screenMax576{
		    	float: right;
    			padding-right: 5px;
    		}
		}
	}
	
	.goBtn{
			display:flex;
			align-items:center;
			justify-content:end;
			margin-left: 20px;
			 @include screenMax576{
			 	margin-left: 10px;		
			}
			
			a{
				margin:unset;
				min-width:65px;
				border: 1px solid $blueBtnColor;
				background-color: transparent;
				color: $blueBtnColor;
				 @include screenMax576{
			 		min-width:55px;
				}
				@include screenMobileMax576{
					min-width:65px;
				}
			}
			img{
				margin-left:10px;
			}
			@include screen360{
			    min-width: 60px;
		}
		
	}  

	.goBtn a:hover:not(.disable-hover){
		    color: $whiteColor;
			background-color: $headerBgColor;
	}

// 	.calendarCls .ui-inputtext{
// 	    border-radius: 5px;
// 	    background-color: #f5fafe;
// 	    border: 1px solid #cbd2d8;
// 	    min-height: 35px;
// 	    height: 35px;
// 	    max-height: 35px;
// 	    -webkit-box-shadow: inset 1px 1px 3px #cbd2d8;
// 	    width: 100%;
// 	    padding: 0px 15px;
// 	    cursor:pointer;
// 		  background: url('../assets/imgs/contract_calander_icon.png') no-repeat scroll 7px 7px;
// 	      background-position: right 8px bottom 5px;
//   		  background-repeat: no-repeat;
//           background-size: initial;
// 	}
// 	
// 	.is-error .calendarCls .ui-inputtext {
// 			border:1px solid red;
// 	}
	
	.ui-calendar .ui-datepicker{
	    margin-top: 0px;
	}
	.formFieldsContainer{
		background: white;
		.doctor-img{
			padding: 0 !important;
		}	
	}
	.doctor-input{
		input{
			margin-bottom: 0px;
		}	
	}
	ion-select{
		max-width: 100%;
		width: 100%;	
	}
	.text-area-cls{
		border-radius: 5px;
		border: 1px solid rgb(18, 142, 232);
		height: 70px;
		padding: 10px;
	}
	.itemSelect {
		    padding: 0;
// 		    border-color: #cecece;
		    overflow: hidden;
		    margin-left: 10px;
		    /* For I.E */
		    select::-ms-expand {
    			display: none;
			}
		    /* -------- */
		    select {
		    	max-width: 100%;
			    width: 100%;
			    direction: ltr;
			    padding: 20px 0px 0px 6px;
			    border-color: transparent;
			    -moz-appearance:none; /* Firefox */
    			-webkit-appearance:none; /* Safari and Chrome */
    			appearance:none;
    			@include backgroundImage('../../assets/imgs/dropdown01.png', 95% 85%, auto);
    			border: none;
    			border-bottom: 1px solid rgb(213, 217, 228);
    			color: rgb(173, 174, 176);
		    }
		    .selectStatusLabel{
		    	z-index: 1;
			    right: 16px;
			    position: absolute;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
	    		border-top: 9px solid #953337;
			    border-left: 9px solid transparent;
			    border-right: 9px solid transparent;
		    	
		    }
		    &:after {
		    	display: none;
		    }
		}
}
