	<ion-header *ngIf="!commonService.checkIsWeb()">
		<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'APPOINTMENTS_HISTORY'"  [showBackButton]="false"></header-for-role-creation-form>
		
		<ion-grid class="search-container app-hostory-search" [ngClass]="{'mobile-search-container': !commonService.checkIsWeb()}">
			<ion-row class="calendar-container">
				<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-error': goBtnClicked && !startValueStr}">
					<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="startValueStr" [maxDate]="todayDate" dateFormat="dd/mm/yy" *ngIf="commonService.checkIsWeb()">
					<img src="assets/imgs/contract_calander_icon.png"/></p-calendar>
					<ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="startValueStr" *ngIf="!commonService.checkIsWeb()"  [max]="today"></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
			<!-- 	<div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMSG}}</div> -->
				</ion-col>
				<ion-col col-1><p class="ToText">{{ 'TO' | translate }}</p></ion-col>
				<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-errorEndDate': goBtnClicked && !endValueStr}">
					<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="endValueStr"  [maxDate]="startValueStr" dateFormat="dd/mm/yy" [disabled] = "startValueStr?false:true" *ngIf="commonService.checkIsWeb()"></p-calendar>
					<ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="endValueStr" [disabled] = "startValueStr?false:true" *ngIf="!commonService.checkIsWeb()" [max]="today"  ></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
				<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMsgEndDate}}</div> -->
				</ion-col>
				<ion-col col-3 col-sm-2 col-md-3 col-lg-3 class="goBtn">
					<a ion-button class="common-blue-btn " (click)="applyDateFilter()">{{ 'GO' | translate }}</a>
					<!-- <img *ngIf="commonService.checkIsWeb()" src="assets/imgs/fillter02.png" class="filter-img" (click)="comingSoonPopup()"/> -->
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-header>
	
<ion-content padding class="hospital-list-content centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'APPOINTMENTS_HISTORY'"  [showBackButton]="false"></header-for-role-creation-form>
		 <div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'APPOINTMENTS_HISTORY' | translate }}</ion-title>
			<!-- <a href="#/booking-step1/{{this.doctorId}}/doctorRoleAppointmentHistory/0" ion-button class="common-blue-btn">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a> -->
			<a (click)="onClickBookAppointment('doctorRoleAppointmentHistory','bookStep1',0,this.doctorId)" href="{{bookingUrl}}" ion-button class="common-blue-btn">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>

		</div>
		
		
		<ion-grid class="search-container app-hostory-search" [ngClass]="{'mobile-search-container': !commonService.checkIsWeb()}">
			<ion-row class="calendar-container">
				<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-error': goBtnClicked && !startValueStr}">
					<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="startValueStr" [maxDate]="todayDate"  dateFormat="dd/mm/yy" *ngIf="commonService.checkIsWeb()">
					<img src="assets/imgs/contract_calander_icon.png"/></p-calendar>
					<ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="endValueStr" [disabled] = "startValueStr?false:true" *ngIf="!commonService.checkIsWeb()" [max]="2020" [min]="startValueStr" ></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
			<!-- 	<div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMSG}}</div> -->
				</ion-col>
				<ion-col col-1><p class="ToText">{{ 'TO' | translate }}</p></ion-col>
				<ion-col col-4 col-sm-4 col-md-3 col-lg-2>
				<div [ngClass]="{'is-errorEndDate': goBtnClicked && !endValueStr}">
					<p-calendar  placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item" [(ngModel)]="endValueStr" [maxDate]="todayDate" dateFormat="dd/mm/yy" [disabled] = "startValueStr?false:true" *ngIf="commonService.checkIsWeb()"></p-calendar>
					<ion-datetime class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="endValueStr" [disabled] = "startValueStr?false:true" *ngIf="!commonService.checkIsWeb()" [max]="2020" [min]="startValueStr" ></ion-datetime> <!-- *ngIf="!commonService.checkIsWeb()" -->
				</div>
				<!-- <div class="errorMsg text-danger" *ngIf="goBtnClicked">{{errorMsgEndDate}}</div> -->
				</ion-col>
				<ion-col col-3 col-sm-2 col-md-3 col-lg-3 class="goBtn">
					<a ion-button class="common-blue-btn " (click)="applyDateFilter()">{{ 'GO' | translate }}</a>
					<!-- <img *ngIf="commonService.checkIsWeb()" src="assets/imgs/fillter02.png" class="filter-img" (click)="comingSoonPopup()"/> -->
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-header>
	<div class="main-content" *ngFor="let item of appointmentList | groupByDatePipe">
		<p class="dateTitle" *ngIf="item.date != (today*1000)">{{ item.date | date:'dd/MM/yyyy' }}</p>
		<p class="dateTitle" *ngIf="item.date == (today*1000)">{{ 'TODAY_TEXT' | translate }}</p>
		<upcoming-appointments-component [appointmentList]="item.details" [fromDoctorAppointmentHistory]="true" [fromDoctorUpcomingAppointment]="false"></upcoming-appointments-component>
  	<!-- 	<div *ngIf="hospitals && (!hospitals.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
 		<div class="load-more-container" text-center *ngIf="!loadFinished && hospitals && (hospitals.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div> -->
	</div>
	<!-- <div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb()">
		<a block ion-button class="common-blue-btn" (click)="comingSoonPopup()">{{ 'BOOK_AN_APPOINTMENT' | translate }}</a>
	</div> -->
		<div *ngIf="appointmentList && (appointmentList.length == 0) || !appointmentList" class="no-data-found app-no-datafound-cls" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
  		<div class="load-more-container" text-center *ngIf="!loadFinished && appointmentList && (appointmentList.length > 0)">
	 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div> 
	<footer class="mobile-view-footer"></footer>
</ion-content>