page-system-admin-doctor-list {
	.ion-header.header .search-container ion-row ion-col{
		@media (max-width: 767px){
		    margin-right: 4px !important;
		}
	}
  	.search-result-container{
		z-index: 9999;
		max-width: 366px;
		left: 164px;
	@include screenMax576{
			//width: 100%;
	       	left: 41%;
			top: 190px;
		    transform: translate(-50%);
	    }
	}
}
