<ion-header>
		<!-- 		<ion-navbar>
					<button ion-button menuToggle>
						  <ion-icon name="menu"></ion-icon>
					</button>
					<ion-buttons right class="header-username-container">
						   <button ion-button class="header-username">{{ userData.firstName }} {{ userData.lastName }}</button>
						<div class="left-border"></div>
					</ion-buttons>
				  </ion-navbar>-->
				<!-- <header class="common-header-component" [linkLabel]="'ADD_DOCTOR_TITLE'" [link]="'#/system-admin-create-doctor/create/0'" [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="true" [pageTitle]="'MANAGE_DOCTORS_TITLE'"></header> -->
				<header-for-role-creation-form class="common-header-component" [linkLabel]="'ADD_DOCTOR_TITLE'" [link]="'#/system-admin-create-doctor/create/0'" [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="true" [pageTitle]="'MANAGE_DOCTORS_TITLE'"></header-for-role-creation-form>
				  <div menuClose ion-item class="common-page-title">
					<ion-title class="page-sub-title">{{ 'MANAGE_DOCTORS_TITLE' | translate }}</ion-title>
					<a *ngIf="!commonService.checkIsWeb()" (click)="gotoCreateDoctor()" ion-button class="common-blue-btn">{{ 'ADD_DOCTOR_TITLE' | translate }}</a>
					<a *ngIf="commonService.checkIsWeb()" href="#/system-admin-create-doctor/create/0" ion-button class="common-blue-btn">{{ 'ADD_DOCTOR_TITLE' | translate }}</a>
				</div> 
				<ion-grid class="search-container">
				  <ion-row>
					<ion-col col-12 col-sm-2 col-md-2 col-lg-2>
					  <div  class="city-ion-dropdown-custom">
						<!-- <ion-item class="common-select-dropdown city-dropdown-item">
						 <ion-label>{{ 'SELECT_CITY' | translate }}</ion-label>
							<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
								<ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
							  </ion-select>
						  </ion-item> -->
		
						  <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
							<ionic-selectable 
								item-content  
								*ngIf="cities"        
								addButtonText="dddd"       
								[(ngModel)]="city"
								[items]="cities"
								[canSearch]="true"
								[focusSearchbar]="false"
								itemValueField="id"
								itemTextField="name"
								(onChange)="onCityChangeMobile($event)"
								name="city"
								okButtonText="Ok">
		
								<!-- <ionic-selectable>
									<ng-template ionicSelectableItemTemplate let-cityId="item">
											{{cityId.name}}
									</ng-template>
								</ionic-selectable> -->
								
							</ionic-selectable>
				
						  </ion-item>
						  
						  <!-- <select *ngIf="commonService.checkIsWeb()" [(ngModel)]="cityId" name="city" class="multi-select city-dropdown-item apperance-none" (change)="onCityChange(cityId)">
							<option selected disabled> {{ 'SELECT_CITY' | translate}} </option>
							<option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }}
							</option>
		
						</select> -->
						<p-dropdown  *ngIf="commonService.checkIsWeb()" [options]="cities" [(ngModel)]="city" optionLabel="name" [filter]="true"  (onChange)="onCityChange(city.id)" ></p-dropdown>
		
		
					  </div>
					</ion-col>
					<ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="search-textBox">
						<input [(ngModel)]="searchText" (ngModelChange)="onChangeSearchText()" type="text" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}">
					<!-- 	<div *ngIf="showSearchResultContainer"  (click)="hideSearchContainer($event)">
							<search-result-component [from]="fromString"></search-result-component>
						</div> -->
					</ion-col>
					<ion-col col-2 col-sm-2 col-md-2 col-lg-2 ><img src="assets/imgs/fillter02.svg" (click)="getFilters()" class="filter-img"/></ion-col>
				  </ion-row>
				</ion-grid>
			</ion-header>
<ion-content padding class="centered-content">
	
	
	<div class="main-content">
		<doctor-list-component [doctorList]="listOfDoctors" [isPatientDoctorList]="false" [isAssociateDoctorlist]="false" [isSADoctorlist]="true" [hospitalId]=""></doctor-list-component>
		<div *ngIf="listOfDoctors && (!listOfDoctors.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' |  translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && listOfDoctors && (listOfDoctors.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div>
	</div>
	
	<footer class="mobile-view-footer"></footer>
</ion-content>
<div *ngIf="showSearchResultContainer"  (click)="hideSearchContainer($event)">
			<search-result-component [from]="fromString"></search-result-component>
</div>


