// http://ionicframework.com/docs/theming/
@import "../theme/common";
@import "~bootstrap/dist/css/bootstrap.css";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.web-view{
	ion-header.header{
		display: none;
	}
	.ion-page{
		ion-content.content{
			.scroll-content{
				margin-top: 56px;
			}
		}
	}
}

.web-menu{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	min-height: 56px;
	background-color: $primaryColor;
	ul.menu-container{
		padding: 0;
	    margin: 0;
	    position: absolute;
	    right: 10px;
	    top: 50%;
	    transform: translateY(-50%);
	    li.menu-item{
	    	list-style: none;
		    display: inline-block;
		    padding-right: 10px;
		    padding: 10px 20px;
		    margin-right: 10px;
		    color: $whiteColor;
	        cursor: pointer;
	    }
	    li.menu-item.selected-menu-item, li.menu-item:hover{
	    	background-color: $secondaryColor;
	    	border-radius: 5px;
	    }
	}
}

.logoutOption{
	cursor: pointer;	
}