<!-- <ion-header *ngIf="commonService.checkIsWeb()">
	<header-for-role-creation-form [showButton]="false" [pageTitle]="'DASHBOARD_TITLE'"></header-for-role-creation-form>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{ 'DASHBOARD_TITLE' | translate }}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header> -->
<ion-split-pane>
	<ion-menu [content]="content" [style.minWidth.px]="menuWidth" [style.maxWidth.px]="menuWidth"[style.width.px]="menuWidth">
		<ion-header>
	    	<ion-toolbar>
	      		<ion-title>Menu</ion-title>
	      		<img class="header-logo" src="assets/imgs/logo.png" />
	    	</ion-toolbar>
	  	</ion-header>
	
	  	<ion-content>
	  		<div class="menu-parent-container" [style.marginLeft.px]="halfOfWidthDifference">
	  			<ion-list>
	  				<div *ngFor="let p of pages">
			      		<a detail-none menuClose ion-item *ngIf = "p.title != 'Logout'"  (click)="openPage(p)" class="menu-icon" href="{{p.componentLink}}" [ngClass]="p.menuItemClassName" [class.active]="p.selected">
			        		<ion-icon class="icon-class"></ion-icon>
			        		<span>{{p.title}}</span>
			      		</a>
			      		<a detail-none menuClose ion-item *ngIf = "p.title == 'Logout'"  (click)="openPage(p)" class="menu-icon logoutOption" [ngClass]="p.menuItemClassName" [class.active]="p.selected">
			        		<ion-icon class="icon-class"></ion-icon>
			        		<span>{{p.title}}</span>
			      		</a>
		      		</div>
		    	</ion-list>
	  		</div>
	  	</ion-content>
	</ion-menu>
	
	<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
	<ion-nav [root]="rootPage" main #content swipeBackEnabled="false" [ngClass]="browserName"></ion-nav> <!--  [ngClass]="{'mobile-view': showSideMenu, 'web-view': !showSideMenu}" -->
	<div class="session-resume-alert" *ngIf="commonService.sessionResumeAlertFlag">
		<div class="session-resume-content" text-center>
			<p class="session-resume-msg">{{ 'SESSION_RESUME_MSG' | translate }} {{commonService.sessionTimeoutCounter}}</p>
			<button ion-button color="secondary" (click)="commonService.resetTheSessionTimer()">Resume</button>
		</div>
	</div>
</ion-split-pane>
<footer class="desktop-view-footer"></footer>