page-hospital-admin-view-contract {
	.scroll-content{
		@include screenMax767{
			padding-left:0px !important;
			padding-right:0px !important;
		}
	}
	.view-contract-main-container[padding]{
		.scroll-content{
			padding-bottom: 0;
			.contract-view-container{
				.contract-profile-img-container{
					padding: 0;
					padding-right: 5px;
				}
				.time-list-container{
					padding: 0;
					//padding-left: 5px;
				}
			}
		}
	}
}
