	<ion-header *ngIf="!commonService.checkIsWeb()">
    	<header-for-role-creation-form  *ngIf="!editFlag && !createFlag && fromPage != 'DoctorAssociatedHospital'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CONTRACT_DETAILS_TITLE'" [backBtnLink]="'#/hospital-admin-associated-doctor-list'" [showBackButton]="true" [isFromHospitalProfile]="true" [isSamePage]="false" [isBookingConfirmed]="false"></header-for-role-creation-form>
    	<header-for-role-creation-form  *ngIf="editFlag && !createFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_CONTRACT_LABEL'" [backBtnLink]="'#/hospital-admin-associated-doctor-list'"   [showBackButton]="true" [isFromHospitalProfile]="true" [isSamePage]="false" [isBookingConfirmed]="false"></header-for-role-creation-form>
    	<header-for-role-creation-form  *ngIf="!editFlag && createFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CREATE_CONTRACT_LABEL'" [backBtnLink]="'#/hospital-admin-associated-doctor-list'"  [showBackButton]="true" [isFromHospitalProfile]="true" [isSamePage]="false" [isBookingConfirmed]="false"></header-for-role-creation-form>
		<header-for-role-creation-form  *ngIf="!editFlag && !createFlag && fromPage == 'DoctorAssociatedHospital'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CONTRACT_DETAILS_TITLE'" [backBtnLink]="'#/doctor-associate-hospitals'" [showBackButton]="true" [isFromHospitalProfile]="true" [isSamePage]="false" [isBookingConfirmed]="false"></header-for-role-creation-form>
	</ion-header>

<ion-content padding class="centered-content view-contract-main-container" [ngClass]="{'has-mobile-btn-footer': !commonService.checkIsWeb()}">
	<ion-header *ngIf="commonService.checkIsWeb()">
    	<header-for-role-creation-form  *ngIf="!editFlag && !createFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CONTRACT_DETAILS_TITLE'" [backBtnLink]="'#/hospital-admin-associated-doctor-list'" [showBackButton]="true"></header-for-role-creation-form>
    	<header-for-role-creation-form  *ngIf="editFlag && !createFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_CONTRACT_LABEL'" [backBtnLink]="'#/hospital-admin-associated-doctor-list'"   [showBackButton]="true"></header-for-role-creation-form>
    	<header-for-role-creation-form  *ngIf="!editFlag && createFlag" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CREATE_CONTRACT_LABEL'" [backBtnLink]="'#/hospital-admin-associated-doctor-list'"  [showBackButton]="true"></header-for-role-creation-form>
	
	  	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title" *ngIf="!editFlag && !createFlag">{{ 'CONTRACT_DETAILS_TITLE' | translate }}</ion-title>
    		<ion-title class="page-sub-title" *ngIf="editFlag && !createFlag">{{ 'EDIT_CONTRACT_LABEL' | translate }}</ion-title>
    		<ion-title class="page-sub-title" *ngIf="!editFlag && createFlag">{{ 'CREATE_CONTRACT_LABEL' | translate }}</ion-title>
			<a (click)="editContract()" ion-button class="common-blue-btn" *ngIf = "!editFlag && !createFlag">{{ 'EDIT_CONTRACT_LABEL' | translate }}</a>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content" style="height: 100%">
		<view-contract-component [editFlag] = "editFlag" [createFlag] = "createFlag" [viewFlag] = "viewFlag" [fromPage] = "fromPage" [isCreateContract] = "isCreateContract"></view-contract-component>
	</div>

	<footer class="mobile-view-footer"></footer>

</ion-content>

<div ion-item class="footer-mobile-btn-container two-buttons" *ngIf="!commonService.checkIsWeb() && (createFlag || editFlag)">
	<a href="#/hospital-admin-doctor-list" ion-button class="common-blue-btn" *ngIf="createFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
	<a (click)="cancelEdit()" ion-button class="common-blue-btn" *ngIf="editFlag">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
	<a (click)="createContract()" ion-button class="common-blue-btn" *ngIf="editFlag || createFlag">{{ 'OK_BUTTON_LABLE' | translate }}</a>
</div>
<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb() && !editFlag && !createFlag">
	<a block ion-button (click)="editContract()"  class="common-blue-btn">{{ 'EDIT_CONTRACT_LABEL' | translate }}</a>
</div>