system-admin-list-component {
	.sys-admin-list-view{
		@extend .list-view;
		.profile-img{
				@include screenMax576{
					    padding: 15px 5px 15px 15px !important;
				}
			}
		.list-content{
			
			.admin-list{
				li{
					margin-bottom: 12px !important;
					//css for mobile
					@include screenMax576{
						margin-bottom: 7px !important;
					}
					p{
						margin:0px !important;
					}
					span{
						color:$listItemContentColor;
					}
				}
			}
		}
	}
	  .name-container{
			@include screenMax576{
				font-size: 1.7rem !important;
				
			}
		}
		
	.sys-admin-list-view .list-container > ion-col.list-content{
		@include screen991{
			padding-left:20px;
		}
	}

	.btn-wrapper-width .common-blue-btn
	{
		width:130px;
	}

	@media (min-width:240px) and (max-width:768px)
	{
		.btn-wrapper-width .common-blue-btn{width:auto;}
	}
}