<ion-list class="sys-admin-list-view">
	<ion-row *ngFor="let systemAdmin of systemAdmins;let i = index" class="list-container" align-items-center>
			<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="profile-img">
  					<a class="profile-img-responsive with-border" [style.backgroundImage]="'url('+systemAdmin.imageBase64+')'" href="#/system-admin-create-system-admin/view/{{systemAdmin?.userId}}" *ngIf="from == 'systemAdmin' && systemAdmin.imageBase64">
						  <!-- <img *ngIf="systemAdmin.imageBase64" src="{{systemAdmin.imageBase64}}" />
						  <img *ngIf="!systemAdmin.imageBase64" src="assets/imgs/default_profile.png" /> -->
  					</a>
  					<a class="profile-img-responsive with-border" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" href="#/system-admin-create-system-admin/view/{{systemAdmin?.userId}}" *ngIf="from == 'systemAdmin' && !systemAdmin.imageBase64"></a>
  					
  					<a class="profile-img-responsive with-border" [style.backgroundImage]="'url('+systemAdmin.imageBase64+')'" href="#/hospital-admin-create-admin/view/{{systemAdmin?.userId}}" *ngIf="from == 'hospitalAdmin' && systemAdmin.imageBase64">
				  		<!-- <img *ngIf="systemAdmin.imageBase64" src="{{systemAdmin.imageBase64}}" />
					  	<img *ngIf="!systemAdmin.imageBase64" src="assets/imgs/default_profile.png" /> -->
				  	</a>
				  	<a class="profile-img-responsive with-border" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" href="#/hospital-admin-create-admin/view/{{systemAdmin?.userId}}" *ngIf="from == 'hospitalAdmin' && !systemAdmin.imageBase64"></a>
					  
				  	<a class="profile-img-responsive with-border" [style.backgroundImage]="'url('+systemAdmin.imageBase64+')'" *ngIf="fromDoctorRoleAssociatedHospitalDetails && systemAdmin.imageBase64">
				  		<!-- <img *ngIf="systemAdmin.imageBase64" src="{{systemAdmin.imageBase64}}" />
					  	<img *ngIf="!systemAdmin.imageBase64" src="assets/imgs/default_profile.png" /> -->
  					</a>
  					<a class="profile-img-responsive with-border" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" *ngIf="fromDoctorRoleAssociatedHospitalDetails && !systemAdmin.imageBase64"></a>
					  <!-- class="profile-img-responsive" [style.backgroundImage]="'url(../assets/imgs/hospital_default_image.png)'"  -->
					  
					<a class="profile-img-responsive with-border" [style.backgroundImage]="'url('+systemAdmin.imageBase64+')'" *ngIf="from == 'hospitalAdminStaffList' && systemAdmin.imageBase64"></a>
					<a class="profile-img-responsive with-border" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'"  *ngIf="from == 'hospitalAdminStaffList' && !systemAdmin.imageBase64"></a>
					
			 </ion-col>
		<ion-col col-9 col-xs-12 col-sm-10 col-md-9 col-lg-10 class="list-content" *ngIf="from == 'systemAdmin'">
		<ul class="admin-list">
			<li>
				<p class="name-container" style="display: inline-block;">
					<a href="#/system-admin-create-system-admin/view/{{systemAdmin?.userId}}" *ngIf="from == 'systemAdmin'">
						{{systemAdmin?.firstName}} {{systemAdmin?.lastName}}
					</a>
					
					<a *ngIf="fromDoctorRoleAssociatedHospitalDetails">
						{{systemAdmin?.firstName}}{{systemAdmin?.lastName}}
					</a>
				</p>
			</li>
			<li>
				<span>{{ 'MOBILE_LABEL' | translate }}</span><span>&nbsp;- {{systemAdmin?.contactNumber}}</span>
			</li>
			<li *ngIf="systemAdmin?.email"> 
				 <span>{{ 'EMAIL_LABEL' | translate }}</span><span>&nbsp;- {{systemAdmin?.email}}</span>
			</li>
		</ul>
		</ion-col>

		<ion-col col-9 col-xs-12 col-sm-10 col-md-9 col-lg-6 class="list-content" *ngIf="from == 'hospitalAdmin'">
				<ul class="admin-list">
					<li>
						<p class="name-container" style="display: inline-block;">
							
							<a href="#/hospital-admin-create-admin/view/{{systemAdmin?.userId}}" >
								{{systemAdmin?.firstName}} {{systemAdmin?.lastName}}
							</a>
							<a *ngIf="fromDoctorRoleAssociatedHospitalDetails">
								{{systemAdmin?.firstName}}{{systemAdmin?.lastName}}
							</a>
						</p>
					</li>
					<li>
						<span>{{ 'MOBILE_LABEL' | translate }}</span><span>&nbsp;- {{systemAdmin?.contactNumber}}</span>
					</li>
					<li *ngIf="systemAdmin?.email"> 
						 <span>{{ 'EMAIL_LABEL' | translate }}</span><span>&nbsp;- {{systemAdmin?.email}}</span>
					</li>
				</ul>
			</ion-col>

			<ion-col col-9 col-xs-12 col-sm-10 col-md-4 col-lg-4 class="list-content" *ngIf="from == 'hospitalAdminStaffList'">
				<ul class="admin-list">
					<li>
						<p class="name-container" style="display: inline-block;">
							
							<a >
								{{systemAdmin?.firstName}} {{systemAdmin?.lastName}}
							</a>
							
						</p>
					</li>
					<li>
						<span>{{ 'MOBILE_LABEL' | translate }}</span><span>&nbsp;- {{systemAdmin?.contactNumber}}</span>
					</li>
					<li *ngIf="systemAdmin?.email"> 
						 <span>{{ 'EMAIL_LABEL' | translate }}</span><span>&nbsp;- {{systemAdmin?.email}}</span>
					</li>
				</ul>
			</ion-col>
			<ion-col col-12 col-sm-4 col-md-4 col-lg-4 class="holiday-btn-container" *ngIf="from == 'hospitalAdmin'">
					<div class="btn-wrapper pull-right">
						<a href="#/hospital-admin-holiday-calendar/create/{{systemAdmin?.userId}}/HAHolidayCalendar" ion-button class="common-blue-btn">
					   {{ 'HOLIDAY_CALENDAR_TITLE' | translate }}
					 </a>
				 </div>
			</ion-col>

			<ion-col col-12 col-sm-12 col-md-12 col-lg-6 class="holiday-btn-container" *ngIf="from == 'hospitalAdminStaffList'">
				<div class="btn-wrapper btn-wrapper-width pull-right">
					<a (click)="activateDeactivateStaff(systemAdmin)" *ngIf="systemAdmin.blockStatus == 'UNBLOCK'" ion-button class="common-blue-btn">
						{{ 'DEACTIVATE_BTN' | translate }}
					</a>
					<a (click)="activateDeactivateStaff(systemAdmin)" *ngIf="systemAdmin.blockStatus == 'BLOCK'" ion-button class="common-blue-btn">
						{{ 'ACTIVATE_BTN' | translate }}
					</a>
					<a (click)="onClickEdit(systemAdmin)" ion-button class="common-blue-btn">
						{{ 'EDIT_BTN_LABEL' | translate }}
					</a>
					<a (click)="onClickHolidayCalendar(systemAdmin)"  ion-button class="common-blue-btn">
						{{ 'HOLIDAY_CALENDAR_TITLE' | translate }}
					</a>
			 	</div>
			</ion-col>
			
	</ion-row>
</ion-list>