<ion-header *ngIf="!commonService.checkIsWeb()">
	<!-- <header-for-role-creation-form *ngIf="doctorData && doctorData?.firstName && doctorData?.imageBase64 && fromPage == 'DRHolidayCalendar'"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"
	 [showDrImg]="true" [drImgPath]="doctorData.imageBase64"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="doctorData && !doctorData?.imageBase64 && fromPage == 'DRHolidayCalendar'"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"
	 [showDrImg]="true" [drImgPath]="'assets/imgs/default_profile.png'"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="doctorData && !doctorData?.firstName && doctorData?.imageBase64 && fromPage == 'DRHolidayCalendar'"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"
	 [showDrImg]="false"></header-for-role-creation-form>


	<header-for-role-creation-form *ngIf="doctorData && doctorData?.firstName && doctorData?.imageBase64 && fromPage && fromPage == 'HADoctorHolidayCalendar'"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true"
	 [showHomeIcon]="true" [homeLink]="homePageUrl" [showDrImg]="true" [drImgPath]="doctorData.imageBase64"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="doctorData && !doctorData?.imageBase64 && fromPage && fromPage == 'HADoctorHolidayCalendar'"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true"
	 [showHomeIcon]="true" [homeLink]="homePageUrl" [showDrImg]="true" [drImgPath]="'assets/imgs/default_profile.png'"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="doctorData && !doctorData?.firstName && doctorData?.imageBase64 && fromPage && fromPage == 'HADoctorHolidayCalendar'"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true"
	 [showHomeIcon]="true" [homeLink]="homePageUrl" [showDrImg]="false"></header-for-role-creation-form> -->


	 <header-for-role-creation-form *ngIf="doctorData && doctorData?.firstName && doctorData?.imageBase64"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"
	 [showDrImg]="true" [drImgPath]="doctorData.imageBase64"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="doctorData && !doctorData?.imageBase64"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"
	 [showDrImg]="true" [drImgPath]="'assets/imgs/default_profile.png'"></header-for-role-creation-form>
	<header-for-role-creation-form *ngIf="doctorData && !doctorData?.firstName && doctorData?.imageBase64"
	 [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName +' '+ doctorData?.lastName"
	 [backBtnLink]="backPageUrl" [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"
	 [showDrImg]="false"></header-for-role-creation-form>

	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{ 'HOLIDAY_CALENDAR_TITLE' | translate }}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header>


<ion-content padding class="centered-content" [ngClass]="{'has-mobile-btn-footer': (!commonService.checkIsWeb() && !viewFlag) }">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<!-- <header-for-role-creation-form *ngIf="fromPage == 'DRHolidayCalendar'" [firstName]="userData.firstName" [lastName]="userData.lastName"
		 [pageTitle]="doctorData.firstName +' '+ doctorData.lastName" [backBtnLink]="backPageUrl" [showDrPrefix]="true"
		 [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"></header-for-role-creation-form> -->
		<!-- <header-for-role-creation-form *ngIf="fromPage == 'HADoctorHolidayCalendar'" [firstName]="userData.firstName"
		 [lastName]="userData.lastName" [pageTitle]="doctorData.firstName +' '+ doctorData.lastName" [backBtnLink]="backPageUrl"
		 [showDrPrefix]="true" [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"></header-for-role-creation-form> -->

		 <header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName"
		 [pageTitle]="doctorData.firstName +' '+ doctorData.lastName" [backBtnLink]="backPageUrl" [showDrPrefix]="true"
		 [showBackButton]="true" [showHomeIcon]="true" [homeLink]="homePageUrl"></header-for-role-creation-form>

		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title">{{ 'HOLIDAY_CALENDAR_TITLE' | translate }}</ion-title>
			<!-- <a (click)="markMyLeave(markLeaveForm)" *ngIf="!viewFlag" ion-button class="common-blue-btn">{{ 'MARK_MY_LEAVE' |
				translate }}</a> -->
			<!-- <a (click)="markMyLeave(markLeaveForm)" *ngIf="editFlag" ion-button class="common-blue-btn">{{ 'UPDATE_LEAVE_LABEL' | translate }}</a> -->
			<!-- <a (click)="changeMode('create')" *ngIf="viewFlag" ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a> -->
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>

	<div class="main-content">
		<form class="common-page-container common-form" #markLeaveForm="ngForm" name="markLeaveForm" novalidate>
			<ion-grid class="doctor-list-view" *ngIf="!commonService.checkIsWeb()">
				<doctor-item-component [doctorData]="doctorData"> </doctor-item-component>


				<ion-row>
					<ion-col>
						<div class="pull-right">
							<a ion-button (click)="changeMode('view')" *ngIf="createFlag" class="common-blue-btn">{{ 'VIEW_LEAVE_LABEL' |
								translate }}</a>
							<!-- <a ion-button (click)="cancelClick()" *ngIf="!createFlag" class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' |
								translate
								}}</a> -->
							<a ion-button (click)="cancelClick()" *ngIf="!createFlag && mode == 'view'" class="common-blue-btn">{{
								'MARK_MY_LEAVE'
								| translate
								}}</a>
							<a ion-button (click)="cancelClick()" *ngIf="!createFlag && mode == 'edit'" class="common-blue-btn">{{
								'VIEW_LEAVE_LABEL'
								| translate
								}}</a>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
			<!---------------------------------web view  --------------------------------->
			<ion-grid class="doctor-list-view" *ngIf="commonService.checkIsWeb()">
				<doctor-item-component [doctorData]="doctorData"> </doctor-item-component>

				<ion-row *ngIf="viewFlag">
					<ion-col>
						<div class="pull-right">
							<a ion-button (click)="changeMode('view')" *ngIf="createFlag" class="common-blue-btn">{{ 'VIEW_LEAVE_LABEL' |
								translate }}</a>
							<!-- <a ion-button (click)="cancelClick()" *ngIf="!createFlag" class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' |
								translate
								}}</a> -->

								<a ion-button (click)="cancelClick()" *ngIf="!createFlag && mode == 'view'" class="common-blue-btn">{{
									'MARK_MY_LEAVE'
									| translate
									}}</a>
								<!-- <a ion-button (click)="cancelClick()" *ngIf="!createFlag && mode == 'edit'" class="common-blue-btn">{{
									'VIEW_LEAVE_LABEL'
									| translate
									}}</a> -->
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>


			<ion-grid class="search-container upcoming-appointment-search" *ngIf="!viewFlag" [ngClass]="{'mobile-search-container': !commonService.checkIsWeb()}">
				<div *ngIf="commonService.checkIsWeb()">
					<ion-row class="calendar-container calendar-container-web">
						<ion-label class="common-form-label time-label" col-12 col-sm-12 col-md-12 col-lg-12>{{ 'DATE_LABEL' | translate
							}}</ion-label>
						<ion-col col-5 col-sm-4 col-md-3 col-lg-3>
							<!-- <div [ngClass]="{'is-error': goBtnClicked && !startDateValue}"> -->
							<p-calendar name="fromdate" #fromdate="ngModel" placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item"
							 [(ngModel)]="startDateValue" [minDate]="todayForWeb" dateFormat="dd/mm/yy" required>
								<img src="assets/imgs/contract_calander_icon.png" /></p-calendar>
							<!-- <div class="error-msg-block text-left" *ngIf="fromdate.errors && (fromdate.dirty || fromdate.touched || formSubmitted)">
									<small [hidden]="!fromdate.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_START_DATE' | translate }}</small>	
								</div> -->
							<!-- </div> -->
						</ion-col>

						<ion-col col-2 col-lg-1 class="holidya-item-center holiday-center">
							<p class="ToText">{{ 'TO' | translate }}</p>
						</ion-col>
						<ion-col col-5 col-sm-4 col-md-3 col-lg-3>
							<!-- <div  [ngClass]="{'is-errorEndDate': goBtnClicked && !endDateValue}" > -->
							<p-calendar name="todate" #todate="ngModel" placeholder="{{ 'DATEFORMAT' | translate }}" class="calendarCls common-select-dropdown  city-dropdown-item"
							 [(ngModel)]="endDateValue" [minDate]="startDateValue" [disabled]="startDateValue?false:true" dateFormat="dd/mm/yy"
							 required></p-calendar>

							<!-- </div> -->
						</ion-col>
						<ion-col col-5 col-sm-4 col-md-3 col-lg-4>
							<div text-right>
								<a ion-button (click)="changeMode('view')" *ngIf="createFlag" class="common-blue-btn">{{ 'VIEW_LEAVE_LABEL' |
									translate }}</a>
								<a ion-button (click)="cancelClick()" *ngIf="!createFlag" class="common-blue-btn">{{ 'VIEW_LEAVE_LABEL' |
									translate
									}}</a>
							</div>
						</ion-col>

						<!-- <ion-col col-3 col-sm-2 col-md-3 col-lg-3 class="goBtn">
							<a  ion-button class="common-blue-btn " (click)="applyDateFilter()">{{ 'GO' | translate }}</a>
						</ion-col> -->
					</ion-row>
					<ion-row>
						<ion-col col-5 col-sm-4 col-md-3 col-lg-3>
							<div class="error-msg-block text-left" *ngIf="fromdate.errors && (fromdate.dirty || fromdate.touched || formSubmitted)">
								<small [hidden]="!fromdate.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_START_DATE' | translate }}</small>
							</div>
						</ion-col>

						<ion-col offset-1 col-5 col-sm-4 col-md-3 col-lg-3>
							<div class="error-msg-block text-left" *ngIf="todate.errors && (todate.dirty || todate.touched || formSubmitted)">
								<small [hidden]="!todate.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_END_DATE' | translate }}</small>
							</div>
						</ion-col>
					</ion-row>
				</div>
				<div *ngIf="!commonService.checkIsWeb()">
					<ion-row class="calendar-container calander-container-mobile">
						<ion-col col-3>
							<ion-label class="time-labels-mobile timeLabel">{{ 'DATE_LABEL' | translate }}</ion-label>
						</ion-col>

						<ion-col col-9 class="calendar-col-9">
							<ion-row>
								<ion-col col-5 col-sm-4 col-md-3 col-lg-3>
									<!-- <div [ngClass]="{'is-error': goBtnClicked && !startDateValue}"> -->

									<ion-datetime name="fromdate" #fromdate="ngModel" class="mobileCalendar" displayFormat="DD/MM/YYYY"
									 [(ngModel)]="startDateValue" [min]="today" [max]="2020" required></ion-datetime>
									<!-- </div> -->

								</ion-col>
								<ion-col col-2>
									<ion-col col-2 col-lg-1 class="holidya-item-center holiday-center">
										<p class="ToText">{{ 'TO' | translate }}</p>
									</ion-col>
								</ion-col>
								<ion-col col-5 col-sm-4 col-md-3 col-lg-3>
									<!-- <div  [ngClass]="{'is-errorEndDate': goBtnClicked && !endDateValue}" > -->

									<ion-datetime name="todate" #todate="ngModel" class="mobileCalendar" displayFormat="DD/MM/YYYY" [(ngModel)]="endDateValue"
									 [disabled]="startDateValue?false:true" [max]="2020" [min]="startDateValue" required></ion-datetime>
									<!-- </div> -->
								</ion-col>

							</ion-row>


						</ion-col>

						<!-- <ion-col col-3 col-sm-2 col-md-3 col-lg-3 class="goBtn">
							<a  ion-button class="common-blue-btn " (click)="applyDateFilter()">{{ 'GO' | translate }}</a>
						</ion-col> -->
					</ion-row>

					<ion-row>
						<ion-col offset-3 col-5 col-sm-4 col-md-3 col-lg-3>
							<div class="error-msg-block text-left" *ngIf="fromdate.errors && (fromdate.dirty || fromdate.touched || formSubmitted)">
								<small [hidden]="!fromdate.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_START_DATE' | translate }}</small>
							</div>
						</ion-col>

						<ion-col offset-8 col-5 col-sm-4 col-md-3 col-lg-3>
							<div class="error-msg-block text-left" *ngIf="todate.errors && (todate.dirty || todate.touched || formSubmitted)">
								<small [hidden]="!todate.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_END_DATE' | translate }}</small>
							</div>
						</ion-col>
					</ion-row>

				</div>
				<ion-row class="time-slots set-rows-web" *ngIf="commonService.checkIsWeb()">
					<ion-label class="common-form-label time-label" col-12 col-sm-12 col-md-12 col-lg-12>{{ 'TIME_LABEL' | translate
						}}</ion-label>
					<div col-12 col-sm-12 col-md-12 col-lg-12>
						<div>
							<ion-row align-items-center>

								<p-calendar col-5 col-lg-3 col-md-3 col-sm-4 name='startTime' #startTime="ngModel" [(ngModel)]="startTimeValue"
								 class="time-icon time-input close-time" [timeOnly]="true" hourFormat="12" placeholder="{{ 'START_TXT' | translate }}"
								 [disabled]="startDateValue?false:true" required [validDateTime]="startDateValue"></p-calendar>
								<ion-col class="to-label-col col" col-2 col-lg-1>
									<p text-center>{{ 'TO_LABEL' | translate }}</p>
								</ion-col>

								<p-calendar col-5 col-lg-3 col-md-3 col-sm-4 name='endTime' #endTime="ngModel" [(ngModel)]="endTimeValue"
								 dateFormat="hh:mm A" class="time-icon time-input close-time" [timeOnly]="true" hourFormat="12" placeholder="{{ 'END_TXT' | translate }}"
								 [disabled]="(startDateValue&&endDateValue)?false:true" required [startTime]="startTimeValue" [endDate]="endDateValue"></p-calendar>
								<ion-col col-2 col-sm-3 col-lg-4>
									<div text-right>
										<a (click)="markMyLeave(markLeaveForm)" *ngIf="!viewFlag" ion-button class="common-blue-btn">{{
											'MARK_MY_LEAVE' |
											translate }}</a>
										<!-- <a ion-button (click)="changeMode('view')" *ngIf="createFlag" class="common-blue-btn">{{ 'VIEW_LEAVE_LABEL' |
												translate }}</a>
										<a ion-button (click)="cancelClick()" *ngIf="!createFlag" class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate
												}}</a> -->
									</div>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col col-5 col-lg-3 col-md-3 col-sm-4>
									<div class="error-msg-block text-left" *ngIf="startTime.errors && (startTime.dirty || startTime.touched || formSubmitted)">
										<small [hidden]="!startTime.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_START_TIME' | translate
											}}</small>
										<small [hidden]="startTime.errors.required || !startTime.errors.validDateTime" class="text-danger">{{
											'Error_MSG_CORRECT_START_TIME' | translate }}</small>

									</div>
								</ion-col>

								<ion-col offset-1 col-5 col-lg-3 col-md-3 col-sm-4>
									<div class="error-msg-block text-left" *ngIf="endTime.errors && (endTime.dirty || endTime.touched || formSubmitted)">
										<small [hidden]="!endTime.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_END_TIME' | translate }}</small>
										<small [hidden]="endTime.errors.required || !endTime.errors.validDateTime" class="text-danger">{{
											'Error_MSG_CORRECT_END_TIME' | translate }}</small>

									</div>
								</ion-col>
							</ion-row>
							<ion-row class="leave-desc">
								<ion-col col-12 col-sm-12 col-md-12 col-lg-12>
									<ion-item detail-none>
										<ion-label floating>{{ 'DESCRIPTION_LABEL' | translate }}</ion-label>
										<ion-textarea name="leaveDesc" #leaveDesc="ngModel" [(ngModel)]="leaveDescription" autocomplete="off"
										 autocorrect="off" maxlength="2048" required></ion-textarea>

									</ion-item>
									<div class="error-msg-block text-left" *ngIf="leaveDesc.errors && (leaveDesc.dirty || leaveDesc.touched || formSubmitted)">
										<small [hidden]="!leaveDesc.errors.required" class="text-danger">{{ 'Error_LEAVE_DESCRIPTION' | translate }}</small>
									</div>
								</ion-col>
							</ion-row>
						</div>
					</div>
				</ion-row>

				<div class="set-rows-mobile" *ngIf="!commonService.checkIsWeb()">
					<ion-row class="time-slots ">
						<ion-col col-3>
							<ion-label class="time-labels-mobile timeLabel">{{ 'TIME_LABEL' | translate }}</ion-label>
						</ion-col>
						<div col-9 class="div-col-9">

							<ion-row>
								<ion-col col-5>
									<ion-item class="mobile-input-border time-cls-mobile">
										<ion-datetime name='startTime' #startTime="ngModel" [(ngModel)]="startTimeValue" pickerFormat="hh:mm A"
										 displayFormat="hh:mm A" [min]="today" class="time-icon time-input" placeholder="{{ 'START_TXT' | translate }}"
										 [disabled]="startDateValue?false:true" required [validDateTime]="startDateValue"></ion-datetime>
									</ion-item>
								</ion-col>
								<ion-col class="to-label-col" col-2>
									<p text-center>{{ 'TO_LABEL' | translate }}</p>
								</ion-col>
								<ion-col col-5>
									<ion-item class="mobile-input-border time-cls-mobile">
										<ion-datetime name='endTime' #endTime="ngModel" [(ngModel)]="endTimeValue" pickerFormat="hh:mm A"
										 displayFormat="hh:mm A" class="time-icon time-input" placeholder="{{ 'END_TXT' | translate }}" [disabled]="(startDateValue&&endDateValue)?false:true"
										 required [startTime]="startTimeValue" [endDate]="endDateValue"></ion-datetime>
									</ion-item>
								</ion-col>
							</ion-row>

						</div>
					</ion-row>

					<ion-row>
						<ion-col offset-3>
							<div class="error-msg-block text-left" *ngIf="startTime.errors && (startTime.dirty || startTime.touched || formSubmitted)">
								<small [hidden]="!startTime.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_START_TIME' | translate }}</small>
								<small [hidden]="startTime.errors.required || !startTime.errors.validDateTime" class="text-danger">{{
									'Error_MSG_CORRECT_START_TIME' | translate }}</small>
							</div>
						</ion-col>

						<ion-col offset-1>
							<div class="error-msg-block text-left" *ngIf="endTime.errors && (endTime.dirty || endTime.touched || formSubmitted)">
								<small [hidden]="!endTime.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_END_TIME' | translate }}</small>
								<small [hidden]="endTime.errors.required && !endTime.errors.validDateTime" class="text-danger">{{
									'Error_MSG_CORRECT_END_TIME' | translate }}</small>
							</div>
						</ion-col>
					</ion-row>

					<ion-row class="leave-desc">
						<ion-col col-12 col-sm-12 col-md-12 col-lg-12>
							<ion-item detail-none>
								<ion-label floating>{{ 'DESCRIPTION_LABEL' | translate }}</ion-label>
								<ion-textarea name="leaveDesc" #leaveDesc="ngModel" [(ngModel)]="leaveDescription" autocomplete="off"
								 autocorrect="off" maxlength="2048" required></ion-textarea>

							</ion-item>
							<div class="error-msg-block text-left" *ngIf="leaveDesc.errors && (leaveDesc.dirty || leaveDesc.touched || formSubmitted)">
								<small [hidden]="!leaveDesc.errors.required" class="text-danger">{{ 'Error_LEAVE_DESCRIPTION' | translate }}</small>
							</div>
						</ion-col>
					</ion-row>

					<!-- <ion-row>
							<ion-col offset-3>
								<div class="error-msg-block text-left" *ngIf="leaveDescription.errors && (leaveDescription.dirty || leaveDescription.touched || formSubmitted)">
									<small [hidden]="!leaveDescription.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_START_TIME' | translate }}</small>
									
								</div>
							</ion-col>
	
						</ion-row> -->
				</div>
			</ion-grid>



			<ion-grid class="doctor-list-view doctor-inner" *ngIf="!viewFlag">
				<div>
					<ion-item class="list-container" *ngFor="let hospital of hospitals">
						<ion-row align-items-center justify-content-center>
							<ion-col col-1>
								<div class="checkbox-label checkbox-position" text-center>
									<span class="label-txt">
										<img class="check-img-cls" (click)="hospitalSelect(hospital)" src="assets/imgs/01_multispacility_uncheck.png"
										 *ngIf="!hospital?.hospitalDetails?.isChecked" />
										<span class="multispeciality-txt"></span>
										<img class="check-img-cls" (click)="hospitalSelect(hospital)" src="assets/imgs/01_multispacility_checked.png"
										 *ngIf="hospital?.hospitalDetails?.isChecked" />
										<span class="multispeciality-txt"></span>
									</span>
								</div>
							</ion-col>
							<ion-col col-11>
								<hospital-item-component (hospitalSelect)="hospitalSelect($event)" [hospital]="hospital"></hospital-item-component>
							</ion-col>
						</ion-row>
					</ion-item>

					<div *ngIf="hospitals && hospitals.length == 0">{{ 'NO_DATA_FOUND' | translate }}</div>
				</div>


			</ion-grid>

			<ion-grid class="doctor-list-view doctor-inner-view-leave" *ngIf="viewFlag">
				<div>

					<ion-item class="list-container" *ngFor="let viewLeave of viewLeaves">
						<view-holiday-item-component (editLeave)="editLeave($event)" [viewLeave]="viewLeave"></view-holiday-item-component>
					</ion-item>

					<div *ngIf="viewLeave && viewLeave.length == 0">{{ 'NO_DATA_FOUND' | translate }}</div>
				</div>


			</ion-grid>
		</form>
	</div>

	<footer class="mobile-view-footer"></footer>
</ion-content>
<div ion-item class="footer-mobile-btn-container" *ngIf="!commonService.checkIsWeb() && !viewFlag">
	<a *ngIf="!isSkipAndExplore" (click)="markMyLeave(markLeaveForm)" block ion-button class="common-blue-btn">{{
		'MARK_MY_LEAVE' | translate }}</a>

	<!-- <a *ngIf="!isSkipAndExplore" (click)="changeMode(view)" block ion-button class="common-blue-btn">{{ 'View' | translate }}</a>		 -->
	<a *ngIf="isSkipAndExplore" (click)="showGoToLoginPopup()" block ion-button class="common-blue-btn">{{ 'MARK_MY_LEAVE'
		| translate }}</a>
</div>