page-create-hospital {
	.common-form{
		ion-grid{
			.zipcode-container{
				padding-bottom:40px;
				border-bottom:1px solid #d4d9e3;
			}
			.common-select-dropdown{
				padding-top:15px;
			}
			.admin-name-container{
				padding-top:35px;
			}
		}
	}
} //end of page-create-hospital
