<ion-content padding class="centered-content">
	<ion-header>
	  	<!-- <ion-navbar> -->
<!-- 	    	<button ion-button menuToggle>
	      		<ion-icon name="menu"></ion-icon>
	    	</button>
	    	<ion-buttons right class="header-username-container">
	   			<button ion-button class="header-username">{{userData.firstName}} {{userData.lastName}}</button>
	    		<div class="left-border"></div>
	    	</ion-buttons> -->
	    	<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" ></header-for-role-creation-form>
	<!--   	</ion-navbar> -->
	  	<div menuClose ion-item class="common-page-title">
			<ion-title class="page-sub-title">{{ 'ADD_HOSPITAL_TITLE' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content">
		<form class="common-page-container common-form" #createHospitalForm="ngForm" novalidate>
			<ion-grid class="formFieldsContainer">
				<ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  					 	<ion-label floating>{{ 'HOSPITAL_NAME' | translate }}</ion-label>
	   						<ion-input name="hospitalName" [(ngModel)]="hospitalData.hospitalName" #hospitalName="ngModel" pattern="^[a-zA-Z_ @^#$%&*()-]{1,50}$" autocomplete="off" autocorrect="off" required maxlength="50"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="hospitalName.errors && (hospitalName.dirty || hospitalName.touched || formSubmitted)">
		                    <small [hidden]="!hospitalName.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_HOSPITAL_NAME' | translate }}</small>	
		                    <small [hidden]="!hospitalName.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_HOSPITAL_NAME' | translate }}</small>
		                </div>
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="hospitalEmail" [(ngModel)]="hospitalData.hospitalEmail" #hospitalEmail="ngModel" 
	   						pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="hospitalEmail.errors && (hospitalEmail.dirty || hospitalEmail.touched || formSubmitted)">
		                   <!--  <small [hidden]="!hospitalEmail.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_EMAIL' | translate }}</small> -->
		                    <small [hidden]="!hospitalEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate }}</small>
		                </div>
			        </ion-col>   
			     </ion-row>   
			    
			     <ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="padding-top15">
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'HOSPITAL_CONTACT_NO' | translate }}</ion-label>
	   						<ion-input name="hospitalContactNumber" [(ngModel)]="hospitalData.hospitalContactNo" #hospitalContactNo="ngModel" 
	   						pattern="[0-9][0-9]{9}" [type]="inputType" autocomplete="off" autocorrect="off" required maxlength="10"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="hospitalContactNo.errors && (hospitalContactNo.dirty || hospitalContactNo.touched || formSubmitted)">
		                	<small [hidden]="!hospitalContactNo.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
		                	<small [hidden]="!hospitalContactNo.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>
		                </div>
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'STREET' | translate }}</ion-label>
	   						<ion-input name="street" [(ngModel)]="hospitalData.street" #street="ngModel" [type]="inputType" autocomplete="off" autocorrect="off" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="street.errors && (street.dirty || street.touched || formSubmitted)">
		                    <small [hidden]="!street.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STREET' | translate }}</small>	
		                </div>
			        </ion-col>   
			     </ion-row>   
			    
			     <ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
						<ion-label [style.padding-top.px]="0" class="common-form-label" [ngClass]="{'is-disabled-label': (hospitalData.cityId <= 0)}">{{ 'CITY_LABEL' | translate }}</ion-label>
	  					 <ion-item class="common-select-dropdown">
	  					 	<ion-label floating>{{ 'SELECT_CITY_LABEL' | translate }}</ion-label>
					        <ion-select class="citySelect" okText="Ok" [ngClass] = "{'selectCls': hospitalData.cityId !='', 'unselectCls': hospitalData.cityId ==''}" #city="ngModel" [(ngModel)]="hospitalData.cityId" name="city">
					         	<ion-option [value]="0" selected disabled >{{ 'CITY_LABEL' | translate }}</ion-option>
					        	<ion-option *ngFor="let city of cityList" [value]="city.id">{{city.name}}</ion-option>
							</ion-select>
							
							<!-- <select class="citySelect" okText="Ok" [ngClass] = "{'selectCls': hospitalData.cityId !='', 'unselectCls': hospitalData.cityId ==''}" #city="ngModel" [(ngModel)]="hospitalData.cityId" name="city">
								<option [value]="0" selected disabled >{{ 'CITY_LABEL' | translate }} </option>
								<option *ngFor="let city of cityList" [value]="city.id" > {{ city.name }}
								</option>
		
							</select> -->
						</ion-item>

						<!-- <div class="select-city">
							<p>City</p>
							<select>
								<option>Delhi</option>
								<option>Delhi</option>
								<option>Delhi</option>
							</select>
						</div> -->
						
		                 <div class="error-msg-block text-left" *ngIf="hospitalData.cityId == 0 && (city.dirty || city.touched || formSubmitted)">
		                    <small class="text-danger">{{ 'Error_MSG_BLANK_CITY' | translate }}</small>	
		                 </div>
		                 
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
		                	<ion-label floating>{{ 'STATE' | translate }}</ion-label>
	   						<ion-input name="state" [(ngModel)]="hospitalData.state" #state="ngModel" [type]="inputType" autocomplete="off" autocorrect="off" pattern="^[a-zA-Z ]+$" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
		                    <small [hidden]="!state.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_STATE' | translate }}</small>	
		               		  <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate }}</small>	
		                </div>
			        </ion-col>   
			     </ion-row>
			     <ion-row class="zipcode-container">
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					 <ion-item detail-none>
		                	<ion-label floating>{{ 'ZIP' | translate }}</ion-label>
	   						<ion-input name="zip" [(ngModel)]="hospitalData.zipCode" #zip="ngModel" pattern="^[0-9]{6,6}$" [type]="inputType" autocomplete="off" autocorrect="off" required maxlength="6"></ion-input>
	  					 </ion-item>
	  					 <div class="error-msg-block text-left" *ngIf="zip.errors && (zip.dirty || zip.touched || formSubmitted)">
		                    <small [hidden]="!zip.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ZIPCODE' | translate }}</small>	
		                 	<small [hidden]="!zip.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_ZIPCODE' | translate }}</small>
		                 </div>
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					&nbsp;
			        </ion-col>   
			     </ion-row>
			     <ion-row class="admin-name-container">
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'HOSPITAL_ADMIN_FIRST_NAME' | translate }}</ion-label>
	   						<ion-input name="hospitalAdminFirstName" [(ngModel)]="hospitalData.adminFirstName" #adminFirstName="ngModel" autocomplete="off" autocorrect="off" pattern="^[a-zA-Z ]{1,50}$" maxlength="50" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="adminFirstName.errors && (adminFirstName.dirty || adminFirstName.touched || formSubmitted)">
		                    <small [hidden]="!adminFirstName.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ADMIN_FIRST_NAME' | translate }}</small>	
		                    <small [hidden]="!adminFirstName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
		                </div>
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'HOSPITAL_ADMIN_LAST_NAME' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="hospitalAdminLastName" [(ngModel)]="hospitalData.adminLastName" #adminLastName="ngModel" 
	   						autocomplete="off" autocorrect="off" maxlength="50" pattern="^[a-zA-Z]{1,50}$"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="adminLastName.errors && (adminLastName.dirty || adminLastName.touched || formSubmitted)">
		                    <small [hidden]="!adminLastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
		                </div>
			        </ion-col>   
			     </ion-row>
			    
			     <ion-row>
					<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'HOSPITAL_ADMIN_EMAIL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="hospitalAdminEmail" [(ngModel)]="hospitalData.adminEmail" #adminEmail="ngModel" [type]="inputType" 
	   						pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})" autocomplete="off" autocorrect="off"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="adminEmail.errors && (adminEmail.dirty || adminEmail.touched || formSubmitted)">
		                    <small [hidden]="!adminEmail.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_EMAIL' | translate }}</small>
		                    <small [hidden]="!adminEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate }}</small>
		                </div>
			        </ion-col>   
			        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'HOSPITAL_ADMIN_CONTACT_NO' | translate }}</ion-label>
	   						<ion-input name="hospitalAdminContactNumber" [(ngModel)]="hospitalData.adminContactNo" #adminContactNo="ngModel" 
	   						pattern="[1-9][0-9]{9}" [type]="inputType" autocomplete="off" autocorrect="off" required maxLength = "10"></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="adminContactNo.errors && (adminContactNo.dirty || adminContactNo.touched || formSubmitted)">
		                   <small [hidden]="!adminContactNo.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
		                   <small [hidden]="!adminContactNo.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>
		                </div>
			        </ion-col>   
			     </ion-row>
			               
				<div class="btn-container" text-right>
					<a href="#/system-admin-manage-hospitals" block ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a block ion-button class="common-blue-btn" (click)="createHospital(createHospitalForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
				</div>
			</ion-grid>
		</form>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>
