<!-- Generated template for the HospitalItemComponent component -->
<ion-row>
<ion-col col-4 col-xs-12 col-sm-2 col-md-4 col-lg-2 class="list-img-container mobile-doctor-profile-list-img">
    <div>
       <a class="profile-img-responsive" *ngIf="!hospital.hospitalDetails?.imageBase64" href="#/patient-role-hospital-profile/{{hospital.hospitalDetails?.hospitalId}}/PRDoctorProfileHLProfile" [style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'"></a>
       <a class="profile-img-responsive" *ngIf="hospital.hospitalDetails?.imageBase64" href="#/patient-role-hospital-profile/{{hospital.hospitalDetails?.hospitalId}}/PRDoctorProfileHLProfile" [style.backgroundImage]="'url('+hospital.hospitalDetails?.imageBase64+')'"></a>
       <div text-center class="rating"><img src="assets/imgs/star.svg"> {{hospital?.hospitalDetails?.avgRating}}</div>
    </div>
    
  </ion-col>
  <ion-col col-8 col-xs-12 col-sm-10 col-md-8 col-lg-9 class="list-content hospital-list-content">
     <ul>
       <li>
         <p class="name-container"><a>{{hospital.hospitalDetails?.name}}</a></p>
       </li>
       <li class="location">
         <img class="mIconSmall" src="assets/imgs/location.svg">
         <p class="hospital-address">{{hospital?.hospitalDetails?.address?.street}}, {{hospital?.hospitalDetails?.address?.cityName}}
           {{hospital?.hospitalDetails?.address?.state}} , {{hospital?.hospitalDetails?.address?.zipCode}}
         </p>
         <span (click)="plotAddressOnMap(hospital.hospitalDetails)"><img src="assets/imgs/map_icon.png" /></span>
       </li>
       <li *ngIf="hospital?.hospitalDetails?.specializationList.length > 0">
         <img  class="mIconSmall" src="assets/imgs/doctors_specialisation.svg">
         <p style="display: inline-block;"><span *ngFor="let item of hospital?.hospitalDetails?.specializationList; last as isLast">{{item.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
     </li>
       <li class="time">
         <img class="mIconSmall" src="assets/imgs/time.svg">
           <p class="time-txt">{{ 'TODAY_TEXT' | translate }} - &nbsp;<span (click)="openTimingDetails(hospital)" class="todayTime">{{hospital.todaysAvailabilityString}}</span></p>
     </li>
     </ul>
   </ion-col>

  
  </ion-row>