hospital-item-component {
    .list-img-container{
        position: relative;
        // padding-left: 35px !important;
    }
    
     .item-md{
         background: transparent;
     }

     .hospital-list-content{
        padding-bottom:15px !important;
        
        ul li{
            align-items:center;
        }
    }
}
