<ion-content padding class="centered-content cancelAppointmentPopover">
	<div class = "model-title">
		{{ 'ALERT_TITLE' | translate}}
	</div>
	<div class="confirm-text">
		<p>{{ 'CANCEL_APPOINTMENTCONFIRM_MSG' | translate}}</p>
	</div>
	<div class="content">
      <ion-label class = "policy-txt">
	      <img class="check-cls" [src]="chkImgUrl" (click) = "chk24HoursClick()"/>
	      <span class="chekbox-lbl"> {{ 'AGREE_TEXT' | translate}}
	      	<a (click)="openPrivacyPolicy()" target="_blank">{{ 'TERMS_AND_CONDOTIONS_TXT' | translate }} </a>
	      </span>
	   </ion-label>
     </div>
     <div class="btn-content">
		<button (click)="cancel(false)" ion-button class="btn common-btn">{{ 'NO_BTN_TXT' | translate}}</button>
		<button [disabled]="!agree" (click)="ok(true)" ion-button class="btn ok-btn common-btn">{{ 'YES_BTN_TXT' | translate}}</button>
	</div>
</ion-content>
