.cancelAppointmentPopover{
	ion-content{
		border-radius: 10px;
		background: $whiteColor;	
	}
	.wrapper{
		overflow: auto;
		min-height: 110px;
		height: 110px;
	}
	.scroll-content{
			padding-left:0 !important;
			margin-bottom:0;
	}
	.check-cls{
		width: 15px;
		height: 15px;
		position: absolute;	
	}
	.chekbox-lbl{
		padding-left: 20px;	
	}
	.modal-wrapper{
    	width: 400px;
   		height: 228px;
   		margin: 0 auto;
	    top: 50%;
	    position: absolute;
	    transform: translate(-50%,-50%) !important;
	    left: 50%;
   		@include screenMax576{
			width: 320px;
		    height: 245px;
		    border-radius: 10px;
		}
		.model-title {
	    	color: $blackColor;
	    	font-size: 1.8rem;
		    text-align: center;
		    font-weight: 600;
		    padding: 20px 0px 30px;
	    }
	   .policy-txt {
	   		padding: 0;
	   		padding-left:15px;
	   		@include screenMax576{
	   			white-space: normal;
			}
	   		a{
	   			text-decoration:underline;
	   			color: #5a71f1;
	   		}
	   }
	 	.content{
		 	display: flex;
		    align-items: center;
		    justify-items: center;
			background: $whiteColor;	
		    margin-bottom:15px;
			ion-checkbox{
				margin-left:60px;
				@include screenMax576{
	 				margin-left:28px;
	 			}
			}
			.checkbox .checkbox-icon{
				border:1px solid #138ade !important;
			}
	 	}
	 	.confirm-text{
	 		text-align:center;
	 		p{
	 			margin:0px;
	 			margin-bottom:15px;
	 			@include screenMax576{
	 				padding:0px 50px;
	 			}
	 		}
	 	}
		.btn-content{
			border-top: 1px solid #dedede;
		    position: absolute;
			width: 100%;
	   		bottom: 0;
	   		button[disabled], [ion-button][disabled] {
			    cursor: default;
			    opacity: .4;
			    pointer-events: none;
			    display:inline-block;
			}
			button span{
				text-transform:capitalize;
			}
			.common-btn{
				width:48%;
				height: 5rem;
			    background-color: transparent;
	   			color: #488aff;
	    		box-shadow: unset;
	    		margin-bottom: 0;
	    		margin-top: 0;
	    			&:hover{
	    	   				background-color: transparent;
	   						color: #488aff;
	    			}
			}
			.ok-btn{
				border-left: 1px solid #dedede;
			}
		}  
	}
	
}
