page-staff-role-dashboard {
	.scroll-content{
		@include screenMax576{
			//padding-top:16px !important;
			.main-content {
			    padding-top: 0px !important;
			}
		}
		
	}

	@media (min-width:240px) and (max-width:768px)
	{
		.common-page-container{background:none;}
	}

}  //end of page-home
