<div class="search-filter">
	<div class="filter-header padding-cls">
		<ion-row>
			<ion-col col-6 class="filter-txt">
				Filters		
			</ion-col>
			<ion-col col-6 class="rst-btn" (click)="resetFilters()">
				{{ 'RESET_LABEL' | translate }}
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="mode == 'doctor'">
		<div class="fees-header padding-cls">
			<ion-row>
				<ion-col col-12>
					Fees
				</ion-col>
			</ion-row>
		</div>
		<div class="fees-slots padding-cls">
			<ion-row *ngFor = "let fees of feesSlots; let i=index;">
				<ion-label class="check-content">
	            	<img class="check-cls" [src]="fees.tickUrl" (click) = "feesOptionClick(i)"/>
	            	<span class="chekbox-lbl" (click) = "feesOptionClick(i)">{{ fees.slot }}</span>
	            </ion-label>
			</ion-row>
		</div>
		<div class="fees-header padding-cls">
			<ion-row>
				<ion-col col-12>
					{{ 'AVAILABILITIES_LBL' | translate }}
				</ion-col>
			</ion-row>
		</div>
		<div class="fees-slots padding-cls">
			<ion-row *ngFor = "let availability of availabilities; let i=index;">
				<ion-label class="check-content">
					<img class="check-cls" [src]="availability.tickUrl" (click) = "availabilityClick(i)"/>
	            	<span class="chekbox-lbl" (click) = "availabilityClick(i)">{{ availability.slot }}</span>
	            </ion-label>
			</ion-row>
		</div>
		<div class="fees-header padding-cls">
			<ion-row>
				<ion-col col-12>
					Experience
				</ion-col>
			</ion-row>
		</div>
		<div>
    		<ion-range pin="true" dualKnobs="true" min="0" max="100" step="1" [(ngModel)]="doctorExp" snaps="false">
    			<div range-left>0</div>
     			<div range-right>100</div>
    		</ion-range>
		</div>
	</div>
	<div *ngIf="mode == 'hospital'">
		<div class="fees-header padding-cls">
			<ion-row>
				<ion-col col-12>
					Open
				</ion-col>
			</ion-row>
		</div>
		<div class="fees-slots padding-cls">
			<ion-label class="check-content">
				<img class="check-cls" [src]="open24HrsTickImg" (click)="open24HrsClick()"/>
				<span class="chekbox-lbl" (click)="open24HrsClick()">Open 24*7</span>
			</ion-label>
		</div>
		<div class="fees-header padding-cls">
			<ion-row>
				<ion-col col-12>
					Multispeciality
				</ion-col>
			</ion-row>
		</div>
		<div class="fees-slots padding-cls">
			<ion-label class="check-content">
				<img class="check-cls" [src]="multiSpTickUrl" (click)="multiSpecialityClick()"/>
				<span class="chekbox-lbl" (click)="multiSpecialityClick()">Multispeciality</span>
			</ion-label>
		</div>
	</div>
	<div class="filter-btns padding-cls">
		<a (click)="cancelFilter()" ion-button class="activate-btn filter-cancel-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
		<a (click)="applyFilter()" ion-button class="common-blue-btn">{{ 'APPLY_BTN' | translate }}</a>
	</div>
</div>