search-filter {
	background: white;
	.padding-cls{
		padding: 5px;
	}
	.filter-header{
		.filter-txt{
			font-weight: bold;	
		}
		.rst-btn{
			text-align: right;
			color: rgb(24, 142, 229);
			cursor: pointer;
		}	
	}
	.fees-header{
		background: rgb(245, 250, 254);
		color: rgb(24, 142, 229);
	    font-weight: bold;	
	}
	.filter-btns{
		text-align: center;
		border-top: 1px solid rgb(209, 221, 243);
		.filter-cancel-btn{
			border-radius: 3px;
			text-transform: none;	
		}	
	}
	.check-content{
		margin: 5px; 
	}
	.check-cls{
		width: 15px;
		height: 15px;
		position: absolute;	
	}
	.chekbox-lbl{
		padding-left: 20px;	
	}
}
