header-for-role-creation-form {
	.homeAnchor{
		color:white;
	}
	.headerRatingIcon{
		float:right;
	    font-size: 1.3rem;
	    padding-top: 3px;
	    font-weight: 400;
        padding-right: 4px;
        color: white;
       	 @include screenMax576{
				padding-right: 11px;
			}
	    img{
	    	margin-right:3px;
	    	vertical-align:top;
	    }
	}
	.drImg{
		    background-size: 100% 100%;
    		display: inline-block;
    		width: 20px;
    		height: 20px;
    		margin-right: 20px;
		    border-radius: 5px;
	}
	.titleWithRatingIcon{
		display: inline-flex;
		width: 90%;
	   	 @include screenMobileMax576{
			width: 85%;
		}
	}
	.drNameWithImg{
		vertical-align:top;
	}

	.back-button.show-back-button {
		display: none;
	}

	 /* Header Css */
    
	 .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    
    .logo h2
    {
        margin:0;
        color:#000;
    }
    
    .header-top
    {
        padding:25px 0;
    }
    
    .top-menu
    {
        text-align: right;
    }
    
    .top-menu ul
    {
        padding:0;
        margin:0;
        list-style: none;
    }
    
    .top-menu ul li
    {
        margin-left:20px;
        margin-right:0 !important;
        display: inline-block;
    }
    
    .top-menu ul li a
    {
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
    
    .top-menu ul li.profile a 
    {
        width: auto;
        text-decoration: none;
    }
    
    .top-menu ul li.profile img 
    {
        height: 30px;
        width: 30px;
        top: 10px;
        right: 2px;
        position: relative;
        background-color: #999999;
    }
    
    .top-menu ul li .dropdown-menu
    {
        width:250px;
        border-radius:0;
    }
    
    .top-menu ul li .dropdown-menu .form-group label
    {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 600;
    }
    
    .top-menu ul li .dropdown-menu .form-group input
    {
        border-top:0 none;
        border-left:0 none;
        border-right:0 none;
        border-radius:0;
        font-size: 14px;
        font-weight: 500;
        padding-left:0;
    }
    
    .top-menu ul li .dropdown-menu .form-group input:focus
    {
        box-shadow: none;
        outline: 0 none;
    }
    
    .top-menu ul li .select-country-wrapper select
    {
        border:0 none;
        font-size: 14px;
        font-weight: 600;
    }
    
    .top-menu ul li .select-country-wrapper select:focus
    {
        outline: none;
        box-shadow: none;
    }
    
    .header-bottom .navbar
    {
        padding:0 !important;
    }
    
    .header-bottom .navbar ul
    {
        padding:0;
        margin:0;
        list-style: none;
    }
    
    .header-bottom .navbar ul li
    {
        display: inline-block;
    }
    
    .header-bottom .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
    
    .header-bottom .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .mr-auto, .mx-auto {
        margin-right: auto!important;
    }
    
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    @media (min-width: 992px)
    {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    }
    
    @media (min-width: 992px)
    {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    }
    
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
    }
    
    
    .navbar-brand { position: relative; z-index: 2; }
    .navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }
    .navbar .navbar-collapse { position: relative; }
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }
    .navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
    .navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
    .navbar.navbar-inverse .nav-collapse { background-color: #222; }
    .navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
    .nav-collapse>li { float: right; }
    
    .btn.btn-circle { border-radius: 50px; }
    .btn.btn-outline { background-color: transparent; }
    
    @media screen and (max-width: 767px) {
        .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
        .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
        .navbar .nav-collapse .navbar-form { margin: 0; }
        .nav-collapse>li { float: none; }
    }
    
    .nav-link {
        display: block;
        padding: .5rem 1rem;
    }   
    
    // .header-bottom .navbar ul li a
    // {
    //     color:#fff;
    //     font-size: 15px;
    //     font-weight: 500;
    //     border-right:1px solid #99c6e9;
    //     text-decoration: none;
    // }
    
    // .mobile-menu ul li a
    // {
    //     color:#000 !important;
    // }
    
    // .header-bottom .navbar ul li a.nav-link
    // {
    //     padding:10px 25px;
    // }
    
    // .header-top .top-menu ul li a.business
    // {
    //     border-style: solid;
    //     border-width: 1px;
    //     border-color: rgb(17, 17, 17);
    //     background-color: rgb(255, 255, 255);
    //     padding:15px;
    //     border-radius: 50px;
    //     width:120px;
    //     height: 40px;
    //     font-weight: 600;
    //     transition: all .3s ease;
    //     -webkit-transition: all .3s ease;
    //     -moz-transition: all .3s ease;
    //     -o-transition: all .3s ease;
    // }
    
    // .header-top .top-menu ul li a.business:hover
    // {
    //     background: #0070c9;
    //     color:#fff;
    //     border-color: #0070c9;
    // }
}
