<ion-navbar>
	<button ion-button menuToggle *ngIf="!showBackButton">
		<ion-icon name="menu"></ion-icon>
	</button>
	
<!-- 	<ion-title *ngIf="showDrImg">
		<div class="mobile-doc-image">
			<a class="profile-img-responsive" href="{{drImgPath}}">
  				</a>
		</div>
	</ion-title> -->
	
	<!-- below header displays Dr prefix without dr image  -->
 	<ion-title *ngIf="!commonService.checkIsWeb() && pageTitle && showDrPrefix && !showDrImg "> {{'DOCTOR_PREFIX' | translate}} {{ pageTitle | translate }}
		<a *ngIf="showHomeIcon"  href ="{{homeLink}}"><img class="homeIcon" src="assets/imgs/home_icon_white.svg" /></a>
	</ion-title> 
	
	<!-- below header displays Dr name with dr image  -->
	<ion-title *ngIf="!commonService.checkIsWeb() && pageTitle && showDrPrefix && showDrImg"> 
		<span class="drImg" [style.backgroundImage]="'url('+ drImgPath +')'"></span>
		<span class="drNameWithImg">{{'DOCTOR_PREFIX' | translate}} {{ pageTitle | translate }}</span>
		<a *ngIf="showHomeIcon"  href ="{{homeLink}}"><img class="homeIcon" src="assets/imgs/home_icon_white.svg" /></a>
	</ion-title>
	
	<!-- below header displays hospital name with rating  -->
	<ion-title class="titleWithRatingIcon" *ngIf="!commonService.checkIsWeb() && pageTitle && !showDrPrefix && showRatings">{{ pageTitle | translate }}
	<a *ngIf="showHomeIcon"  href ="{{homeLink}}"><img  class="homeIcon" src="assets/imgs/home_icon_white.svg"/></a>
	</ion-title>
	<span *ngIf="!commonService.checkIsWeb() && showRatings && pageTitle && !showDrPrefix" class="headerRatingIcon"><img src="assets/imgs/star.svg" />{{rating}}</span>
	
	<!-- below header displays header without Dr image or rating  -->
	<ion-title  *ngIf="!commonService.checkIsWeb() && pageTitle && !showDrPrefix && !showRatings">{{ pageTitle | translate }}
	<a *ngIf="showHomeIcon"  href ="{{homeLink}}"><img  class="homeIcon" src="assets/imgs/home_icon_white.svg"/></a>
	</ion-title>
	
	<!-- <ion-title *ngIf="!commonService.checkIsWeb() && pageTitle && showHomeIcon"></ion-title> -->
	<ion-buttons left class="header-mobile-back" *ngIf="!commonService.checkIsWeb() && showBackButton">
   		<a href="{{backBtnLink}}" *ngIf="!isSamePage && !isFromHospitalProfile && !isBookingConfirmed" ion-button icon-only>
   			<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
   		</a>
 		<a (click)="getBackEvent()" *ngIf="isSamePage && !isFromHospitalProfile && !isBookingConfirmed"  ion-button icon-only>
   			<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
   		</a>
   		<a (click)="backFromHospitalDoctorProfile()" *ngIf="isFromHospitalProfile && !isSamePage && !isBookingConfirmed"  ion-button icon-only>
   			<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
   		</a>
   		<a (click)="afterConfirmAppointmentBack()" *ngIf="isSamePage && isBookingConfirmed"  ion-button icon-only>
   			<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
   		</a>
   	</ion-buttons>
	<ion-buttons right class="header-username-container" *ngIf="commonService.checkIsWeb()">
		<button ion-button class="header-username">{{firstName}} {{lastName}}</button>
		<div class="left-border"></div>
	</ion-buttons>


</ion-navbar>