.popover-md .popover-content{
	top:11%;
	min-height:auto;
	left:25%;
	width: 100%;
    max-width: 56%;
	background: transparent;
	box-shadow: unset;
	justify-content: center;
	.popover-viewport{
		min-height:150px;

		ion-slide{
			background-repeat: no-repeat;
			background-position: center center;
			background-size: auto 100%;
			    min-height: 150px;
		}
	}
}
.swiper-pagination{
	display:block !important;
	top:88%;
} 
.swiper-pagination-bullet{
	border:1px solid $primaryColor !important;
	width:13px;
	height:13px;
	opacity:1;
	background: transparent;
}
.swiper-pagination-bullet-active{
	background: $primaryColor;
}
.nextBtn{
	@include backgroundImage('../assets/imgs/image_right_arrow_active.png', center center, auto);
}
.swiper-button-next.button-md-light,
.swiper-button-next.button-md-light:hover,
.swiper-button-next.button-md-light:focus,
.swiper-button-next.button-md-light:active,
.swiper-button-prev.button-md-light,
.swiper-button-prev.button-md-light:hover,
.swiper-button-prev.button-md-light:focus,
.swiper-button-prev.button-md-light:active{
    color: #000;
    background-color: black;
    box-shadow: unset;
    opacity: 0.6;
}
ion-backdrop{
	opacity: 0.6;
}