<div>
	<ion-slides #slides [initialSlide]="currentIndex" (ionSlideDidChange)="slideChanged()">
		<ion-slide *ngFor="let img of imageSlide"  [style.backgroundImage]="'url(' + img?.file + ')'">
		</ion-slide>
	</ion-slides>
	<button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-blue" (click)="slideToPrev()"></button>
  	<button type="submit" ion-button color="light" class="swiper-button-next swiper-button-blue" (click)="slideToNext()"></button>
		</div>