<ion-header  *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form [backBtnLink]="'#/doctor-role-appointments-history'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'VISIT_DETAILS'"  [showBackButton]="true"></header-for-role-creation-form>
</ion-header>

<ion-content padding class="centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form [backBtnLink]="'#/doctor-role-appointments-history'" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'VISIT_DETAILS'"  [showBackButton]="true"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
          <ion-title class="page-sub-title">{{ 'VISIT_DETAILS' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	<div class="main-content">
     <page-appointment-details [fromHospitalAdminAppointmentVisitDetails]="false" [fromAppointmentHistory]="true" [fromUpcomingAppointment]="false"></page-appointment-details>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>