<ion-content padding class="centered-content">
	
	<form class="common-page-container common-form" #createDoctorForm="ngForm" name="createDoctorForm" novalidate>
		<ion-grid class="formFieldsContainer">
			<ion-row>
				<ion-col col-2 class="doctor-img">
					<img src="assets/imgs/pic.png" (click)="comingSoonPopup()">
				</ion-col>
				<ion-col col-8>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
  					<ion-item detail-none>
  					 	<ion-label floating>{{ 'DOCTOR_FIRST_NAME' | translate }}</ion-label>
   						<ion-input name="doctorFirstName" [(ngModel)] = "doctorData.firstName" #doctorFirstName="ngModel"  autocomplete="off" autocorrect="off" required [readonly] = "viewFlag"></ion-input>
  					</ion-item>
  					<div class="error-msg-block text-left" *ngIf="doctorFirstName.errors && (doctorFirstName.dirty || doctorFirstName.touched || formSubmitted)">
	                    <small [hidden]="!doctorFirstName.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_DOCTOR_FIRST_NAME' | translate }}</small>	
	                </div> 
		        </ion-col>   
		        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
  					<ion-item detail-none>
  						<ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
   						<ion-input name="doctorLastName" [(ngModel)] = "doctorData.lastName" #doctorLastName = "ngModel" autocomplete="off" autocorrect="off"  [readonly] = "viewFlag"></ion-input>
  					</ion-item>
  				<!-- 	<div class="error-msg-block text-left" *ngIf="doctorLastName.errors && (doctorLastName.dirty || doctorLastName.touched || formSubmitted)">
	                    <small [hidden]="!doctorLastName.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_DOCTOR_LAST_NAME' | translate }}</small>
	                </div> -->
		        </ion-col>   
		     </ion-row>   
		    
		     <ion-row>
				<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
					<ion-row class="no-padding">
						<ion-col col-lg-6 col-12>
		  					<ion-item detail-none>
		  						<ion-label floating>{{ 'YEARS_OF_EXPERIENCE' | translate }}</ion-label>
		   						<ion-input name="doctorExp" [(ngModel)]="doctorData.yearsOfExp" #doctorExp="ngModel" 
		   						pattern="[0-9]{0,2}" [type]="inputType" autocomplete="off" autocorrect="off" required [readonly] = "viewFlag"></ion-input>
		  					</ion-item>
		  					<div class="error-msg-block text-left" *ngIf="doctorExp.errors && (doctorExp.dirty || doctorExp.touched || formSubmitted)">
			                    <small [hidden]="!doctorExp.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_DOCTOR_EXP' | translate }}</small>	
			                	<small [hidden]="!doctorExp.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_EXPERIENCE' | translate }}</small>
			                </div>
		                </ion-col>
		                <ion-col col-lg-6 col-12>
		                	<ion-item detail-none>
		  						<ion-label floating>{{ 'CONTACT_NUMBER' | translate}}</ion-label> 
		   						<ion-input name="doctorContact" #doctorContact="ngModel" [(ngModel)] = "doctorData.contactNumber" [type]="inputType" pattern="[1-9][0-9]{9}" autocomplete="off" autocorrect="off" required [readonly] = "viewFlag"></ion-input>
		  					</ion-item>
		  					<div class="error-msg-block text-left" *ngIf="doctorContact.errors && (doctorContact.dirty || doctorContact.touched || formSubmitted)">
		  						<small [hidden]="!doctorContact.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
			                    <small [hidden]="!doctorContact.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>	
			                </div>
		                </ion-col>
	                </ion-row>
		        </ion-col> 
		        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		        	<ion-item detail-none>
	                	<ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
   						<ion-input name="doctorEmail" [(ngModel)] = "doctorData.emailId" #doctorEmail = "ngModel" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})" [type]="inputType" autocomplete="off" autocorrect="off" [readonly] = "viewFlag" ></ion-input>
  					 </ion-item>
  					 <div class="error-msg-block text-left" *ngIf="doctorEmail.errors && (doctorEmail.dirty || doctorEmail.touched || formSubmitted)">
	                    <!-- <small [hidden]="!doctorEmail.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_EMAIL' | translate }}</small> --> 
	                 	<small [hidden]="!doctorEmail.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate }}</small>
	                 </div>
		        </ion-col>  
		     </ion-row>
		     <ion-row>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<ion-row class="no-padding">
		     			<ion-col col-lg-6 col-12>
		  					<ion-item detail-none>
		  						<ion-label floating>{{ 'STREET' | translate }}</ion-label>
		  						<ion-input name="doctorStreet" [(ngModel)] = "address.street" #doctorStreet="ngModel"  autocomplete="off" autocorrect="off" [readonly] = "viewFlag"></ion-input>
		  					</ion-item>
		  				</ion-col>
		  				<ion-col col-lg-6 col-12 align-self-end>
		  					<!-- <ion-item class="dropdown">
						        <select class="citySelect" [ngClass] = "{'selectCls': selectCity, 'unselectCls': !selectCity}" [(ngModel)]="address.cityId" name="city" (change) = "cityChange()">
						        	<option value="0" disabled style="display: none;">{{ 'CITY_LABEL' | translate }}</option>
						        	<option *ngFor="let city of cityList" value="{{city.id}}" class="city-options">{{ city.name }}</option>
						        </select>
		  					</ion-item> -->
		  					<ion-label [ngClass]="{'is-disabled-label': viewFlag}" [style.padding-top.px]="0" class="common-form-label">{{ 'CITY_LABEL' | translate }}</ion-label>
		  					<ion-item class="common-select-dropdown">
		  						<ion-label class="select-label-hide">{{ 'SELECT_CITY_LABEL' | translate }}</ion-label>
			  					<ion-select [ngClass] = "{'selectCls': selectCity, 'unselectCls': !selectCity}" [(ngModel)]="address.cityId" name="city" (ionChange) = "cityChange()">
								    <ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option>
								    <ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option>
			     				</ion-select>
			     			</ion-item>
		  				</ion-col>
		     		</ion-row>
		     	</ion-col>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<ion-row class="no-padding">
		     			<ion-col col-lg-6 col-12>
			     			<ion-item detail-none>
			                	<ion-label floating>{{ 'STATE' | translate }}</ion-label>
		   						<ion-input name="state" [(ngModel)]="address.state" #state="ngModel" [type]="inputType" autocomplete="off" autocorrect="off" [readonly] = "viewFlag"  pattern="^[a-zA-Z ]+$"></ion-input>
		  					</ion-item>
	  					</ion-col>
	  					<ion-col col-lg-6 col-12>
	  						<ion-item detail-none>
			                	<ion-label floating>{{ 'ZIP' | translate }}</ion-label>
		   						<ion-input name="zip" [(ngModel)]="address.zipCode" #zip="ngModel" pattern="^[0-9]{6,6}$" [type]="inputType" autocomplete="off" autocorrect="off" required [readonly] = "viewFlag"></ion-input>
		  					 </ion-item>
		  					 <div class="error-msg-block text-left" *ngIf="zip.errors && (zip.dirty || zip.touched || formSubmitted)">
			                    <small [hidden]="!zip.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_ZIPCODE' | translate }}</small>	
			                 	<small [hidden]="!zip.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_ZIPCODE' | translate }}</small>
			                 </div>
	  					</ion-col>
		     		</ion-row>
		     	</ion-col>
		     </ion-row>
		     <ion-row>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<ion-row class="no-padding">
		     			<ion-col col-lg-6 col-12>
		     				<ion-item detail-one>
		     					<ion-label floating>{{ 'REGISTRATION_NUMBER' | translate }}</ion-label>
   								<ion-input name="doctorRegNumber" [(ngModel)] = "doctorData.registrationNumber" #doctorRegNumber = "ngModel" pattern = "[1-9][0-9]{9}" autocomplete="off" maxLength = "30" autocorrect="off" required [readonly] = "viewFlag"></ion-input>
		     				</ion-item>
		     				<div class="error-msg-block text-left" *ngIf="doctorRegNumber.errors && (doctorRegNumber.dirty || doctorRegNumber.touched || formSubmitted)">
				                <small [hidden]="!doctorRegNumber.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_REGISTRATION_NO' | translate }}</small>
				                <small [hidden]="!doctorRegNumber.errors.pattern" class="text-danger">{{ 'ERROR_INVALID_REGISTRATION_NUMBER' | translate }}</small>	
				            </div>
		     			</ion-col>
		     			<ion-col col-lg-6 col-12>
		     				<ion-item detail-one>
		     					<ion-label floating>{{ 'REGISTRATION_STATE' | translate }}</ion-label>
   								<ion-input name="doctorRegState" [(ngModel)] = "doctorData.registrationState" #doctorRegState = "ngModel" [type]="inputType" autocomplete="off" autocorrect="off" required [readonly] = "viewFlag"  pattern="^[a-zA-Z ]+$"></ion-input>
							</ion-item>
							<div class="error-msg-block text-left" *ngIf="doctorRegState.errors && (doctorRegState.dirty || doctorRegState.touched || formSubmitted)">
				                <small [hidden]="!doctorRegState.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_REGISTRATION_STATE' | translate }}</small>
				            </div>
		     			</ion-col>
		     		</ion-row>
		     	</ion-col>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6 align-self-end>    		
	     			<ion-item *ngIf="!isWeb" class="common-select-dropdown">
	     				<ion-label class="select-label-hide">{{ 'EDUCATION' | translate }}</ion-label>
				        <ion-select multiple=true [ngClass] = "{'selectCls': selectEdu, 'unselectCls': !selectEdu}" [(ngModel)]="doctorData.educationList" name="doctorEdu" #doctorEduc = "ngModel" (ionChange) = "getDoctorEdu($event)">
						    <ion-option  value="" disabled selected>{{ 'EDUCATION' | translate }}</ion-option>
						    <ion-option *ngFor = "let edu of doctorEducation" [value] = "edu.id"> {{ edu.name }} </ion-option>
		     			</ion-select>
					</ion-item>
					<p-multiSelect *ngIf="isWeb" defaultLabel="{{ 'EDUCATION' | translate }}" name="doctorEdu" [options]="doctorEducation" [(ngModel)]="doctorData.educationList" (onChange)="getDoctorEdu($event)"></p-multiSelect>
		     	</ion-col>
		     </ion-row> 
		     <ion-row>
				<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
  					<ion-item detail-none>
	                	<ion-label floating>{{ 'DAYS_OF_ADVANCED_BOOKING' | translate }}</ion-label>
   						<ion-input name="advancedBooking" #advancedBooking [(ngModel)] = "doctorData.daysForAdvanceBooking" pattern="^[0-9]{1,6}$" [type]="inputType" autocomplete="off" autocorrect="off" [readonly] = "viewFlag"></ion-input>
  					 </ion-item>
  					<div class="error-msg-block text-left" *ngIf="advancedBooking.errors && (advancedBooking.dirty || advancedBooking.touched || formSubmitted)">
	                    <!-- <small [hidden]="!hospitalContactNo.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small> -->	
	                	<small [hidden]="!advancedBooking.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_ADVANCED_BOOKING' | translate }}</small>
	                </div>
		        </ion-col> 
		        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
  					<ion-item detail-none>
	                	<ion-label floating>{{ 'LOCAL_NAME' | translate }}</ion-label>
   						<ion-input name="localName" #localName="ngModel" [(ngModel)]="doctorData.localName" [type]="inputType" autocomplete="off" autocorrect="off" required [readonly] = "viewFlag"></ion-input>
  					</ion-item>
		        </ion-col> 
		     </ion-row>
		     
		     <ion-row>
     			<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		        	<ion-item *ngIf="!isWeb" class="dropdown common-select-dropdown">
		        		<ion-label class="select-label-hide">{{ 'CATEGORY' | translate }}</ion-label>
				        <ion-select multiple=true [ngClass] = "{'selectCls': selectCat, 'unselectCls': !selectCat}" [(ngModel)]="category" name = "doctorCategory" #doctorCategory = "ngModel" (ionChange) = "onChangeCategory($event)">
				        	<ion-option  value="" disabled selected>{{ 'CATEGORY' | translate }}</ion-option>
						    <ion-option *ngFor = "let category of categories" [value] = "category">{{ category.name }}</ion-option>
		     			</ion-select>
					</ion-item>
					<p-multiSelect defaultLabel="{{ 'CATEGORY' | translate }}" name="hospitalCategory" [options]="categories" [(ngModel)]="category" (onChange)="onChangeCategory(true)"></p-multiSelect>
		        </ion-col>
		        <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		        </ion-col>  	     		
		     </ion-row>
		     
		     <ion-row>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<ion-item class="common-select-dropdown" *ngIf = "!isWeb">
		     			<ion-label class="select-label-hide">{{ 'SPECIALITY_LABEL' | translate }}</ion-label>
		     			<ion-select multiple=true [ngClass] = "{'selectCls': selectSpec, 'unselectCls': !selectSpec}" [(ngModel)]="doctorData.specialization" name="specialization" #specialization = "ngModel" (ionChange) = "getSpecialization($event)" disabled="{{!selectCat}}">
						    <ion-option  value="" disabled selected>{{ 'SPECIALITY_LABEL' | translate }}</ion-option>
						    <ion-option *ngFor = "let spec of specializationArr" [value] = "spec"> {{ spec.name }} </ion-option>
		     			</ion-select>
		     		</ion-item>
		     		<p-multiSelect *ngIf="isWeb" defaultLabel="{{ 'SPECIALITY_LABEL' | translate }}" name="specialization" [options]="specializationArr" [(ngModel)]="doctorData.specializationList" (onChange)="getSpecialization($event)" disabled="{{specializationArr && specializationArr.length <= 0}}"></p-multiSelect>
		     	</ion-col>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<ion-item class="common-select-dropdown" *ngIf = "!isWeb">
		     			<ion-label class="select-label-hide">{{ 'SERVICES' | translate }}</ion-label>
		     			<ion-select multiple=true [ngClass] = "{'selectCls': selectService, 'unselectCls': !selectService}"  [(ngModel)] = "doctorData.services" name="services" #services = "ngModel" (ionChange) = "getServices($event)">
		     				<ion-option  value="" disabled selected>{{ 'SERVICES_LABEL' | translate}}</ion-option>
						    <ion-option *ngFor = "let service of servicesArr" [value] = "service"> {{ service.name }} </ion-option>
		     			</ion-select>
		     		</ion-item>
		     		<p-multiSelect *ngIf="isWeb" defaultLabel="{{ 'SERVICES' | translate }}" name="services" [options]="servicesArr" [(ngModel)]="doctorData.serviceList" (onChange)="getServices($event)" disabled="{{servicesArr && servicesArr.length <= 0}}"></p-multiSelect>
		     	</ion-col>
		     </ion-row>
		      
		      <ion-row>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<div class="text-area-cls">
		     			{{specializationString}}
		     		</div>
		     	</ion-col>
		     	<ion-col col-12 col-sm-6 col-md-6 col-lg-6>
		     		<div class="text-area-cls">
		     			{{servicesString}}
		     		</div>
		     	</ion-col>
		     </ion-row>
		               
			<div class="btn-container" text-right *ngIf = "!viewFlag">
				<a href="#/hospital-admin-doctor-list/hospital-admin" block ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
				<a block ion-button class="common-blue-btn" (click)="createDoctor(createDoctorForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
			</div>
		</ion-grid>
	</form>
</ion-content>