page-landing-copy {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      @media (min-width: 768px) {
        .container {
          width: 750px;
        }
      }
      @media (min-width: 992px) {
        .container {
          width: 970px;
        }
      }
      @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
    }
    
    .ml-auto, .mx-auto {
        margin-left: auto!important;
    }
    
    
    
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
    
    html {
        font-size: 100%;
        height: 100%;
    }
    
    body {
        background-color: #fff;
        color: rgba(118, 118, 118, 1.0);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        padding: 0;
        margin: 0;
        line-height: 23px;
        font-style: normal;
        font-weight: normal;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 10px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #4d4d4d;
    }
    
    a {
        color: #4d4d4d;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    
    a:hover,
    a:focus {
        text-decoration: none;
        color: #0070c9;
        outline: none;
    }
    
    .mt0 {
        margin-top: 0 !important;
    }
    
    .mb0 {
        margin-bottom: 0 !important;
    }
    
    
    
    /* Padding top bottom css */
    
    .pd5 
    {
        padding: 5px !important;
    }
    
    .pd10 
    {
        padding: 10px !important;
    }
    
    .pd15 
    {
        padding: 15px !important;
    }
    
    .pd20 
    {
        padding: 20px !important;
    }
    
    .pd25 
    {
        padding: 25px !important;
    }
    
    .pd30 
    {
        padding: 30px !important;
    }
    
    .pd35 
    {
        padding: 35px !important;
    }
    
    .pd40 
    {
        padding: 40px !important;
    }
    
    .pd45 
    {
        padding: 45px !important;
    }
    
    .pd50 
    {
        padding: 50px !important;
    }
    
    /* padding left right css */
    
    .pl10
    {
        padding-left:10px;
    }
    
    .pl20
    {
        padding-left:20px;
    }
    
    .pl30
    {
        padding-left: 30px;
    }
    
    .pl40
    {
        padding-left: 40px;
    }
    
    .pl50
    {
        padding-left: 50px;
    }
    
    .pr10
    {
        padding-right:10px;
    }
    
    .pr20
    {
        padding-right:20px;
    }
    
    .pr30
    {
        padding-right:30px;
    }
    
    .pr40
    {
        padding-right:40px;
    }
    
    .pr50
    {
        padding-right: 50px;
    }
    
    
    /* Padding top css */
    
    .pt10 {
        padding-top: 10px;
    }
    
    .pt20 {
        padding-top: 20px;
    }
    
    .pt30 {
        padding-top: 30px;
    }
    
    .pt40 {
        padding-top: 40px;
    }
    
    .pt50 {
        padding-top: 50px;
    }
    
    .pt60
    {
        padding-top: 60px;
    }
    
    .pt70
    {
        padding-top: 70px;
    }
    
    .pt80
    {
        padding-top: 80px;
    }
    
    .pt90
    {
        padding-top:90px; 
    }
    
    .pt100 {
        padding-top: 100px !important;
    }
    
    /* Padding bottom css */
    
    .pb10 
    {
        padding-bottom: 10px;
    }
    
    .pb20 
    {
        padding-bottom: 20px;
    }
    
    .pb30 
    {
        padding-bottom: 30px;
    }
    
    .pb40 
    {
        padding-bottom: 40px;
    }
    
    .pb50 
    {
        padding-bottom: 50px;
    }
    
    .pb60 
    {
        padding-bottom: 60px;
    }
    
    .pb70 
    {
        padding-bottom: 70px;
    }
    
    .pb80 
    {
        padding-bottom: 80px;
    }
    
    .pb90 
    {
        padding-bottom: 90px;
    }
    
    .pb100
    {
        padding-bottom: 100px;
    }
    
    /* Margin Top Css */
    
    .mt10
    {
        margin-top: 10px;
    }
    
    .mt20
    {
        margin-top: 20px;
    }
    
    .mt30
    {
        margin-top: 30px;
    }
    
    .mt40
    {
        margin-top: 40px;
    }
    
    .mt50
    {
        margin-top: 50px;
    }
    
    .mt60
    {
        margin-top: 60px;
    }
    
    .mt70
    {
        margin-top: 70px;
    }
    
    .mt80
    {
        margin-top: 80px;
    }
    
    .mt90
    {
        margin-top: 90px;
    }
    
    .mt100
    {
        margin-top: 100px;
    }
    
    
    /* Margin Bottom Css */
    
    .mb10
    {
        margin-bottom: 10px;
    }
    
    .mb20
    {
        margin-bottom: 20px;
    }
    
    .mb30
    {
        margin-bottom:30px;
    }
    
    .mb40
    {
        margin-bottom: 40px;
    }
    
    .mb50
    {
        margin-bottom:50px;
    }
    
    .mb60
    {
        margin-bottom:60px;
    }
    
    .mb70
    {
        margin-bottom:70px;
    }
    
    .mb80
    {
        margin-bottom:80px;
    }
    
    .mb90
    {
        margin-bottom:90px;
    }
    
    .mb100
    {
        margin-bottom:100px;
    }
    
    .hidden
    {
        display: none;
    }
    
    .visible
    {
        display: block !important;
        transition: all .3s ease;
    }
    
    /* Custom Background Color */
    
    .bg-blue
    {
        background-color: #0070c9;
    }
    
    .bg-gray
    {
        background: #f5f5f5;
    }
    
    .bg-dark-gray
    {
        background: #4d4d4d;
    }
    
    .box-shadow-v1 
    {
        -webkit-box-shadow: 0 5px 50px 0 rgba(0, 81, 178, 0.1);
        box-shadow: 0 5px 50px 0 rgba(0, 81, 178, 0.1);
    }
    
    .text-center
    {
        text-align: center;
    }
    
    .text-right {
        text-align: right!important;
    }
    
    .align-items-center {
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    
    .d-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
    
    .mr-3, .mx-3 {
        margin-right: 1rem!important;
    }
    
    .mr-2, .mx-2 {
        margin-right: .5rem!important;
    }
    
    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    
    .form-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
    }
    
    @media (min-width: 576px)
    {
    .form-inline .form-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }
    }
    
    @media (min-width: 576px)
    {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    }
    
    /* Custom Button Css */
    
    .btn-custom
    {
        border-radius: 25px;
        background-color: rgb(0, 112, 201);
        box-shadow: 2.5px 4.33px 4px 0px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        color:#fff;
        font-size:17px;
        font-weight:600;
        padding:5px 30px;
        transition:  all .3s ease;
    }
    
    .btn-custom:hover
    {
        color:#fff;
        box-shadow: none;
    }
    
    .navbar-toggler
    {
        border:1px solid #fff;
        border-radius: 3px;
    }
    
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }
    
    .list-inline {
        padding-left: 0;
        list-style: none;
    }
    
    .list-inline-item {
        display: inline-block;
    }
    
    .list-inline-item:not(:last-child) {
        margin-right: .5rem;
    }
    
    .rounded-circle {
        border-radius: 50%!important;
    }
    
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    
    /* Section Title Css */
    
    .section-title h2
    {
        position: relative;
        font-size:24px;
        color:#000;
        margin:0;
        display: inline-block;
        padding-left: 100px;
        padding-right:100px;
    }
    
    .section-title h2::after
    {
        content: '';
        position: absolute;
        height:2px;
        width:100px;
        background: #999;
        right:-20px;
        top:15px;
    }
    
    .section-title h2::before
    {
        content: '';
        position: absolute;
        height:2px;
        width:100px;
        background: #999;
        left:-20px;
        top:15px;
    }
    
    
    /* Header Css */
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    
    .logo h2
    {
        margin:0;
        color:#000;
    }
    
    .header-top
    {
        padding:25px 0;
    }
    
    .top-menu
    {
        text-align: right;
    }
    
    .top-menu ul
    {
        padding:0;
        margin:0;
        list-style: none;
    }
    
    .top-menu ul li
    {
        margin-left:20px;
        margin-right:0 !important;
        display: inline-block;
    }
    
    .top-menu ul li a
    {
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
    
    .top-menu ul li.profile a 
    {
        width: auto;
        text-decoration: none;
    }
    
    .top-menu ul li.profile img 
    {
        height: 30px;
        width: 30px;
        top: 10px;
        right: 2px;
        position: relative;
        background-color: #999999;
    }
    
    .top-menu ul li .dropdown-menu
    {
        width:250px;
        border-radius:0;
    }
    
    .top-menu ul li .dropdown-menu .form-group label
    {
        margin-bottom: 0;
        font-size: 12px;
        font-weight: 600;
    }
    
    .top-menu ul li .dropdown-menu .form-group input
    {
        border-top:0 none;
        border-left:0 none;
        border-right:0 none;
        border-radius:0;
        font-size: 14px;
        font-weight: 500;
        padding-left:0;
    }
    
    .top-menu ul li .dropdown-menu .form-group input:focus
    {
        box-shadow: none;
        outline: 0 none;
    }
    
    .top-menu ul li .select-country-wrapper select
    {
        border:0 none;
        font-size: 14px;
        font-weight: 600;
    }
    
    .top-menu ul li .select-country-wrapper select:focus
    {
        outline: none;
        box-shadow: none;
    }
    
    .header-bottom .navbar
    {
        padding:0 !important;
    }
    
    .header-bottom .navbar ul
    {
        padding:0;
        margin:0;
        list-style: none;
    }
    
    .header-bottom .navbar ul li
    {
        display: inline-block;
    }
    
    .header-bottom .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
    
    .header-bottom .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .mr-auto, .mx-auto {
        margin-right: auto!important;
    }
    
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    
    @media (min-width: 992px)
    {
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    }
    
    @media (min-width: 992px)
    {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    }
    
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
    }
    
    
    .navbar-brand { position: relative; z-index: 2; }
    .navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }
    .navbar .navbar-collapse { position: relative; }
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }
    .navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
    .navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
    .navbar.navbar-inverse .nav-collapse { background-color: #222; }
    .navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
    .nav-collapse>li { float: right; }
    
    .btn.btn-circle { border-radius: 50px; }
    .btn.btn-outline { background-color: transparent; }
    
    @media screen and (max-width: 767px) {
        .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
        .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
        .navbar .nav-collapse .navbar-form { margin: 0; }
        .nav-collapse>li { float: none; }
    }
    
    .nav-link {
        display: block;
        padding: .5rem 1rem;
    }   
    
    .header-bottom .navbar ul li a
    {
        color:#fff;
        font-size: 15px;
        font-weight: 500;
        border-right:1px solid #99c6e9;
        text-decoration: none;
    }
    
    .mobile-menu ul li a
    {
        color:#000 !important;
    }
    
    .header-bottom .navbar ul li a.nav-link
    {
        padding:10px 25px;
    }
    
    .header-top .top-menu ul li a.business
    {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(17, 17, 17);
        background-color: rgb(255, 255, 255);
        padding:15px;
        border-radius: 50px;
        width:120px;
        height: 40px;
        font-weight: 600;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    
    .header-top .top-menu ul li a.business:hover
    {
        background: #0070c9;
        color:#fff;
        border-color: #0070c9;
    }
    
    
    /* Banner Section Css */
    
    .banner-bg
    
    {
        background-image: url('../../assets/imgs/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 670px;
    }
    
    .search-form-wrapper .search-form-heading
    {
        margin-bottom: 30px;
    }
    
    .search-form-wrapper .search-form-heading h1
    {
        font-weight: 800;
        text-transform: uppercase;
        color:#212121;
        font-size:48px;
        margin-top:0;
        margin-bottom: 10px;
        letter-spacing: 3px;
    }
    
    .search-form-wrapper .search-form-heading p
    {
        margin-bottom: 50px;
        color:#212121;
        font-size: 23px;
        line-height: 32px;
        margin-top:0;
    }
    
    .search-form
    {
        width: 400px;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 6.928px 5px 0px rgba(0, 0, 0, 0.08);
    }
    
    .search-form h2
    {
        margin-top:0;
        margin-bottom: 30px;
        color:#212121;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 18px;
    }
    
    .search-form .form-group {
        margin-bottom: 1rem;
    }
    
    .search-form .form-group input
    {
        border-top:0 none;
        border-left:0 none;
        border-right:0 none;
        border-radius:0;
        font-size: 14px;
        font-weight: 700;
    }
    
    .search-form .form-group input:focus
    {
        box-shadow: none;
        outline: 0 none;
    }
    
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    /* Fixed Form Css */
    
    .search-form-fixed
    {
        position: fixed;
        background: #fff;
        width:100%;
        top:0;
        left:0;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        padding:10px 0;
        z-index:999;
        border-bottom:1px solid #e3e3e3;
    }
    
    .search-form-fixed .top-menu
    {
        text-align: left;
    }
    
    .search-form-fixed .form-group input
    {
        border-top:0 none;
        border-left:0 none;
        border-right:0 none;
        border-radius:0;
        font-size: 14px;
        font-weight: 700;
        width:184px;
    }
    
    .search-form-fixed .form-group input:focus
    {
        box-shadow: none;
        outline: 0 none;
    }
    
    /* Feature Box Section Css */
    
    .feature-box .feature-box-icon
    { 
        height:139px;
        width: 139px;  
        line-height: 130px; 
        border-style: solid;
        border-width: 1px;
        border-color: rgb(209, 209, 209);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 0px #d1d1d1;
        -webkit-box-shadow: 0px 5px 0px #d1d1d1;
        -moz-box-shadow:    0px 5px 0px #d1d1d1;
        margin: 0 auto 45px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        cursor: pointer;
    }
    
    .feature-box .feature-box-icon .ico1
    {
        background-image: url('../../assets/imgs/icon1.png');
        background-position: 37px -68px;
        background-repeat: no-repeat;
        height:80px;
        position: relative;
        top:22px;
        transition:  all .3s ease;
        -webkit-transition:  all .3s ease;
        -moz-transition:  all .3s ease; 
    }
    
    .feature-box .feature-box-icon .ico2
    {
        background-image: url('../../assets/imgs/icon2.png');
        background-position: 37px -69px;
        background-repeat: no-repeat;
        height:80px;
        position: relative;
        top:22px;
        transition:  all .3s ease;
        -webkit-transition:  all .3s ease;
        -moz-transition:  all .3s ease; 
    }
    
    .feature-box .feature-box-icon .ico3
    {
        background-image: url('../../assets/imgs/icon3.png');
        background-position: 42px -76px;
        background-repeat: no-repeat;
        height:80px;
        position: relative;
        top:37px;
        transition:  all .3s ease;
        -webkit-transition:  all .3s ease;
        -moz-transition:  all .3s ease; 
    }
    
    .feature-box:hover .feature-box-icon
    {
        border-color: #0070c9;
        box-shadow: 0px 5px 0px #0070c9;
    }
    
    .feature-box-icon:hover .ico1,
    .feature-box-icon:hover .ico2
    
    {
        background-position: 37px 8px;
        transition:  all .3s ease;
        -webkit-transition:  all .3s ease;
        -moz-transition:  all .3s ease;
    }
    
    .feature-box-icon:hover .ico3
    
    {
        background-position: 42px 0;
        transition:  all .3s ease;
        -webkit-transition:  all .3s ease;
        -moz-transition:  all .3s ease;
    }
    
    .feature-box h3
    {
        font-size: 18px;
        color:#000;
    }
    
    /* Parallax Section Css */
    
    .parallax-bg
    {
        background-image: url('../../assets/imgs/parallax-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
    }
    
    .parallax-content h3
    {
        font-size:17px;
        color:#000;
        margin-bottom: 30px;
        line-height: 32px;
    }
    
    /* Popular Category Section Css */
    
    .category-box
    {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(209, 209, 209);
        border-radius: 8px;
        background-color: rgb(255, 255, 255);
        box-shadow: 4px 6.928px 5px 0px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        margin-bottom: 30px;
    }
    
    .category-box h2
    {
        font-size: 20px;
        margin:0;
    }
    
    .category-box .cat-icon
    {
        height:50px;
        width:50px;
        border-radius: 50%;
        background-color: rgb(241, 241, 241);
        text-align: center;
        line-height: 56px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
    }
    
    .category-box .cat-icon > i
    {
        font-size:26px;
    }
    
    .category-box:hover
    {
        box-shadow: none;
    }
    
    .category-box:hover h2
    
    {
        color:#0070c9;
    }
    
    .category-box:hover .cat-icon
    {
        background: #0070c9;
    }
    
    .category-box:hover .cat-icon > i
    
    {
        color:#fff;
    }
    
    /* Download App Section Css */
    
    .download-text h3
    {
        margin-bottom:20px;
        font-size: 18px;
        color:#000;
        line-height: 28px;
        margin-top:0;
    }
    
    .download-text .form-group input
    {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(209, 209, 209);
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        font-size: 16px;
    }
    
    .download-text button.btn-primary
    {
        border-radius: 50px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    /* Footer Section Css */
    
    .footer-top .footer-heading h3
    {
        font-size: 18px;
        color:#000;
        margin: 0;
    }
    
    .footer-top .footer-content .form-group
    {
        margin-bottom: 10px;
    }
    
    .footer-top .footer-content .form-group select
    {
        width: 250px;
        height:43px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(209, 209, 209);
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        font-size: 12px;
        font-weight: 600;
    }
    
    .footer-top .footer-content.quick-links ul li
    {
        margin-bottom: 15px;
    }
    
    .footer-top .footer-content.quick-links ul
    {
        margin-top:0;
    }
    
    .footer-top .footer-content.quick-links ul li a
    {
        color:#4d4d4d;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
    }
    
    .footer-top .footer-content .social-link ul li a.social
    {
        height: 40px;
        width:40px;
        border-radius: 100%;
        background: #c1c1c1;
        line-height: 44px;
        display: block;
        text-align: center;
    }
    
    .footer-top .footer-content .social-link ul li a.social > i
    {
        color:#fff;
        font-size: 18px;
    }
    
    .footer-top .footer-content .social-link ul li a.social:hover
    {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
    
    .footer-top .footer-content .social-link ul li a.social:hover
    {
        background: #0070c9;
    }
    
    
    
    .copyright-text p
    {
        margin-bottom: 0;
        color:#fff;
        font-size:14px;
        font-weight: 600;
    }
    
    /* Scroll To Top Css */
    
    .scroll-top 
    {
        bottom: 20px;
        font-size: 20px;
        height: 40px;
        position: fixed;
        text-align: center;
        width: 40px;
        z-index: 10;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 50%;
        line-height: 40px;
        right: -100px;
        background: #0070c9;
    }
    
    .scroll-top > i
    {
        color:#fff;
    }
    
    .scroll-top.active {
        right: 20px;
    }
    
    
    
    
    // Media Css
    
    @media (min-width:1025px) and (max-width:1200px)
    {
        .header-bottom .navbar ul li a.nav-link{padding:10px 15px;}
    }
    
    @media (min-width:812px) and (max-width:991px)
    {
        .header-bottom .navbar{padding:10px;}
    }
    
    
    @media (max-width:767px) and (min-width:240px)
    {
        .logo{text-align: center;margin-bottom: 15px;}
        .top-menu{text-align: center;}
        .section-title h2::after,.section-title h2::before{display: none;}
        .header-bottom .navbar{padding:10px;}
        .header-bottom .navbar ul li a{border-right: 0 none;}
        .header-bottom .navbar ul li a.nav-link{padding:10px}
        .feature-box{margin-bottom: 15px;}
        .search-form-fixed .form-group{width:100%;}
        .search-form{width:100%;}
        .pr10,.pr20,.pr30,.pr40,.pr50{padding-right:15px;}
        .pl10,.pl20,.p30,.pl40,.pl50{padding-left:15px;}
        .header-top .top-menu ul li a.business,.header-top .top-menu ul li .select-country-wrapper{display: none;}
        .search-form-fixed{display: none !important;}
        .search-form{display: block !important;}
        .download-app{padding-top:30px;padding-bottom: 30px;}
        .footer-content{margin-bottom: 30px;}
        .section-title h2{padding-left: 0;padding-right: 0;}
        .header-top{padding:15px 0 10px;}
    }
    
    @media (max-width:768px)
    {
        .category-box h2{font-size: 18px;}
        .header-bottom .navbar{padding:10px;}
        .header-bottom .navbar ul li a{border-right: 0 none;}
        .pr10,.pr20,.pr30,.pr40,.pr50{padding-right:15px;}
        .pl10,.pl20,.p30,.pl40,.pl50{padding-left:15px;}
        .search-form-fixed{display: none !important;}
        .search-form{display: block !important;}
        .footer-top .footer-content .form-group select{width:200px;}
    }
    
    @media (max-width:1024px)
    {
        .header-bottom .navbar ul li a.nav-link{padding:10px;}
        .pr10,.pr20,.pr30,.pr40,.pr50{padding-right:15px;}
        .pl10,.pl20,.p30,.pl40,.pl50{padding-left:15px;}
        .banner-bg .col-md-6{max-width: 100%;}
        .banner-bg{background-position: top;}
        .search-form-fixed{display: none !important;}
        .search-form{display: block !important;}
        .footer-top .footer-content .form-group select{width:200px;}
        .search-form-wrapper .search-form-heading h1{font-size:36px;}
    }
    
    @media (max-width:823px)
    {
        .header-top .top-menu ul li a.business,.header-top .top-menu ul li .select-country-wrapper{display: none;}
    }
    
    @media (max-width:812px)
    {
        .header-bottom .navbar{padding:10px;}
        .header-bottom .navbar ul li a{border-right: 0 none;}
        .category-box h2{font-size:18px;}
    }
    
    @media (max-width:736px)
    {
        .download-text .form-group input{width:170px;}
    }
    
    @media (max-width:640px)
    {
        .mobile-app-case img{display: none;}
    }
}
