<ion-content>
    <ion-grid no-padding>
            <div class="header-top bg-white">
                <div class="container">
                    <ion-row align-items-center>
                        <ion-col no-padding col-3 col-sm-12 col-md-12 col-lg-3>
                            <div class="logo">
                                <!-- <img src="img/logo.png" alt="" title=""/> -->
                                <h2>eDoctorTime</h2>
                            </div>
                        </ion-col>
                        <ion-col no-padding col-md-9>
                            <div class="top-menu">
                                <ul class="list-inline mb0">
                                    <li class="list-inline-item">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-in"></i> Login
                                            <span class="caret"></span>
                                        </a>
                                            <!-- <div class="dropdown-menu">
                                                <form class="pd10">
                                                    <div class="form-group">
                                                        <label for="">Email address</label>
                                                        <input type="email" class="form-control" id="" placeholder="email@example.com">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Password</label>
                                                        <input type="password" class="form-control" id="" placeholder="Password">
                                                    </div>
                                                    <div class="form-check mb10">
                                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                                        <label class="form-check-label" for="dropdownCheck">
                                                        Remember me
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                                </form>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Forgot password?</a>
                                            </div> -->
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"><i class="fa fa-user"></i> Signup</a>
                                    </li>
                                    <li class="list-inline-item profile showopacity">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                <img src="assets/imgs/profile.jpg" alt="" class="rounded-circle">
                                                <span>John Doe</span>
                                            </a>
                                            <!-- <div class="dropdown-menu dropdown-menu-form">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <a href="#">Logout</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="business">For Business</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="select-country-wrapper">
                                            <div class="form-group mb0">
                                                <div id="basic"
                                                        data-input-name="country2"
                                                        data-selected-country="IN">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
            <div class="header-bottom bg-blue">
                <div class="container">
                    <ion-row justify-content-center>
                        <ion-col no-padding col-md-12>
                            <nav class="navbar navbar-expand-lg">
                                    <!-- <a class="navbar-brand d-none d-sm-block" href="#"></a> -->
                                    <div class="top-menu d-block d-sm-none">
                                        <!-- <ul class="list-inline mb0">
                                            <li class="list-inline-item">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-in"></i> Login
                                                    <span class="caret"></span>
                                                </a>
                                                    <div class="dropdown-menu">
                                                        <form class="pd10">
                                                            <div class="form-group">
                                                                <label for="">Email address</label>
                                                                <input type="email" class="form-control" id="" placeholder="email@example.com">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="">Password</label>
                                                                <input type="password" class="form-control" id="" placeholder="Password">
                                                            </div>
                                                            <div class="form-check mb10">
                                                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                                                <label class="form-check-label" for="dropdownCheck">
                                                                Remember me
                                                                </label>
                                                            </div>
                                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                                        </form>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Forgot password?</a>
                                                    </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-user"></i> Signup</a>
                                            </li>
                                            <li class="list-inline-item profile showopacity">
                                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                        <img src="img/profile.jpg" alt="" class="rounded-circle">
                                                        <span>John Doe</span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-form mobile-menu">
                                                        <ul class="list-unstyled">
                                                            <li>
                                                                <a href="#">Logout</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                            </li>
                                        </ul> -->
                                    </div>
                                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MenuBar" aria-controls="MenuBar" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button> -->
                                
                                    <div class="collapse navbar-collapse" id="MenuBar">
                                        <ul class="navbar-nav mr-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Features</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">New Pages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Department</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Doctors</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Shortcodes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Contact Us</a>
                                        </li>
                                        </ul>
                                    </div>
                            </nav>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-grid>

    <ion-grid class="pt100 pb10 banner-bg">
            <div class="container">
                <ion-row>
                    <ion-col col-6 no-padding class="col-md-6 ml-auto">
                        <div class="search-form-wrapper wow fadeInUp animated">
                            <div class="search-form-heading">
                                <h1>Book Your Best</h1>
                                <p>Discover beauty and wellness professionals near you</p>
                            </div>
                        </div>
                        <div id="realtive-form" class="search-form pd30 text-center">
                        <h2>Search</h2>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search doctor or hospital">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your City">
                            </div>
                            <button type="button" class="btn btn-custom mt30 mb30"><i class="fa fa-search"></i> Search</button>
                        </form>
                        </div>
                        <div id="fixed-form" class="search-form-fixed" style="display: none;">
                            <div class="container">
                                <ion-row align-items-center>
                                    <ion-col no-padding class="col-md-3">
                                        <div class="logo">
                                            <!-- <img src="img/logo.png" alt="" title=""/> -->
                                            <h2>eDoctorTime</h2>
                                        </div>
                                    </ion-col>
                                    <ion-col no-padding class="col-md-6">
                                        <form class="form-inline justify-content-start">
                                                <div class="form-group mr-2">
                                                    <input type="text" class="form-control" placeholder="Services">
                                                </div>
                                                <div class="form-group mr-2">
                                                    <input type="text" class="form-control" placeholder="Your City">
                                                </div>
                                                <button type="button" class="btn btn-custom"><i class="fa fa-search"></i> SEARCH</button>
                                        </form>
                                    </ion-col>
                                    <ion-col no-padding class="col-md-3">
                                            <div class="top-menu">
                                                    <ul class="list-inline mb0">
                                                        <li class="list-inline-item">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-in"></i> Login
                                                                <span class="caret"></span>
                                                            </a>
                                                                <div class="dropdown-menu">
                                                                    <form class="pd10">
                                                                        <div class="form-group">
                                                                            <label for="">Email address</label>
                                                                            <input type="email" class="form-control" id="" placeholder="email@example.com">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="">Password</label>
                                                                            <input type="password" class="form-control" id="" placeholder="Password">
                                                                        </div>
                                                                        <div class="form-check mb10">
                                                                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                                                            <label class="form-check-label" for="dropdownCheck">
                                                                            Remember me
                                                                            </label>
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                                                                    </form>
                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item" href="#">Forgot password?</a>
                                                                </div>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="#"><i class="fa fa-user"></i> Signup</a>
                                                        </li>
                                                        <!-- <li class="list-inline-item profile showopacity">
                                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                                    <img src="img/profile.jpg" alt="" class="rounded-circle">
                                                                    <span>John Doe</span>
                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-form">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            <a href="#">Logout</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
    </ion-grid>

    <ion-grid class="pt60 pb40">
        <div class="container">
            <ion-row class="row mb50">
                <ion-col col-12 class="col-md-12">
                    <div class="section-title text-center">
                        <h2>Welcome to eDoctorTime</h2>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="row">
                <ion-col col-4 class="col-md-4 col-sm-4">
                    <div class="feature-box text-center wow fadeInUp animated">
                        <div class="feature-box-icon">
                            <div class="ico1"></div>
                        </div>
                        <h3>One Million Monthly <br> Reservations</h3>
                    </div>
                </ion-col>
                <ion-col col-4 class="col-md-4 col-sm-4">
                    <div class="feature-box text-center wow fadeInUp animated">
                        <div class="feature-box-icon">
                            <div class="ico2"></div>
                        </div>
                        <h3>Verified Reviews Only</h3>
                    </div>
                </ion-col>
                <ion-col col-4 class="col-md-4 col-sm-4">
                    <div class="feature-box text-center wow fadeInUp animated">
                        <div class="feature-box-icon">
                            <div class="ico3"></div>
                        </div>
                        <h3>Book online 24/7</h3>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

    <ion-grid class="pt60 pb60 parallax-bg">
        <div class="container">
            <ion-row class="row">
                <ion-col col-12 class="col-md-12">
                    <div class="parallax-content text-center wow fadeInUp animated">
                        <h3>Imagine your book at your fingertips whenever,<br> wherever. Give the eDoctorTime app a try.</h3>
                        <button type="button" class="btn btn-custom">Signup</button>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

    <ion-grid class="pt40 pb40 our-categories bg-white">
            <div class="container pl50 pr50">
                    <ion-row class="row mb60">
                        <ion-col class="col-md-12">
                            <div class="section-title text-center">
                                <h2>Most Popular Categories Nearby</h2>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="row">
                        <ion-col col-4 class="col-md-4">
                            <div class="category-box pd10 wow fadeInUp animated">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="cat-icon"><i class="fa fa-angle-double-right"></i></div>
                                    </div>
                                    <div>
                                        <h2>Categories 1</h2>
                                    </div>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-4 class="col-md-4">
                            <div class="category-box pd10 wow fadeInUp animated">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="cat-icon"><i class="fa fa-angle-double-right"></i></div>
                                    </div>
                                    <div>
                                        <h2>Categories 2</h2>
                                    </div>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-4 class="col-md-4">
                            <div class="category-box pd10 wow fadeInUp animated">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="cat-icon"><i class="fa fa-angle-double-right"></i></div>
                                    </div>
                                    <div>
                                        <h2>Categories 3</h2>
                                    </div>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-4 class="col-md-4">
                            <div class="category-box pd10 wow fadeInUp animated">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="cat-icon"><i class="fa fa-angle-double-right"></i></div>
                                    </div>
                                    <div>
                                        <h2>Categories 4</h2>
                                    </div>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-4 class="col-md-4">
                            <div class="category-box pd10 wow fadeInUp animated">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="cat-icon"><i class="fa fa-angle-double-right"></i></div>
                                    </div>
                                    <div>
                                        <h2>Categories 5</h2>
                                    </div>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col col-4 class="col-md-4">
                            <div class="category-box pd10 wow fadeInUp animated">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="cat-icon"><i class="fa fa-angle-double-right"></i></div>
                                    </div>
                                    <div>
                                        <h2>Categories 6</h2>
                                    </div>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                  </div>
    </ion-grid>

    <ion-grid class="pt60 bg-white download-app">
        <div class="container pl50 pr50">
            <ion-row align-items-center>
                <ion-col class="col-md-5 col-sm-8">
                    <div class="download-text wow fadeInUp animated">
                        <h3>Download our app to book your next <br> appointment anytime, anywhere.</h3>
                        <form class="form-inline">
                            
                            <div class="form-group mr-2 mb0">
                                <label for="inputPassword2" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Send SMS</button>
                        </form>
                    </div>
                </ion-col>
                <ion-col class="col-md-6 col-sm-4 d-none d-sm-block wow fadeInRight animated">
                    <div class="mobile-app-case text-right">
                        <img  class="img-fluid" src="assets/imgs/mob-banner.png" alt="" title=""/>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

    <ion-grid>
        <div class="footer-top pt40 pb40 bg-gray">
            <div class="container">
                <ion-row>
                    <ion-col no-padding col-3 col-sm-12 col-md-12 col-lg-4
                    
                    >
                            <div class="footer-heading mb20">
                                <h3>Regional Settings</h3>
                            </div>
                            <div class="footer-content">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Country</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Language</option>
                                    </select>
                                </div>
                            </div>
                    </ion-col>
                    <ion-col no-padding col-3 col-sm-12 col-md-12 col-lg-5>
                            <div class="footer-heading mb20">
                                <h3>Important Links</h3>
                            </div>
                            <div class="footer-content quick-links">
                                <ion-row>
                                    <ion-col col-md-4 col-sm-6>
                                        <ul class="list-unstyled mb0">
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                        </ul>
                                    </ion-col>
                                    <ion-col col-md-4 col-sm-6>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Terms of Service</a></li>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </ion-col>
                                </ion-row>
                            </div>
                    </ion-col>
                    <ion-col no-padding col-3 col-sm-12 col-md-12 col-lg-3>
                            <div class="footer-heading mb20">
                                <h3>Find Us On</h3>
                            </div>
                            <div class="footer-content">
                                <div class="social-link">
                                    <ul class="list-inline mb0">
                                        <li class="list-inline-item">
                                            <a href="#" class="social facebook"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="social twitter"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="social instagram"><i class="fa fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>

    </ion-grid>

</ion-content>