create-user-component {
    .common-page-container
    {
        .item-inner  .input-wrapper textarea
        {
            resize: none;
        }

        .formFieldsContainer
        {
            padding:15px 20px 20px;
        }

        .upload-img img
        {
            border-radius:6px;
        }

        p-dropdown .ui-dropdown
        {
            border-radius:0;
            border-top:0 none;
            border-left:0 none;
            border-right:0 none;
            border-bottom: 1px solid #e3e3e3;
            background: none !important;
        }

        .select-relation
        {

            padding:0 20px 0 0 !important ;
        }
        p-dropdown .ui-dropdown .ui-dropdown-panel
        {
            min-width: auto;
        }
        .float-label
        {
            margin-top:15px;
        }

        .formFieldsContainer ion-row ion-col:first-child
        {
            padding: 0 20px 0 0;
        }

        .formFieldsContainer ion-row ion-col.col
        {
            padding:0 20px 0 0;
        }

        .common-form-label
        {
            padding: 2px 0px 0px 15px;
        }
        .calendarCls .ui-inputtext,
        .mobileCalendar.datetime-md, .mobileCalendar.datetime
        {
            border-bottom:1px solid #e3e3e3;
            border-top:0 none;
            border-left:0 none;
            border-right: 0 none;
            background: none;
            box-shadow: none;
            border-radius: 0;
        }
        .mobileCalendar span.button-inner
        {
            border:0 none;
        }
        .ionic-selectable-ios .ionic-selectable-value
        {
            padding-left:0 !important;
        }

        p-dropdown .ui-dropdown .ui-dropdown-label
        {
            padding-left:7px;
        }

        .dob-label
        {
            color: #a0a0a0;
            margin: 0px;
            padding: 15px 0px 0px 15px;
            font-size: 1.2rem;
        }

        .datetime-text
        {
            font-size: 14px;
            padding-left:6px;
        }

        .padding-right0
        {
            padding-right: 0 !important;
        }

        .formFieldsContainer ion-row
        {
            padding: 5px 0px 0px;
        }

        .show-city-wrapper
        {
            position: relative;
        }
        .show-city-wrapper a
        {
            text-decoration: none;
        }

        .show-city-wrapper .back
        {
            position: absolute;
            right: 0;
            top:30px;
            font-size: 12px;
            color:#000;
            font-weight: 400;
        }
        
        

    }

    .common-select-dropdown
    {
       
        .item-inner .input-wrapper ion-label {
            flex: 1;
            max-width: initial;
        }

        .ionic-selectable
        {
            width:100%;
            max-width: none;
        }

        .ionic-selectable-md .ionic-selectable-icon-inner
        {
            top:50%;
        }

        .ionic-selectable-md .ionic-selectable-value  {
            padding-left: 0 !important;
        }
    }

    @media (min-width:320px) and (max-width:768px)
    {
        .common-page-container .select-relation
        {
            padding:0 !important;
        }
        .common-form-label
        {
            padding: 15px 0px 0px 15px !important;
        }
        .formFieldsContainer ion-row ion-col:first-child
        {
            padding-right: 0 !important;
        }
        .formFieldsContainer ion-row ion-col.col
        {
            padding:0 !important;
        }

        .show-city-wrapper .back
        {
            top:15px !important;
        }
        
    }
}
