<form class="common-page-container common-form" #createForm="ngForm" name="createForm" novalidate>
  <ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkPlatform() && !commonService.checkMobileweb()">
    <ion-row class="list-container">
      <ion-col col-12 class="upload-img">
        <!-- <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
        <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
        <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
        <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" /> -->
        <label for="image-upload-input" class="upload-img" (click)="onCamera()">
           <div>
              <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
                <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
          </div>
          </label>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    <!-- condition to use img upload in mobile web browser -->
  <ion-grid class="mobile-profile-img" *ngIf="!commonService.checkIsWeb() && commonService.checkMobileweb()">
  <ion-row class="list-container">
        <ion-col col-12 class="upload-img max-width-110"> 
            <!-- <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
            <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && !isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
            <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
            <img *ngIf="(!isEditSysAdminMode || !isCreate) && viewMode && isMyProfile && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" /> -->
            <label for="image-upload-input" [ngClass]="{'hand-pointer': isEditSysAdminMode || isCreate}" class="upload-img">  
              <div>
                <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
                  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
            </div>
              <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
            </label>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid class="formFieldsContainer">
    <ion-row *ngIf="commonService.checkIsWeb()">
      <ion-col col-2 class="doctor-img">
        <label for="image-upload-input"  class="upload-img hand-pointer">
          <div>
            <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
            <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
          </div>
          <input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
        </label>
        <!-- <label for="image-upload-input" *ngIf="!commonService.checkIsWeb() && !commonService.checkMobileweb() && commonService.checkPlatform()" class="upload-img hand-pointer"
          (click)="onCamera()">
          <div>
            <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
            <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
          </div>
        </label> -->
      </ion-col>
      <ion-col col-8>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-item detail-none>
          <ion-label floating>{{ 'FN_LABEL' | translate }}</ion-label>
          <ion-input name="firstName" [(ngModel)]="data.firstName" #firstName="ngModel"
            autocomplete="off" autocorrect="off" pattern="^[a-zA-Z ]{1,50}$" maxlength="50" required></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="firstName.errors && (firstName.dirty || firstName.touched || formSubmitted)">
          <small [hidden]="!firstName.errors.required" class="text-danger">{{ 'ERROR_MSG_FIRST_NAME' |
            translate }}</small>
          <small [hidden]="!firstName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_FIRSTNAME' | translate
            }}</small>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-item detail-none>
          <ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <ion-input name="lastName" [(ngModel)]="data.lastName" #lastName="ngModel" autocomplete="off"
            autocorrect="off" pattern="^[a-zA-Z ]{1,50}$" maxlength="50"></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="lastName.errors && (lastName.dirty || lastName.touched || formSubmitted)">
          <small [hidden]="!lastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_LASTNAME' | translate}}</small>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-row class="no-padding">
            <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
            <ion-item detail-none>
              <ion-label floating>{{ 'USERNAME_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
              <ion-input name="userName" [(ngModel)]="data.userName" maxlength="20" #userName = "ngModel" pattern="^[a-zA-Z0-9_@^#$%&*()-.]{1,20}$"></ion-input>
            </ion-item>
            <div class="error-msg-block text-left" *ngIf="userName.errors && (userName.dirty || userName.touched || formSubmitted)">
              <small [hidden]="!userName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_USERNAME' | translate }}</small>		
            </div>
          </ion-col> 
        <!-- <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
            <ion-item>
              <ion-label floating>{{ 'BLOOD_GROUP_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
              <ion-input name="bloodGroup" [(ngModel)]="data.booldGroup" #bloodGroup="ngModel" autocomplete="off"
                autocorrect="off"></ion-input>
            </ion-item>
          </ion-col> -->
          <ion-col col-lg-6 col-12 class="padding-top15 padding-right0">
            <ion-item detail-none>
              <ion-label floating>{{ 'CONTACT_NUMBER' | translate}}</ion-label>
              <ion-input name="contactNumber" [(ngModel)]="data.contactNumber" #contactNumber="ngModel"
                pattern="[1-9][0-9]{9}" maxlength="10" [type]="inputType" autocomplete="off" autocorrect="off" required></ion-input>
            </ion-item>
            <div class="error-msg-block text-left" *ngIf="contactNumber.errors && (contactNumber.dirty || contactNumber.touched || formSubmitted)">
              <small [hidden]="!contactNumber.errors.required" class="text-danger">{{
                'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
              <small [hidden]="!contactNumber.errors.pattern" class="text-danger">{{
                'Error_MSG_INVALID_CONTACT_NO' | translate }}</small>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-6 col-md-6 col-lg-6>
        <ion-item detail-none>
          <ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
          <ion-input name="email" [(ngModel)]="data.email" #email="ngModel" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})"
            [type]="inputType" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="email.errors && (email.dirty || email.touched || formSubmitted)">
          <small [hidden]="!email.errors.pattern" class="text-danger">{{ 'Error_MSG_INVALID_EMAIL' | translate
            }}</small>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12 col-sm-12 col-md-6 col-lg-3>
          <ion-item>
            <ion-label floating>{{ 'STREET' | translate }} </ion-label>
            <ion-input name="street" [(ngModel)]="address.street" #street="ngModel" autocomplete="off" autocorrect="off"></ion-input>
          </ion-item>
          <div class="error-msg-block text-left" *ngIf="street.errors && (street.dirty || street.touched || formSubmitted)">
            <!-- <small [hidden]="!state.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' |
                  translate }}</small> -->
            <small [hidden]="!street.errors.pattern" class="text-danger">{{ 'Error_MSG_BLANK_STREET' | translate
              }}</small>
          </div>
        </ion-col>
        <ion-col col-12 col-sm-6 col-md-6 col-lg-3>
          <!-- <div *ngIf="!showOtherCity"> -->

            <ion-label class="common-form-label label label-md is-disabled-label">{{ 'CITY_LABEL' | translate }}</ion-label>
            <ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-item">
              <ionic-selectable item-content [(ngModel)]="city" [items]="cityList" [canSearch]="true" [focusSearchbar]="false"
                itemValueField="id" itemTextField="name" (onChange)="onCitySelect($event.value)" name="city"
                okButtonText="Ok" placeholder="{{ 'CITY_LABEL' | translate }}">
              </ionic-selectable>
             
            </ion-item>

            <p-dropdown *ngIf="commonService.checkIsWeb()" [options]="cityList" [(ngModel)]="city" optionLabel="name"
              name="city" [filter]="true" (onChange)="onCitySelect(city)" placeholder="{{ 'CITY_LABEL' | translate }}"></p-dropdown>

          <!-- </div>

          <div *ngIf="showOtherCity" class="show-city-wrapper">
              <ion-item>
                  <ion-label floating>{{ 'CITY_LABEL' | translate }} </ion-label>
                  <ion-input name="city" [(ngModel)]="data.otherCity" #city="ngModel" autocomplete="off" autocorrect="off"
                    pattern="^[a-zA-Z ]+$"></ion-input>
                </ion-item>
                <div class="error-msg-block text-left" *ngIf="city.errors && (city.dirty || city.touched || formSubmitted)">
                
                </div>
                <a (click)="onClickCloseOtherCity()" class="fa fa-times back"></a>
          </div> -->

        </ion-col>

      <ion-col col-12 col-sm-6 col-md-6 col-lg-3>
        <ion-item>
          <ion-label floating>{{ 'STATE_LABEL' | translate }} </ion-label>
          <ion-input name="state" [(ngModel)]="address.state" #state="ngModel" autocomplete="off" autocorrect="off"
            pattern="^[a-zA-Z ]+$"></ion-input>
          <!-- <ion-option  value="0" disabled selected>{{ 'CITY_LABEL' | translate }}</ion-option> -->
          <!-- <ion-option *ngFor="let city of cityList" value="{{city.id}}"> {{ city.name }} </ion-option> -->
        </ion-item>
        <div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
          <!-- <small [hidden]="!state.errors.required" class="text-danger">{{ 'ERROR_MSG_BLANK_CITY_INPUT' |
            translate }}</small> -->
          <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate
            }}</small>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 col-lg-3>
        <ion-item>
          <ion-label floating>{{ 'ZIP' | translate }} </ion-label>
          <ion-input name="zipCode" [(ngModel)]="address.zipCode" #zipCode="ngModel" autocomplete="off" autocorrect="off"></ion-input>
        </ion-item>
        <!-- <div class="error-msg-block text-left" *ngIf="state.errors && (state.dirty || state.touched || formSubmitted)">
              <small [hidden]="!state.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_STATE' | translate
                }}</small>
            </div> -->
      </ion-col>
    </ion-row>


    <div class="btn-container" text-right>
      <a  href="{{backPageUrl}}" block ion-button class="common-blue-btn">{{ 'CANCEL_BTN_LABEL' |
        translate }}</a>
      <a (click)="onClickSave(createForm)" block ion-button class="common-blue-btn">{{ 'SAVE_BTN_LABEL' |
        translate }}</a>
       
    </div>
  </ion-grid>
</form>