
appointment-list {
    .appointment-list-container{
        padding:0px;

        .appointment-list-item{
            background-color:$whiteColor;
            border:1px solid #cadce8;
            margin-bottom:5px;

            .appointment-list-content-wrapper{
                display: inline-flex;
                padding:10px;
                @include screenMax576{
                	padding:10px 10px 10px;
	            }
                .appointment-list-content{
                	width: 100%;                	
                	ion-col{
                		padding:0px;
                	}
                	
                	> ion-col.info-container{
                		padding-top:10px;
                	}
                	.date-time-fee-section{
                		ion-col{
                			padding:0px 0px 10px 0px;
                			display:flex;
                			align-items:center;
                			
                			img{
                				width:16px;
                				height:16px;
                			}
                			p, span{
                				font-size:1.3rem;
                				padding:0px;
                				padding-left:5px;
                			}
                		}
                	}
                	
                     .icon, p, .time{
                        display: inline-block;
                        margin:0px;
                        padding:0px 10px;
                        color:$listItemContentColor;
                        font-size:1.4rem;
                        @include screenMax576{
                            font-size:1.3rem;
                        }
                    }
                    .icon{
                        vertical-align: bottom;
                        padding:0px;
                    }
                    .date-time-container{
                        width:63%;
                        display: inline-block;
                        @include ipad-portrait{
                            width:55%;
                        }
                        @include ipad-landscape{
                            width:63%;
                        }
                        @include screenMax576{
                            width: 100%;
                            display: block;
                           // width: 55%;
                        }
                        .date{
                        	@include screenMax576{
	                            padding: 0px 5px;
	                        }
                        }
                        .time{
                            border-left:2px solid $borderColor;
                            @include screenMax576{
	                            padding: 0px 5px;
	                        }
                        }
                    }  //end of date-time-container
                    .fee-container{
                         width:34%;
                         display: inline-block;
                         text-align: center;
                         @include ipad-portrait{
                            width:42%;
                        }
                        @include ipad-landscape{
                            width:34%;
                        }
                        @include screenMax576{
                             //width: 100%;
                            //display: block;
                            width: auto;
                            display: inline-block;
                            text-align: left;
                            padding-top:5px; 
                           // width: 42%;
						   // text-align: right;
                        }
                         .icon{
                            padding:0px 10px;
                            border-left:2px solid $borderColor;
                             @include screenMax576{
                              // border:0px;
                              // border-left: 2px solid #e3e3e3;
                              // padding-left:0px;
                               padding-right: 5px;
                            }
                         }
                         p{
                             padding-left:0px;
                             @include screenMax576{
                             	padding-right: 0;
                         	}
                         }
                    } //end of fee-container

                    .info-container{
                        .profile-img{
                            padding:0px !important;
                            cursor: auto;
                            a{
                                display:block;
                                border-radius: 6px;
								border:1px solid $timeLinkBlueColor;
                            }
                           a:hover{
                           	opacity :1;
                           }
                        } //end of profile-img

                        .info-content{
                            padding:0px !important;
                            ul{
                                @extend .list-item;
                                padding-left: 15px;
                                li{
                                    display: flex;
                                    align-items: center;
                                    p{
                                        line-height:20px;
                                        padding:0px;
                                        @include screenMax576{
                                            font-size:1.3rem;
                                        }
                                    }
                                    &:first-child{
                                       p{
                                            margin:0px;
                                            padding:0px 4px;
                                            float:left;
                                            white-space: nowrap;
                                            max-width:385px;
                                            width:85% !important;
                                            color:$blackColor;
                                            cursor: pointer;
                                            text-decoration:none;
                                            display:inline-block;
                                            margin-bottom:5px;
                                            font-size:1.8rem;
                                            @include screenMax576{
                                                font-size:1.5rem;
                                            }
                                            
                                            @include screenMobileMax576{
                                                 max-width:315px;
                                            }
                                            
                                           &:hover{ 
                                           	    opacity :1;
                                           	    cursor:auto;
                                           }
                                        }
                                        span{
                                            align-self: center;
                                            display: inline-flex;
                                            width:15%;
                                            justify-content: flex-end;
                                            color:$listItemContentColor;
                                            align-items: flex-end;
                                            @include screenMax576{
                                            	font-size:1.2rem;
                                            }
                                            @include screenMobileMax576{
                                                 width:14%;
                                            }
                                            img{
                                                margin-right: 5px;
                                            }
                                        }
                                    }
                                }
                                .address-info{
                                    .hospital-address{
                                       width:76%;
                                       
                                       @include screenMax576{
                                       		text-overflow: ellipsis;
										    overflow: hidden;
										    white-space: nowrap;
										    max-width: 355px;
										    display: inline-block;
                                       }
                                       
                                       @include screenMobileMax576{
                                       		max-width:290px;
                                       }
                                    }
                                    span{
                                        align-self: center;
                                        text-align: right;
                                        width:15%;
                                        justify-content: flex-end;
                                        align-items: flex-end;
                                        img{
                                            padding-left:15px;
                                            border-left:1px solid $borderColor;
                                            cursor: pointer;
                                        }
                                        @include screenMobileMax576{
                                                 width:13%;
                                            }
                                    }
                                }
                            }
                        } //end of info-content
                    } //end of info-container

                } // end of appointment-list-content

            } //end of appointment-list-content-wrapper

            .appointment-list-btn-container{
                display: inline-flex;
                padding:15px;
                padding-right:0px;
                 @include screenMax576{
                     padding-right:10px;
                }
                
                @include ipad-portrait{
                    padding-top: 0px;
                }
                @include screenMax576{
                    padding-top: 0px;
                    padding-right:15px;
                }
                .appointment-list-btn{
                    border-left:1px solid $borderColor;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width:100%;
                    padding:0 5px;
                    @include screenMax576{
                        border-left:0px;
                        justify-content: flex-end;
                        padding:auto;
                    }
                    @include ipad-portrait{
                        border-left:0px;
                        justify-content: flex-end;
                    }
                    a{
                        margin:unset;
                        &:nth-child(2){
                            margin-left:10px;
                        }
                         &:nth-child(3){
                            margin-left:10px;
                        }
                    }
                } //end of appointment-list-btn
            } //end of appointment-list-btn-container
            
            &:first-child{
            	@include screenMax576{
            		margin-top:10px;
                }
            }

        }  //end of appointment-list-item

    }  //end of appointment-list-container
    
    hr{
        margin:15px 0px;
    }
}

.content-ios hr{
    height:1px !important;
    margin:15px 0px;
}
