<ion-header *ngIf="!commonService.checkIsWeb()">
<!-- 		<ion-navbar>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title *ngIf="!commonService.checkIsWeb()&&isUpcominAppointments">{{ 'UPCOMING_APPOINTMENT_TITLE' | translate }}</ion-title>
			<ion-title *ngIf="!commonService.checkIsWeb()&& !isUpcominAppointments">{{ 'APPOINTMENTS_HISTORY' | translate }}</ion-title>	
				<ion-buttons right class="header-username-container">
	   			<button ion-button class="header-username" *ngIf="commonService.checkIsWeb()">{{userData.firstName}} {{userData.lastName}}</button>
	    		<div class="left-border" *ngIf="commonService.checkIsWeb()"></div>
	    	</ion-buttons>
		</ion-navbar> -->
	<header-for-role-creation-form   *ngIf="!commonService.checkIsWeb()&&isUpcominAppointments" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'UPCOMING_APPOINTMENT_TITLE'"  [showBackButton]="false" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
	<header-for-role-creation-form   *ngIf="!commonService.checkIsWeb()&& !isUpcominAppointments" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'APPOINTMENTS_HISTORY'"  [showBackButton]="false" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
	<header-for-role-creation-form   *ngIf="commonService.checkIsWeb()&&isUpcominAppointments"[firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'UPCOMING_APPOINTMENT_TITLE'"  [showBackButton]="false"></header-for-role-creation-form>
	<header-for-role-creation-form   *ngIf="commonService.checkIsWeb()&&!isUpcominAppointments"[firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'APPOINTMENTS_HISTORY'"  [showBackButton]="false"></header-for-role-creation-form>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title" *ngIf="isUpcominAppointments">{{ 'UPCOMING_APPOINTMENT_TITLE' | translate }}</ion-title>
		<ion-title class="page-sub-title" *ngIf="!isUpcominAppointments">{{ 'APPOINTMENTS_HISTORY' | translate }}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header>
<ion-content padding class="centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">
<!-- 		<ion-navbar>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
			<ion-title *ngIf="!commonService.checkIsWeb()&&isUpcominAppointments">{{ 'UPCOMING_APPOINTMENT_TITLE' | translate }}</ion-title>
			<ion-title *ngIf="!commonService.checkIsWeb()&& !isUpcominAppointments">{{ 'APPOINTMENTS_HISTORY' | translate }}</ion-title>	
				<ion-buttons right class="header-username-container">
	   			<button ion-button class="header-username" *ngIf="commonService.checkIsWeb()">{{userData.firstName}} {{userData.lastName}}</button>
	    		<div class="left-border" *ngIf="commonService.checkIsWeb()"></div>
	    	</ion-buttons>
		</ion-navbar> -->
		<header-for-role-creation-form   *ngIf="!commonService.checkIsWeb() && isUpcominAppointments" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'UPCOMING_APPOINTMENT_TITLE'"  [showBackButton]="false" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
		<header-for-role-creation-form   *ngIf="!commonService.checkIsWeb() && !isUpcominAppointments" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'APPOINTMENTS_HISTORY'"  [showBackButton]="false" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>
		<header-for-role-creation-form   *ngIf="commonService.checkIsWeb() && isUpcominAppointments"[firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'UPCOMING_APPOINTMENT_TITLE'"  [showBackButton]="false"></header-for-role-creation-form>
		<header-for-role-creation-form   *ngIf="commonService.checkIsWeb() && !isUpcominAppointments"[firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'APPOINTMENTS_HISTORY'"  [showBackButton]="false"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
			<ion-title class="page-sub-title" *ngIf="isUpcominAppointments">{{ 'UPCOMING_APPOINTMENT_TITLE' | translate }}</ion-title>
			<ion-title class="page-sub-title" *ngIf="!isUpcominAppointments">{{ 'APPOINTMENTS_HISTORY' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	<div class="main-content">
		<ion-grid class="appointment-list-container">
			<ion-row class="appointment-list-item"  *ngFor="let item of appointmentList">
              <ion-col col-12 col-sm-12 col-md-12 col-lg-7 class="appointment-list-content-wrapper">
                  <ion-row  class="appointment-list-content">
                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12>
                         <div class="date-time-container"  *ngIf="commonService.checkIsWeb()">
                            <img class="icon" src="assets/imgs/04_time_icon.svg" />
                            <p class="date">{{item.appointmentDetails.appointmentDate | date :'mediumDate'}}</p>
                             <span class="time">{{item.fromTimeString}}</span>
                         </div> 
                         <div class="fee-container" *ngIf="commonService.checkIsWeb() && item.doctorsDetails.fees">
                            <img class="icon" src="assets/imgs/doctors_fees_blue.svg" />
                            <p class="date">{{ 'FEES_TEXT' | translate }} - {{item.doctorsDetails.fees  | currency:"INR":true:'1.0-0'}}/-</p>
                         </div>
                         
                         <!--  <div class="date-time-container"  *ngIf="!commonService.checkIsWeb()">
                            <img class="icon" src="assets/imgs/04_time_icon.svg" />
                            <p class="date">{{item.appointmentDetails.appointmentDate | date :'mediumDate'}}</p>
                             <span class="time">{{item.fromTimeString}}</span>
                               <div class="fee-container" *ngIf="!commonService.checkIsWeb() && item.doctorsDetails.fees">
	                            <img class="icon" src="assets/imgs/doctors_fees_blue.svg" />
	                            <p class="date">{{ 'FEES_TEXT' | translate }} - {{item.doctorsDetails.fees  | currency:"INR":true:'1.0-0'}}/-</p>
	                           </div>
                         </div>  -->
                         <ion-row class="date-time-fee-section" *ngIf="!commonService.checkIsWeb()">
			                  <ion-col col-5>
			                   	<img class="icon" src="assets/imgs/04_time_icon.svg" />
                            	<p class="date">{{item.appointmentDetails.appointmentDate | date :'mediumDate'}} |</p>
			                  </ion-col>
			                  <ion-col col-3>
			                  	<span class="time">{{item.fromTimeString}} |</span> 
			                  </ion-col>
			                  <ion-col col-4>
			                  	<img class="icon" src="assets/imgs/doctors_fees_blue.svg" />
	                            <p class="date">{{ 'FEES_TEXT' | translate }} - {{item.doctorsDetails.fees  | currency:"INR":true:'1.0-0'}}/-</p>
			                  </ion-col>
			              </ion-row>
                       
                    </ion-col>
                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 class="info-container">
                      <ion-row>
                        <ion-col col-2 class="profile-img">
                            <div>
                               <a class="profile-img-responsive" [style.backgroundImage]="'url('+ item.doctorsDetails.imageBase64 +')'" *ngIf="item.doctorsDetails.imageBase64">
					  			</a>
					  			<a class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" *ngIf="!item.doctorsDetails.imageBase64">
					  			</a>
                            </div>
                        </ion-col>
                        <ion-col col-10 class="info-content">
                            <ul>
                              <li>
                                  <p class="name-section">{{item.doctorsDetails.firstName}} {{item.doctorsDetails.lastName}}</p>
                                  <span *ngIf="item.doctorsDetails.avgRating"><img src="assets/imgs/doctors_rating.svg">{{item.doctorsDetails.avgRating}} %</span>
                              </li>
                              <li>
                                  <img *ngIf="item.doctorsDetails.educationList.length >0" src="assets/imgs/doctors_education.svg">
                              	<p><span class="hospital-address"  style="display:inherit;" *ngFor="let item of item.doctorsDetails.educationList; last as isLast">
                                  {{item.name}}
                                  <span *ngIf="!isLast" style="margin-right: 5px;">,</span>
                                </span></p>
                              </li>
                            </ul>
                        </ion-col>
                      </ion-row>
                      <hr />
                       <ion-row class="list-container">
                        <ion-col col-2 class="profile-img">
                            <div>
                               <a *ngIf="item.hospitalDetails.imageBase64" class="profile-img-responsive" [style.backgroundImage]="'url('+ item.hospitalDetails.imageBase64 +')'">
	              				</a>
	              				<a *ngIf="!item.hospitalDetails.imageBase64" class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'">
	              				</a>
                            </div>
                        </ion-col>
                        <ion-col col-10 class="info-content">
                            <ul>
                              <li>
                                  <p>{{item.hospitalDetails.name}}</p>
                                  <span><img src="assets/imgs/star.svg">{{item.hospitalDetails.avgRating}}</span>
                              </li>
                              <li class="address-info">
                                  <img src="assets/imgs/location.svg">
                                  <p class="hospital-address">{{item.hospitalDetails.address?.street}},
                                  {{item.hospitalDetails.address.street}},{{item.hospitalDetails.address.cityName}},{{item.hospitalDetails.address.state}}
                                  ,{{item.hospitalDetails.address.zipCode}}
                                  </p>
                                  <span (click)="plotAddressOnMap(item.hospitalDetails.name, item.hospitalDetails.address)"><img src="assets/imgs/map_icon.png" /></span>
                              </li>
                            </ul>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
              </ion-col>
              <ion-col col-12 col-sm-12 col-md-12 col-lg-5 class="appointment-list-btn-container">
                <div class="appointment-list-btn">
                  <a ion-button class="common-blue-btn activate-btn"  *ngIf="isUpcominAppointments" href="#/confirm-booking-step2/patientUpcomingAppointment/{{item.appointmentDetails.appointmentId}}">{{ 'UPDATE_BTN_LABEL' | translate }}</a>
                  <!-- <a ion-button class="common-blue-btn" *ngIf="isUpcominAppointments" href="#/booking-step1/{{item.doctorsDetails.doctorId}}/patientUpcomingAppointmentBookAgain/0" (click)="getBookingDetails(item)">{{ 'BOOK_AGAIN_LABEL' | translate }}</a> -->
                  <a ion-button class="common-blue-btn" *ngIf="isUpcominAppointments" href="{{bookingUrl}}" (click)="getBookingDetails(item,'patientUpcomingAppointmentBookAgain','bookStep1',0,item.doctorsDetails.doctorId)">{{ 'BOOK_AGAIN_LABEL' | translate }}</a>

				  <a ion-button class="common-blue-btn activate-btn" *ngIf="isUpcominAppointments && commonService.checkIsWeb()" href="#/confirm-booking-step2/patientUpcomingAppointmentViewDetails/{{item.appointmentDetails.appointmentId}}" (click)="getBookingDetails(item)">{{ 'VISIT_DETAILS' | translate }}</a><!-- (click)="getBookingDetails(item)" -->
                    <a ion-button class="common-blue-btn activate-btn" *ngIf="isUpcominAppointments && !commonService.checkIsWeb()" href="#/confirm-booking-step2/patientUpcomingAppointmentViewDetails/{{item.appointmentDetails.appointmentId}}" (click)="geToConfirmBookingPage(item)">{{ 'VISIT_DETAILS' | translate }}</a><!-- (click)="getBookingDetails(item)" -->
                  	<a  ion-button class="common-blue-btn activate-btn"  *ngIf="!isUpcominAppointments && !item.isFeedbackSent && commonService.checkIsWeb()" href="#/rate-and-feedback/createFeedback/{{item?.doctorsDetails.doctorId}}/{{item?.hospitalDetails.hospitalId}}/{{item?.appointmentDetails.appointmentId}}">{{ 'RATE_NOW' | translate }}</a>
                  	<a  ion-button class="common-blue-btn activate-btn"  *ngIf="!isUpcominAppointments && !item.isFeedbackSent && !commonService.checkIsWeb()" (click)="goToRateAndFeedback(item)">{{ 'RATE_NOW' | translate }}</a>
		          <a ion-button class="common-blue-btn deactivate-btn"  *ngIf="item.isFeedbackSent && !isUpcominAppointments && pageName == 'patientHistory'">{{ 'RATED' | translate }}</a> 
			     <!-- <a ion-button class="common-blue-btn" *ngIf="!isUpcominAppointments" href="#/booking-step1/{{item.doctorsDetails.doctorId}}/patientAppointmentHistory/0" (click)="getBookingDetails(item)">{{ 'BOOK_AGAIN_LABEL' | translate }}</a> -->
			     <a ion-button class="common-blue-btn" *ngIf="!isUpcominAppointments"  (click)="getBookingDetails(item,'patientAppointmentHistory','bookStep1',0,item.doctorsDetails.doctorId)">{{ 'BOOK_AGAIN_LABEL' | translate }}</a>

				</div>
              </ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div class="main-content">
  		<div *ngIf="appointmentList && appointmentList.length == 0" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
 		<div class="load-more-container" text-center *ngIf="!loadFinished && appointmentList && (appointmentList.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>