	<ion-header *ngIf="!isSearchHeader && !commonService.checkIsWeb()">
		<ion-navbar>
	    	<button ion-button menuToggle start>
	      		<ion-icon name="menu"></ion-icon>
				</button>
				
	    	<ion-grid class="mobile-view-city-dropdown" *ngIf="!commonService.checkIsWeb()">
	    		<ion-row  class="city-ion-dropdown">
		            <ion-col col-5 >
			    		<ion-title class="header-location-label">{{ 'LOCATION_LABEL' | translate }}</ion-title>
			            <!-- <ion-item class="common-select-dropdown city-dropdown-mobile">
			            	<ion-label> {{ 'SELECT_CITY' | translate }}</ion-label>
							<ion-select [(ngModel)]="cityId" name="city" class="multi-select mobile-select-icon" (ionChange)="onCityChange(cityId)">
							    <ion-option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
					  		</ion-select>
							</ion-item> -->
							
							<ion-item *ngIf="!commonService.checkIsWeb()" class="common-select-dropdown city-dropdown-mobile common-select-dropdown-custom">
								<ionic-selectable 
								class="multi-select mobile-select-icon" 
									item-content  
									*ngIf="cities"               
									[(ngModel)]="city"
									[items]="cities"
									[canSearch]="true"
									[focusSearchbar]="false"
									itemValueField="id"
									itemTextField="name"
									(onChange)="onCityChangeMobile($event)"
									name="city"
									okButtonText="Ok">
								</ionic-selectable>
					
								</ion-item>
				  	</ion-col>
				  	<ion-col col-7 class="search-textBox search-box-mobile" (click)="searchHeaderClick()"> <!-- (click)="isSearchHeader = true" -->
						<input *ngIf="currentSegment == 'doctorList'"  type="text">
						<input *ngIf="currentSegment == 'hospitalList'" type="text">
					</ion-col>
				</ion-row>
			</ion-grid>
	    	<ion-buttons right class="header-username-container">
	   			<button ion-button class="header-username" *ngIf="commonService.checkIsWeb()">{{userData.firstName}} {{userData.lastName}}</button>
	   			<button ion-button class="header-username" *ngIf="!commonService.checkIsWeb()" (click)="getFilters()">
	   				<img src="assets/imgs/fillter02.svg" class="filter-img"/>
	   			</button>
	    		<div class="left-border" *ngIf="commonService.checkIsWeb()"></div>
	    	</ion-buttons>
	  	</ion-navbar>
	  	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
	        <ion-title class="page-sub-title">{{ 'HOME_TITLE' | translate }}</ion-title>{{ patientData?.firstName }} {{ patientData?.lastName }} {{currentSegment}}
	        <a class="filter-btn" (click)="getFilters()" >
	          <img src="assets/imgs/filter_reverse.svg" class="filter-img"/>
	        </a>
		</div>
		<ion-grid class="search-container search-container-mobile">
			<!-- <ion-row class="patient-home-segment"  *ngIf="!commonService.checkIsWeb()">
				<ion-col col-12 class="segment segment-mobile">
					<div class="segment-container">
			            <ion-segment [(ngModel)]="currentSegment" >
			                <ion-segment-button value="doctorList" (click)="doctorListClick()">
			                  {{ 'DOCTOR_LABEL' | translate }}
			                </ion-segment-button>
			                <ion-segment-button value="hospitalList" (click)="hospitalListClick()">
			                  {{ 'HOSPITAL_LABEL' | translate }}
			                </ion-segment-button>
			            </ion-segment>
			         </div>
				</ion-col>
			</ion-row> -->
			
		<!-- 	------------------ For web view -------------------------- -->
	   <!--    <ion-row *ngIf="commonService.checkIsWeb()">
			<ion-col col-12 col-sm-2 col-md-3 col-lg-2>
	          <div  class="city-ion-dropdown">
	            <ion-item class="common-select-dropdown city-dropdown-item" >
	            	<ion-label> {{ 'SELECT_CITY' | translate }}</ion-label>
					<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
					    <ion-option *ngFor="let city of cities" value="{{city.id}}"  [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
			  		</ion-select>
			  	</ion-item>
	          </div>
			</ion-col>
			<ion-col col-5 col-sm-5 col-md-4 col-lg-5 class="search-textBox">
			<input *ngIf="currentSegment == 'doctorList'" [(ngModel)]="searchDocText" (blur)="hideSerchContainer()" (ngModelChange)="onChangeSearchText('doctor')" type="text" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}">
			<input *ngIf="currentSegment == 'hospitalList'" [(ngModel)]="searchHospitalText" (blur)="hideSerchContainer()" (ngModelChange)="onChangeSearchText('hospital')" type="text" placeholder="{{ 'SEARCH_HOSPITAL_LABEL' | translate}}">
			<div *ngIf="showSearchResultContainer">
				<search-result-component [from]="fromString"></search-result-component>
			</div>
			</ion-col>
	        <ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="segment patient-home-web-segment">
	          <img src="assets/imgs/fillter02.svg" (click)="getFilters()" class="filter-img"/>
	          <div class="segment-container">
	            <ion-segment [(ngModel)]="currentSegment">
	                <ion-segment-button value="doctorList" (click)="doctorListClick()">
	                  {{ 'DOCTOR_LABEL' | translate }}
	                </ion-segment-button>
	                <ion-segment-button value="hospitalList" (click)="hospitalListClick()">
	                  {{ 'HOSPITAL_LABEL' | translate }}
	                </ion-segment-button>
	            </ion-segment>
	          </div>
	        </ion-col>
	      </ion-row> -->
		</ion-grid>
	</ion-header>
	
	
	<ion-header class="white-header" *ngIf="isSearchHeader && !commonService.checkIsWeb()">
		<ion-navbar>
			<ion-buttons left class="header-username-container">
	   			<button class="search-back-btn" ion-button (click)="isSearchHeader = false">
		      		<ion-icon name="ios-arrow-back" class="arrow-cls"></ion-icon>
		    	</button>
	    	</ion-buttons>
	    	<ion-grid class="mobile-view-city-dropdown" *ngIf="!commonService.checkIsWeb()">
	    		<ion-row  class="city-ion-dropdown">
				  	<ion-col col-12 class="search-textBox search-box-white-header-mobile">
						<input *ngIf="currentSegment == 'doctorList'" [(ngModel)]="searchDocText" type="text" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}" (ngModelChange)="onChangeSearchText('doctor')">
						<input *ngIf="currentSegment == 'hospitalList'" [(ngModel)]="searchHospitalText" type="text" placeholder="{{ 'SEARCH_HOSPITAL_LABEL' | translate}}" (ngModelChange)="onChangeSearchText('hospital')">
						<!-- <div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
							<search-result-component [from]="fromString"></search-result-component>
						</div> -->
					</ion-col>
				</ion-row>
			</ion-grid>
	    	<ion-buttons right class="header-username-container">
	   			<button ion-button class="header-username" *ngIf="!commonService.checkIsWeb()" (click)="getFilters()">
	   				<img src="assets/imgs/filter_reverse.svg" class="filter-img"/>
	   			</button>
	    	</ion-buttons>
	  	</ion-navbar>
		
	</ion-header>
	<div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
		<search-result-component [from]="fromString"></search-result-component>
	</div>

<ion-content padding class="centered-content">
	<ion-header *ngIf="!isSearchHeader && commonService.checkIsWeb()">
		<ion-navbar>
	    	<button ion-button menuToggle>
	      		<ion-icon name="menu"></ion-icon>
	    	</button>
	   
	    	<ion-buttons right class="header-username-container">
	   			<button ion-button class="header-username" *ngIf="commonService.checkIsWeb()">{{userData.firstName}} {{userData.lastName}}</button>
	   			<div class="left-border" *ngIf="commonService.checkIsWeb()"></div>
	    	</ion-buttons>
	  	</ion-navbar>
	  	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
	        <ion-title class="page-sub-title">{{ 'HOME_TITLE' | translate }}</ion-title><!-- {{ patientData?.firstName }} {{ patientData?.lastName }} {{currentSegment}} -->
	        <a class="filter-btn" (click)="getFilters()" >
	          <img src="assets/imgs/filter_reverse.svg" class="filter-img"/>
	        </a>
		</div>
		<ion-grid class="search-container search-container-mobile">
			<!-------------------- For web view ---------------------------->
	      <ion-row *ngIf="commonService.checkIsWeb()">
			<ion-col col-12 col-sm-2 col-md-3 col-lg-2>
	          <div  class="city-ion-dropdown-custom">
	            <!-- <ion-item class="common-select-dropdown city-dropdown-item" >
	            	<ion-label> {{ 'SELECT_CITY' | translate }}</ion-label>
								<ion-select [(ngModel)]="cityId" name="city" class="multi-select" (ionChange)="onCityChange(cityId)">
										<ion-option *ngFor="let city of cities" value="{{city.id}}"  [selected]="city.id == matchCity?.id"> {{ city.name }} </ion-option>
									</ion-select>
							</ion-item> -->
							
							<!-- <select [(ngModel)]="cityId" name="city" class="multi-select city-dropdown-item apperance-none" (change)="onCityChange(cityId)">
								<option selected disabled> {{ 'SELECT_CITY' | translate}} </option>
								<option *ngFor="let city of cities" value="{{city.id}}" [selected]="city.id == matchCity?.id"> {{ city.name }}
								</option>
		
							</select> -->

							<p-dropdown  *ngIf="commonService.checkIsWeb()" [options]="cities" [(ngModel)]="city" optionLabel="name" [filter]="true"  (onChange)="onCityChange(city.id)" ></p-dropdown>

	          </div>
			</ion-col>
			<ion-col col-5 col-sm-5 col-md-4 col-lg-5 class="search-textBox">
			<input *ngIf="currentSegment == 'doctorList'" [(ngModel)]="searchDocText" (ngModelChange)="onChangeSearchText('doctor')" type="text" placeholder="{{ 'SEARCH_DOCTOR_LABEL' | translate}}">
			<input *ngIf="currentSegment == 'hospitalList'" [(ngModel)]="searchHospitalText" (ngModelChange)="onChangeSearchText('hospital')" type="text" placeholder="{{ 'SEARCH_HOSPITAL_LABEL' | translate}}">
	<!-- 		<div *ngIf="showSearchResultContainer" (click)="hideSearchContainer($event)">
				<search-result-component [from]="fromString"></search-result-component>
			</div> -->
			</ion-col>
	        <ion-col col-5 col-sm-5 col-md-5 col-lg-5 class="segment patient-home-web-segment">
	          <img src="assets/imgs/fillter02.svg" (click)="getFilters()" class="filter-img"/>
	          <div class="segment-container">
	            <ion-segment [(ngModel)]="currentSegment">
	                <ion-segment-button value="doctorList" (click)="doctorListClick()">
	                  {{ 'DOCTOR_LABEL' | translate }}
	                </ion-segment-button>
	                <ion-segment-button value="hospitalList" (click)="hospitalListClick()">
	                  {{ 'HOSPITAL_LABEL' | translate }}
	                </ion-segment-button>
	            </ion-segment>
	          </div>
	        </ion-col>
	      </ion-row>
		</ion-grid>
	</ion-header>
	
	<div class="main-content patient-main-content">
	<!-- 	<div *ngIf="showSearchResultContainer && !commonService.checkIsWeb()">
			<search-result-component [from]="fromString"></search-result-component>
		</div> -->
		
		<!-- <ion-grid class="search-container search-container-mobile"> -->
			<ion-row class="patient-home-segment" *ngIf="!commonService.checkIsWeb()">
				<ion-col col-12 class="segment segment-mobile">
					<div class="segment-container">
			            <ion-segment [(ngModel)]="currentSegment" >
			                <ion-segment-button value="doctorList" (click)="doctorListClick()">
			                  {{ 'DOCTOR_LABEL' | translate }}
			                </ion-segment-button>
			                <ion-segment-button value="hospitalList" (click)="hospitalListClick()">
			                  {{ 'HOSPITAL_LABEL' | translate }}
			                </ion-segment-button>
			            </ion-segment>
			         </div>
				</ion-col>
			</ion-row>
		<!-- </ion-grid> -->
		
		
	  	<div *ngIf="currentSegment == 'doctorList'" class="doctor-list">
	   		<doctor-list-component [doctorList]="listOfDoctors" [fromPROnboardPatient]="fromPROnboardPatient" [isPatientDoctorList]="true" [isAssociateDoctorlist]="false" [isSADoctorlist] = "false" [hospitalId]=""></doctor-list-component>
			<div *ngIf="listOfDoctors && (listOfDoctors.length == 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' |  translate }}</div>
			<div class="load-more-container" text-center *ngIf="!loadFinishedDoctor && listOfDoctors && (listOfDoctors.length > 0)">
	 			<button (click)="loadMoreDoctorData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
	 		</div>
		</div>
	
  		<div *ngIf="currentSegment == 'hospitalList'">
    		<ion-grid class="patient-hospital-list-view">
      			<ion-row class="list-container hospitals-list" *ngFor="let hospital of hospitals">
      				<div class="mobile-view-multispeciality-img"  *ngIf="hospital.isAMultispeciality && !commonService.checkIsWeb()">
      					<img style="margin-top: 0;" src="assets/imgs/Multispecality_Tag_left_blank_small.svg" />
      					<span>{{ 'MULTISPECIALITY_LABEL' | translate }}</span>
      				</div>
      				<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
            			<div class="mobile-view-hospital-image">
              				<a *ngIf="hospital.imageBase64" href="#/patient-role-hospital-profile/{{hospital.hospitalId}}/PRHomeHospitalProfile" class="profile-img-responsive" [style.backgroundImage]="'url('+ hospital.imageBase64 +')'">
              				</a>
              				<a *ngIf="!hospital.imageBase64" href="#/patient-role-hospital-profile/{{hospital.hospitalId}}/PRHomeHospitalProfile" class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'">
              				</a>
              				<div class="profile-rating-container" text-center><img src="assets/imgs/star.svg">{{hospital.avgRating}}</div>
            			</div>
        			</ion-col>
        			<ion-col col-9 col-xs-12 col-sm-10 col-md-9 col-lg-10 class="no-padding list-content patient-hospital-list-content" [ngClass]="{'padditTop15':!hospital.isAMultispeciality}">
          				<ul class="ul-list">
            				<li class="multispeciality-hospital" *ngIf="commonService.checkIsWeb()">
              					<a href="#/patient-role-hospital-profile/{{hospital.hospitalId}}/PRHomeHospitalProfile">{{hospital.name}}</a>
              					<img style="margin-top: 0;" src="assets/imgs/Multispeciality.svg" *ngIf="hospital.isAMultispeciality && commonService.checkIsWeb()"/>
            				</li>
            				<li class="multispeciality-hospital" *ngIf="!commonService.checkIsWeb()">
              					<a href="#/patient-role-hospital-profile/{{hospital.hospitalId}}/PRHomeHospitalProfile">{{hospital.name}}</a>
            				</li>
           					<li class="location">
              					<img  class="mIconSmall" src="assets/imgs/location.svg">
              					<p class="hospital-address">{{ hospital.address.street }}, {{hospital.address.cityName }}, {{hospital.address.state }}, {{ hospital.address.zipCode }}</p>
              					<span (click)="plotAddressOnMap(hospital)"><img src="assets/imgs/map_icon.png" /></span>
            				</li>
            				<li *ngIf = "hospital.specializationList && hospital.specializationList.length > 0">
              					<img  class="mIconSmall" src="assets/imgs/doctors_specialisation.svg">
              					<p  class="hospital-address"><span *ngFor="let spec of hospital.specializationList; last as isLast">{{spec.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
            				</li>
            				<li class="time" *ngIf="commonService.checkIsWeb()">
       				 			<img  class="mIconSmall" src="assets/imgs/time.svg">
              					<!-- <p class="time-txt">{{ 'TIME_LABEL' | translate }}:&nbsp; <span (click)="openTimingDetails(hospital)"> {{hospital.todayAvailability.availability}}</span></p> -->
		  						<p class="time-txt">{{ 'TIME_LABEL' | translate }} - &nbsp; <span (click)="openTimingDetails(hospital)">{{hospital?.todaysAvailabilityString}}</span></p><!-- (click)="openTimingDetails(hospital)" //add in sprint 3  -->
		  					</li>
            				<li style="position: relative; min-height: 35px;" *ngIf="commonService.checkIsWeb()">
             					<img  class="mIconSmall" src="assets/imgs/03_phone_icon.svg">
  			 					<p>{{hospital.contactNumber}}</p>
            				</li>
          				</ul>
        			</ion-col>
        			<ion-col col-12 class="mobile-hospital-item" *ngIf="!commonService.checkIsWeb()">
        				<ion-row>
			  				<ion-col col-9 col-sm-9 col-md-12 col-lg-12>
			  					<ul>
			  						<li>
				  						<img  class="mIconSmall"  src="assets/imgs/time.svg">
		          						<!-- <p class="time-txt">{{ 'TIME_LABEL' | translate }}:&nbsp; <span (click)="openTimingDetails(hospital)"> {{hospital.todayAvailability.availability}}</span></p> -->
										<p class="time-txt">{{ 'TIME_LABEL' | translate }} - &nbsp; <span (click)="openTimingDetails(hospital)">{{hospital?.todaysAvailabilityString}}</span></p><!-- (click)="openTimingDetails(hospital)" //add in sprint 3  -->
				  					</li>
			  					</ul>
			  				</ion-col>
			  				<ion-col col-3 col-sm-3 col-md-12 col-lg-12 text-right>
				  				<button ion-button class="common-blue-btn call-btn" (click) = "makeCall(hospital.contactNumber)">{{ 'CALL_LABEL' | translate }}</button>
			  				</ion-col>
			  			</ion-row>
        			</ion-col>
      			</ion-row>
      			
    		</ion-grid>
    		<div *ngIf="hospitals && (hospitals.length == 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
	  		<div class="load-more-container" text-center *ngIf="!loadFinishedHospital && hospitals && (hospitals.length > 0)">
	 			<button (click)="loadMoreHospitalData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
	 		</div> 
   		</div>
 	</div>
 	<footer class="mobile-view-footer"></footer>
</ion-content>

