page-patient-role-home {
	.search-box-mobile{
		@include screenMax576{
			padding-left: 10px !important; 
			padding-right: 0 !important; 
		}
	}
	.header-location-label{
		padding-top:10px;
	}
	.doctor-list{
		@include screenMax576{
			margin-top:10px;
		}
	}
	.patient-home-segment{
		@include screenMax576{
			.segment-container .segment{
				background:transparent;
			}
		}
	}
	.mobile-view-city-dropdown{
		@include screenMax576{
			padding:0px;
			
			ion-row{
				padding:0px;
				ion-col{
					&:first-child{
						padding:0px;
					}
					
					&:nth-child(2){
						padding-left:0px;
						padding-right:0px;
					}
				}
			}
			.mobile-select-icon .select-icon{
				display:none;
			}
		}
	}
	.patient-home-segment .segment .segment-container{
		@include screenMax576{
			margin: 0px 18px !important;
		}
	}
	
	.patient-hosp-list-img{
		padding-left: 15px;	
	}
    .filter-btn{
        display:none !important;
       @include ipad-portrait{
            display:block !important;
        }

       @include ipad-landscape{
            display:none !important;
        }
	}
	
	.callBtnDiv{
		@include screenMax576{
			    padding: 10px 0px;
			}
	}
	.patient-home-web-segment .segment-container{
		float: right !important;
	}

	.patient-hospital-list-content{
 		padding: 0px !important;
 		@include screenMax576{
			padding: 0px !important;
		}
		.ul-list{
			@include screenMax576{
				    padding-top: 4px;
			}
			li{
				@include screenMax576{
				    margin-bottom: 2px !important;
				}
			  .call-btn{
                   padding: 0 !important;
				   min-height: 3rem !important;
				   height: 3rem !important;
               }
			}
		}
		.multispeciality-hospital{
			p{
				padding-top:20px;
			}
		}
		.time{
			span{
				color:$timeLinkBlueColor;
				text-decoration: underline;
				text-underline-position: under;
				cursor: pointer;
			}
		}
				
	}
	.list-btns{
		justify-content: flex-start !important;
		margin-top:20px;
		 @include ipad-portrait{
			 justify-content: flex-end !important;
			 padding:0px !important;
		 }

		 @include screenMax576{
			 justify-content: flex-end !important;
			 align-items:flex-end !important;
			 margin-top:0px;
		 }
	}
	.patient-hospital-list-view .list-container >ion-col:nth-child(2){
		@include screenMax576{
			padding-left:15px;
			padding-bottom:0px;
			padding-top:10px;
		 }
	}
	.patient-hospital-list-view .list-container >ion-col:last-child{
		@include screenMax576{
			padding:0px 15px;
		 }
	}
	
	.patient-hospital-list-view .hospitals-list .mobile-hospital-item{
		@include screenMax576{
			ion-row{
				padding:10px 0px;
				>ion-col{
					padding:0px;
					
					ul li p{
						 line-height:21px;
						 span{
						 	color: #148de9;
						    margin: 0 5px;
						    text-decoration: underline;
						    text-underline-position: under;
						    cursor: pointer;
						 }
					 }
				}
			}
		 }
	}
    .patient-hospital-list-view{
    	@include screenMax576{
 			margin-top:10px;
 		}
    	.mobile-view-multispeciality-img{
    		display:block;
    		width:100%;
	    	position:relative;	    		
	    	   img{
	    			margin:auto auto 0 0;
	    		}
    		span{
    			color: #fff;
    			font-size:1.2rem;
    			position:absolute;
    			left:0;
			    padding: 6px 0px 0px 13px;
    		}
    	}
	 	@extend .list-view;
	 	.list-img-container{
	 		@include screenMax576{
	 			padding-right:5px !important;
	 			
	 			> div .profile-rating-container{
	 				padding:2px 0px 3px 0px !important;
	 			}
	 			
	 		}
	 		
 			.mobile-view-hospital-image a{
 				border-bottom:1px solid $timeLinkBlueColor;
 			}
	 	}
		.list-container{
			ul {
				li a:first-child{
					width: 100% !important;
					max-width:initial !important;
					white-space:normal !important;
				}
			}
			.list-content{
				ul{
				 	li{
						 margin-bottom: 8px;
						@include screenMax576{
							font-size:1.4rem;
						}
						
						 &:first-child{
							margin-bottom: 5px !important;
							@include screenMax576{
									margin-bottom: 2px !important;
							}
							a{
								text-decoration:none;
								font-size:1.8rem;
								color:$blackColor;
							} 
							img{
								align-self: flex-start;
							}
						 }
						p{
					    	margin-left:15px !important;
						} 
						
					}
				}
			}//end of list-content
			.patient-hospital-list-content{
				@include screenMax576{
					padding: 10px 15px 0px 10px !important;
				}
	         }
	         .padditTop15{
				@include screenMax576{
					padding-top:15px !important;
				}
			}
		} 
		.list-btn-col{
			padding-left:0px !important;
			padding-right:0px !important;
			background-color: transparent !important;
			.list-btns{
				display: flex;
				align-items: center;
				justify-content:center;
				padding-right:13px !important;
				height:100%;
				border-left:1px solid $borderColor;
				.deactivate-btn{
					color: rgb(252, 50, 50);
					border: 1px solid rgb(252, 50, 50);
					background: transparent;
				}
			}
		}
		.list-content{
			padding-right:0px;
			ul{
				li{
					display: flex;
					align-items: end;
					p.hospital-address{
						@extend .text-ellipsis;
						padding-right:15px;
						
						@include screenMax576{
							padding:0px;
						}
					}
					&:first-child{
						a{
							padding-top:20px;
							
							@include screenMax576{
								padding:0px;
							}
						}
					}
				}
				.location{
					width:100%;
					p{
						width:87%;
						padding-right:13px;
					}
					span{
						padding-left: 15px;
						border-left:1px solid $borderColor;
						display: inline-grid;
						img{
							margin:0px;
							@extend .hand-pointer;
						}
					}
				}
			}
		}
		
	}
	
	.patient-home-DL-Btn-Container{
		ion-row ion-col ul li{
			align-items: end !important;
		}
		
	}
}


