<ion-footer class="footer-parent" *ngIf="isWeb">
	<ion-row class="sub-footer" [style.bottom.px]="subFooterBottom">
		<button class="toggle-sub-footer" (click)="toggleSubFooter()"><ion-icon [name]="arrowStatusName"></ion-icon></button>
		<ion-col col-12 col-sm-4>
			<ion-list>
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_DISCLAIMER_LABEL' | translate }}</a> <!-- href="#" -->
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_HELP_LABEL' | translate }}</a> <!-- href="#" -->
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_ABOUT_LABEL' | translate }}</a> <!-- href="#" -->
			</ion-list>
		</ion-col>
		<ion-col col-12 col-sm-4>
			<ion-list>
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_CONTACT_LABEL' | translate }}</a> <!-- href="#" -->
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_TNC_LABEL' | translate }}</a> <!-- href="#" -->
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_HIW_LABEL' | translate }}</a> <!-- href="#" -->
			</ion-list>
		</ion-col>
		<ion-col col-12 col-sm-4>
			<ion-list>
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_HIWDR_LABEL' | translate }}</a> <!-- href="#" -->
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_HIWHOS_LABEL' | translate }}</a> <!-- href="#" -->
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_HIWPAT_LABEL' | translate }}</a> <!-- href="#" -->
				<a (click)="comingSoon()" ion-item>{{ 'FOOTER_CRI_LABEL' | translate }}</a> <!-- href="#" -->
			</ion-list>
		</ion-col>
	</ion-row>
  	<ion-toolbar class="main-footer">
    	<ion-title>{{ 'FOOTER_COPYRIGHT_TEXT' | translate : { currentYear: currentYear} }}</ion-title>
  	</ion-toolbar>
</ion-footer>
