footer {
	.footer-parent{
		@media (max-width: 767px){
			position: relative;
			left: initial;
		    bottom: initial;
		    display: block;
		    width: auto;
		}
		.sub-footer{
			position: absolute;
			left: 0;
			right: 0;
			transition: all 1s;
			@media (max-width: 767px){
				position: relative;
				left: initial;
			    bottom: initial !important;
				margin-top: 16px;
    			margin-left: -16px;
    			margin-right: -16px;
			}
			a{
				cursor: pointer;
			}
			.toggle-sub-footer{
				position: absolute;
			    top: -30px;
			    right: 20px;
			    height: 32px;
			    width: 32px;
			    background-color: $headerBgColor;
			    color: $whiteColor;
			    @media (max-width: 767px){
			    	display: none;
			    }
			}
		}
		.sub-footer.show-sub-footer{
			bottom: 36px !important; // since main footer height is 36px show subfooter by pushing it up by bottom 36px
		}
		.main-footer{
			@media (max-width: 767px){
				width: auto;
				margin-left: -16px;
				margin-right: -16px;
				margin-bottom: -16px;
			}
		}
	}
}
