<ion-content padding class="centered-content">
	<ion-header>
  	<!-- 	<ion-navbar> -->
<!-- 	    <button ion-button menuToggle>
	     	<ion-icon name="menu"></ion-icon>
	   	</button>
	   	<ion-buttons right class="header-username-container">
  			<button ion-button class="header-username">{{userData.firstName}} {{userData.lastName}}</button>
	   		<div class="left-border"></div>
	   	</ion-buttons> -->
	   	<header-for-role-creation-form   *ngIf="!isEditSysAdminMode && isCreate && !isView" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'ADD_SYSTEM_ADMIN_TITLE'" ></header-for-role-creation-form>
	  	<header-for-role-creation-form   *ngIf="isEditSysAdminMode && !isCreate && !isView" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'EDIT_SYSTEM_ADMIN_PROFILE'" ></header-for-role-creation-form>
	  	<header-for-role-creation-form   *ngIf="!isEditSysAdminMode && !isCreate && isView && !isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'SYSTEM_ADMIN_PROFILE'" ></header-for-role-creation-form>
  		<header-for-role-creation-form   *ngIf="!isEditSysAdminMode && isMyProfile" [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'MY_PROFILE'" ></header-for-role-creation-form>
	  	<!-- </ion-navbar> -->
	   	<div menuClose ion-item class="common-page-title">
			<ion-title class="page-sub-title"  *ngIf="!isEditSysAdminMode && isCreate && !isView">{{ 'ADD_SYSTEM_ADMIN_TITLE' | translate }}</ion-title>
			<ion-title class="page-sub-title"  *ngIf="isEditSysAdminMode && !isCreate && !isView">{{ 'EDIT_SYSTEM_ADMIN_PROFILE' | translate }}</ion-title>
			<ion-title class="page-sub-title" *ngIf="!isEditSysAdminMode && !isCreate && isView && !isMyProfile">{{ 'SYSTEM_ADMIN_PROFILE' | translate }}</ion-title>
			<ion-title class="page-sub-title" *ngIf="!isEditSysAdminMode && isMyProfile">{{ 'MY_PROFILE' | translate }}</ion-title>
			<a *ngIf="!isEditSysAdminMode && !isCreate" block ion-button class="common-blue-btn editBtn" (click) = "eidtProfile()">{{ 'EDIT_BTN_LABEL' | translate }}</a>
			<a *ngIf="!isEditSysAdminMode && !isCreate && selectedAdminDetails.blockStatus=='UNBLOCK' && !isMyProfile"  (click)="activateDeactivateSysAdmin()"   block ion-button class="common-blue-btn deactivate-btn">{{ 'DEACTIVATE_BTN' | translate }}</a>
			<a *ngIf="!isEditSysAdminMode && selectedAdminDetails.blockStatus=='BLOCK' && !isMyProfile " (click)="activateDeactivateSysAdmin()"  ion-button class="common-blue-btn activate-btn">{{ 'ACTIVATE_BTN' | translate }}</a>
		
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content">
		<form class="common-page-container common-form" name="createSystemAdminForm" #createSystemAdminForm = "ngForm" novalidate>
			<ion-grid class="formFieldsContainer">
				<ion-row class="list-container">
					<ion-col col-2 col-sm-2 col-md-2 col-lg-2 class="profile-img">
						  <img *ngIf="(!isEditSysAdminMode || !isCreate) && isView && selectedAdminDetails.imageBase64" src="{{selectedAdminDetails.imageBase64}}" />
						  <img *ngIf="(!isEditSysAdminMode || !isCreate) && isView && !selectedAdminDetails.imageBase64" src="assets/imgs/default_profile.png" />
						  <label for="image-upload-input" *ngIf="(isEditSysAdminMode || isCreate) && !isView && commonService.checkIsWeb()" [ngClass]="{'hand-pointer': isEditSysAdminMode || isCreate}" class="upload-img">  
							  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div>
						  	<input id="image-upload-input" accept="image/*" type="file" (change)="fileChangeListener($event, true, true)">
						  </label>
						  
						  <label for="image-upload-input" *ngIf="(isEditSysAdminMode || isCreate) && !isView && !commonService.checkIsWeb() && commonService.checkPlatform()" [ngClass]="{'hand-pointer': isEditSysAdminMode || isCreate}" class="upload-img" (click)="onCamera()">
							  <div>
								  <img *ngIf="this.imageUpload.file" src="{{this.imageUpload.file}}" />
							  	  <img *ngIf="!this.imageUpload.file" src="assets/imgs/pic.png" />
							</div>
						  </label>
					</ion-col>
					<ion-col col-10 col-sm-10 col-md-10 col-lg-10>
						&nbsp;
					</ion-col>
					
				</ion-row>
			     <ion-row class="admin-name-container">
					<ion-col col-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'FN_LABEL' | translate }} </ion-label>
	   						<ion-input type="text" name="systemAdminFirstName" [(ngModel)]="selectedAdminDetails.firstName" #systemAdminFirstName = "ngModel" autocorrect="off" [disabled]="!isEditSysAdminMode && !isCreate" pattern="^[a-zA-Z ]+$" maxlength="50" required></ion-input>
	  					</ion-item>
	  					<div class="error-msg-block text-left" *ngIf="systemAdminFirstName.errors && (systemAdminFirstName.dirty || systemAdminFirstName.touched || formSubmitted)">
		                    <small [hidden]="!systemAdminFirstName.errors.required" class="text-danger">{{ 'ERROR_MSG_FIRST_NAME' | translate }}</small>
		                    <small [hidden]="!systemAdminFirstName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>
		                </div>
			        </ion-col>   
			        <ion-col col-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'LN_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input  name="systemAdminLastName" #systemAdminLastName = "ngModel" [(ngModel)]="selectedAdminDetails.lastName" [disabled]="!isEditSysAdminMode && !isCreate" pattern="^[a-zA-Z ]+$" maxlength="50"></ion-input>
	  					</ion-item>
	  					  <div class="error-msg-block text-left" *ngIf="systemAdminLastName.errors && (systemAdminLastName.dirty || systemAdminLastName.touched || formSubmitted)">
		                    <small [hidden]="!systemAdminLastName.errors.pattern" class="text-danger">{{ 'ERROR_MSG_VALID_NAME' | translate }}</small>	
		                </div>
			        </ion-col>   
			     </ion-row>
			     <ion-row>
					 <ion-col col-12 col-sm-6 col-md-6 col-lg-6 class="username-mobile-field-wrapper">
						 <ion-row id="username-mobile-field-row">
							<ion-col col-6 col-sm-12 col-lg-6 class="username-field">
								<ion-item detail-none>
									<ion-label floating>{{ 'USERNAME_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
									<ion-input name="systemAdminUsername" [(ngModel)]="selectedAdminDetails.userName" #systemAdminUsername = "ngModel" [disabled]="!isEditSysAdminMode && !isCreate" pattern="^[a-zA-Z0-9_@^#$%&*()-.]{1,20}$" maxlength="20"></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="systemAdminUsername.errors && (systemAdminUsername.dirty || systemAdminUsername.touched || formSubmitted)">
									<small [hidden]="!systemAdminUsername.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_USERNAME' | translate }}</small>		
								</div>
							</ion-col>   
							<ion-col col-6 col-sm-12 col-lg-6 class="mobile-field">
								<ion-item detail-none>
									<ion-label floating>{{ 'MOBILE_LABEL' | translate }}</ion-label>
									<ion-input name="systemAdminMobile" [(ngModel)]="selectedAdminDetails.contactNumber" #systemAdminMobile = "ngModel" [disabled]="!isEditSysAdminMode && !isCreate" pattern="[1-9][0-9]{9}" required maxlength="10"></ion-input>
								</ion-item>
								<div class="error-msg-block text-left" *ngIf="systemAdminMobile.errors && (systemAdminMobile.dirty || systemAdminMobile.touched || formSubmitted)">
									<small [hidden]="!systemAdminMobile.errors.required" class="text-danger">{{ 'Error_MSG_BLANK_CONTACT_NO' | translate }}</small>
									<small [hidden]="!systemAdminMobile.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_PATIENT_MOBILE' | translate }}</small>	
								</div>
							</ion-col> 
						 </ion-row>
					 </ion-col>
		        	<ion-col col-6>
	  					<ion-item detail-none>
	  						<ion-label floating>{{ 'EMAIL_LABEL' | translate }} {{ 'OPTIONAL_LABEL' | translate }}</ion-label>
	   						<ion-input name="systemAdminEmail" [(ngModel)]="selectedAdminDetails.email" #systemAdminEmail = "ngModel" [disabled]="!isEditSysAdminMode && !isCreate" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z0-9]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z0-9]{2,}[.]{1}[a-zA-Z]{2,})" ></ion-input>
	  					</ion-item>
	                	<div class="error-msg-block text-left" *ngIf="systemAdminEmail.errors && (systemAdminEmail.dirty || systemAdminEmail.touched || formSubmitted)">
		                    <small [hidden]="!systemAdminEmail.errors.pattern" class="text-danger">{{ 'ERROR_MSG_INVALID_PATIENT_EMAIL' | translate }}</small>	
		                </div>
			        </ion-col>
			     </ion-row>
				<div class="btn-container" text-right *ngIf="isEditSysAdminMode || isCreate" >
					<a (click) = "cancelEdit()" block ion-button class="common-blue-btn" *ngIf ="!isCreate">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					<a href="#/system-admin-manage-sysadmins" block ion-button class="common-blue-btn" *ngIf = "isCreate">{{ 'CANCEL_BTN_LABEL' | translate }}</a>
					
					<a block ion-button class="common-blue-btn" (click)="saveSystemAdminDetails(createSystemAdminForm)">{{ 'SAVE_BTN_LABEL' | translate }}</a>
									
				</div>
			</ion-grid>
		</form>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>