page-system-admin-create-system-admin {
	.common-page-container{
		height:100%;	
	}
	.editBtn{
		max-width: 100px;
		margin-right:10px;
	}
	.deactivate-btn{
		max-width: 100px;
		//margin-left: 20px;	
		color: #fc3232;
    	border: 1px solid #fc3232;
    	background: transparent;
	}
	
	.scroll-content{
		padding-top:118px !important;
	}

	.common-form{
	.formFieldsContainer{
		ion-row{
			.profile-img{
				.upload-img{
					display:inline-block;
				}
				img{
					max-width:100%;
					border-radius:6px;
				}
			} 
			.username-mobile-field-wrapper{
				#username-mobile-field-row{
					padding: 0px !important;
					.username-field{
						@media (max-width: 1024px){
							padding-right: 0px;
							flex:100%;
							max-width:100%;
						}
					}
					.mobile-field{
						@media (max-width: 1024px){
							padding:15px 0px 0px;
							flex:100%;
							max-width:100%;
						}
					}
				}
			}
		}  //end of ion-row
	
		.btn-container{
			@extend .common-form-btn-container;
		}  //end of btn-container
	
	} //end of formFieldsContainer

}  //end of form
}
