<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'FEEDBACK_HISTORY_TITLE'"  [showBackButton]="false" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>	
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
         <ion-title class="page-sub-title">{{ 'FEEDBACK_HISTORY_TITLE' | translate }}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header>
<ion-content padding class="centered-content">
	<ion-header *ngIf="commonService.checkIsWeb()">
		<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'FEEDBACK_HISTORY_TITLE'"  [showBackButton]="false" [showHomeIcon]="true" [homeLink]="'#/patient-role-home/0'"></header-for-role-creation-form>	
		<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
          <ion-title class="page-sub-title">{{ 'FEEDBACK_HISTORY_TITLE' | translate }}</ion-title>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	<div class="main-content">
      <ion-grid class="feedback-history-container">
      <div *ngIf="feedbackHistoryData.length==0" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
       <ion-row  class="feedback-history-item" *ngFor="let item of feedbackHistoryData">
            <ion-col col-12 class="feedback-name-container">
              <span class="feedback-name">
               {{ item.doctorsDetails?.firstName }}
              </span>
              <span class="right-content">
                <span class="ratingCls">
                  <img src="assets/imgs/doctors_rating.png"> {{ item.doctorFeedbackRating }}%
                </span>
			  </span> 
            </ion-col>
            <ion-col col-12 class="feedback-content">
            {{ item.doctorFeedbackComments }}
            </ion-col>
            <ion-col col-12 class="feedback-name-container">
              <span class="feedback-name">
                 {{ item.hospitalDetails.name }}
              </span>
              <span class="right-content">
                <span class="ratingCls">
                  <img src="assets/imgs/star.png">  {{ item.hospitalFeedbackRating }}
                </span>
			  </span> 
            </ion-col>
            <ion-col col-12 class="feedback-content">
              	{{ item.hospitalFeedbackComments }}
            </ion-col>
             <ion-col col-12 class="feedback-date-time-container">
                <ion-row>
                  <ion-col col-6 class="feedback-date-time">
                    <span> {{ item.feedbackCreatedAt }}</span> <span>{{item.convertedTime}}</span>
                  </ion-col>
                  <ion-col col-6 class="feedback-btn" text-right>
                    <a *ngIf="commonService.checkIsWeb()" ion-button class="common-blue-btn" href="#/rate-and-feedback/updateFeedback/{{item?.doctorsDetails.doctorId}}/{{item?.hospitalDetails.hospitalId}}/{{item.userFeedbackId}}">{{ 'UPDATE_BTN_LABEL' | translate }} {{ 'FEEDBACK_LABEL' | translate }} </a>
                 	<a *ngIf="!commonService.checkIsWeb()" ion-button class="common-blue-btn" (click)="goToUpdate(item);">{{ 'UPDATE_BTN_LABEL' | translate }} {{ 'FEEDBACK_LABEL' | translate }} </a>
                  </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <div class="load-more-container" text-center *ngIf="!loadFinished && feedbackHistoryData && (feedbackHistoryData.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div>
      </ion-grid>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>