page-patient-role-feedback-history {
    ion-grid, ion-col{
        padding:0px !important;
    }
    .feedback-history-container{
        .feedback-history-item{
			background-color:$whiteColor;
			margin-top:12px;
			padding:20px;
			color: $listItemContentColor;
			font-size:1.5rem;
            border:1px solid $borderColor;
            
            .feedback-name-container{
                padding:0px 10px !important;
                @include screenMobileMax576{
						 padding:0px !important;
					}
                .right-content{
                    float: right;	
                }
                .feedback-name{
                    font-weight: bold;
                    color: $blackColor;	
                    font-weight:500;
                }
                .ratingCls{
                    padding-left: 13px;
                }
            }  //end of feedback-name-container

            .feedback-content{
                color: $listItemContentColor;
                font-size:1.5rem;
                border-bottom:1px solid $borderColor;
                padding:15px 10px !important;
                margin-bottom:15px;
                 @include screenMobileMax576{
						 padding:15px 0px !important;
					}
            }  //end of feedback-content

            .feedback-date-time-container{
                .feedback-date-time{
                    align-items: center;
                    display: flex;
                    span{
                        color: $listItemContentColor;
                        font-size:1.4rem;
                        &:first-child{
                            padding:0px 10px 0px 10px; 
                        }

                        &:last-child{
                            padding:0px 10px 0px 10px; 
                            border-left:1px solid $borderColor;
                        }
                    }
                } //end of feedback-date-time

            } //end of feedback-date-time-container

        } //end of feedback-history-item
        
    } //end of feedback-history-container
}
