hospital-list-component {
	
.map{
		height:100%;
		.ios, .md {
    	.scroll-content {
      		height: 100%
		 }
 
    	#map {
     	 width: 100%;
      	height: 100%;
   	 }
	}
}
	.hospital-list-view{
	 	@extend .list-view;
		.list-container{
			ul {
				li p:first-child{
					width: 100% !important;
					max-width:initial !important;
					white-space:normal !important;
				}
			}
			.list-content{
				ul{
				 	li.time{
						p{
				     		color: #2090e4 ;
   							cursor: pointer;
							.hosp-time-span{
								text-decoration: underline;
								text-underline-position: under;
							}
						}
					}
					.time{
						p{
							color:$listItemContentColor !important;
						}
						span{
						color:$timeLinkBlueColor;
							margin:0 5px;
							text-decoration: underline;
							text-underline-position: under;
							cursor: pointer;
						}
					.time-txt{
                           margin-top: 1px;
                       }
					}
				}
			}//end of list-content

			// .checkbox-label.checkbox-position {
			// 	position: absolute;
			// 	left: -22px;
			// 	top: 50%;
			// 	transform: translateY(-50%);
			// 	.item-inner{
			// 		padding: 0;
			// 		border: transparent;
			// 		}
			// 	}
		} 
		.list-btn-col{
			padding-left:0px !important;
			padding-right:0px !important;
			background-color: transparent !important;
			.list-btns{
				display: flex;
				align-items: center;
				justify-content:center;
				padding-right:13px !important;
				height:100%;
				border-left:1px solid $borderColor;
				.deactivate-btn{
					color: rgb(252, 50, 50);
					border: 1px solid rgb(252, 50, 50);
					background: transparent;
				}
			}
		}
		.list-content{
			padding-right:0px;
			ul{
				li{
					display: flex;
					align-items: start;
					p.hospital-address{
						@extend .text-ellipsis;
					}
				}
				.location{
					width:100%;
					p{
						width:88%;
						padding-right:13px;
					}
					span{
						padding-left:13px;
						border-left:1px solid $borderColor;
						@extend .hand-pointer;
						img{
							margin:0px;
						}
					}
				}
			}
		}
		
	}
}
