<ion-grid class="hospital-list-view">
	<ion-row class="list-container" *ngFor="let hospital of hospitals">
		<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
			<div>
  				<a class="profile-img-responsive" *ngIf="hospital.imageBase64" [style.backgroundImage]="'url('+ hospital.imageBase64 +')'" (click)="manageHospital(hospital)" href="#/hospital-admin-dashboard/{{hospital.hospitalId}}">
  				</a>
				<a class="profile-img-responsive" *ngIf="!hospital.imageBase64"  [style.backgroundImage]="'url(assets/imgs/hospital_default_image.png)'" (click)="manageHospital(hospital)" href="#/hospital-admin-dashboard/{{hospital.hospitalId}}">
  				</a>
  				<div *ngIf = "hospital.avgRating" class="profile-rating-conatiner" text-center><img src="assets/imgs/star.png">{{hospital.avgRating}}</div>
			</div>
		</ion-col>
		<ion-col col-9 col-xs-12 col-sm-10 col-md-9 col-lg-6 class="list-content">
  				<ul>
  					<li>
  						<p class="name-container"><a href="#/hospital-admin-dashboard/{{hospital.hospitalId}}">{{hospital.name}}</a></p>
  					</li>
  					<li class="location">
  						<img src="assets/imgs/location.svg">
  						<p class="hospital-address">{{ hospital.address.street }}, {{ hospital.address.cityName }}, {{ hospital.address.state }}, {{ hospital.address.zipCode }}</p>
  						<span (click)="plotAddressOnMap(hospital)"><img src="assets/imgs/map_icon.png" /></span>
  					</li>
  					<li *ngIf = "hospital.serviceList && hospital.serviceList.length > 0">
  						<img src="assets/imgs/spec.svg">
  						<p style="display: inline-block;" class="hospital-address"><span *ngFor = "let spec of hospital.serviceList; last as isLast">{{ spec.name }}<span *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
  					</li>
  					<li class="time">
  					   <img src="assets/imgs/time.svg">
					   <!-- <p class="time-txt" >{{ 'TODAY_TEXT' | translate }} - <span (click)="openTimingDetails(hospital)">{{ 'CLOSED_TXT' | translate }}</span></p> -->
		  			   <p class="time-txt">{{ 'TODAY_TEXT' | translate }} - <span (click)="openTimingDetails(hospital)">{{ hospital?.todaysAvailabilityString }}</span></p>
					</li>
  				</ul>
		</ion-col>
		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 class="list-btn-container list-btn-col">
  			<ion-row text-center>
  				<ion-col class="list-btns" col-12 col-sm-12 col-md-12 col-lg-12>
	  				<a (click)="activateDeactivateHospital(hospital)" *ngIf="hospital.blockStatus=='UNBLOCK'" ion-button class="common-blue-btn deactivate-btn">{{ 'DEACTIVATE_BTN' | translate }}</a>
	  				<a (click)="activateDeactivateHospital(hospital)"  *ngIf="hospital.blockStatus=='BLOCK'" ion-button class="common-blue-btn activate-btn">{{ 'ACTIVATE_BTN' | translate }}</a>
					<a (click)="manageHospital(hospital)" href="#/hospital-admin-dashboard/{{hospital.hospitalId}}" ion-button class="common-blue-btn manage-btn">{{ 'MANAGE_BTN' | translate }}</a>
 				</ion-col>
 			</ion-row>
  		</ion-col>
  	</ion-row>
</ion-grid>

<!-- <ion-content class="map">
<div>helloo</div>
  <div #map id="map"></div> 
</ion-content> -->