<ion-header *ngIf="!commonService.checkIsWeb()">
	<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName+' '+doctorData.lastName" [showDrPrefix]="true" [showBackButton]="false"></header-for-role-creation-form>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{'DOCTOR_PREFIX' | translate}} {{doctorData.firstName}} {{doctorData.lastName}}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header>

<ion-content padding class="centered-content dashboard-screen">
<ion-header *ngIf="commonService.checkIsWeb()">
	<header-for-role-creation-form  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="doctorData?.firstName+' '+doctorData.lastName" [showDrPrefix]="true" [showBackButton]="false"></header-for-role-creation-form>
	<div menuClose ion-item class="common-page-title" *ngIf="commonService.checkIsWeb()">
		<ion-title class="page-sub-title">{{'DOCTOR_PREFIX' | translate}} {{doctorData.firstName}} {{doctorData.lastName}}</ion-title>
	</div>
	<div class="search-container blank-search-container"></div>
</ion-header>
<div class="main-content" [ngClass]="{'fullHeight': scrollHTFlag}">
  	<ion-grid class="common-page-container common-dashboard" #DoctorDashboardGrid [ngClass]="{'fullHeight': scrollHTFlag}">
	  <ion-row>
	  	<a col-12 col-sm-6 col-md-4 col-lg-4 href="#/doctor-role-upcoming-appointments/{{doctorId}}"> <!--href="#/doctor-role-upcoming-appointments/{{doctorId}}" //add in sprint 3  -->
	     	<ion-row  align-items-center>
		    	<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/upcoming_appointment_card.png" /></ion-col>
		    	<ion-col col-10 col-md-8 col-lg-8><span>{{ 'UPCOMING_APPINTMENTS_LABEL' | translate }}</span></ion-col>
		    </ion-row>
	   	</a>
	   	
	    <a col-12 col-sm-6 col-md-4 col-lg-4 href="#/doctor-role-appointments-history/{{doctorId}}"> <!--  href="#/doctor-role-appointments-history/{{doctorId}}"//add in sprint 3 -->
		    <ion-row align-items-center>
		    	<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/appointment_history_card.png" /></ion-col>
		    	<ion-col col-10 col-md-8 col-lg-8><span>{{ 'APPINTMENT_HISTORY_LABEL' | translate }}</span></ion-col>
		    </ion-row>
		</a>
		<a href="#/doctor-associate-hospitals" col-12 col-sm-6 col-md-4 col-lg-4> <!-- href="#/doctor-associate-hospitals"//sprint 3  -->
	    	<ion-row align-items-center>
		    	<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/associated_hospital_card.png" /></ion-col>
		    	<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'ASSOCIATED_HOSPITAL_TITLE' | translate }}</span></ion-col>
	    	</ion-row>
	  </a>
	  <a href="#/onboard-patient/doctorDashboard/doctorRoleAppointmentHistory/0/0" col-12 col-sm-6 col-md-4 col-lg-4> 
		<ion-row align-items-center>
			<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_system_admin.svg" /></ion-col>
			<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'ONBOARD_PATIENT_TITLE' | translate }}</span></ion-col>
		</ion-row>
	</a>
	  <a href="#/doctor-role-holiday-calendar/create/0/DRHolidayCalendar" col-12 col-sm-6 col-md-4 col-lg-4>
		<ion-row align-items-center>
			<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/manage_appointments.svg" /></ion-col>
			<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'HOLIDAY_CALENDAR_TITLE' | translate }}</span></ion-col>
		</ion-row>
  	</a>
		<a href="#/reports/{{reportsRedirectionRole}}" col-12 col-sm-6 col-md-4 col-lg-4> 
	    	<ion-row align-items-center>
		    	<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/reports.svg" /></ion-col>
		    	<ion-col col-10 col-md-8 col-lg-8 text-left><span>{{ 'REPORTS_TITLE' | translate }}</span></ion-col>
	    	</ion-row>
      </a>
      
      <a href="#/doctor-role-profile" col-12 col-sm-6 col-md-4 col-lg-4 *ngIf = "showMyProfile && commonService.checkIsWeb()"> 
	    	<ion-row align-items-center>
		    	<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/profile_card.svg" /></ion-col>
		    	<ion-col  col-10 col-md-8 col-lg-8 text-left><span>{{ 'MY_PROFILE_TITLE' | translate }}</span></ion-col>
	    	</ion-row>
	   </a>
	   
	   <a (click) = "goToProfile()" col-12 col-sm-6 col-md-4 col-lg-4 *ngIf = "showMyProfile && !commonService.checkIsWeb()"> 
	    	<ion-row align-items-center>
		    	<ion-col col-2 col-md-4 col-lg-4><img src="assets/imgs/profile_card.svg" /></ion-col>
		    	<ion-col  col-10 col-md-8 col-lg-8 text-left><span>{{ 'MY_PROFILE_TITLE' | translate }}</span></ion-col>
	    	</ion-row>
	    </a>
     
	  </ion-row>
	</ion-grid>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>