doctor-list-component{
    .doctor-list-view{
        @extend .list-view;
        .list-img-container{
        	.profile-rating-conatiner{
        			@include screenMax576{
        				padding-top: 3px !important;
        			}
        	}
        }
        .list-container{
        	>ion-col{
        		&:first-child{
        			@include screenMax576{
					    padding: 15px 0px 5px 15px;
					}
				}
				&:nth-child(2){
        			@include screenMax576{
					    padding: 15px 15px 10px 15px !important;
					}
				}
				.bordered-list-btn-container .list-btns{
        			@include screenMax576{
					    padding: 0px 16px;
					}
				}
        	}
        	
        	.bordered-list-btn-container{
        		.row{
        			@media (max-width: 990px){
					    border-left-width: 0;
					    .list-btns{
					    	text-align: right;
					    }
					}
        		}
			}
        
        	.list-content ul li{
        		
        		 @include screenMax576{
        		 	padding-top:10px;
        		 	
        		 	&:first-child{
        		 		padding-top:0px;
        		 	}
					p{
						//line-height:uset !important;
					}
				
					img{
						margin-top:0px;
					}
				}
        	}
        
        }
      
        .list-container{
        	 ul li {
        	  @include screenMax576{
        		 	padding-top:10px;
        		}
        		
        		 @include screenMobileMax576{
        		 	padding-top:10px;
        		}
        		
        	 	p{
	            	@include screenMax576{
        	 		//	line-height:21px;
        	 		}
        	 	}
        	 	img{
		            margin-top:0px;
	            	@include screenMax576{
				         height:16px;
	       				 width:16px;
					}
				}
			}
    
		}
       .list-btn-col{
			padding-left:0px !important;
			padding-right:0px !important;
			background-color: transparent !important;
			.list-btns{
				display: flex;
				align-items: center;
				justify-content:center;
				padding-right:13px !important;
				height:100%;
				border-left:1px solid $borderColor;
				.deactivate-btn{
					color: rgb(252, 50, 50);
					border: 1px solid rgb(252, 50, 50);
					background: transparent;
				}
			}
		}
	.list-btn-container{
		.patient-left-col{
			height:unset !important;
		}
		ion-row ion-col{
			padding:0px !important;
		}
		.allocated-hospital{
		@include screenMax576{
			padding-top:10px;
		}
			p{
				margin-bottom:0px !important;
				margin-left:2px !important;
				margin-top:-5px;
				span{
					text-underline-position: under;
				}
				
				 .hospital-name{
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    color: #000;
				    text-decoration: none;
    				margin: 0;
    			}
			}	
		}
		.time{
				img{
					margin-top:2px;
					@include screenMax576{
						margin-top:0px;
					}
				}
			}
		}
    }
    
    .mobile-view-list-btn-container{
      @include screenMax576{
      	background-color: $whiteColor !important;
      	margin-top:0px !important;
      	padding-top:0px !important;
      	
      	 ion-row, ion-col{
      	 	margin:0px !important;
      	 	
	      	 .patinetRoleDoctorBookBtn{
	      	 	position:unset;
	      	 	margin-right:0px;
	      	 	span{
	      	 		color:$whiteColor !important;
	      	 		margin:0px !important;
	      	 		text-decoration:none !important;
	      	 	}
	      	 }
      	 }
      }
    }
    .doctor-list-view .list-container .list-btn-container{
    	ion-row{
  			display:inline;
  		}
    	@include screenMax576{
      		padding-top:0px !important;
      	}
      	.patientHomeDL{
      		a{
      			//margin-top:15px;
      		}
      	}
      	ion-row{
  			@include screenMax576{
	      		padding-top:0px !important;
  				height:unset;
	      	}
	      
	      @media screen and (-webkit-min-device-pixel-ratio:0) { 
    			display:flex;
			}
  			
  			_:-ms-fullscreen, :root .ie11up {
  			 	display:inline; 
  			 }
  			ion-col{
  				padding:2px 0px !important;
  			}
  		}
    }
}   
   
