<ion-grid class="doctor-list-view">
	<ion-row class="list-container" *ngFor="let doctor of doctorList">
		<ion-col col-3 col-xs-12 col-sm-2 col-md-3 col-lg-2 class="list-img-container">
			<div>
				<!-------------------- hospital admin doctor list with base64 and default img  asssociated docs ----------------->
				<a class="profile-img-responsive" [style.backgroundImage]="'url('+doctor?.imageBase64+')'" href="#/hospital-admin-create-doctor/view/AssociateDoctorlist/{{ doctor?.doctorId }}"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && !isAssociateDoctorlist && doctor?.imageBase64 && commonService.checkIsWeb()">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url('+doctor?.imageBase64+')'" (click)="goToDoctorProfile(doctor?.doctorId ,true)"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && doctor?.imageBase64 && !isAssociateDoctorlist && !commonService.checkIsWeb()">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" href="#/hospital-admin-create-doctor/view/AssociateDoctorlist/{{ doctor?.doctorId }}"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && !doctor?.imageBase64 && !isAssociateDoctorlist && commonService.checkIsWeb()">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" (click)="goToDoctorProfile(doctor?.doctorId,true)"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && !doctor?.imageBase64 && !isAssociateDoctorlist && !commonService.checkIsWeb()">
				</a>

				<!-------------------- hospital admin doctor list with base64 and default img  unasssociated docs ----------------->
				<a class="profile-img-responsive" [style.backgroundImage]="'url('+doctor?.imageBase64+')'" href="#/hospital-admin-create-doctor/view/UnassociateDoctorlist/{{ doctor?.doctorId }}"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && doctor?.imageBase64 && isAssociateDoctorlist && commonService.checkIsWeb()">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url('+doctor?.imageBase64+')'" (click)="goToDoctorProfile(doctor?.doctorId)"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && doctor?.imageBase64 && isAssociateDoctorlist && !commonService.checkIsWeb()">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" href="#/hospital-admin-create-doctor/view/UnassociateDoctorlist/{{ doctor?.doctorId }}"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && !doctor?.imageBase64 && isAssociateDoctorlist && commonService.checkIsWeb()">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" (click)="goToDoctorProfile(doctor?.doctorId)"
				 *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList && !doctor?.imageBase64 && isAssociateDoctorlist && !commonService.checkIsWeb()">
				</a>


				<!-------------------- patient role doctor profile with base64 and default img ----------------->
				<a class="profile-img-responsive" [style.backgroundImage]="'url('+doctor?.imageBase64+')'" href="#/patient-role-doctor-profile/{{ doctor?.doctorId }}/PRHospitalProfileDLProfile"
				 *ngIf="!isPatientDoctorList && !isSADoctorlist && isPatientRoleDoctorList && doctor?.imageBase64">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" href="#/patient-role-doctor-profile/{{ doctor?.doctorId }}/PRHospitalProfileDLProfile"
				 *ngIf="!isPatientDoctorList && !isSADoctorlist && isPatientRoleDoctorList && !doctor?.imageBase64">
				</a>

				<!-------------------- System admin doctor list profile with base64 and default img ----------------->
				<a class="profile-img-responsive" [style.backgroundImage]="'url('+doctor?.imageBase64+')'" href="#/system-admin-create-doctor/view/{{ doctor?.doctorId }}"
				 *ngIf="isSADoctorlist && !isPatientDoctorList && !isPatientRoleDoctorList && doctor?.imageBase64">
				</a>
				<a class="profile-img-responsive" [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" href="#/system-admin-create-doctor/view/{{ doctor?.doctorId }}"
				 *ngIf="isSADoctorlist && !isPatientDoctorList && !isPatientRoleDoctorList && !doctor?.imageBase64">
				</a>

				<!-------------------- patient role home doctor list profile with base64 and default img ----------------->
				<a href="#/patient-role-doctor-profile/{{ doctor?.doctorId }}/PRHomeDoctorProfile" class="profile-img-responsive"
				 [style.backgroundImage]="'url('+doctor?.imageBase64+')'" *ngIf="isPatientDoctorList && doctor?.imageBase64">
				</a>
				<a href="#/patient-role-doctor-profile/{{ doctor?.doctorId }}/PRHomeDoctorProfile" class="profile-img-responsive"
				 [style.backgroundImage]="'url(assets/imgs/default_profile.png)'" *ngIf="isPatientDoctorList && !doctor?.imageBase64">
				</a>
				<div class="profile-rating-conatiner" text-center><img src="assets/imgs/doctors_rating.svg">{{doctor?.avgRating}}%</div>
			</div>
		</ion-col>
		<ion-col col-9 col-xs-12 col-sm-6 col-md-9 col-lg-5 class="list-content">
			<ul class="list-item">
				<li>
					<p class="name-container">
						<a href="#/hospital-admin-create-doctor/view/AssociateDoctorlist/{{ doctor?.doctorId }}" *ngIf="!isSADoctorlist && !isPatientDoctorList && !isAssociateDoctorlist  && !isPatientRoleDoctorList && commonService.checkIsWeb()">
							<!--href="#/hospital-admin-create-doctor/view/{{ doctor.doctorId }}" //add in sprint 3  -->
							{{doctor?.firstName}} {{doctor?.lastName}}
						</a>
						<a href="#/hospital-admin-create-doctor/view/UnassociateDoctorlist/{{ doctor?.doctorId }}" *ngIf="!isSADoctorlist && !isPatientDoctorList && isAssociateDoctorlist && !isPatientRoleDoctorList && commonService.checkIsWeb()">
							<!--href="#/hospital-admin-create-doctor/view/{{ doctor.doctorId }}" //add in sprint 3  -->
							{{doctor?.firstName}} {{doctor?.lastName}}
						</a>
						<a (click)="goToDoctorProfile(doctor?.doctorId,true)" *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList  && !isAssociateDoctorlist && !commonService.checkIsWeb()">
							{{doctor?.firstName}} {{doctor?.lastName}}
						</a>
						<a (click)="goToDoctorProfile(doctor?.doctorId,false)" *ngIf="!isSADoctorlist  && !isPatientDoctorList && !isPatientRoleDoctorList  && isAssociateDoctorlist && !commonService.checkIsWeb()">
							{{doctor?.firstName}} {{doctor?.lastName}}
						</a>
						<a href="#/system-admin-create-doctor/view/{{ doctor?.doctorId }}" *ngIf="isSADoctorlist && !isPatientDoctorList">
							{{doctor?.firstName}} {{doctor?.lastName}}
						</a>
						<a href="#/patient-role-doctor-profile/{{ doctor?.doctorId }}/PRHomeDoctorProfile" *ngIf="isPatientDoctorList">
							{{doctor?.firstName}} {{doctor?.lastName}}
						</a>
						<!--  Doctor Name for patient role - hospital profile -doctor list -->
						<a href="#/patient-role-doctor-profile/{{ doctor?.doctorId }}/PRHospitalProfileDLProfile" *ngIf="!isSADoctorlist  && !isPatientDoctorList && isPatientRoleDoctorList  && !isAssociateDoctorlist ">
							{{doctor?.firstName}} {{doctor?.lastName}}
						</a>
					</p>
				</li>
				<li *ngIf="doctor?.educationList && doctor?.educationList?.length > 0">
					<img src="assets/imgs/doctors_education.svg">
					<p style="display: inline-block;"><span *ngFor="let edu of doctor?.educationList; first as isFirst; last as isLast"><span
							 *ngIf="!isFirst && !isLast" style="margin-right: 5px;">,</span><span *ngIf="!isFirst && isLast" style="margin: 0 5px;">and</span>{{edu?.name}}</span></p>
					<!-- <p style="display: inline-block;"><span *ngFor="let edu of doctor.educationList; last as isLast">{{edu.name}}<span *ngIf="!isLast" style="margin-right: 5px;">,</span></span></p> -->
				</li>
				<li *ngIf="doctor?.specializationList && doctor?.specializationList?.length > 0">
					<img src="assets/imgs/doctors_specialisation.svg">
					<p style="display: inline-block;"><span *ngFor="let spec of doctor?.specializationList; last as isLast">{{spec?.name}}<span
							 *ngIf="!isLast" style="margin-right: 5px;">,</span> </span></p>
				</li>
				<li *ngIf="doctor?.yearsOfExp">
					<img src="assets/imgs/doctors_experience.svg">
					<p>{{doctor?.yearsOfExp}} {{ 'YEAR_OF_EXP_LABEL' | translate }}</p>
				</li>
				<!-- <li *ngIf="doctor?.fees > 0 && !commonService.checkIsWeb()">
	  						<img src="assets/imgs/doctors_fees_blue.svg">
	  						<p>{{ 'FEES_TEXT' | translate }} - {{doctor?.fees | currency:"INR":true}}/-</p>
	  					</li> -->
			</ul>
		</ion-col>

		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5 class="list-btn-container" *ngIf="!isAssociateDoctorlist && !isPatientDoctorList && !isSADoctorlist && !isPatientRoleDoctorList && !isHolidayCalendarDoctorList && !isHospitalStaffAssociatedDoctors">
			<ion-row>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 *ngIf="!commonService.checkIsWeb()">
					<ul>
						<li class="time">
							<!-- *ngFor = "let item of doctor.todaysTimeAvailabilityList" -->
							<img src="assets/imgs/doctors_time.svg">
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length == 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p>
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length > 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)="openTimingDetails(doctor)">{{doctor?.todaysAvailabilityString}}</span></p>
						</li>
						<li *ngIf="doctor?.fees > 0">
							<img src="assets/imgs/doctors_fees.svg">
							<p>{{ 'FEES_TEXT' | translate }} - {{doctor?.fees | currency:"INR":true:'1.0-0'}}/-</p>
						</li>
					</ul>
				</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 *ngIf="commonService.checkIsWeb()">
					<ul>
						<li *ngIf="doctor?.fees > 0">
							<img src="assets/imgs/doctors_fees.svg">
							<p>{{ 'FEES_TEXT' | translate }} - {{doctor?.fees | currency:"INR":true:'1.0-0'}}/-</p>
						</li>
						<li class="time">
							<!-- *ngFor = "let item of doctor.todaysTimeAvailabilityList" -->
							<img src="assets/imgs/doctors_time.svg">
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length == 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p>
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length > 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)="openTimingDetails(doctor)">{{doctor?.todaysAvailabilityString}}</span></p>
						</li>
					</ul>
				</ion-col>
				<ion-col class="list-btns" col-12 col-sm-12 col-md-12 col-lg-12>
					<!-- <a ion-button href="#/booking-step1/{{doctor?.doctorId}}/HAAssociatedDoctorList/0" class="common-blue-btn" >{{ 'BOOK_BTN_LABEL' | translate }}</a> -->
					<a *ngIf="!isSkipAndExplore" ion-button (click)="onClickBookAppointment('HAAssociatedDoctorList','bookStep1',0,doctor?.doctorId)"
					 href="{{bookingUrl}}" class="common-blue-btn">{{ 'BOOK_BTN_LABEL' | translate }}</a>
					<a ion-button class="common-blue-btn" href="#/hospital-admin-view-contract/hospitalAdmin/{{doctor?.doctorProfileId}}/patientHome">{{
						'VIEW_CONTRACT_BTN_LABEL' | translate }}</a>
				</ion-col>
			</ion-row>
		</ion-col>

		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5 class="list-btn-container" *ngIf="!isAssociateDoctorlist && !isPatientDoctorList && !isSADoctorlist && !isPatientRoleDoctorList && (isHolidayCalendarDoctorList || isHospitalStaffAssociatedDoctors)">
			<ion-row>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 *ngIf="!commonService.checkIsWeb()">
					<ul>
						<li class="time">
							<!-- *ngFor = "let item of doctor.todaysTimeAvailabilityList" -->
							<img src="assets/imgs/doctors_time.svg">
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length == 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p>
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length > 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)="openTimingDetails(doctor)">{{doctor?.todaysAvailabilityString}}</span></p>
						</li>
						<li *ngIf="doctor?.fees > 0">
							<img src="assets/imgs/doctors_fees.svg">
							<p>{{ 'FEES_TEXT' | translate }} - {{doctor?.fees | currency:"INR":true:'1.0-0'}}/-</p>
						</li>
					</ul>
				</ion-col>
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12 *ngIf="commonService.checkIsWeb()">
					<ul>
						<li *ngIf="doctor?.fees > 0">
							<img src="assets/imgs/doctors_fees.svg">
							<p>{{ 'FEES_TEXT' | translate }} - {{doctor?.fees | currency:"INR":true:'1.0-0'}}/-</p>
						</li>
						<li class="time">
							<!-- *ngFor = "let item of doctor.todaysTimeAvailabilityList" -->
							<img src="assets/imgs/doctors_time.svg">
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length == 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p>
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length > 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)="openTimingDetails(doctor)">{{doctor?.todaysAvailabilityString}}</span></p>
						</li>
					</ul>
				</ion-col>
				<ion-col class="list-btns" col-12 col-sm-12 col-md-12 col-lg-12>
					<a ion-button class="common-blue-btn" *ngIf="isHospitalStaffAssociatedDoctors" (click)="onClickBookAppointment('HSRoleAssociatedDoctorList','bookStep1',0,doctor?.doctorId)"
					 href="{{bookingUrl}}">{{
						'BOOK_BTN_LABEL' | translate }}</a>
					<!-- <a ion-button class="common-blue-btn" *ngIf="isHospitalStaffOnboardPatient" (click)="onClickBookAppointment('HSRoleOnboardPatient','bookStep1',0,doctor?.doctorId)"
					 href="{{bookingUrl}}">{{
						'BOOK_BTN_LABEL' | translate }}</a> -->
					
					<a ion-button *ngIf="isHospitalStaffAssociatedDoctors" href="#/doctor-role-holiday-calendar/create/{{doctor?.doctorId}}/HSRoleADoctorHolidayCalendar"
					 class="common-blue-btn">{{
						'HOLIDAY_CALENDAR_TITLE' | translate }}</a>
					<a ion-button *ngIf="isHolidayCalendarDoctorList" href="#/doctor-role-holiday-calendar/create/{{doctor?.doctorId}}/HADoctorHolidayCalendar"
					 class="common-blue-btn">{{
						'HOLIDAY_CALENDAR_TITLE' | translate }}</a>
				</ion-col>
			</ion-row>
		</ion-col>

		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5 class="bordered-list-btn-container" *ngIf="isAssociateDoctorlist && !isPatientDoctorList && !isSADoctorlist && !isPatientRoleDoctorList ">
			<ion-row align-items-center>
				<ion-col class="list-btns" col-12 col-sm-12 col-md-12 col-lg-12>
					<a (click)="associateDoctor(doctor)" ion-button class="common-blue-btn" href="#/hospital-admin-view-contract/hospitalAdminCreate/{{doctor?.doctorProfileId}}">{{
						'ASSOCIATE_BTN_LABEL' | translate }}</a>
					<!--href="#/hospital-admin-create-contract"  -->
				</ion-col>
			</ion-row>
		</ion-col>


		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5 class="list-btn-container list-btn-col" *ngIf="isSADoctorlist && !isPatientDoctorList && !isAssociateDoctorlist">
			<ion-row text-center>
				<ion-col class="list-btns" col-12 col-sm-12 col-md-12 col-lg-12>
					<a (click)="activateDeactivateDoctor(doctor)" *ngIf="doctor?.blockStatus=='UNBLOCK'" ion-button class="common-blue-btn deactivate-btn">{{
						'DEACTIVATE_BTN' | translate }}</a>
					<a (click)="activateDeactivateDoctor(doctor)" *ngIf="doctor?.blockStatus=='BLOCK'" ion-button class="common-blue-btn activate-btn">{{
						'ACTIVATE_BTN' | translate }}</a>
					<a href="#/doctor-dashboard/{{doctor?.doctorId}}" ion-button class="common-blue-btn manage-btn">{{ 'MANAGE_BTN' |
						translate }}</a>
				</ion-col>
			</ion-row>
		</ion-col>

		<!--------------------------------------- isPatientDoctorList ----------------------------------------->
		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5 class="list-btn-container patient-home-DL-Btn-Container" *ngIf="isPatientDoctorList">
			<ion-row class="patient-left-col">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12>
					<ul>
						<li class="allocated-hospital" *ngIf="doctor?.hospitalAvailableList && doctor?.hospitalAvailableList.length>0">
							<p>{{ doctor?.hospitalAvailableList[0].name}} <a *ngIf="doctor?.hospitalAvailableList?.length>1" style="color:black;  pointer-events: none;">&nbsp;
									&</a><span (click)="getMoreHospitals(doctor?.hospitalAvailableList, doctor)" *ngIf="doctor?.hospitalAvailableList.length>1">
									&nbsp;{{ doctor?.hospitalAvailableListCount - 1 }}&nbsp;{{ 'MORE_LABEL' | translate }}</span></p>
						</li>

						<li class="time">
							<img src="assets/imgs/doctors_time.svg">
							<!-- <p class="time-txt">{{ 'TODAY_TEXT' | translate }} - <span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p> -->
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length == 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p>
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length > 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)="openTimingDetails(doctor)">{{doctor?.todaysAvailabilityString}}</span></p>

						</li>
					</ul>
				</ion-col>
			</ion-row>
			<ion-row class="patient-left-col">
				<ion-col col-8 col-sm-8 col-md-12 col-lg-12>
					<ul>
						<li *ngIf="doctor?.hospitalAvailableList[0]?.fees > 0">
							<img src="assets/imgs/doctors_fees.svg">
							<p>{{ 'FEES_TEXT' | translate }} - {{doctor?.hospitalAvailableList[0]?.fees | currency:"INR":true:'1.0-0'}}/-</p>
						</li>
					</ul>
				</ion-col>
				<ion-col class="list-btns patientHomeDL" col-4 col-sm-4 col-md-12 col-lg-12>
					<!-- <a *ngIf="!isSkipAndExplore" ion-button href="#/booking-step1/{{doctor?.doctorId}}/patientHome/0" class="common-blue-btn" >{{ 'BOOK_BTN_LABEL' | translate }}</a>   -->
					<a *ngIf="!isSkipAndExplore" ion-button (click)="onClickBookAppointment('patientHome','bookStep1',0,doctor?.doctorId)"
					 href="{{bookingUrl}}" class="common-blue-btn">{{ 'BOOK_BTN_LABEL' | translate }}</a>
					<a *ngIf="isSkipAndExplore" ion-button (click)="showGoToLoginPopup()" class="common-blue-btn">{{ 'BOOK_BTN_LABEL'
						| translate }}</a>
				</ion-col>
			</ion-row>
		</ion-col>

		<!--------------------------------------- isPatientRoleDoctorList ----------------------------------------->
		<ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-5 class="list-btn-container mobile-view-list-btn-container"
		 *ngIf="isPatientRoleDoctorList">
			<ion-row *ngIf="commonService.checkIsWeb()">
				<ion-col col-8 col-sm-8 col-md-12 col-lg-12>
					<ul>
						<li>
							<img src="assets/imgs/doctors_fees.svg">
							<p>{{ 'FEES_TEXT' | translate }} - {{doctor?.fees | currency:"INR":true:'1.0-0'}}/-</p>
						</li>
						<li class="time">
							<img src="assets/imgs/doctors_time.svg">
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length == 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p>
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length >0">{{ 'TODAY_TEXT' | translate }} - <span
								 (click)="openTimingDetails(doctor)">{{doctor?.todaysAvailabilityString}}</span></p>
						</li>
					</ul>
				</ion-col>
				<ion-col class="list-btns" col-4 col-sm-4 col-md-12 col-lg-12 *ngIf="isPatientRoleDoctorList">
					<!-- <a ion-button  *ngIf="!isSkipAndExplore" class="common-blue-btn patinetRoleDoctorBookBtn"  href="#/booking-step1/{{doctor?.doctorId}}/patientHospitalProfile/{{hospitalId}}">{{ 'BOOK_BTN_LABEL' | translate }}</a> -->
					<a *ngIf="!isSkipAndExplore" ion-button (click)="onClickBookAppointment('patientHospitalProfile','bookStep1',hospitalId,doctor?.doctorId)"
					 href="{{bookingUrl}}" class="common-blue-btn patinetRoleDoctorBookBtn">{{ 'BOOK_BTN_LABEL' | translate }}</a>
					<a *ngIf="isSkipAndExplore" ion-button (click)="showGoToLoginPopup()" class="common-blue-btn">{{ 'BOOK_BTN_LABEL'
						| translate }}</a>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="!commonService.checkIsWeb()">
				<ion-col col-12 col-sm-12 col-md-12 col-lg-12>
					<ul>
						<li class="time">
							<img src="assets/imgs/doctors_time.svg">
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length == 0">{{ 'TODAY_TEXT' | translate }} -
								<span (click)=" openTimingDetails(doctor)">{{ 'UNAVAILABLE_LABEL' | translate }}</span></p>
							<p class="time-txt" *ngIf="doctor?.todaysTimeAvailabilityList?.length >0">{{ 'TODAY_TEXT' | translate }} - <span
								 (click)="openTimingDetails(doctor)">{{doctor?.todaysAvailabilityString}}</span></p>
							<!-- <a ion-button *ngIf="!isSkipAndExplore" class="common-blue-btn patinetRoleDoctorBookBtn"  href="#/booking-step1/{{doctor?.doctorId}}/patientHospitalProfile/{{hospitalId}}">{{ 'BOOK_BTN_LABEL' | translate }}</a> -->
							<a *ngIf="!isSkipAndExplore" ion-button (click)="onClickBookAppointment('patientHospitalProfile','bookStep1',hospitalId,doctor?.doctorId)"
							 href="{{bookingUrl}}" class="common-blue-btn patinetRoleDoctorBookBtn">{{ 'BOOK_BTN_LABEL' | translate }}</a>
							<a ion-button *ngIf="isSkipAndExplore" (click)="showGoToLoginPopup()" class="common-blue-btn patinetRoleDoctorBookBtn">{{
								'BOOK_BTN_LABEL' | translate }}</a>
						</li>
					</ul>
				</ion-col>
			</ion-row>
		</ion-col>

	</ion-row>
</ion-grid>
