system-admin-list-component {
	.sys-admin-list-view{
		@extend .list-view;
		.profile-img{
				@include screenMax576{
					    padding: 15px 5px 15px 15px !important;
				}
			}
		.list-content{
			.admin-list{
				li{
					margin-bottom: 12px !important;
					//css for mobile
					@include screenMax576{
						margin-bottom: 7px !important;
					}
					p{
						margin:0px !important;
					}
					span{
						color:$listItemContentColor;
					}
				}
			}
		}
	}
  .name-container{
		@include screenMax576{
			font-size: 1.7rem !important;
			
		}
	}
	.search-link{
		text-decoration: none;	
	}
	.manageBtnOnSearchPatient{
		float:right;
	}
}
