<div class="search-result-container">
	<div class="spinner-container">
		<!-- <ion-spinner></ion-spinner> -->
	</div>
	<ion-list class="search-content">
		<ion-item-divider class="list-header">
    		<label *ngIf="searchObj?.type == 'hospital'">Hospitals</label>
    		<label *ngIf="searchObj?.type == 'doctor'">Doctors</label>
    		<label *ngIf="searchObj?.type == 'patient'">Patients</label>
    		<button ion-button outline item-end (click)="getAllData()" *ngIf="searchData?.length > 5">SEE ALL</button>
		</ion-item-divider>
		<div *ngFor="let data of searchData; let i=index">
			<a detail-none ion-item class="entity-list" href="#/hospital-admin-dashboard/{{data.hospitalId}}" *ngIf = "i < 5 && searchObj?.type == 'hospital' && from != 'patientRoleHospitalList'">
	   			<ion-avatar item-start class="avatar-item">
	      			<img src="assets/imgs/hospital_default_image.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	   			</ion-avatar>
		    	<p class="name-container">{{ data.name }}</p>
		    	<p *ngIf ="data.specializationList && data.specializationList.length > 0" class="speciality-container">
		    		<span *ngFor="let spec of data.specializationList; last as isLast">
		    			{{spec.name}}<span *ngIf="!isLast">, </span>
	    			</span>
	    		</p>
		    	<hr class="border-bottom-cls">
		  	</a>
		  	<a detail-none ion-item class="entity-list" href="#/patient-role-hospital-profile/{{data.hospitalId}}/PRHomeHospitalProfile" *ngIf = "i < 5 && searchObj?.type == 'hospital' && from == 'patientRoleHospitalList'">
	   			<ion-avatar item-start class="avatar-item">
	      			<img src="assets/imgs/hospital_default_image.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	   			</ion-avatar>
		    	<p class="name-container">{{ data.name }}</p>
		    	<p *ngIf ="data.specializationList && data.specializationList.length > 0" class="speciality-container">
		    		<span *ngFor="let spec of data.specializationList; last as isLast">
		    			{{spec.name}}<span *ngIf="!isLast">, </span>
	    			</span>
	    		</p>
		    	<hr class="border-bottom-cls">
		  	</a>
		  	<a detail-none ion-item class="entity-list" href="#/hospital-admin-create-doctor/view/UnassociateDoctorlist/{{data.doctorId}}" *ngIf = "i < 5 && searchObj?.type == 'doctor' && from == 'HADoctorList'&& commonService.checkIsWeb()">
	   			<ion-avatar item-start class="avatar-item">
	      			<img src="assets/imgs/default_profile.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	   			</ion-avatar>
		    	<p class="name-container">{{data.firstName}} {{data.lastName}}</p>
		    	<p *ngIf ="data.specializationList && data.specializationList.length > 0" class="speciality-container">
		    		<span *ngFor="let spec of data.specializationList; last as isLast">
		    			{{spec.name}}<span *ngIf="!isLast">, </span>
	    			</span>
	    		</p>
		    	<hr class="border-bottom-cls">
		  	</a>
	  		<a detail-none ion-item class="entity-list" (click)="goToDoctorProfile(data?.doctorId ,false)" *ngIf = "i < 5 && searchObj?.type == 'doctor' && from == 'HADoctorList'&& !commonService.checkIsWeb()">
	   			<ion-avatar item-start class="avatar-item">
	      			<img src="assets/imgs/default_profile.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	   			</ion-avatar>
		    	<p class="name-container">{{data.firstName}} {{data.lastName}}</p>
		    	<p *ngIf ="data.specializationList && data.specializationList.length > 0" class="speciality-container">
		    		<span *ngFor="let spec of data.specializationList; last as isLast">
		    			{{spec.name}}<span *ngIf="!isLast">, </span>
	    			</span>
	    		</p>
		    	<hr class="border-bottom-cls">
		  	</a>
		  	<a detail-none ion-item class="entity-list" href="#/patient-role-doctor-profile/{{ data.doctorId }}/PRHomeDoctorProfile" *ngIf = "i < 5 && searchObj?.type == 'doctor' && from == 'patientRoleDoctorList'">
	   			<ion-avatar item-start class="avatar-item">
	      			<img src="assets/imgs/default_profile.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	   			</ion-avatar>
		    	<p class="name-container">{{data.firstName}} {{data.lastName}}</p>
		    	<p *ngIf ="data.specializationList && data.specializationList.length > 0" class="speciality-container">
		    		<span *ngFor="let spec of data.specializationList; last as isLast">
		    			{{spec.name}}<span *ngIf="!isLast">, </span>
	    			</span>
	    		</p>
		    	<hr class="border-bottom-cls">
		  	</a>
		  	<a detail-none ion-item class="entity-list" href="#/system-admin-create-doctor/view/{{ data.doctorId }}" *ngIf = "i < 5 && searchObj?.type == 'doctor' && from != 'patientRoleDoctorList' && from == 'sysAdminDoctorList'">
	   			<ion-avatar item-start class="avatar-item">
	      			<img src="assets/imgs/default_profile.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	   			</ion-avatar>
		    	<p class="name-container">{{data.firstName}} {{data.lastName}}</p>
		    	<p *ngIf ="data.specializationList && data.specializationList.length > 0" class="speciality-container">
		    		<span *ngFor="let spec of data.specializationList; last as isLast">
		    			{{spec.name}}<span *ngIf="!isLast">, </span>
	    			</span>
	    		</p>
		    	<hr class="border-bottom-cls">
		  	</a>
		  	<div detail-none ion-item class="entity-list"  *ngIf = "i < 5 && searchObj?.type == 'patient' && from != 'patientRoleDoctorList' && from != 'sysAdminDoctorList'">
	  		<!-- <a detail-none ion-item class="entity-list"  *ngIf = "i < 5 && searchObj?.type == 'patient' && from != 'patientRoleDoctorList' && from != 'sysAdminDoctorList'"> -->
	   			<ion-avatar item-start class="avatar-item">
	   			<a  href="#/patient-role-profile/SAPatientList/{{data.userId}}">
	      			<img src="assets/imgs/default_profile.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	      		</a>		
	   			</ion-avatar>
		    	<p class="name-container"><a class="searchedPatientName" href="#/patient-role-profile/SAPatientList/{{data.userId}}">{{data.firstName}} {{data.lastName}}</a></p>
		    	<hr class="border-bottom-cls">
		  		<a ion-button outline item-end style="text-decoration:none;" href="#/patient-role-home/{{data.userId}}">
						{{ 'MANAGE_BTN' | translate }}
				</a>
		  	<!-- </a> -->
		  	</div>
		  	<!-- <a detail-none ion-item class="entity-list" href="#/hospital-admin-view-contract/hospitalAdminCreate/{{data.doctorProfileId}}" *ngIf = "i < 5 && searchObj?.type == 'doctor' && from != 'patientRoleDoctorList' && from != 'sysAdminDoctorList'">
	   			<ion-avatar item-start class="avatar-item">
	      			<img src="assets/imgs/default_profile.png" *ngIf="!data.imageBase64 || data.imageBase64 == ''">
	      			<img src="{{data.imageBase64}}" *ngIf="data.imageBase64 && data.imageBase64 != ''">
	   			</ion-avatar>
		    	<p class="name-container">{{data.firstName}} {{data.lastName}}</p>
		    	<p *ngIf ="data.specializationList && data.specializationList.length > 0" class="speciality-container">
		    		<span *ngFor="let spec of data.specializationList; last as isLast">
		    			{{spec.name}}<span *ngIf="!isLast">, </span>
	    			</span>
	    		</p>
		    	<hr class="border-bottom-cls">
		  	</a> -->
	  	</div>
	  	<div *ngIf="searchData && searchData.length == 0" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' |  translate }}</div>
	</ion-list>
</div>