<ion-content  class="hospital-list-content centered-content" padding >
	<ion-header>
		<header-for-role-creation-form class="common-header-component" [linkLabel]="'ADD_SYSTEM_ADMIN_TITLE'" [link]="'#/system-admin-create-system-admin/create/0'" [firstName]="userData.firstName" [lastName]="userData.lastName" [showButton]="true" [pageTitle]="'MANAGE_SYS_ADMINS_TITLE'"></header-for-role-creation-form>
		<div menuClose ion-item class="common-page-title">
			<ion-title class="page-sub-title">{{ 'MANAGE_SYS_ADMINS_TITLE' | translate }}</ion-title>
			<a href="#/system-admin-create-system-admin/create/0" ion-button class="common-blue-btn">{{ 'ADD_SYSTEM_ADMIN_TITLE' | translate }}</a>
		</div>
		<div class="search-container blank-search-container"></div>
	</ion-header>
	
	<div class="main-content">
		<system-admin-list-component [systemAdmins]="systemAdmins" [from] = "fromSystemAdmin"></system-admin-list-component>
		<div *ngIf="systemAdmins && (!systemAdmins.length > 0)" class="no-data-found" text-center> {{ 'NO_DATA_FOUND' | translate }}</div>
		<div class="load-more-container" text-center *ngIf="!loadFinished && systemAdmins && (systemAdmins.length > 0)">
 			<button (click)="loadMoreData()" ion-button class="common-blue-btn load-more-btn">{{ 'LOAD_MORE' | translate }}</button>
 		</div>
	</div>
	<footer class="mobile-view-footer"></footer>
</ion-content>
