<ion-header *ngIf="!commonService.checkIsWeb()">
  <header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CREATE_STAFF_TITLE'"
    [backBtnLink]="'#/hospital-admin-manage-hospital-staff'" [showBackButton]="true"></header-for-role-creation-form>

  <!-- <div class="search-container blank-search-container" *ngIf="commonService.checkIsWeb()"></div> -->
</ion-header>
<ion-content padding class="centered-content">
  <ion-header *ngIf="commonService.checkIsWeb()">

    <header-for-role-creation-form [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CREATE_STAFF_TITLE'"></header-for-role-creation-form>
    <div menuClose ion-item class="common-page-title">
      <ion-title class="page-sub-title">{{ 'CREATE_STAFF_TITLE' | translate }}</ion-title>
    </div>
    <div class="search-container blank-search-container" *ngIf="commonService.checkIsWeb()"></div>
  </ion-header>

  <div class="main-content">

    <!-- <add-patient-component [isHospitalAdmin]="isHospitalAdmin" [isDoctorAdmin]="isDoctorAdmin" [isPatientAdmin]="isPatientAdmin" [viewFlag]="viewFlag" [createFlag]="createFlag" [editFlag]="editFlag" [navParamsComponent]="navParamsComponent"></add-patient-component> -->
    <!-- <add-patient-component  [navParamsComponent]="navParamsComponent"></add-patient-component> -->
    <create-user-component [isStaffData]='true' [navParamsComponent]="navParamsComponent"></create-user-component>


  </div>
  <footer class="mobile-view-footer"></footer>
</ion-content>