page-hospital-admin-create-contract {
	ion-grid,ion-col{
		padding:0px !important;
	}
	.contract-view-container{
		height: 100%;
		.day-time-table{
			height: 100%;
			background-color: $whiteColor;
		}
		.left-container{
			padding-right:10px !important;
		}
	}
	.contract-profile-img-container{
		background-color: $whiteColor;
		border:1px solid $borderColor;
		padding: 20px !important;
		.list-view{
			.list-container{
				box-shadow:unset !important;
				border:0px !important;
				.list-img-container{
					padding-right: 10px !important;
					div{
						.contract-profile-img{
							padding:0px;
							img{
								border-bottom-width: 0;
								border-radius: 7px;
								width:100%;
								margin:0px !important;
							}
						}
					}
				} //end of list-img-container
				.list-content{
					padding-left: 10px !important;
					@include screenMax576{
						padding-left:10px !important;
					}
					.list-item{
						li{
							p{
								display: block;
								font-size:1.4rem;
								color:$listItemContentColor;
								margin:0px !important;
							}

							&:first-child{
								p{
									font-size:1.4rem;
									color:$blackColor;
									font-weight:500;
								}
							}
						}
					} //end of list-item
					.name-container{
						font-size:1.4rem;
						color:$blackColor;
						font-weight:500;
					}
					.address-container{
						font-size:1.4rem;
						color:$listItemContentColor;
						.map{
							text-align: center;
							display:flex;
							align-items: center;
							justify-content: flex-end;
							img{
								border-left:1px solid $borderColor;
								padding:0px 10px;
							}
						}
					} //end of address-container
				} //end of list-content
			} //end of list-container
		} //end of list-view
		
		.agreed-amount-container{

		} //end of agreed-amount-container

		.contract-applicable-container{
			margin-top:10px;
			.contract-applicable-calendar{
				padding-left:15px !important;
				.calendarCls .ui-inputtext{
					border-bottom: 1px solid #cbd2d8;
					min-height: 35px;
					height: 35px;
					max-height: 35px;
					box-shadow: unset;
					width: 100%;
					padding: 0px 15px;
					cursor:pointer;
					background: url('../assets/imgs/contract_calander_icon.png') no-repeat scroll 7px 7px;
					background-position: right 8px bottom 5px;
					background-repeat: no-repeat;
					background-size: initial;
				}
				.ui-calendar{
					width:100%;
				}
			}
		} //end of contract-applicable-container

	}  //end of contract-profile-img-container
	.right-container{
		@include screen991{
			padding-left:0px !important;
			margin-top:20px;
		}
		.add-time-table{
			background:$whiteColor;
			border:1px solid #cadce8;
			.common-form-label{
				padding-left:30px;
				padding-top:0px;
			}
			.common-padding{
				 padding: 20px 28px 0px 10px;
			}
			.btn-container{
				margin-bottom: 20px;
			}
			.time-slots{
				padding-left:23px !important;
				.time-input{
					width: 100%;
					//padding: 10px 30px 0px 0px !important;
				}
				.start-time,
				.end-time{
					position: relative;
				}
				.common-form-label,
				.ui-inputtext{
					padding-left:18px;
				}
				ion-col{
					display:flex;
					align-items:flex-end;
					justify-content:center;
					color:$blackColor;
					p{
						margin: 10px 0px 4px;
					}
				}
				p-calendar .ui-inputtext.ui-state-focus, p-calendar .ui-inputtext:focus, p-calendar .ui-inputtext:enabled:hover{
					color:$blackColor;
				}
				.to-label-col{
					align-items: center;
					p{
						margin:0px;
					}
				}
			}//end of time-slots
			

			.contract-btn{
				text-align: right;
				padding:0px 15px;
				margin:50px 0px 20px 0px;
			}
		}
		.day-time-table-wrapper{
			background:$whiteColor;
			border:1px solid #cadce8;
			div{
				ion-row{
					padding:10px;
					border-bottom:1px solid #dedede;
					&:last-child{
						border:0px;
					}
				}
			}
			
			.table-heading{	
				border-bottom:1px solid #dedede;
				ion-row{
					background-color:#d8eeff;
				}
			}
			.table-content{
				padding:0px 10px 0px 10px;
				ion-row{
					padding:10px 0px;
					ion-col{
						//text-align: center;
					}
				}
			}
		}//end of day-time-table
	}
}