 <ion-header  *ngIf="!commonService.checkIsWeb()">
       <ion-navbar>
           <button ion-button menuToggle>
               <ion-icon name="menu"></ion-icon>
           </button>
           <ion-buttons right class="header-username-container">
               <button ion-button class="header-username">{{userData.firstName}} {{userData.lastName}}</button>
               <div class="left-border"></div>
           </ion-buttons>
       </ion-navbar>
       <div menuClose ion-item class="common-page-title">
           <ion-title class="page-sub-title">{{ 'CONTRACT_DETAILS_LABEL' | translate }}</ion-title>
       </div>
       <div class="search-container blank-search-container"></div>
   </ion-header>

<ion-content padding class="centered-content">
   <ion-header  *ngIf="commonService.checkIsWeb()">
       <ion-navbar>
           <button ion-button menuToggle>
               <ion-icon name="menu"></ion-icon>
           </button>
           <ion-buttons right class="header-username-container">
               <button ion-button class="header-username">{{userData.firstName}} {{userData.lastName}}</button>
               <div class="left-border"></div>
           </ion-buttons>
       </ion-navbar>
       <div menuClose ion-item class="common-page-title">
           <ion-title class="page-sub-title">{{ 'CONTRACT_DETAILS_LABEL' | translate }}</ion-title>
       </div>
       <div class="search-container blank-search-container"></div>
       
       <!-- <header class="common-header-component"  [firstName]="userData.firstName" [lastName]="userData.lastName" [pageTitle]="'CONTRACT_DETAILS_LABEL'" [showButton]="false"></header> -->
       
   </ion-header>
   <div class="main-content">
       <ion-row class="contract-view-container">
           <ion-col col-12 col-lg-6>
               <ion-grid class="list-view">
                   <ion-row class="list-container">
                       <ion-col col-3 col-lg-5 class="list-img-container">
                           <div>
                               <div class="contract-profile-img"><img src="assets/imgs/manage_doctors.svg" /></div>
                           </div>
                       </ion-col>
                       <ion-col col-9 col-lg-7 class="list-content">
                           <ul class="list-item">
                               <li><p>{{doctor.name}}</p></li>
                               <li>
                                   <p>{{doctor.education}}</p>
                               </li>
                               <li>
                                   <p>{{doctor.specialization}}</p>
                               </li>
                               <li>
                                   <p>{{doctor.yearsOfExp}} {{ 'YEAR_OF_EXP_LABEL' | translate }}</p>
                               </li>
                           </ul>
                       </ion-col>
                   </ion-row>
                   <ion-row class="list-container">
                       <ion-col col-6 align-self-start>
                           <div class="fee-amount-label" text-left>{{'CONTRACT_AGREED_AMOUNT_LABEL' | translate }}</div>
                       </ion-col>
                       <ion-col col-6 align-self-end>                    
                           <ion-input type='number' class="fee-amount" name="agreedAmount" autocomplete="off" autocorrect="off" [(ngModel)]="contractData.fees" required></ion-input>
                       </ion-col>
                   </ion-row>
                   <!-- <ion-row class="list-container">
                       <ion-col col-6 align-self-start>
                           <div class="contract-applicable-label" text-left>{{'CONTACT_APPLICABLE_FROM_LABEL' | translate}}</div>
                       </ion-col>
                       <ion-col col-6 align-self-end>
                           <div class="contract-date" text-right>15 June 2018</div>                    
                           <ion-datetime displayFormat=" D MMMM YYYY " [(ngModel)]="contractData.applicableDate"></ion-datetime>
                       </ion-col>
                   </ion-row> -->
               </ion-grid>
           </ion-col>
           <ion-col col-12 col-lg-6 class="time-list">
               <div  class="add-time-table">
                   <p>{{'WEEKDAYS_LABLE' | translate}}</p>                              
                   <ion-row>
                       <ion-col col-12>
                   <ion-item class="common-select-dropdown weekdays">                                           
                       <ion-select [(ngModel)]="timeSlot.day">                                
                       <ion-option *ngFor="let day of weekdays" value="{{day.name}}">{{day.name}}</ion-option>                           
                       </ion-select>
                   </ion-item>
                       </ion-col>
                   </ion-row>
                   <div>
                       <p>{{'CONTRACT_TIME_LABLE' | translate }}</p>                      
                   </div>  
                   <div class="time-slots">
                   <ion-row>
                       <ion-col col-5>
                           <ion-item detail-none>
                               <ion-datetime name='startTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.startTime" (ngModelChange)="onChangeStartTime(timeSlot.startTime)"></ion-datetime>
                           </ion-item>
                       </ion-col>                    
                       <ion-col col-2>
                           <ion-item>
                               <span>{{ 'TO_LABEL' | translate }}</span>
                           </ion-item>
                       </ion-col>
                       <ion-col col-5>
                           <ion-item>                               
                               <ion-datetime name='endTime' pickerFormat="hh:mm A" displayFormat="hh:mm A" [(ngModel)]="timeSlot.endTime"  (ngModelChange)="onChangeEndTime(timeSlot.endTime)"></ion-datetime>
                           </ion-item>
                       </ion-col>
                   </ion-row>    
                   
                       
                   </div>
                   <div>
                       <p>{{'VISIT_TYPE_LABLE' | translate}}</p>                          
                   </div>  
                   <div class="time-slots">
                   <ion-row>
                       <ion-col col-5>
                           <ion-item detail-none class="dropdown weekdays">                              
                           <ion-select [(ngModel)]="timeSlot.visitType">                                
                           <ion-option  *ngFor="let visit of visitTypes" value="{{visit.name}}">{{visit.name}}</ion-option>                                                 
                           </ion-select>                    
                           </ion-item>
                       </ion-col>
                       <ion-col col-3>
                           <ion-item>
                               <span *ngIf="timeSlot.visitType == 'Appointment'">{{ 'CONTRACT_MIN_LABLE' | translate}}</span>
                               <span *ngIf="timeSlot.visitType == 'Tokens'">{{ 'CONTRACT_COUNT_LABLE' | translate}}</span>
                           </ion-item>
                       </ion-col>
                       <ion-col col-4>
                           <ion-item>
                               <ion-input name="visitValue" [(ngModel)]="timeSlot.visitValue" autocomplete="off" autocorrect="off" required></ion-input>                               
                           </ion-item>
                       </ion-col>
                       
                   </ion-row>    
                   </div>
                   <div class="btn-container" text-right>
                       <a block ion-button type="button" (click)="addTimeSlotClick()" class="common-blue-btn bordered-btn">{{ 'ADD_TIME_BTN_LABEL' | translate }}</a>
                   </div>
               </div>        
               
               <div class="day-time-table">
                   <div>
                       <ion-row>
                           <ion-col col-2>
                               {{ 'DAY_LABEL' | translate }}
                           </ion-col>
                           <ion-col col-5>
                               {{ 'TIME_LABEL' | translate }}
                           </ion-col>
                           <ion-col col-5>
                               {{ 'TYPE_LABEL' | translate }}
                           </ion-col>
                       </ion-row>
                   </div>
                   <div>
                       <ion-row *ngFor="let t of timeSlotArray; let index = index">
                           <ion-col col-2>{{t.day}}</ion-col>
                           <ion-col col-5><ion-datetime name='showStartTime{{index}}' disabled displayFormat="hh:mm A" [(ngModel)]="t.startTime"></ion-datetime> - <ion-datetime name='showEndTime{{index}}' disabled displayFormat="hh:mm A" [(ngModel)]="t.endTime"></ion-datetime></ion-col>
                           <ion-col col-5>{{t.visitValue}}
                               <p *ngIf="t.visitType == 'Appointment'">{{ CONTRACT_MIN_LABLE | translate}}</p>
                               <p *ngIf="t.visitType == 'Tokens'">{{ CONTRACT_COUNT_LABLE | translate}}</p> - {{t.visitType}}
                           </ion-col>
                           <ion-col col-1> <img src="assets/imgs/cross_btn.svg" (click)="removeTimeSlot(index)" /></ion-col>
                       </ion-row>
                   </div>
               </div>
               
               <div class="btn-container" text-right>
                   <a block ion-button type="button" (click)="addContract()" class="common-blue-btn bordered-btn">{{'OK_BUTTON_LABLE' | translate}}</a>
               </div>
           </ion-col>
       </ion-row>
   </div>
   <footer class="mobile-view-footer"></footer>
</ion-content>