page-hospital-admin-manage-hospital-staff {
    .manage-admin-title{ 
		.toolbar-title{
			//css for mobile app
			@include screenMax576{
				padding-left:0 !important;
				
			}
		}
	}
	.sys-admin-list-view .list-container>ion-col:last-child{
       padding-top: 15px;
   }
}
